[2019-10-30 22:00] mf4716 commented on #415
@mkr1481 - correct.  Similar to issue [412](https://github.com/cntt-n/CNTT/issues/412).  Adding @rrajesh70 (Rajesh) directly as an assigner as there is some overlap.  The goal is to draft content/statements (logic, strategy, rationale, process) outlining What/How/etc on tracing test cases based, really on RA, but RA is a result of the core, and single, RM.  Review [RM Ch 8](https://github.com/cntt

[2019-10-31 05:37] ashokkumarprajapati commented on #412
@mf4716 : Ready to help. I was on holiday so couldn't reply.

[2019-10-31 08:02] fuqiao123 opened #525 "[RI 1 Labs] Tooling to Covert PDF into Airship Internal Data Structure"
Tooling to Covert PDF into Airship Internal Data Structure. Look into tooling to auto-generate site manifest from the “installer agnostic” description, e.g. PDF

[2019-10-31 08:05] fuqiao123 opened #526 "[RI 1 Core]: Work with OPNFV Infra WG for the evolvment of PDF to fit into need for CNTT RI"
Work with OPNFV Infra WG for the evolvment of PDF to fit into need for CNTT RI

[2019-10-31 09:40] gkunz commented on #470
@mf4716, @rabi-abdel, @markshostak: I assigned this issue to myself since Victor and Yan Yang don't seem to have been added as contributors to this repo yet.

[2019-10-31 11:01] petorre commented on #449
@tomkivlin Agree. Generally in scope should be what is in Platform (other Kubernetes services or more functionality to build MVP PaaS) and out of scope what comes from Application(s) function and control (which should not duplicate platform functionality but beyond that don't need to be prescriptive on How).

[2019-10-31 12:00] petorre commented on #294
Yes, fully agree.

[2019-10-31 12:00] #294 closed

[2019-10-31 12:05] CsatariGergely commented on #359
I'm happy to work on this

[2019-10-31 12:51] pgoyal01 commented on #260
Changed Title of this issue to "Gen" and "different levels of CNTT Artefacts figure issue" as this figure is present in multiple artefacts (RM, RA, etc.) and changed labels accordingly

[2019-10-31 12:53] pgoyal01 commented on #443
This has been merged and so closing issue

[2019-10-31 12:53] #443 closed

[2019-10-31 15:09] tomkivlin commented on #457
PR458 merged.

[2019-10-31 15:09] #457 closed

[2019-10-31 15:20] tomkivlin commented on #450
From 31.10 meeting:  CNTT RA2 Core WS will describe the Kubernetes architecture as it related to ETSI NFV/MANO, for feedback via RA2 Dev if required.
Work likely to be heavily linked to #450

[2019-10-31 15:21] #355 closed

[2019-10-31 15:22] tomkivlin commented on #445
From 31.10 meeting: Contributors to the PR (#452) feedback to contact Pankaj with availability to have a meeting to discuss each in line.

[2019-10-31 15:35] tomkivlin opened #530 "[RA2 Ops] Chapter 6 initial content"
As a precursor to #433 we need some initial content.

[2019-10-31 15:45] tomkivlin commented on #453
From 31.10 meeting: @tomkivlin assigned to produce content.

[2019-11-01 05:29] markshostak commented on #396
Fixed by PR #529.

[2019-11-01 05:34] markshostak commented on #390
Fixed by PR #520. Pending review.

[2019-11-01 05:35] markshostak commented on #378
Fixed by PR #520. Pending review.

[2019-11-01 15:31] tomkivlin commented on #453
I think the approach I will take to this is to suggest additions to the Requirements that Pankaj has already started and it would make sense to add these once the existing PR is merged as to avoid any conflicts.

I think it consists of, broadly speaking, the following:

2.2 - no change
2.3 - suggest that the opening statement includes something that makes it clear that a Kubernetes cluster can be

[2019-11-01 16:35] pgoyal01 commented on #440
PR #441 merged.

[2019-11-01 16:35] #440 closed

[2019-11-01 20:39] markshostak commented on #525
@fuqiao123 Hi Fu Qiao, This issue looks like a duplicate of https://jira.opnfv.org/browse/AIRSHIP-14 .
If this Issue is intended to drive code in an OPNFV project, and given that CNTT is focused on the producing the the common documentation suite, can we close this issue? Seems like the code is being done in another project, and the issue is being tracked in that project's tracking system.

Please

[2019-11-01 20:41] markshostak commented on #526
Note: Related to Issue #525 [RI 1 Labs] Tooling to Generate a PDF matching Airship Internal Data Structure.

[2019-11-04 09:49] liyingyjy commented on #368
I can provide solutions of OVS offload, GPU, FPGA SmartNIC and the management of acceleration resource by cyborg. I am happy to produce initial content to discuss.

[2019-11-04 14:53] tomkivlin commented on #451
Also linked to the scope discussions in #449 and #450

[2019-11-04 16:26] tomkivlin commented on #449
Here is my proposal for the scope of RA2.

![image](https://user-images.githubusercontent.com/52716470/68136569-67ac7280-ff1d-11e9-8401-849f0fd24611.png)

Regarding a couple of the contentious areas, the purpose of CNTT is to aid the consistency of infrastructure platforms to make the verification and certification of network software simpler and more efficient and so I think we need to be careful

[2019-11-04 17:10] kedmison opened #536 "[RM Ch02] PCRF should not be classified as a 'basic' VNF"
PCRF is often required to have aggressive latency targets.  As such, a 'basic' flavour with significant overbooking (up to 4:1 possible) cannot provide the infrastructure necessary to meet those requirements.

In the current context of profiles, the best choice for NFVI profile for PCRF is thus probably the Compute Intensive profile.  Examples and documents should be updated to reflect this.

[2019-11-04 17:13] #424 closed

[2019-11-04 17:21] xavier-grall commented on #536
@kedmison
Would you have a VNF example which can replace PCRF for basic profile ?
According to the text, it should be "Control plane functions without specific need, and management plane functions", and possible mobile network control plane functions may be the following :
    3GPP AAA: Authentication, Authorization, and Accounting
    OCS: Online Charging system
    OFCS: OFfline Charging System

[2019-11-04 18:42] pgoyal01 commented on #536
@xavier-grall IMHO, HSS, HLR and DRA have significant performance requirements and may not be best suited for the Basic profile.

[2019-11-04 21:57] kedmison commented on #536
Offline Charging System is a good candidate.  PCRF is triggered, for example, at attach or at VoLTE call setup, so the latency hit from CPU over-booking is undesirable.

[2019-11-05 04:13] msidana commented on #396
Closing this issue as the fix #529 is merged now.

[2019-11-05 04:13] #396 closed

[2019-11-05 04:16] jiaqiang-cmcc commented on #402
With Rabi and Mick's help. I have joined our repo.

[2019-11-05 04:31] mf4716 commented on #402
Good to have you on board @jiaqiang-cmcc

[2019-11-05 05:54] msidana commented on #433
I'll be happy to work on this. Can I assign this to myself ?

[2019-11-05 07:20] xavier-grall commented on #536
@kedmison @pgoyal01
OK for OFCS, I can close PR #531 and create a new PR for that: opinion ?

Beyond that comment, imho, we should not consider the the entire VNF for the infra profile mapping, but rather the VNFC types. For example, the basic profile should fit to any VNFC handling the mgmt plane function of any VNF.
With such approach, we could assume that any VNF can be composed of the 3 follow

[2019-11-05 09:12] msidana commented on #530
Can I work on this ?
https://github.com/cntt-n/CNTT/issues/433#issuecomment-549673666

[2019-11-05 09:17] tomkivlin commented on #433
@msidana yes please do.  Suggest #530 needs working on first though? Will add you to an email conversation that has started around having a meeting on the subject.

[2019-11-05 09:20] tomkivlin commented on #433
@msidana can you add yourself as a contributor here please: https://wiki.lfnetworking.org/display/LN/CNTT+Workstream+Signup#CNTTWorkstreamSignup-K8sReferenceArchitectureWorkstreams

You can join the mailing list here: https://lists.opnfv.org/g/cntt-tech-refa

[2019-11-05 09:34] msidana commented on #433
Sure. Thanks @tomkivlin :).
I'll mark myself as an assignee for #530

[2019-11-05 09:37] #454 closed

[2019-11-05 09:49] TamasZsiros commented on #449
On the Kubernetes cluster lifecycle management not being part of RA2:
My understanding is that the RM describes generic infra LCM:
https://cntt-n.github.io/CNTT/doc/ref_model/chapters/chapter09.html

If we view it as CNTT's high level goal to ensure the consistency of infrastructure platforms AND for various reasons (multi-tenancy, separation, edge) we see an increased number of clusters (compared

[2019-11-05 09:52] tomkivlin commented on #449
I am tending towards this position too - I see the cluster LCM as being increasingly important.

[2019-11-05 09:55] TamasZsiros commented on #449
Leaving Helm out would just mean that the VNF Manager needs to contend with an abstraction level that is lower (K8s API vs. Helm chart) for describing what is the target state/configuration for the CNF. I would argue that this would result in the VNF Manager getting more complex (compared to what it could be), which is not aligning well to the general trend of pushing down functionality from VNFM

[2019-11-05 09:55] peterwoerndle commented on #449
Good figure @tomkivlin.
A few comments:
-  For a generic representation of the k8s masters we should include a interface between the k8s masters an the VIM to represent the [Kubernetes Cloud Providers](https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/) in case we run on a VM infrastructure.
- I think it would be more appropriate to refer to "Cloud-Native application/VNF m

[2019-11-05 10:04] tomkivlin commented on #449
This is where I disagree - the VNF Manager can still use Helm charts.  A Helm chart is specific to the software (i.e. the thing the vendor, who provides the VNF Manager, is delivering). Just because we don't include Helm in this RA, doesn't mean a NF vendor can't create Helm charts and the Helm client libraries within their VNF Manager to manage the software deployment.

The thing is, "something"

[2019-11-05 11:04] rabiabdel opened #538 "VNF Guidelines"

[2019-11-05 11:14] ASawwaf commented on #536
@xavier-grall , we have agreed before on this and we came up with General=Basic, Control=CPU intensive and Data  = Network-intensive

[2019-11-05 11:27] #538 closed

[2019-11-05 11:38] rabiabdel opened #539 "EPIC: RM Com"

[2019-11-05 11:39] rabiabdel opened #540 "EPIC: RM Ops"

[2019-11-05 11:39] rabiabdel opened #541 "EPIC: RM Core"

[2019-11-05 12:07] rabiabdel opened #542 "EPIC: RA1 Dev"

[2019-11-05 12:07] rabiabdel opened #543 "EPIC: RA1 Ops"

[2019-11-05 12:08] rabiabdel opened #544 "EPIC: RA1 Core"

[2019-11-05 12:09] tomkivlin commented on #449
How's this look @peterwoerndle, in response to your comments?

![image](https://user-images.githubusercontent.com/52716470/68206619-18218180-ffc5-11e9-8c58-cf5c513e0a48.png)

[2019-11-05 12:22] rabiabdel opened #545 "EPIC: RA2 Dev"

[2019-11-05 12:23] rabiabdel opened #546 "EPIC: RA2 Ops"

[2019-11-05 12:23] rabiabdel opened #547 "EPIC: RA2 Core"

[2019-11-05 12:48] xavier-grall commented on #536
@ASawwaf @kedmison @pgoyal01
OK, here is a proposal for including that issue and replacing (my) PR #531:
https://github.com/cntt-n/CNTT/blob/xavier-grall-patch-ch02/doc/ref_model/chapters/chapter02.md
with the diff:
https://github.com/cntt-n/CNTT/compare/xavier-grall-patch-ch02
if you approve, I create the PR.

[2019-11-05 12:58] ASawwaf commented on #536
@xavier-grall , sure, please  . the diagram should be updated ( i tried before )

[2019-11-05 13:04] rabiabdel opened #549 "EPIC: RI1 Dev"

[2019-11-05 13:04] rabiabdel opened #550 "EPIC: RI1 Labs"

[2019-11-05 13:04] rabiabdel opened #551 "EPIC: RI1 Core"

[2019-11-05 13:05] rabiabdel opened #552 "EPIC: RC1 Dev"

[2019-11-05 13:05] rabiabdel opened #553 "EPIC: RC1 VNF"

[2019-11-05 13:06] rabiabdel opened #554 "EPIC: RC1 NFVI"

[2019-11-05 13:14] xavier-grall commented on #536
PR #555 created

[2019-11-05 13:40] pgoyal01 commented on #536
@xavier-grall One observation:
_**Network Intensive**: VNFCs that perform network and compute intensive operations with high throughput and low latency requirements.
- **Compute Intensive**: VNFCs that perform compute intensive operations.
should the latter be qualified "VNFCs that perform compute intensive operations but do not have  high network throughput and low latency requirements."

[2019-11-05 13:45] pgoyal01 commented on #449
@tomkivlin Is the intent only to support CNFs or both VNFs and CNFs as is the likely scenario for the foreseeable future?

[2019-11-05 13:50] TamasZsiros commented on #449
"Perhaps a very slim generic VNFM which is essentially a Helm client?"
@tomkivlin so how about suggesting an [optional] Helm v3 client in VNFM (which is typically proprietary anyway)? This way the CaaS stays clean, and a vendor can decide for or against using Helm in the VNFM?

[2019-11-05 14:03] #544 closed

[2019-11-05 14:03] #543 closed

[2019-11-05 14:03] #542 closed

[2019-11-05 14:03] #547 closed

[2019-11-05 14:03] #546 closed

[2019-11-05 14:03] #545 closed

[2019-11-05 14:03] #551 closed

[2019-11-05 14:03] #550 closed

[2019-11-05 14:04] #549 closed

[2019-11-05 14:04] #554 closed

[2019-11-05 14:04] #553 closed

[2019-11-05 14:04] #552 closed

[2019-11-05 14:04] #541 closed

[2019-11-05 14:04] #540 closed

[2019-11-05 14:04] #539 closed

[2019-11-05 14:05] tomkivlin commented on #449
@TamasZsiros that would be my preference, yes.

[2019-11-05 14:23] xavier-grall commented on #536
@pgoyal01 look at this:
https://github.com/cntt-n/CNTT/blob/xavier-grall-patch-ch02/doc/ref_model/chapters/chapter02.md#2.3
ok ?

[2019-11-05 14:41] peterwoerndle commented on #449
@tomkivlin the new figure addresses my comments, thanks.

[2019-11-05 14:48] pgoyal01 commented on #449
@tomkivlin Maybe we need a discussion about the scope of RA-2 at the Technical Steering Committee. I see RA-1 supporting VNFs while RA-2 supporting both VNFs and CNFs and migrating to CNFs in the future.

[2019-11-05 15:37] peterwoerndle commented on #449
@pgoyal01 are you referring to a VNF in the sense of a VM-based application? Generally the term "Kubernetes-based application / VNF" would not prevent to deploy a VM-based VNF on top of RA2 as long as Kubernetes is used to manage the workload. My preference would be to start with the established container management in Kubernetes and add the support for VMs using [kubevirt](https://github.com/kube

[2019-11-05 16:12] pgoyal01 commented on #449
@peterwoerndle Agree on "..as long as Kubernetes is used to manage the workload. "
Since we would be in the hybrid world (VNFs and CNFs) with VNFs dominating initially, may I suggest that we include "support for VMs using kubevirt, virtlets, RancherVM, .." from the start.

[2019-11-05 16:18] pgoyal01 commented on #536
@xavier-grall Thanks -- looks great

[2019-11-05 16:27] tomkivlin commented on #449
@pgoyal01 @peterwoerndle I'm comfortable including the management VMs through Kubernetes in RA2, but I worry that there isn't a mature production-ready option available today that we can standardise on.  Another option for the future might be the use of the Operator framework and Custom Resources (similar to Cluster API, but not just for managing Kubernetes clusters).

I also think, as I mentioned

[2019-11-06 06:14] yangyanyj commented on #414
@mf4716 ,  sorry for the late reply,  the invitation letter went to the trash, so I didn't receive any notification message before. I have a question before I undertake this task. According to my understanding, the VNF test case requirements should be consistent with the model requirements.  And I also see another issue #415,Traceability of VNF Test Cases to RM Req,  I am a bit confused about the

[2019-11-06 06:50] CsatariGergely commented on #449
I do not see how the LCM of the infra is visible for a VNF. Somehow I feel that adding the LCM part is a bit too big problem domain for the first release. ..

[2019-11-06 07:25] CsatariGergely commented on #449
I would not include VNFM to the RA.

[2019-11-06 08:13] tomkivlin commented on #449
Nor would I. I think the suggestion is that we don't include Helm in this RA and instead have a statement that it is a VNFM component and up to the VNFM vendor to decide whether they include it or not.

[2019-11-06 08:16] tomkivlin commented on #449
Yes you're right, I'm changing my mind again back to my original position. We just need to be sure we address the points Tamas has made about multitenancy etc.

[2019-11-06 09:53] tomkivlin commented on #449
I've added in "Kubernetes-based Application Artefact Storage" to cover:
- Container Registry
- Helm Chart Repository

![image](https://user-images.githubusercontent.com/52716470/68287847-4e213d00-007b-11ea-9447-49d676b706d5.png)

[2019-11-06 10:06] tomkivlin opened #559 "[RM] Chapter 3 - clarification of NFVI v VIM"
The diagram in section 3.1 ([link](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter03.md#31-model)) suggests that the "management software" is part of the NFVI. Is this not the VIM, and therefore not within NFVI but alongside it?

In addition the following definition seems confused:

I would propose that the word "Management" is removed from the definition above so it read

[2019-11-06 10:15] tomkivlin commented on #559
(PS I'm happy to make the changes if the WSLs are ok with the proposals)

[2019-11-06 10:28] ulikleber commented on #559
Also the definition of the NFVI software could be improved.

[2019-11-06 10:56] markshostak opened #560 "[RM Ch04] Move 4.1.2.1 to RMCH-8"
This Issue addresses language identified by Karine in review of PR #520

[2019-11-06 11:00] karinesevilla opened #561 "[RA1 Ch05] Correction needed about OpenStack services version"
Section5.3.1 Introduction
Per Deepanshu comment on PR #463, the sentence
"CNTT standard is to use the latest version v3"   is wrong as version 3 is not available for some OpenStack services

[2019-11-06 11:03] xavier-grall commented on #560
This is already adressed by PR #464 (from issue #462)

[2019-11-06 11:03] #560 closed

[2019-11-06 12:41] tomkivlin commented on #449
From Technical Steering Meeting 6/11/19: VM management by Kubernetes is in scope.  I will clarify in the diagram.

[2019-11-06 12:44] tomkivlin opened #562 "Describe the relationship between RA1 and RA2"
As per Technical Steering Meeting on 6/11/19, we need a brief diagram / statement regarding the relationship and scope of RA1 and RA2.

[2019-11-06 12:50] mf4716 opened #563 "[RI 1 Test To-Do] This is a test of the To-Do label"
Just a test of the label.

[2019-11-06 12:51] mf4716 commented on #563
Testing.

[2019-11-06 12:53] #563 closed

[2019-11-06 13:16] #459 closed

[2019-11-06 13:17] rrajesh70 commented on #459
Sridhar Rao has completed the readout and published a powerpoint deck detailing steps

[2019-11-06 14:30] lylavoie opened #564 "[RI1 Ch04] Lab Hardware Specification"
We need to finalize the hardware roadmap and specification for RI 1, so labs can acquire and setup hardware.  To facilitate this discussion, a wiki page has been created here: https://wiki.opnfv.org/display/pharos/CNTT+RI+Lab+Infrastructure+Discussion, along with a set of proposals / agreements for the "labs release 1", i.e. what is included in the RI 1 specification materials.

[2019-11-06 14:34] lylavoie commented on #564
@rabi-abdel Can you apply the right RI1 labels to this, I don't have write access, so I can't add labels...Thanks

[2019-11-06 14:54] rabiabdel commented on #564
invite to you on it's way so you can do it in the future

[2019-11-06 15:19] pgoyal01 commented on #559
@tomkivlin W.r.t. "The diagram in section 3.1 (link) suggests that the "management software" is part of the NFVI. Is this not the VIM, and therefore not within NFVI but alongside it?" @BernardTsai-DT can better explain this but here is my half-cents.

The management software includes the VIM but is not only the VIM. The reference model tries not to get into the "implementation" (how the required f

[2019-11-06 15:22] tomkivlin commented on #559
I think if we want those resources to be bare metal, virtualised or containers then perhaps "logical resources" is a clearer term to use?

[2019-11-06 15:23] tomkivlin commented on #559
Yes that would be helpful, if it isn't the same as ETSI NFVI.

[2019-11-06 15:38] pgoyal01 commented on #559
@tomkivlin "..perhaps "logical resources" is a clearer term to use" -- I know at one time during early stages the term was considered but there were objections: @BernardTsai-DT may be bale to shed more light.

[2019-11-06 16:05] mf4716 commented on #564
RI Ch4 is reserved for Lab Requirements - we can tie the discussion/disposition to this chapter.  https://cntt-n.github.io/CNTT/doc/ref_impl/cntt-ri (RI)

[2019-11-06 16:11] pgoyal01 commented on #393
PR #394 merged.

[2019-11-06 16:11] #393 closed

[2019-11-06 17:04] tomkivlin commented on #449
Here's the update following today's steering meeting.  If there are no objections I will draft a PR updating chapter 1 based on this diagram and discussions that have been had.

To clarify, I have added an interface between the Kubernetes Master Node Services and the NFVI - this is to cover an example such as kubevirt that uses Custom Resources to interact with libvirt on nodes.  I had also added

[2019-11-06 19:42] mf4716 commented on #414
**414 (this issue)** - content/statements (logic, strategy, rationale, process) outlining Why/Principles for performing VNF testing.  What is the value added?  What is the goal?  What is the expected outcome/results?  What are the operating assumptions?  Review [RM Ch 8](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter08.md) for context as this was our starting point a whi

[2019-11-06 20:05] jbeltranatl commented on #468
Deployed a rough draft version into master branch today.

[2019-11-06 20:27] #470 closed

[2019-11-07 03:59] mf4716 commented on #408
Assistance will be needed from our AirShip installer support for POD10/15, Mr. Sridhar Rao <Sridhar.Rao@spirent.com>.  Sridhar will be receiving access to GitHub in the next day, or two.

As discussed 11/6 during the RI/RC meeting, example scope or subheadings for the chapter will include:

i. pre-req:  Bare-metal validations
a) RA Requirements Gathering process
b) Infra Requirements and Selection

[2019-11-07 04:39] mf4716 commented on #408
FYI - PR generated with initial content and placeholders for contributor support - https://github.com/cntt-n/CNTT/pull/568

[2019-11-07 07:22] CsatariGergely commented on #449
I would not yet add kubevirt/virlet or any similar to RA2 in this release yet. I think it is enough if we sort out containers first.

[2019-11-07 07:26] CsatariGergely commented on #449
Even is we add hypervisors with CRI interface (what is a good name for these in general?) I think the interface is not from the master node to the NFVI.
According to my understanding:

- The control communication is between the master node and the worker node (what is needed in case of containers with CRI interface also)
- hypervisor with CRI interface will communicate with the libvirt of the Kube

[2019-11-07 08:25] tomkivlin commented on #449
Let's add it as a header and placeholder, but agreed it's not a priority item.

[2019-11-07 08:26] tomkivlin commented on #449
That's one type, and you're probably right about the communication channels - I will double check and update when I raise a PR for chapter 1 (will start on that today - let's move some of this more detailed discussion to a PR).

[2019-11-07 08:41] tomkivlin opened #569 "[RM] Terminology update with RA2 terms / definitions"
Affected page: https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/glossary.md#1.1

New / duplicate terms/definitions: https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter01.md#1.2

There are some terms (e.g. "container") where the definitions don't match.  I will prepare a PR to the RM Glossary to propose changes based on the definitions we've made in

[2019-11-07 13:40] ulikleber commented on #569
Started on it.

[2019-11-07 15:06] peterwoerndle commented on #449
I agree with @CsatariGergely comments with regards to the CRI. @tomkivlin having a dedicated PR on this may also help to schedule it properly for a version of the document (if we decide to not take it into the first version of RA2)

[2019-11-07 15:45] tomkivlin commented on #433
Closed as this is a subset of the content required from #530

[2019-11-07 15:45] #433 closed

[2019-11-07 15:49] tomkivlin commented on #398
Clarification: this is about southbound infrastructure resource interfaces.

[2019-11-07 17:59] xavier-grall opened #571 "[RM ch02] profiles language update needed"
From https://github.com/cntt-n/CNTT/pull/555#issuecomment-550338405:
Kelvin and Xavier to update language for profiles.

There are 2 pending issue related to language for profiles, one for compute intensive and another one for basic:

**A/ For Compute Intensive profile**

- Pankaj proposal (https://github.com/cntt-n/CNTT/issues/536#issuecomment-549826699):
VNFCs that perform compute intensive oper

[2019-11-07 18:22] pgoyal01 commented on #571
@xavier-grall Some minor suggestions and typo corrections"

@xavier-grall refining proposal (#555 (comment)): "VNFCs that perform compute intensive operations (but **do not** have neither high network throughput nor low network latency requirements)"
Suggest that you delete "do not".

B/ For Basic profile
@kedmison  proposal (#555 (comment)): "VNFCs that perform basic compute operations and can to

[2019-11-07 19:36] ASawwaf commented on #571
@xavier-grall thanks for your effort,  i like your summarization
for CI , I will go with my definition :)

[2019-11-08 01:39] kedmison commented on #559
The use of Ironic came up in the context of RA01 meeting today, and it was observed that we have not actually specified that bare metal servers is a service that the RM offers (despite the possibility that Ironic offers)
The suggestion in the RA01 meeting was that, for now, the use of Ironic be explicitly noted as limited to the use of RA02 for bare metal Kubernetes environments.
I would thus not

[2019-11-08 02:12] pgoyal01 commented on #559
@kedmison as you noted, " the use of Ironic be explicitly noted as limited to the use of RA02 for bare metal Kubernetes environments" is only a suggestion. I think we still need discussion and some solid rationale (including value) as to why we should create such a restriction.

[2019-11-08 03:18] kedmison commented on #571
@xavier-grall Yes, I think CI should have a low latency requirement.  The tables we are generating in [chapter 5](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter05.md#523-virtual-networking) indicate that it will have SRIOV.  In fact, there is little to no feature differentiation in the networking space between network-optimized and compute-optimized.

We could create som

[2019-11-08 03:25] kedmison commented on #559
@pgoyal01 I would suggest that if bare metal guests are not explicitly offered/considered in the reference model, their use should not be introduced by the RA... which is why I was suggesting that the RA create a restriction until such time as a discussion and decision is taken in the RM context as to whether to support bare metal guests.
If you agree, I can create an RM issue to host this discuss

[2019-11-08 08:17] markshostak commented on #559
@kedmison Kelvin, I'm ok with your creating an issue and driving the bare metal discussion (this is not the first time it's come up), but let's put some parameters around it.
1) Does it belong in the RM or the RA? I'm on the fence, as one architecture may choose to support it, while another may not
2) Assuming it does fall under RM purview, does it need to be addressed explicitly? Consider, just b

[2019-11-08 08:21] markshostak commented on #559
@BernardTsai-DT Hi Bernard, Can you comment on Tom's original question, pls? This area used to be much more explicit, so your insight would be helpful. Danke, -Mark

[2019-11-08 08:29] markshostak commented on #524
@pgoyal01 Optional in specifically what sense? Object storage is optional. Just because it's supported for a given Instance Type, doesn't mean a developer has to use it.

[2019-11-08 08:55] xavier-grall commented on #571
@kedmison @pgoyal01 @ASawwaf
Thank you for your clear opinions and proposals
The essential remaining difference in our opinions is about the network latency for CI.
As I said in  PR #555 discussion, I am not so sure of my own opinion on that point, so I agree to add the low network latency requirement.
For the language, I think the description should be as accurate as possible, especially for futu

[2019-11-08 10:38] BernardTsai-DT commented on #559
I have deliberately not used the term VIM since I have a difficulty in describing a VIM independently from a NFVI since when looking at real implementations of cloud platforms you will see that you can not easily exchange a VIM since BIOS settings, OS of the host systems and network equipements as well as the actual management software are tightly integrated in order to provide the services of a v

[2019-11-08 16:05] pgoyal01 commented on #524
@markshostak OpenStack Swift is optional service -- operators may not (and some do not) deploy it in their environments.

[2019-11-08 16:16] kedmison commented on #571
I was trying to leave some room in the nomenclature to migrate to something like the following:

Right now, our 'compute intensive' is essentially only different from 'basic' in that it's not overbooked.  Otherwise, it's not that special except in the networking terms.

If we adopt this sort of framework above, then we have
* Balanced as our baseline configuration of a balanced allocation of compu

[2019-11-08 16:34] kedmison commented on #559
The  RM currently documents the profiles and sizes that a VNF vendor can expect from a CNTT architecture.  [RM 4.2.1.1](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#4211-predefined-compute-flavours) talks about the sizes of pre-defined compute flavours, and if we officially support bare metal then I would think that a bare-metal variant would be listed here.

Bare

[2019-11-08 16:41] kedmison commented on #524
Object storage is currently marked as required in the RM (certainly open for discussion as to whether that's correct).
However, from a VNF vendor perspective, if they develop a VNF that depends on Swift for a particular function, what is CNTT recommending the VNF vendor do when they encounter a NFVI that does not deploy Swift?   Is the VNF vendor precluded from deploying there, and must re-archite

[2019-11-08 16:54] pgoyal01 commented on #524
@kedmison Great point.  If RM is to insist on object storage as required -- needs to justify why -- then obviously the RA's will have to make it mandatory also to be compliant with the RM.

Object storage is a PaaS service, as I think you had mentioned previously. Should the RM be specifying PaaS services?

[2019-11-08 17:16] deebhatia commented on #524
@pgoyal01 Referring to [this](https://object-storage-ca-ymq-1.vexxhost.net/swift/v1/6e4619c416ff4bd19e1c087f27a43eea/www-assets-prod/openstack-map/openstack-map-v20191001.pdf) landscape diagram of OpenStack, OpenStack does treat swift as a core functionality. It is present at the openstack overview [page](https://www.openstack.org/software/).
If we see swift being used for service based use cases

[2019-11-08 20:09] ASawwaf commented on #524
@deebhatia @pgoyal01 @markshostak Sure it is core in Openstack , but in a real implementation, not all operator go with Swift, opposite to cinder it is required for all VNF vendors

So my POV , let put it as optional in RM and should be reflected in RA01

[2019-11-08 20:24] ASawwaf commented on #559
@tomkivlin , NFVI Software is not ETSI terminology, So i preferred not to use it as it will lead of conflict , what did you think ?

[2019-11-08 20:54] kedmison commented on #524
I think we are running into a difference of expectations for an NFVI-only platform vs. a platform that can support NFVI and IT and ML workloads.

I agree that traditional data plane VNFs may not have a need for Swift, but the sorts of management and back-office applications that come with managing networks would indeed benefit from having it as they often have characteristics more closely aligned

[2019-11-08 22:15] xavier-grall commented on #571
OK I missed your previous point about possible future naming challenge...
I think it would be great to be able to keep the current naming, and thus to try to find another name for a possible future ML/AI profile: why not just Enhanced CI (CI+) ?
And we could also have Enhanced NI.
Regarding GPU, it could be a feature of CI+, as crypto acceleration could be for NI+.
Concerning compute intensive ope

[2019-11-08 22:30] kedmison commented on #571
@xavier-grall I like it; I think that's a very good compromise between keeping the existing naming and creating space for the future workloads, and a good observation about 'predictable' compute.
(The only quibble I have is that I'd disagree on the GPU as part of CI+ as CI is about general-purpose compute resource (CPUs), not GPUs... but that's for future RM discussions and 'issues'.)

[2019-11-08 22:58] xavier-grall commented on #571
OK great
Do you think the figures should also be reviewed consequently ?
Currently, they are : https://github.com/cntt-n/CNTT/blob/xavier-grall-patch-ch02/doc/ref_model/figures/ch02_infra_profiles.PNG

@pgoyal01 @ASawwaf @ulikleber
What do you think about proposed naming and descriptions ?

[2019-11-09 04:11] kedmison commented on #571
Yes, It think so.  The bold text in the diagram is not quite aligned with the proposed profile descriptions.

[2019-11-09 08:35] tomkivlin opened #573 "[RA2] Create a roadmap for RA2"
The scope of RA2 is potentially large and so we need to agree on which aspects are to be included in each release.

[2019-11-09 14:07] tomkivlin commented on #559
@BernardTsai-DT ok, yes that makes sense, I can understand the rationale.  Looking back over this, if we leave the diagram as-is, the issue is then just the wording in 3.1 and 3.3.  In 3.1, we have:

To me, the above reads like a description of the software elements of an NFVI, whereas in 3.3 we have something that is different - much more akin to the VIM.  The two don't seem to be talking about t

[2019-11-10 06:26] ASawwaf commented on #559
@tomkivlin , thanks , that you figure it out, I returned back to RM CH3 , from my POV NFVI Manmanget Software is actually the VIM , all listed function is VIM tasks, so I think we need to redefine it in RM
@BernardTsai-DT @markshostak @tomkivlin @rabi-abdel What did you think ?

[2019-11-10 12:32] collivier opened #574 "[RI 1 Dev] Enhance Functest SUT to cover Neutron QoS and Trunk services/extensions"
The next PR about API asks to cover Neutron QoS and Trunk in Functest Gates
https://github.com/cntt-n/CNTT/pull/463

Then they will be covered by neutron-tempest-plugin-api as proposed in functest-smoke (verification) and functest-smoke-cntt (compliance)

[2019-11-10 12:38] collivier opened #575 "[RC 1 Dev] Add Neutron QoS and Trunk services/extensions in Compliance"
The next PR about API asks to cover Neutron QoS and Trunk in compliance (functest-smoke-cntt)
#463

Tests regex and count have to be updated to match the new Neutron extension list.
https://git.opnfv.org/functest/commit/docker/smoke-cntt/testcases.yaml?h=stable/hunter&id=610ce4634e454a2295dbb957cf10b9d7e4a1d928

[2019-11-10 12:47] collivier opened #576 "[RI 1 Dev] Audit first RI deployment"
- run Functest to verify the first RI deployment (based on Airship)
- interpret the results and share the related fixes required

[2019-11-10 14:26] collivier commented on #574
OpenStack QoS and Trunk services are now deployed on lf-virtual9 and lf-virtual8 (OpenStack Master). and are successfully verified and compliant.

[2019-11-10 16:18] collivier commented on #524
-1 to put swift as Optional

[2019-11-10 17:18] collivier commented on #576
The NAT is missing here. Then Shaker and all VNF testcases fail because of no external connectivity.
https://build.opnfv.org/ci/view/cntt/job/cntt-latest-daily/4/
https://build.opnfv.org/ci/view/cntt/job/cntt-latest-daily/5/

Live migration and resize server are not working:
http://artifacts.opnfv.org/cntt/cntt-opnfv-functest-benchmarking-latest-rally_full-run-2/results/rally_full/rally_full.html

[2019-11-10 17:20] collivier commented on #575
https://gerrit.opnfv.org/gerrit/c/functest/+/68852

[2019-11-10 17:21] collivier commented on #513
https://gerrit.opnfv.org/gerrit/c/functest/+/68668

[2019-11-10 19:20] ASawwaf commented on #571
@xavier-grall , I am ok with the workload profile examples, only comment as @kedmison the bold description is not matching
Thanks

[2019-11-11 09:55] ulikleber commented on #571
I think it looks good.
I don't think we will find many VNFs in Basic in the end. But let's go for it.

[2019-11-11 12:33] rabi-abdel commented on #159
@mf4716 I think this issue can be closed now as it has been resolved. do you agree?

[2019-11-11 12:56] manamsamuel commented on #530
HI @msidana i have prepared some content for this, do you mind if i create a PR for this and we can collaborate on the content? @tomkivlin can you assign this to me so i go ahead and create that PR?

[2019-11-11 13:23] CsatariGergely commented on #426
#520 fixed this.

[2019-11-11 13:23] #426 closed

[2019-11-11 13:27] msidana commented on #530
@manamsamuel Sure.

[2019-11-11 13:33] #562 closed

[2019-11-11 15:02] mf4716 commented on #159
@rabi-abdel - we cannot close until we move the diagrams/content from RI / RM to RC1 Ch01.

[2019-11-11 16:28] #522 closed

[2019-11-11 21:43] tomkivlin commented on #530
@samulikuusela I've assigned you to this now.

[2019-11-11 21:51] manamsamuel commented on #530
@tomkivlin great. Thanks, will start copying the content across.

[2019-11-12 09:21] xavier-grall commented on #571
@ulikleber
Right, we will not find many **entire** VNFs in Basic in the end, but we should find many VNFCs, especially those related to VNF management planes.

@kedmison @ASawwaf
For the figures, I suggest to replace the bold text of NI & CI profile like this:
- NI
  - Current
    *Fast computing
    High throughput & low latency networking*
  - Proposal
    ***Predictable** computing
    High thr

[2019-11-12 09:39] rabi-abdel commented on #489
I will start working on this.

[2019-11-12 10:39] xavier-grall commented on #571
PR #585 created, including figures update proposal

[2019-11-12 10:43] xavier-grall commented on #536
PR #555 merged

[2019-11-12 10:43] #536 closed

[2019-11-12 10:44] xavier-grall commented on #344
PR #555 merged

[2019-11-12 10:44] #344 closed

[2019-11-12 15:13] #437 closed

[2019-11-12 20:42] pgoyal01 commented on #387
Who is developing rest of the content?

In the[ Chapter Outlines](https://github.com/VoerEirAB/CNTT/tree/ashokkumarprajapati-387/doc/ref_model) the Appendix is referred to as "VNF Design Guidelines" and in the Chapter itself as "Guidelines for VNF Vendors", the latter having a larger scope.Th outline appears not to have a section for VNF Design (things such as, The VNFs must be designed to be agno

[2019-11-12 21:06] ASawwaf opened #586 "[RM Ops ] Ch09 LCM : Define of Generic installer"
we need to start the definition/requirements of the Generic installer that we will be defined in RM and to be used to deploy RA01 and RA02

[2019-11-12 21:10] ASawwaf commented on #586
Just start
1-The installer must be capable to deploy all Virtualizated, Containerized, Baremetal environment

[2019-11-13 02:19] kedmison opened #587 "[RM Ch04] Virtual network specifications need rework"
The [Virtual Network Specifications](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#422-virtual-network-interface-specifications) in RM Chapter 4 need some rework.  In particular:

- the bandwidth available to a VM should be modelled as a e.nfvi.cap capabilities
- Table 4.18 should be replaced by a table similar to table 4.17, indicating that different sizes of VMs

[2019-11-13 02:24] kedmison opened #588 "[RM Ch04] Available storage extensions should remove hard-coded capacity"
The [Available Storage Extensions](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#4231-available-storage-extensions) table currently has a capacity field.  VNFs should not have a fixed palette of choices for size here when dealing with remote block storage.
Instead, the storage extensions table in 4.19 should be sufficient, with the possible (to be discussed) inclus

[2019-11-13 09:10] collivier commented on #574
Done

[2019-11-13 09:10] #574 closed

[2019-11-13 09:11] collivier commented on #513
Done.
It will be continuously updated according to CNTT documentation.

[2019-11-13 09:11] #513 closed

[2019-11-13 09:13] #576 closed

[2019-11-13 09:51] markshostak commented on #390
Fix (PR #520) has been approved and merged.

[2019-11-13 09:51] #390 closed

[2019-11-13 10:14] markshostak commented on #442
As currently written, the storage performance is implied by the element prefix of the selected storage extension, and realized through different "acceleration technologies" such as solid state media versus rotating media, rotational speed (e.g., 10K, 15K), the associated physical interfaces (e.g., SAS-1, SAS-2, PCIe, etc), logical organization, etc. Probably more to your point, as the storage exte

[2019-11-13 10:28] markshostak commented on #588
@kedmison Hi Kelvin, We've discussed making storage extensions parametric, so I'm ok with your proposal. However, as discussed in the RM calls, **everyone**, please be sure when making an assertion such as "We do _this_, but we should to _that_...", that we also **include the rationale/justification** for why we want to use a particular method, so that:
A- The merits of the change can be discussed

[2019-11-13 10:30] #451 closed

[2019-11-13 11:17] rabi-abdel commented on #586
Isn't this related to RI Core (Installer Requirements)?

[2019-11-13 11:58] markshostak opened #590 "[RM/RA/RI/RC] Document Hardware Objectives, Guidelines and Approach"
**Issue:** As discussed in multiple forums, CNTT currently specifies hardware in multiple documents (e.g., RM, RA and RI), making alignment challenging. Further, when RI/CIRV (or CSPs) are procuring hardware, there needs to be an objective mechanism to ensure the candidate configuration(s) will support the CNTT designs.

- Due to business realities (and focus on VNF abstraction), CNTT cannot speci

[2019-11-13 12:11] petorre commented on #387
I am.

Yes, all coming...

Agree. Is discussed in #448 .

[2019-11-13 13:28] pgoyal01 commented on #445
@tomkivlin Can we close as the issues were taken care of.

[2019-11-13 13:30] tomkivlin commented on #445
Once #452 is merged, yes - will be automatic if you used "Fixes #445" in the PR comments.

[2019-11-13 13:51] karinesevilla commented on #586
@ASawwaf
In my opinion, the right place to describe installer is the RI.
We can mention installers in RA, but in a light mode without putting strong constraints or being prescriptive.

[2019-11-13 15:03] xavier-grall commented on #462
PR #464 for that issue is replaced by PR #579

[2019-11-13 15:04] xavier-grall commented on #428
PR #464 for that issue is replaced by PR #579

[2019-11-13 15:10] opensource-tnbt opened #591 "[RI 1 Labs] Intel Pod-10 Status and Ongoing Works"
**Outstanding**:
1. Enable SRIOV on Pod-10 and Redeploy:  Patch Submitted on Nov-9th:
   https://gerrit.opnfv.org/gerrit/#/c/airship/+/68815/ . Once the patch is merged, redeploy will be performed.
2. Deploy script in opnfv-airship to be generic - use the same script to deploy all pods. Work in Progress.
   Patch Submitted: https://gerrit.opnfv.org/gerrit/#/c/airship/+/68816/
3. Manual/Automatic V

[2019-11-13 16:54] markshostak commented on #571
@xavier-grall Ready to close this one? If so, I'd like to get it off tomorrow's gov report. :-)

[2019-11-13 17:01] xavier-grall commented on #571
Of course, PR is merged, so issue can be closed (done right now)

[2019-11-13 17:01] #571 closed

[2019-11-13 17:36] deebhatia commented on #521
@karinesevilla I can pick this if ok. Also, Is `Binding a vCPU to a dedicated logical core of compute.` better?

[2019-11-13 18:11] kedmison commented on #588
@markshostak Thanks for the reminder; I will do so.

[2019-11-13 21:17] ASawwaf opened #592 "[RM] Glossary - EPA definition"

[2019-11-13 21:24] collivier opened #593 "[RC 1 Dev] Add tempest_cinder in compliance"
The new tempest_cinder regex in compliance should conform with the last CNTT updates:
https://github.com/cntt-n/CNTT/pull/577

@rabi-abdel : + testing if I can close it via gerrit merge

[2019-11-13 22:22] collivier commented on #593
Ok It seems working. Here I think it's not autmoatically closed because it was already merged in our default Functest branch (master) but can see here all backports in Jerma and Iruya.
https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords

It works thanks to the OPNFV Github mirror.

[2019-11-13 22:26] mf4716 commented on #593
@collivier - are you closing, or more work to do, or documentation to be added to CNTT repos?

[2019-11-13 23:40] hdamker commented on #453
@tomkivlin Wasn't this issue raised to fixed the opionated section "### A note on virtualised and containerised workloads" in chapter 1? I can't find a respective merge request. Therefore I don't think it's done.

Regarding the added new requirements req.inf.vir.01 and req.inf.phy.01: I don't agree that both are "must" at the same time. The RA should not prescribe which kind of infrastructure prov

[2019-11-14 00:43] mf4716 opened #594 "[RC1 Ch01] Introduction"
Introduction content for Ref Cert 1.

Content to include, but not limited to:
- Goals and Objectives of a C&V program
- Principles which govern C&V decisions, and operations
- LCM for C&V framework for NFVI
- Establish goals to Ensure Platform Stability, Operability, & Performance for target RAs
- Definitions used for Certification

[2019-11-14 06:19] CsatariGergely commented on #592
I agree that we should define the specific technologies and not the umbrella term EPA.

[2019-11-14 07:25] hdamker commented on #592
Required features need to be carefully selected -- we need to be adhere to decisions taken already in RM and RA1 and not make RA2 more convenient for lift&shift of PNFs directly into CNFs.

[2019-11-14 09:29] tomkivlin commented on #453
@hdamker sorry - I meant to move to PR Review in progress - have corrected!

Totally agree. The intent (as per #562) is for RA2 to be able to run on **any** cloud.  However, there will be specific requirements or configuration that need to be made on each particular cloud in order to meet the requirements of the RM and of our RA2.  Therefore there will be a section in one of the chapters that deta

[2019-11-14 12:14] ASawwaf commented on #586
@karinesevilla
let work on the below approach

from Rabi
May I propose to initiate the content for RM Chapter 09 as a new PR against the issue: https://github.com/cntt-n/CNTT/issues/365 with the requirement you have in mind.

Once that PR is created, we can decide then what to keep in RM and what to keep in  RI.

I agree with you that requirement (from LCM prospective)  needs to stay in RM.

[2019-11-14 13:42] glimonta opened #596 "[RM Ch07] Section 7.3 Add ETSI NFV"
After discussion on Nov 14th, we agreed to add ETSI NFV SEC to the list of common standards in Section 7.3.

@CsatariGergely I'll create a PR for this.

[2019-11-14 13:47] glimonta opened #597 "[RM Ch07] Modifications to Section 7.10.4"
After discussion on Nov 14th, we agreed to rewrite parts of this section to better describe the behaviour of the TPM when taking boot time integrity measurements.

@CsatariGergely I'll create a PR for this.

[2019-11-14 13:49] glimonta opened #598 "[RM Ch07] Add new section 7.10.5 on Runtime Integrity Measurements"
After discussion on Nov 14th, we agreed to add a new subsection that addresses the runtime integrity measurements that can be taken in a platform using the TPM.

@CsatariGergely  I'll create a PR for this.

[2019-11-14 13:53] glimonta commented on #596
I'll work on this issue.

[2019-11-14 13:54] glimonta commented on #598
I'll work on this issue.

[2019-11-14 13:54] glimonta commented on #597
I'll work on this issue.

[2019-11-14 14:22] karinesevilla commented on #521
@deebhatia Following the process, we need to obtain the approval from the WSL before the PR creation. Then we'll be able to propose both definitions and request a vote to select one.

@markshostak  As WSL of RM core, can you assign this issue to Deepanshu and my self for the PR creation?

[2019-11-14 15:33] tomkivlin opened #599 "[RA2 Dev] Gap analysis - K8s as VM-based VNF orchestrator"
As per scope of RA2 (see README.md), we need to perform a gap analysis of how VM-based VNFs can be orchestrated by Kubernetes.

[2019-11-14 16:06] xavier-grall commented on #521
@deebhatia @karinesevilla
`Binding a vCPU to a dedicated logical core of compute` is a good definition but it would require to define what is a logical core (ie either a physical core on a non-SMT architecture or a thread of a core on a SMT architecture)

[2019-11-14 16:20] peterwoerndle opened #600 "[RA1 RA2] Describe relationship of RA2 with underlying infrastructures"
This is a follow up from the RA2 Core call on 2019-11-14 on issue #565 . The request was to extend the proposed text with examples which kind of functionality Kubernetes may expect from the underlying infrastructure and by what means Kubernetes can integrate directly with the infrastructure it is running on.

Examples for resources or capabilities of the underlying infrastructure consumed by Kuber

[2019-11-15 10:43] tomkivlin opened #601 "[RA2 Core] Requirements: The Architecture **must** use Kubernetes APIs"
Too unspecific. Use Kubernetes APIs where and for what? Must use them somewhere? Everywhere?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/commits/adcc94b60fc68f58c354867c623f8f5447951523_

[2019-11-15 10:44] tomkivlin opened #602 "[RA2 Core] Requirements: The Architecture **must** support dynamic request and configuration of resources (compute, network, storage) through Kubernetes APIs."
Ambiguous. It suggests compute/network/storage resources themselves would have to be represented as K8s objects and thus manageable via K8s APIs instead of using whatever APIs the underlying VIM (OpenStack, VMware) provided. I assume what's meant here is more resources on a pod/network_attachment/PV level of abstraction of these resources?

_Originally posted by @fzdarsky in https://github.com/cnt

[2019-11-15 10:49] tomkivlin opened #603 "[RA2 Core] Requirements: The Architecture **should** consist of stateless service components. However, where state is required it must be kept external to the component."
What about, e.g., etcd?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

The requirements reads more as one for the workloads. The internal implementation architecture does not need to follow the same principles on all layers.

_Originally posted by @hdamker in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 10:53] tomkivlin opened #604 "[RA2 Core] Requirements: The Architecture **should** include industry standard hardware management systems at both HW device level (embedded) and HW platform level (external to device)."
Unclear why this is in a Kubernetes RA? Shouldn't that be abstracted from the infra (i.e. agnostic whether it runs on physical or virtual resources) and modular (i.e. allowing customers to rely on existing HW management methods, rather than prescribing these or even making them integrated)?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 10:56] tomkivlin opened #605 "[RA2 Core] Requirements: The Architecture **must** support dual stack IPv4 and IPv6 for Kubernetes workloads."
Isn't IPv6 support a pre-requisite for dual stack IPv4/6 support for workloads? If so, "must" here and "should" in ntw.13 seem upside-down?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 10:57] tomkivlin opened #606 "[RA2 Core] Requirements: The Architecture **must** support the capability for Containers to consume virtualised compute, storage and network resources."
Ambiguous. It suggests K8s workloads would be able to somehow request/manage virtualised resources or use them raw (e.g. by accessing the VM/BM hardware bypassing the OS), which would be a layering and abstraction violation. What's probably meant here is to consume the compute (threads, memory, ...), storage (block/char devices), and network (sockets, interface devices) abstractions provided by th

[2019-11-15 10:59] tomkivlin opened #607 "[RA2 Core] Requirements: The Architecture **must** support the capability for Containers to consume physical (aka bare metal) compute, storage and network resources."
Same as above (#606)

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

As above, would the following work?

| req.inf.phy.01 | Physical Nodes | The Architecture must support the capability for Containers to consume the abstracted compute, storage and network resources provided by Host Operating Systems that are running within a physical/bare metal machine. |

_Ori

[2019-11-15 11:00] tomkivlin opened #608 "[RA2 Core] Requirements: The Architecture **must** allow infrastructure resource sharing within a Kubernetes cluster."
Sharing between...? Users/namespaces/projects of that K8s cluster?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 11:02] tomkivlin opened #609 "[RA2 Core] Requirements: The Architecture **must** support scheduling of workloads based on Enhanced Platform Awareness (EPA) features such as CPU Pinning, huge-pages and SR-IOV."
EPA is a marketing buzzword and a white canvas; the set of features varies depending who and when you ask. It'd be better to remove EPA and explicitly list the complete set of required features.

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 11:03] tomkivlin opened #610 "[RA2 Core] Requirements: The Architecture **must** include kubernetes artefacts (e.g., images, Helm charts, etc.) repository capabilities."
Unspecific and open-ended. If a Kubernetes platform supported VM workloads, would this also include qcow2 images? What if the platform had integrated management of the host OS, would it then also include RPMs? Raw disk images? ostrees? Kubernetes Operators?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 11:04] tomkivlin opened #611 "[RA2 Core] Requirements: The Architecture **should** support multi-tenancy in Kubernetes cluster."
There's no multi-tenancy within Kubernetes, at least not in the traditional "hard" multi-tenancy in the meaning of the word (as in OpenStack and the public clouds). What this probably refers to is "multi-user" in the sense of having the security mechanisms to strictly isolate compute/network/storage workloads from different users on the same cluster?

_Originally posted by @fzdarsky in https://git

[2019-11-15 11:06] tomkivlin opened #612 "[RA2 Core] Requirements: The Architecture **must** support resource tagging."
Labeling? And... isn't that inherent in k8s?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 11:07] tomkivlin opened #613 "[RA2 Core] Requirements: The Architecture **must** support workload resiliency"
It's the responsibility of workloads to be resilient by using the primitives and behavioral contracts provided by Kubernetes.

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 11:12] tomkivlin opened #614 "[RA2 Core] Requirements: The Architecture **must** provide Control API endpoints to cloud platform core services."
Open-ended. What is the set of core services this refers to?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 11:13] tomkivlin opened #615 "[RA2 Core] Requirements: The Architecture **must** provide APIs needed to discover and manage NFVI resources"
What is meant with NFVI resources here? Is there the assumption that the underlying infrastructure is RA1?

_Originally posted by @hdamker in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 11:14] tomkivlin opened #616 "[RA2 Core] Requirements: The Architecture **must** support hitless upgrades of software provided by the cloud provider so that the availability of running workloads is not impacted"
This is a highly problematic requirement. A cloud-native best practice is that the cluster admin (or any automation built on top) would "kubectl drain" pods from a node, which signals pods to drain their sessions and state and terminate within the grace period or be force-terminated. Following maintenance (upgrades, rollback, whatever) the node would be uncordoned.

*Moving the responsibility for

[2019-11-15 11:15] tomkivlin opened #617 "[RA2 Core] Requirements: The Architecture **should** support hitless upgrade of all software provided by the cloud provider that are not covered by `req.lcm.adp.02`. Whenever hitless upgrades are not feasible, attempt should be made to minimize the duration and nature of impact."
As adp.02 covers all "software provided by the cloud provider", the set of "software provided by the cloud provider that are not covered by adp.02" is empty?

_Originally posted by @fzdarsky in https://github.com/cntt-n/CNTT/pull/452/files_

[2019-11-15 11:40] #449 closed

[2019-11-15 13:32] rabiabdel opened #623 "[Technical Steering] Implement Auto-Labler"
To minimise the number of clicks a contributor has to do, GitHuib has a mechansim to apply labels to PRs automatically based on what files they are changing.

[2019-11-15 13:38] tomkivlin commented on #251
@rabi-abdel can this be closed?

[2019-11-15 14:18] rabiabdel commented on #623
This is an action item from a previous Technical Steering Meeting: https://wiki.lfnetworking.org/display/LN/2019-10-23+-+%5BCNTT+-+Technical+Steering%5D+-+Meeting+Agenda+and+Minutes

[2019-11-15 20:12] collivier opened #624 "[RA1 Ch05] Improve Identity API section"
The Keystone features must be set mandatory/optional in Identity API section
- Identity API v3: https://docs.openstack.org/api-ref/identity/v3/index.html
- Identity API v3 extensions: https://docs.openstack.org/api-ref/identity/v3-ext/

[2019-11-16 09:50] collivier opened #626 "[RA1 Ch05] Improve Object Store API section"
The Swift features must be set mandatory/optional in Swift API section
- Object Storage API: https://docs.openstack.org/api-ref/object-store/index.html
- Discoverability: https://docs.openstack.org/swift/latest/api/discoverability.html

[2019-11-16 14:00] #624 closed

[2019-11-17 12:25] CsatariGergely opened #629 "[RA2 Ch03]: Clarifications to the chapter structure"
Chapter structure created in #457 does not cover the details of compute, like topology awareness, accelerators or CPU management.

[2019-11-17 12:25] CsatariGergely commented on #629
I'm happy to work on this.

[2019-11-18 11:08] rabiabdel opened #630 "[Technical Steering] Update Contribution process"
There is a need to update contribution process:
- Introducing new labels.
- Policy around Idle PRs.
  - PRs that are not moving due to:
    - Lack of engagement from the person who created the PR.
    - Lack of reviewers engagement.

[2019-11-18 14:27] pgoyal01 opened #632 "[RA-1 Ch03] 3.2.4. Virtual Networking – Neutron standalone"
[RA-1 Ch03] 3.2.4. Virtual Networking – Neutron standalone | Need Content

[2019-11-18 14:27] pgoyal01 opened #633 "[RA-1 Ch03] 3.2.5. Virtual Networking – 3rd party SDN solution"
[RA-1 Ch03] 3.2.5. Virtual Networking – 3rd party SDN solution | Need Content

[2019-11-18 14:28] pgoyal01 opened #634 "[RA-1 Ch03] 3.3.2. Tenant Separation | Need Content"
[RA-1 Ch03] 3.3.2. Tenant Separation | Need Content

[2019-11-18 14:28] pgoyal01 opened #635 "[RA-1 Ch03] 3.3.4. Flavour management (i.e. T-Shirt type) | Need Content"
[RA-1 Ch03] 3.3.4. Flavour management (i.e. T-Shirt type) | Need Content

[2019-11-18 14:30] pgoyal01 commented on #635
[RA-1 Ch03] 3.3.4. Flavour management (i.e. T-Shirt type) | Need Content

[2019-11-18 14:30] pgoyal01 opened #636 "[RA-1 Ch03] 3.4.1. Virtualisation (KVM/QEMU)"
[RA-1 Ch03] 3.4.1. Virtualisation (KVM/QEMU) | Need Content

[2019-11-18 14:32] pgoyal01 opened #637 "[RA-1 Ch03] 3.4.2. Physical Infrastructure | Need Content"
[RA-1 Ch03] 3.4.2. Physical Infrastructure | Need Content

3.4.2.2. Network

3.4.2.3. Storage

[2019-11-18 14:33] pgoyal01 opened #638 "[RA-1 Ch03] 3.5. Deployment Models | Need Content"
[RA-1 Ch03] 3.5. Deployment Models | Need Content

[2019-11-18 14:45] msidana commented on #634
Can I assign this to myself and work on it, if it's already not taken by anyone ?

[2019-11-18 14:45] msidana commented on #635
Can I assign this to myself and work on it, if it's already not taken by anyone ?

[2019-11-18 16:52] #626 closed

[2019-11-18 17:22] #431 closed

[2019-11-18 17:34] deebhatia commented on #364
@rabiabdel I can pick this up if ok.

[2019-11-18 19:11] pgoyal01 opened #639 "[RA2 Core] Requirement: Architecture should support service function chaining"
[RA2 Core] Requirement: Architecture should support service function chaining -- requires a separate discussion.

[2019-11-18 21:43] tomkivlin opened #640 "[RA2 Core] Requirements: | req.inf.ntw.13 | Network | The Architecture should support IPv6 for Kubernetes workloads."
Either to be changed to "must" or to be put into backlog

From @hdamker in https://github.com/cntt-n/CNTT/pull/452#pullrequestreview-318646455.

[2019-11-18 23:04] tomkivlin opened #641 "[RA2 Core] Chapter 3 initial content"
Now the ToC for ch3 has been put in place, and chapter 2 requirements are (almost) published, we should add some content to chapter 3 - the high level architecture.

[2019-11-18 23:05] tomkivlin opened #642 "[RA2 Core] Chapter 4 initial content"
Now that the ToC for chapter 4 has been published, and the scope is agreed, we need to start populating this chapter.

[2019-11-18 23:06] tomkivlin opened #643 "[RA2 Ops] Chapter 5 (Interfaces & APIs) ToC"
We need to agree a ToC for chapter 5 (Interfaces and APIs) for the Kubernetes RA.

[2019-11-18 23:12] tomkivlin opened #644 "[RA2 Ops] Chapter 5 initial content"
Following a ToC for chapter 5 (#643) we need to populate this chapter with contents.

[2019-11-18 23:13] tomkivlin opened #645 "[RA2 Ops] Chapter 7 ToC"
We need an agreed ToC for chapter 7 (ops and lcm) for Kubernetes RA.

[2019-11-18 23:14] tomkivlin opened #646 "[RA2 Ops] Chapter 7 (ops and LCM) initial content"
Following an agreed ToC (#645) we need to populate this chapter with some content.

[2019-11-18 23:29] collivier opened #647 "[RA1 Ch05] Improve Image API section"
v2.5 should be precised
https://docs.openstack.org/api-ref/image/versions/index.html#api-versions

[2019-11-19 01:19] tomkivlin commented on #453
Based on a conversation at Kubecon today, I want to clarify what has been done and what I plan to do with this issue.

I think that the decision to use or not bare metal is not one that this RA2 should answer.  Nor do I think we should detail any guidance about when to use it or not.  However, I do think that that RA2 should include the ability to run on bare metal within the scope, requirements a

[2019-11-19 02:57] kedmison opened #649 "[RA2 Core] Requirements: compliance to national and regional security requirements"
There is an unresolved discussion in https://github.com/cntt-n/CNTT/pull/452 relating to security requirements.  Specifically, on the following security requirements.

| `req.sec.cmp.01` | Compliance | The Architecture **must** comply with all applicable national standards and regulations. |
| `req.sec.cmp.02` | Compliance | The Architecture **must** comply with all applicable regional standards a

[2019-11-19 09:09] ulikleber commented on #364
This is already fixed in #595.

[2019-11-19 09:09] ulikleber commented on #364
@deebhatia Thanks for the offer, please check the fix.

[2019-11-19 09:43] deebhatia commented on #364
@ulikleber Issue still exists. It is an issue in RM Chapter 01. #595 change fixes it for RA2 Chapter 01.

[2019-11-19 10:03] ulikleber commented on #364
OK. Got it. Go ahead.

[2019-11-19 11:05] #561 closed

[2019-11-19 12:20] ASawwaf commented on #609
@tomkivlin
we opened this for the same https://github.com/cntt-n/CNTT/issues/592
so what did you think, we need to close one of them

[2019-11-19 12:41] rabi-abdel commented on #590
My suggestion is the following:

1. Document the answers in the **RM Chapter 1**.
    - between 1.4 and 1.5 (we can call it: Approach)
    - one issue/PR is needed for this.
    - Let us create the PR and start the review process.

Quick Answers to some questions from me (to be discussed and agreed on while reviewing the PR)

- RM should contain **minimum** capabilities.
  - CPU speed (as per Chap

[2019-11-19 12:52] rabi-abdel opened #652 "[RM Ch05] Remove SR-IOV notes"
As spotted by @ASawwaf we need to remove reference to SR-IOV in the RM to remove confusion.
e.g.

nfvi.net.acc.cfg.002 | Support of HW offload | Yes/No | e.g. support of SR-IOV, SmartNic.
-- | -- | -- | --

and

SR-IOV (Single-Root Input/Output Virtualisation): Configure PCIe ports to support SR-IOV.

[2019-11-19 13:03] rabi-abdel commented on #652
happy to get this assigned to me @karinesevilla

[2019-11-19 14:54] pgoyal01 commented on #649
@msidana @kedmison Is the ask that we list all security standards by all nations (200+) and regions (US States, EU, etc.)? Even within the EU, member countries have their own cyber and data security agencies rendering requirements. In the US many states (e.g., California) have laws in this area. Listing all "applicable standards" by each country would be difficult.

Can we specify ISO 27001 as a b

[2019-11-19 15:19] pgoyal01 commented on #652
@rabi-abdel @ASawwaf SR-IOV has been discussed at great length in the RA-2 Ch02 discussion and has been pointed out by several folks it is a "must" requirement.

I do not agree on the deletion of SR-IOV -- in the RM its support is optional and should remain so.

[2019-11-19 15:22] tomkivlin commented on #609
Could do, I read #592 as a terminology / definition one (I.e. add something to the glossary). Whereas this is about the validity of the requirement wording. Have I got that right?

[2019-11-19 15:55] rabi-abdel commented on #652
@pgoyal01 there is no SR-IOV support agreed on RM. our decision on RA-1 Ch02 was to let operators decide if they would allow SR-IOV but the CNTT is Clearly staying it "Should not be used" and there will be no support for it on CNTT.

Currently, the few sentences in RM it is confusing everybody and I think this needs to be cleared out.

[2019-11-19 15:59] pgoyal01 commented on #652
@rabi-abdel I am only asking that SR-IOV should remain as an option for operators. If the language needs to be modified to make things clearer that is for good but object to "... we need to **remove reference to SR-IOV in the RM** ."

[2019-11-19 16:04] rabi-abdel commented on #652
@pgoyal01 keeping SR-IOV reference in the RM won't solve your problem. it will just complicate it and cause confusion. keeping those reference doesn't make it optional. hence my proposal is to remove it.

[2019-11-19 16:06] msidana commented on #649
@pgoyal01 Yes, we cannot do this - listing regional/national policies. I think we shouldn't be writing about ISO standards , PCI DSS etc as these are mostly driven by business and regulatory requirements. However, we can write security requirements considering below points(suggestions welcome) which are verifiable via automation/manual checks:
1. The operating system should be hardened as per STIG

[2019-11-19 16:36] karinesevilla commented on #652
@rabi-abdel @ASawwaf @pgoyal01
For short term deployment SR-IOV is used and required by VNF needing network acceleration. May be in the future, it will be replaced by smartNIC, but today we must keep it.
In my opinion, what is not recommended by CNTT (because coming against resources sharing  principle) is the configuration of SR-IOV with PCIe passthrough. I think that was discussed some months ag

[2019-11-19 16:42] rabiabdel commented on #652
@karinesevilla fair enough. Will close for now.

[2019-11-19 19:36] ASawwaf commented on #652
@pgoyal01 it is my bad ,
@rabi-abdel ,sorry what is the conclusion ?
@rabi-abdel @kagreenwell @pgoyal01 @petorre , From my side I will push big time to avoid the SRIOV in CNTT , ( It is against of CNTT principle and targets ) the target to push on the vendor to achieve what we looking for ,   if there is doubt that we need to accept  it in RA1 , for RA2 no way to accept it , how to have CNF with S

[2019-11-19 19:43] ASawwaf commented on #609
@tomkivlin , may be :) , but as per my understanding that your recommendation @tomkivlin @CsatariGergely  that we did not want to have one definition for it and we leave it to the context of the clauses

if not, let me put a generic definition to EPA to be added terminology /definition?

what do u think ?

[2019-11-19 19:54] tomkivlin commented on #609
I think a definition in the glossary would be helpful for future conversations about EPA. However I think that the requirements chapter should list the individual "features" of EPA as separate requirements, rather than stating EPA as a whole is a requirement.  That way we can have clearer and more granular traceability for each one.  Is that ok?

[2019-11-19 20:00] ASawwaf commented on #609
Agreed, thx

[2019-11-19 20:07] ASawwaf commented on #592
@petorre  , if i define it i will pull the definition from the intel site, so if you can put an extensive definition for EPA it will be great , can you support ?

I will start with: Enhanced Platform Awareness (EPA) represents a methodology and a related suite of changes across multiple layers of the orchestration stack targeting intelligent platform capability, configuration & capacity consumptio

[2019-11-19 20:10] rabi-abdel commented on #652
agree @ASawwaf 100%. we must not promote it in any way. I still think we need to remove the references from RM. if you agree, I am happy to create a pull request to do this.

[2019-11-19 20:13] ASawwaf commented on #652
@rabi-abdel Totally agreed

[2019-11-19 20:13] kagreenwell commented on #652
I completely agree that CNTT should not push specific technology, but I don't know how you are going to square this in the RI/RC. If you want to test anything that is not GP (general performance), you are going to have to implement specific technologies and build test cases that validate those technologies. Are you suggesting pushing SRIOV/DPDK/other-technologies out of just the RM and into the RA

[2019-11-19 20:20] ASawwaf commented on #652
@kagreenwell , Actually not all technology , Just SRIOV , we need to avoid it as much as we can , and build our RM / RAs / RI /RC without SRIOV

@pgoyal01 @karinesevilla  , if you think about it ( SRIOV ) doesn't make any sense to push the vendor to test it on our RI/RC as we know the result from now that all vendor will achieve line rate throughput on SRIOV NICs

[2019-11-19 20:26] rabi-abdel commented on #652
@markshostak sorry, I just realised Ch05 is RM Core not RM OPs.

[2019-11-19 20:28] rabi-abdel commented on #652
what CNTT is against is SR-IOV Pass Through. it is OK for NFVI to enumerate SR-IOV but not to pass SR-IOV VF to workload bypassing the hypervisor because that will defeat the whole point.

[2019-11-20 07:19] xavier-grall commented on #652
I guess sriov issue is about nic-specific driver (and not only virtio) which must be implemented in vnfc, thus loosing the hardware abstraction, and that seems a quite relevant reason.
Consequently, for providing vnfc with high throughput and/or low latency, only 2 solutions are currently available: dpdk and virtio-compliant smartnic.
What should we consider for a first step ? dpdk vswitch only (v

[2019-11-20 11:09] #569 closed

[2019-11-20 12:49] rrajesh70 commented on #406
Intel PODs 10 and 15 are allocated for CNTT. UNH and Spirent are also target for building and operating CNTT Community Labs. The RI Labs documentation will be updated with the details

[2019-11-20 12:50] rrajesh70 commented on #405
Being worked. Content will be available for review week of 11/25

[2019-11-20 13:32] ashokkumarprajapati commented on #418
@rabi-abdel : Can you explain a bit how it would be different then #415 .

[2019-11-20 13:37] markshostak commented on #590
UNH has proposed the following configuration for the UNH IOL LaaS lab for 2019 procurement. This is an agenda item for the RM call, as CNTT needs to be aligned in time for UNH to take delivery of this h/w in 2019.
Each server shall meet the following minimum specifications:

**CPU:**
- 2x CPU sockets, providing 24 cores each, at 2.2 GHz

**Memory:**
- 512 GB RAM

**Storage:**
  - 3.2 TB SSD via SA

[2019-11-20 16:21] markshostak commented on #652
@rabi-abdel, @ASawwaf, all,
I think we need to clarify what we're debating, so, two points:

1) Reminder: Please be sure to include your rationale when asserting you believe something should be in or out or this or that. That way we are all debating the same explicit concerns/merits, and not the issue we _think_ everyone is else is debating.

2) Is "SR-IOV Pass Through" a PCI-SIG standard? AFAIK,

[2019-11-20 16:30] TFredberg commented on #590
In regards to the RM part of the conversation on 590 I have a couple of comments to former posts:

@rabi-abdel

- RM should only specify the abstracted models and be technology agnostic
  - that RA and RI shall include the further detailing of
  - that VNFs should be able to state their minimum requirements (Objectives) towards any minimum requirements on actual HW and then it should be left for t

[2019-11-20 17:07] xavier-grall commented on #652
@markshostak
The discussion is now in PR #653
SR-IOV is a PCI-SIG specification enabling to share a single PCI device as multiple virtual PCI devices named Virtual Functions (VFs).
PCI passthrough is a way for providing a VM with direct access to a PCI device without passing by the hypervisor, it can be a physical PCI device or a virtual PCI device (ie a SR-IOV VF).
The discussion is about PCI pas

[2019-11-20 19:27] CsatariGergely commented on #592
This "many others" what we should close down in this definition.

[2019-11-20 20:00] mf4716 commented on #594
Adding @arunkandappan , additional team member to assist with the creation writing of Introduction content for RC1 Ch01.

[2019-11-20 20:45] ASawwaf commented on #592
I can list what I know :)

-Platform Quality of Service (PQOS)
-Advanced Encryption Standard New Instructions (AES-NI)
- VT-d
-Memory Huge-pages
-CPU Frequency scaling/Turbo
-NUMA awareness
-Cache QoS
-Intel Data Direct I/O (DDIO)
-Data Protection Technology (with Advanced Encryption Standard New Instructions) [AES-NI]
- Platform Protection Technology (with Trusted Execution Technology [TXT])
-SR-

[2019-11-20 22:05] hdamker commented on #592
Hi,

I just want to remind why we are doing all this CNTT exercise: to reduce the complexity of onboarding VNFs/CNFs (here CNFs) on a common NFVI.

Especially to avoid the painpoint that VNF vendors (driven by the PNF history of the software) impose complex, arbitrary combination of capabilities on operator NFVI, fragmenting an operator infrastructure into silos.

We have defined profiles within t

[2019-11-20 22:13] hdamker commented on #592
@ASawwaf: As a consequence of my last comment I propose to rename the issue into a discussion about the requirement "| `req.kcm.03` | General | The Architecture **must** support scheduling of workloads based on Enhanced Platform Awareness (EPA) features such as CPU Pinning, huge-pages and SR-IOV. |" not about a definition of EPA.

My position is that we should not have this requirement but instead

[2019-11-20 22:15] tomkivlin commented on #592
@hdamker see #609 - that is exactly what that issue should result in.

[2019-11-20 22:17] tomkivlin commented on #592
Personally, I don't know enough about EPA to say whether your definition is complete @ASawwaf. I would suggest however, that we need an authoritative reference point - i.e. for all the other terminology we've added to the glossary, we referenced the Kubernetes glossary.  Is there is a similarly authoritative reference we can use for EPA?  If not, then I worry about including it all, especially if

[2019-11-20 22:22] hdamker commented on #592
Ohh, haven't seen that. And for this issue here a description would have helped to avoid misunderstanding - I thought it was about the requirement, Also labeling should be changed as it is not about RA 2, but about Glossary (part of RM I suppose).

[2019-11-20 22:23] tomkivlin commented on #592
excellent point - I will update!

[2019-11-20 22:25] hdamker commented on #592
Ok, then on the right topic: the proposal in https://github.com/cntt-n/CNTT/issues/592#issuecomment-555689269 reads for me like a marketing text, not a definition

[2019-11-20 22:39] tomkivlin commented on #600
@peterwoerndle thanks for starting this. In general I like the way you're taking this. And definitely support your simplifying the diagram! 👍

[2019-11-20 23:44] collivier opened #659 "[RA1 Ch05] Improve Compute API section"
We should add a few details in the current Nova API section:
  - the minimal microversion
  - the mandatory features

[2019-11-21 03:11] kedmison commented on #649
Completely agree with @msidana in that the initial requirement text was too broad, and we just couldn't actually list all the relevant national/regional standards.  What I had thought we might be able to do was to find a few relevant standards that are already written (not business-sector-based like PCI DSS, but perhaps something already exists, rather than creating, in effect, a new security stan

[2019-11-21 03:33] kedmison commented on #590
@TFredberg wrote:

The challenge with this is that benchmarks like specINT and specFP are generally collections of tests that are executed, each with their own result, and that a single number is often being used to try to simplify the view of these different performance results.  This chart, https://images.anandtech.com/doci/15009/Tremont%20-%20Stephen%20Robinson%20-%20Linley%20-%20Final-page-012

[2019-11-21 06:20] ASawwaf commented on #592
@tomkivlin , all of them from Intel and we used/Utilized some of them in our deployment, that why i tag @petorre @trevgc for their support to confirm  ( and i can share the references )

[2019-11-21 09:30] petorre commented on #592
For sure we should not refer to one "EPA" but rather be very specific of which functionality. Term "EPA" was never supposed to be a strict definition, but rather umbrella term introduced years back to describe various (mostly incremental, not all as some existed before Virtualization came to x86) features needed for deterministic placement of dataplane workloads.

This is applicable beyond RA2 so

[2019-11-21 09:50] ASawwaf opened #663 "[RM Ch 9] OM&A requirements"
@kedmison @trevgc , Gents as per our RM call, we need your support to define the requirements of
OAM , Assurnace part of NFVi in terms of FM , Logging , Config mgt

[2019-11-21 11:36] #623 closed

[2019-11-21 11:41] ulikleber opened #664 "[RM Glossary] Fix some container related definitions"
Fix the following definitions based on comments to #595 by @pgoyal01:

- **Cloud native Network Function (CNF)**: The last two sentences reference "containers" but container is not previously mentioned. "... run on an application orchestration layer ..." -- do we need "application"?
Typo, last sentence, capitalize "t" in "the containers themselves ... "

- **Container**: OCI defines Conatiner as "

[2019-11-21 12:22] TFredberg commented on #590
I agree to that SpecINT and other benchmarks are not 100% accurate, and welcome if someone knows about more representative abstracted ways for a set of applications (VNFs).

The core speed is not very accurate either specifically if the core architecture (generation) is not given. It is counterproductive for cloud deployment where HW/SW decoupling is important, to have to match an application into

[2019-11-21 12:28] rabi-abdel commented on #664
@ulikleber since The glossary file doesn't practically belong to any WS, I have assigned it to you. feel free to go ahead and prepare PR proposing the changes you would like to make.

[2019-11-21 12:30] rabi-abdel commented on #663
@ASawwaf I suggest you go ahead and create a PR for it to start the content creation. the discussion can be moved to the PR which makes it simpler to merge after the discussion is concluded.

[2019-11-21 12:36] rabi-abdel commented on #652
@kagreenwell great question. here are few points:
- CNTT is not opposing to SR-IOV as a technology. it is opposing to expose hardware details (via Pass-Through) into workloads which will break the abstraction.
- Performance can be achieved by:
    - SmartNICs (by leveraging SR-IOV but still exposing virtio interfaces into workloads).
    - OVS DPDK in the host.
    - any other mechanism that doesn

[2019-11-21 12:46] msidana opened #666 "[RA-1 Core] Clear definition of tenant(wrt multi-tenancy) and OpenStack tenant/project"
In RM, the term tenant is being used in [this](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter03.md#3.2.1) section. This becomes confusing when referring to OpenStack as there is a mixture of usage - tenant and project.
We should have a clear definition of tenant as CNTT tenant that refers to multi-tenancy and the usage of project should be encouraged when referring to Op

[2019-11-21 14:02] pgoyal01 commented on #666
@msidana IMHO, the definition holds even with containers on bare metal, the objects Pods, containers etc. are abstractions. Even a kubernetes node is an object and a representation of a physical server.

[2019-11-21 14:11] deebhatia commented on #666
@pgoyal01 The query is raised here due to mix up in Openstack tenant and CNTT tenant terminology in Ch03. We will be using Pike and Keystone V3, which uses the `project` terminology instead of `tenant`. Since v2 is not to be included, tenant terminology usage referring to OpenStack tenants should refer to OpenStack projects instead.
**For example**: [here](https://github.com/cntt-n/CNTT/blob/maste

[2019-11-21 15:36] tomkivlin commented on #666
As with other terms, I prefer to have an authoritative reference to use, rather than spending cycles wordsmithing a definition ourselves.  The [ITU](file:///Users/kivlint/Downloads/T-REC-Y.3500-201408-I!!PDF-E.pdf) uses the following definitions, would they suffice for the RM and both RAs?

Alternatively, the [ETSI NFV definition](https://www.etsi.org/deliver/etsi_gs/NFV/001_099/003/01.04.01_60/gs

[2019-11-21 15:51] msidana commented on #666
@tomkivlin +1 for ITU definition(as it will give am independent perspective to CNTT docs without any other assumption) with a strong emphasis that the term "tenant" should not be used anywhere when referring to keystone and the term "tenant" not to be used/mixed while talking about OpenStack. For Openstack we can specify that tenant(ITU) translates into a project(keystone v3).

[2019-11-21 15:53] tomkivlin commented on #666
Yes agree, the note from the ETSI version could be useful even if we use the ITU one.

[2019-11-21 15:57] mf4716 commented on #666
@tomkivlin - +1 also for ITU definitions as well, straight forward, with clear identification of shared infra/software, but also isolation between tenants across these resources, without directly associating MANO needs, or capabilities.   In favor of the ITU def.

[2019-11-21 16:00] pgoyal01 commented on #666
@tomkivlin @msidana the ETSI definition broadens the ITU definition to more then "cloud users" and can be uesful. If going with ETSI, then

**multi-tenancy**: feature where physical, virtual or service resources are allocated in such a way that multiple tenants and their computations and data are isolated from and inaccessible by each another
NOTE: This definition has been specialized from the ter

[2019-11-21 17:44] tomkivlin commented on #666
@pgoyal01 I see the ETSI definition of **tenant** constraining it to MANO users, rather than broadening it.  However, I do like the ETSI definition of **multi-tenancy**.

If I had to vote now, I would go ETSI for **multi-tenancy** and ITU for **tenant**.

[2019-11-21 18:44] collivier opened #673 "[RI 1 Dev] Port StorPerf testcases to Xtesting"
Xtesting allows a smooth integration of sparsed testcases and ease building CI/CD toolchains via an Ansible role.
http://testresults.opnfv.org/functest/stockholm/

Here leveraging on Xtesting will ease building CI/CD toolchains in few commands mixing Functest and StorPerf-based testcases. It also simplifies any validation process as it avoids extra logics per test frameworks (jenkins job templates

[2019-11-21 21:02] ASawwaf commented on #663
@rabi-abdel , sure , I did it
Update chapter09.md #674

i hope it is the right way to create PR :)

[2019-11-22 00:53] CsatariGergely opened #676 "[RA2 Ch3]: Container Networking Services"
Add content to Container Networking Services chapter of Ch3

[2019-11-22 01:26] deebhatia commented on #666
+1 for ETSI for **multi-tenancy** and ITU for **tenant**.

[2019-11-22 02:35] msidana commented on #666
This sounds good. @tomkivlin @pgoyal01  If we are able to build a concensus on it, then we may create issues on GitHub to introduce fixes across all documents - RA, RM etc wherever these definitions are being used.

[2019-11-22 10:11] #364 closed

[2019-11-22 10:44] rabi-abdel opened #678 "[RM Appendix-A] [Clarifying Transitional Plan for VNF Design]"
As per comments made on  https://github.com/cntt-n/CNTT/pull/653 to include @xavier-grall concern regarding SR-IOV.

[2019-11-22 13:25] rabi-abdel opened #680 "[Gov Ch08] Recruiting, Engagement, & Adoption"
**Scope**
Recruit operators & suppliers  to bring diverse perspective and contributions into the community
Drive membership engagement activities to address community resource demands
Engage industry leaders with Common NFVI value proposition to drive adoption rate
Drive adoption roadmap with VNF Vendors

[2019-11-22 17:36] pgoyal01 commented on #666
@tomkivlin ETSI considers VIM as part of MANO. I am OK with the ITU definition but maybe we can define "cloud user" (include applications as users also).

[2019-11-22 17:57] pgoyal01 opened #682 "[RM Ch05] Consistency between Figure 5-1 and Figure 5-3"
Figures [5-1](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/figures/ch05_nfvi_layers_sw_profile.PNG) and [5-3](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/figures/RM_chap5_fig_5_3_SW_profile.png) both refer to "NFVI Software Profile" but differently.

[2019-11-22 22:10] tomkivlin commented on #666
Aye, but what about a k8s control plane?

Yes, agreed that would be a good idea.

[2019-11-22 22:31] pgoyal01 commented on #356
Suggest we close this issue (no activity for more than 15 days). New issues opened by topic area for RA-1 Ch03 and will also be done for RA-1 Ch04.

[2019-11-22 22:31] #356 closed

[2019-11-22 22:33] pgoyal01 commented on #339
Can we classify this as a RA-1 Ch02 issue. At this time the requirements traceability has been removed form RA-1 Chapters 3 and 4; will be completed later once content is stabilised.

[2019-11-23 01:01] pgoyal01 opened #684 "[RA-1 Ch04] Underlying Resources - currently only placeholder content"
[RA-1 Ch04] Underlying Resources - currently only placeholder content

Need too add more details in all of the subsections of 4.2. Underlying Resources:
    4.2.1 Virtualisation
    4.2.2 Compute
    4.2.3 Network Fabric
    4.2.4 Storage Backend

[2019-11-23 01:04] pgoyal01 opened #685 "[RA-1 Ch04] VIM - Build Parameters: Need content"
[RA-1 Ch04] VIM - Build Parameters: content could be provided by OpenStack Distributors with clear delineation of any parameter specs that are vendor specific.

[2019-11-23 01:06] pgoyal01 opened #686 "[RA-1 Ch04] Support for Profiles and T-shirt instance types"
[RA-1 Ch004] Support for Profiles and T-shirt instance types: content needed on how these instance types will be supported by the Architecture

[2019-11-23 01:10] pgoyal01 opened #687 "[RA-1 All] Requirements Traceability RA-1 Ch02 from content in all RA-1 Chapters"
[RA-1 Ch04] Architectural Drivers – Requirements Traceability table including reference to section that meets the requirements (RM and RA-1 CH02)

[2019-11-24 10:21] ASawwaf commented on #592
@petorre , I agreed with you on the above, we have 2 points :
1- RM EPA definition, and I am ok with the above definition ( @petorre if it the final )
2- For Sepefic RA/RI , let us group some of EPA features under profiles

@rabi-abdel @hdamker @tomkivlin R u ok in this approach to move forward?

[2019-11-24 17:50] hdamker commented on #592
@ASawwaf I'm ok with the approach.

But please note that Chapter 4 of RM already defines "performance optimization capabilities" (see Table 4-2: Exposed Performance Optimisation Capabilities of NFVI) and maps them under the profiles (see Table Table 4-24: Mapping of NFVI Capabilities to Instance Types). I don't think the mapping there is already complete and perfect, but we should not start over i

[2019-11-24 19:34] ASawwaf commented on #592
@hdamker , Totally agree, let work to close this issue this week

and afterwards, let have a new issue cover RM-Chapter 4 to reflect it @markshostak

@rabi-abdel @hdamker @tomkivlin @petorre we need to close this issue this week

[2019-11-25 12:08] iangardner22 commented on #666
+1 @tomkivlin

So long as we have a clear 1:1 mapping for what this translates to in keystone (i.e. project) I see no problem.

[2019-11-25 12:23] #647 closed

[2019-11-25 12:27] #412 closed

[2019-11-25 12:28] #659 closed

[2019-11-25 12:36] msidana commented on #636
@pgoyal01 : I'd be happy to work on this.

[2019-11-25 12:37] msidana commented on #632
@pgoyal01 I'd be happy to work on this.

[2019-11-25 17:20] pgoyal01 commented on #367
[RA-1 Ch04] Content PR #683 merged

[2019-11-25 17:20] #367 closed

[2019-11-25 17:21] pgoyal01 commented on #323
[RA-1 CH03] Initial Content PR #628 merged

[2019-11-25 17:21] #323 closed

[2019-11-25 23:49] mf4716 commented on #594
PR has been issued - https://github.com/cntt-n/CNTT/pull/658.

Pending reviews/approvals.

This is initial content and work in progress.  Includes, but not limited to the following Ch 1 sections, with progress being made on some;

- Synopsis
- Introduction
- Principles & Guidelines
- Goals & Objectives
- Best Practices
- Verification methodologies
- Assumptions & Dependencies
- Results Collation &

[2019-11-26 00:04] mf4716 commented on #410
@msidana @collivier - please review/recommend changes to this proposed chapter outline.  I'll create a PR Tuesday with any input you provide.

- Methodology
- Certification Strategy & Vehicle
- Profiles Reference
- Compliance, Verification, and Certification
- Entry & Exit Criteria
- Frameworks: e.g. Functest (StorePerf, SampleVNF, others?)

[2019-11-26 00:06] mf4716 commented on #411
@deebhatia @gkunz  - please review/recommend changes to this proposed chapter outline.  I'll create a PR Tuesday with any input you provide.

- Assumptions:  Automatable, Integrated with CICD tool chain
- Type of requirement:  Bare metal, API, etc
- Table showing Profile Catalog
- Identify SW Reference
- Identify HW Reference
- Options Available / Configured
- Extensions Available / Configured

[2019-11-26 00:17] mf4716 commented on #413
@mkr1481 @collivier @sparayil - please see the following for a chapter outline.  Please review and recommend changes.  I will create a PR Tuesday and ask for your help to write these sections.

- Methodology
- Introduction of Golden VNFs &/or Prototype VNFs
- Certification Strategy & Vehicle
- Profiles Reference
- Compliance, Verification, and Certification process
- Entry & Exit Criteria
- Framew

[2019-11-26 00:19] mf4716 commented on #414
@fuqiao123 @yangyanyj @mkr1481 @sparayil - please see the following for a chapter outline.  Please review and recommend changes.  I will create a PR Tuesday and ask for your help to write these sections.

- Assumptions:  Automatable, Integrated with CICD tool chain
- Developer Deliverables (artifacts)
- Type of requirement:  Bare metal, API, etc
- Type of Interactions: Extended Topology, Complex (

[2019-11-26 00:20] mf4716 commented on #415
@rrajesh70 @mkr1481 @yangyanyj - please review proposed chapter outline.  Please recommend changes.  I will generate a PR Tuesday based on your inputs.  Your assistance will be needed in writing the material.

- Define RM/RA-1 Openstack requirements
- Map Framework to Requirements

[2019-11-26 00:24] mf4716 commented on #421
@collivier @mkr1481 @opensource-tnbt @yangyanyj - please review proposed chapter outline. Please recommend changes. I will generate a PR Tuesday based on your inputs. Your assistance will be needed in writing the material.

- Identify Framework Needs, Goals, and Dependencies
- Define Opensource Integration (OPNFV, OVP, Functest, CVC, others)
- Provide Automation Tool chain (list, topology, flow)

[2019-11-26 00:24] mf4716 commented on #420
@collivier @mkr1481 @opensource-tnbt @yangyanyj - please review proposed chapter outline. Please recommend changes. I will generate a PR Tuesday based on your inputs. Your assistance will be needed in writing the material.

- Identify Framework Needs, Goals, and Dependencies
- Define Opensource Integration (OPNFV, OVP, Functest, CVC, others)
- Provide Automation Tool chain (list, topology, flow)

[2019-11-26 00:24] mf4716 commented on #417
@collivier @mkr1481 @opensource-tnbt @yangyanyj - please review proposed chapter outline. Please recommend changes. I will generate a PR Tuesday based on your inputs. Your assistance will be needed in writing the material.

- Identify Framework Needs, Goals, and Dependencies
- Define Opensource Integration (OPNFV, OVP, Functest, CVC, others)
- Provide Automation Tool chain (list, topology, flow)

[2019-11-26 00:24] mf4716 commented on #416
@collivier @mkr1481 @opensource-tnbt @yangyanyj - please review proposed chapter outline. Please recommend changes. I will generate a PR Tuesday based on your inputs. Your assistance will be needed in writing the material.

- Identify Framework Needs, Goals, and Dependencies
- Define Opensource Integration (OPNFV, OVP, Functest, CVC, others)
- Provide Automation Tool chain (list, topology, flow)

[2019-11-26 00:26] mf4716 commented on #418
@collivier - please review recommend chapter outline.  Please provide feedback for changes.  I will create a PR Tuesday based on your inputs.  Your help will be needed to create the documentation.

- Define RM/RA-1 Openstack requirements
- Map Framework to Requirements

[2019-11-26 00:32] mf4716 commented on #422
@collivier @sparayil @jiaqiang-cmcc - please review this recommended chapter outline.  Please provide your feedback for what needs to be added/removed.  I'll create a PR Tuesday based on your inputs.

- Define RM/RA-1 Openstack requirements
- Map Framework to Requirements

[2019-11-26 00:34] mf4716 commented on #419
@collivier @mkr1481 @sparayil - please review this recommended chapter outline.  Please provide your feedback for what needs to be added/removed.  I'll create a PR Tuesday based on your inputs.

- Test Case Gaps (analysis)
- Automation Gaps
- Open Stack release Comparisons (Ocata, Pike, Queens, Stein, etc)

[2019-11-26 00:34] mf4716 commented on #423
@collivier @mkr1481 @sparayil - please review this recommended chapter outline.  Please provide your feedback for what needs to be added/removed.  I'll create a PR Tuesday based on your inputs.

- Test Case Gaps (analysis)
- Automation Gaps
- Open Stack release Comparisons (Ocata, Pike, Queens, Stein, etc)

[2019-11-26 06:55] trevgc commented on #590
Not only one value but one workload or method may not be enough. We might consider various "performance profiles" using different benchmarks. e.g. a candidate for network intensive is ETSI GS NFV-TST 009 - "Specification of Networking Benchmarks and Measurement Methods for NFVI" https://www.etsi.org/deliver/etsi_gs/NFV-TST/001_099/009/03.02.01_60/gs_nfv-tst009v030201p.pdf We are working on a PoC t

[2019-11-26 12:52] rabi-abdel commented on #666
@msidana is PR: #662 trying to Fix this issue? I suggest do the change you propose here into there as well. so we don't have to go back and forth in terms of issues creation. I suggest @msidana to introduce the changes proposed/agreed on directly on #662

[2019-11-26 13:09] rabi-abdel commented on #663
@ASawwaf yes indeed. i just added a line to the PR "Fixes #663" which will automatically close this issue once merged.

[2019-11-26 13:11] collivier opened #694 "[RI 1 Dev] Enhance Functest SUT to cover Ceph"
Functest SUTs need to be compliant with CNTT API section.
They have to switched to ceph as backend and conforms with all features recently added in nova section.

[2019-11-26 13:12] rabi-abdel commented on #593
It seems to me this should be closed. @mf4716 feel free to close as I see the PR it refers to has been merged.

[2019-11-26 13:13] collivier commented on #694
Done. The Hunter POD is now compliant with CNTT API.
Here is the full sucess after switching to ceph.
https://build.opnfv.org/ci/view/functest/job/functest-hunter-daily/322/

@pgoyal01 @karinesevilla @rabi-abdel @rabiabdel @mf4716 @fuqiao123

[2019-11-26 13:13] #694 closed

[2019-11-26 13:20] collivier opened #695 "[RC 1 Dev] Add rally_sanity and tempest_full in CNTT API Compliance"
Since the merge of Glance and Nova API updates, all capabilities are now well described and allow setting tempest_full test list.
https://github.com/cntt-n/CNTT/pull/660
https://github.com/cntt-n/CNTT/pull/648

[2019-11-26 13:21] collivier commented on #695
CC: @karinesevilla @pgoyal01 @rabiabdel @rabi-abdel @mf4716 @fuqiao123

[2019-11-26 13:22] rabi-abdel commented on #592
That is ok for me @ASawwaf.

[2019-11-26 13:26] msidana commented on #666
@rabi-abdel
Since #662 belongs to RA1, I have used the term project (v3) and also stated a difference between tenant and project w.r.t OpenStack.
I have used it in an unambiguous way in #662 so it doesn't introduces any issues.
Fixing for https://github.com/cntt-n/CNTT/issues/666 will require changes in RM and we might need to revisit Chapter 3 RA1 (already merged section)

[2019-11-26 13:27] msidana commented on #666
@rabi-abdel
Since #662 belongs to RA1, I have used the term project (v3) and also stated a difference between tenant and project w.r.t OpenStack.
I have used it in an unambiguous way in #662 so it doesn't introduces any issues.
Fixing for https://github.com/cntt-n/CNTT/issues/666 will require changes in RM and we might need to revisit Chapter 3 RA1 (already merged section)

[2019-11-26 13:32] rabi-abdel commented on #559
@markshostak is it possible please to identify individual to create a PR for the modification needed to Chapter 3? I suggest either @BernardTsai-DT or @tomkivlin to have a stab at this and create a PR for it.

[2019-11-26 14:38] mf4716 commented on #593
Yes, confirmed with @collivier  that we can closed @rabi-abdel .  Closing.

[2019-11-26 14:38] #593 closed

[2019-11-26 15:05] mf4716 commented on #694
Great work Cedric @collivier !

Please be sure to include this information in the appropriate RI CNTT documentation.

For convenience, here are the RC1 Dev scope and chapters:

**Scope**
- Covers installers, automation, etc.
- Integration of installers and components.
- Gap analysis with required actions for existing eco-system within LFN/OPNFV community projects

**Chapters**
- Ch07: Integration

[2019-11-26 15:34] rrajesh70 commented on #511
Cedric & Sridhar, It is my understanding that xTesting is a thin layer/framework that integrates with CI/CD pipelines and can execute OPNFV tests from multiple projects, example Yardstick, FuncTest and VSPERF.
Logic contained in xTesting will detect a) any VNF code changes, b) any NFVI/platform code changes, c) any changes to the test scripts or any new test cases added to the OPNFV projects. Upon

[2019-11-26 16:10] hdamker commented on #592
@ASawwaf: Is there already a pull request for this issue which we can review?

[2019-11-26 16:14] hdamker commented on #603
@tomkivlin: from my perspective this requirement is not needed (as it describes the internal implementation).  Therefore my proposal would be to fix it by deleting the (commented) requirement from chapter 02.

[2019-11-26 16:15] iangardner22 commented on #686
So @rabi-abdel we have

**Basic** - suggest kernel OVS, over-committed vCPU:pCPU, 1:1 RAM?  Do we have multiple sizes within this?
**Compute Intensive** (for MVP I assume we don't need anything more than a specific vCPU / VRAM specfication)
**Network Intensive**  (we aim for DPDK but I know @pgoyal01 proposed we also do SR-IOV)

I suggest we show how using host aggregates, DPDK aware OVS and sched

[2019-11-26 16:25] #428 closed

[2019-11-26 17:00] collivier commented on #695
Done:
https://gerrit.opnfv.org/gerrit/q/Ib4678cb9e9fc37b16fcf21d8418931eae0f667d0

[2019-11-26 17:00] #695 closed

[2019-11-26 17:02] collivier opened #696 "[RC 1 Dev] Add tempest_slow and tempest_scenario in CNTT API Compliance"

[2019-11-26 18:03] petorre commented on #592
Yes, can be final text for this issue, and if needed discuss more and change in PR.

[2019-11-26 19:21] deebhatia commented on #411
@mf4716 I don't think I fully understand what we want to target in this chapter. Generic test case selection requirements are already part of [RM  § 8.2.4](https://cntt-n.github.io/CNTT/doc/ref_model/chapters/chapter08.html#8.2.4). RA1 requirements are getting traced in [RC § 4.3](https://cntt-n.github.io/CNTT/doc/ref_cert/lfn/chapters/chapter04.html#4.3). Is this about everything else which is no

[2019-11-26 19:51] mf4716 commented on #411
hi @deebhatia -  you're correct, in that we include generic criteria in RM Ch 8 which must be met for any Compliance program.  For RI1-Ch3, this is about documenting what requirements are needed for NFVI certification Openstack specifically, what assumptions we have about the environment, Openstack, automation, tool chaining, and also profile and HW/SW options and extensions.  More specifically, w

[2019-11-26 20:00] #696 closed

[2019-11-26 20:03] trevgc commented on #592
For the glossary we may want to include Hardware Platform Awareness (HPA) defined by ONAP in conjunction with ETSI. There have been been questions about this in CNTT and likely will come up more so we need a good explanation.

https://wiki.onap.org/display/DW/Hardware+Platform+Enablement+In+ONAP
https://nfvwiki.etsi.org/index.php?title=Hardware_Platform_Capability_Registry
"... enablement of hardw

[2019-11-26 20:05] trevgc commented on #592
This is a good Intel reference source for EPA in Kubernetes and OpenStack
https://networkbuilders.intel.com/network-technologies/enhancedplatformawareness

[2019-11-26 20:43] ASawwaf commented on #592
@hdamker , I will create it and put the agreed definition over their

[2019-11-26 21:02] ASawwaf commented on #592
@hdamker , I created it , Enhanced Platform Awareness" (EPA) definition
#699

[2019-11-26 22:43] ASawwaf commented on #686
@iangardner22 , for SRIOV , please refer to #653

Agree with Basic profile ,

CI : either OVS or OVS+DPDK

NI : I will go with OVS+DPDK

[2019-11-27 02:35] kedmison commented on #652
At the present time, I do not concur with the removal of SR-IOV.  From what I can see, it is a commonly used technology, and I don't know enough about the proposed alternative technologies to know if they are completely capable of filling the gap.  Thus, I think that VNF vendors should be able to weigh in on this.  I'll also comment in pr #653.

[2019-11-27 03:57] markshostak commented on #521
Bonjour Karine, Didn't realize you were waiting on me. Happy to have your PR. Thx, -Mark

[2019-11-27 03:59] markshostak commented on #442
@CsatariGergely Hi Gergerly, I haven't seen any further questions from you, so I'm closing this issue. Ping me if you want to discuss further. Thanks, -Mark

[2019-11-27 03:59] #442 closed

[2019-11-27 04:03] markshostak commented on #385
Fixed by merged PR referenced above - closing. -M

[2019-11-27 04:03] #385 closed

[2019-11-27 04:11] markshostak commented on #382
Fixed by PR #711. This is a mechanical change, so closing issue at this time. -M

[2019-11-27 04:11] #382 closed

[2019-11-27 04:15] markshostak commented on #559
@tomkivlin Hi Tom, By all means... Thx, -Mark

[2019-11-27 04:24] markshostak commented on #588
@ASawwaf @rabi-abdel Do you guys have any concerns if make the storage extension size, parametric as Kelvin proposed? Specifically, any impact on CNTT strategy/objectives.

@kedmison, I like your idea regarding constraining the maximum size by Instance Type, or at the very least, a maximum for all ITs. It's currently 300GB. Is that sufficient in your estimation?

Thx, -Mark

[2019-11-27 04:40] markshostak commented on #587
@kedmison Table 4-17 is still a pallet. Do you think it should be parametric?

Sounds good. Can you give an example of what you're envisioning?

The traffic passing through a vNIC is isolated from other traffic on the physical NIC, so technically traffic at the vNIC level can be shaped/policed. I don't have data on how often this is done in practice, but it can be done if there is a rationale for

[2019-11-27 04:56] markshostak commented on #652
There's a business factor here, it's not purely technical. Assuming the above alternatives give us comparable performance, we also need to be sure to factor the following into our calculus:

* The comparative cost of the alternative solutions for the same performance
* Potential impact on CNTT adoption, if we summarily dismiss SRIOV

I'm still not seeing a cost-neutral alternative to the transitio

[2019-11-27 04:58] markshostak commented on #664
@ulikleber Hi, Did you want to create a PR for this one? Thanks, -Mark

[2019-11-27 05:59] markshostak commented on #682
Fixed by PR #712, pending review.

[2019-11-27 06:03] markshostak commented on #678
Xavier, You've done a lot of work on this, so I'm thinking you can reuse it here. If you like, I can tag team this one with you. Just let me know. Thanks, -Mark

[2019-11-27 06:15] ASawwaf commented on #588
@kedmison @markshostak , agreed

[2019-11-27 10:09] tomkivlin opened #713 "[RA2 Chapter02] Add RM traceability matrix"
Affected section: https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter02.md#2.2

[2019-11-27 14:44] ulikleber commented on #664
Will work on it. Just now travelling.

[2019-11-27 16:20] #402 closed

[2019-11-27 18:31] TFredberg commented on #590
@trevgc
This form of benchmark tests seems to be on the right path for compute and communication HW services, but they are in these specifications expressed as complete NVFi benchmarks with the VM or Container hosts included in the DUT/SUT.

What we are after here would more be that the set of different "benchmark application" also include the behavior and needs of the SW virtualization layer and

[2019-11-27 19:08] pgoyal01 opened #716 "[RM Ch 3] Update Section 3.3 NFVI Management Software"
[RM Ch 3] Update Section 3.3 NFVI Management Software to be consistent with changes made by @tomkivlin in PR #715 to RM 3.1.

[2019-11-27 19:11] pgoyal01 opened #717 "[RA-1 Ch03] Update Section 3.3 NFVI Management Software (VIM)"
[RA-1 Ch 3] Update Section 3.3 NFVI Management Software (VIM) to be consistent with changes made by @tomkivlin in PR #715 to RM 3.1. Suggest renaming RA-1 3.3 to just VIM.

[2019-11-27 19:12] pgoyal01 opened #718 "[RA-1 Ch04] Update Section 4.3 NFVI Management Software (VIM)"
[RA-1 Ch 4] Update Section 4.3 NFVI Management Software (VIM) to be consistent with changes made by @tomkivlin in PR #715 to RM 3.1. Suggest renaming RA-1 4.3 to just VIM.

[2019-11-27 19:13] pgoyal01 commented on #559
The change made by @tomkivlin necessitates a change in RM 3.3 NFVI Management Software, and also in RA-1 Chapters 3 and 4. I opened 3 issues( #716 , #717 and #718) for the same.

[2019-11-27 19:21] tomkivlin commented on #559
@pgoyal01 ah, I was trying to align what I'd done in #715 to the description in RM 3.3, so if I've not done that, I perhaps need to update my PR rather than progressing #716. What do you see as the difference between the wording in #715 and RM 3.3?

[2019-11-27 19:39] pgoyal01 commented on #559
@tomkivlin I think the section RM 3.3 may have already been misaligned with the contents of RM 3.3.

In RA-1 Ch 3 and 4, it was as simple change from "NFVI Management Software (VIM)" to "Virtualised Infrastructure Manager (VIM)."

In case of RM 3.3 the description is not to the NFVI Management Software but to only the "Additional software is responsible for the management of logical constructs suc

[2019-11-27 20:14] tomkivlin commented on #559
@pgoyal01 I'm completely confused!

Do you mean RM 3.3 both times?? Confused otherwise.

But @BernardTsai-DT's point was that NFVI Management Software is not only the VIM but also the software components of (within) the infra that manage physical and virtual resources.

Regarding your first idea, the point is that the bullet describing the box in the diagram is the same as section 3.3, it's not th

[2019-11-28 07:37] #630 closed

[2019-11-28 09:36] hdamker commented on #592
Reopen as #699 is not yet merged and there is even a chance that it not get merged at all. Than we have to close this issue here with the correct cause.

[2019-11-28 10:32] ASawwaf commented on #592
@hdamker , thanks for opening, as I tried but I failed :)

[2019-11-28 12:17] mkr1481 commented on #413
I have started to document ch05 by using #721

[2019-11-28 12:20] mkr1481 commented on #594
Hi Rajesh,
I have approved #658

[2019-11-28 12:26] mkr1481 commented on #421
Hi Mike,
I will start document Ch 08 using PR #707

[2019-11-28 12:27] mkr1481 commented on #420
Hi Mike, I am working on this using PR #707 for aliging with ch 05 VNF Test Platform E2E. thanks

[2019-11-28 13:12] deebhatia commented on #521
@xavier-grall Yeah. then we need to define two terms. As current document is not using `logical core` definition in any of the chapters and using the SMT based wherever required, **+1** to @karinesevilla's definition.

[2019-11-28 13:31] #682 closed

[2019-11-28 15:06] #445 closed

[2019-11-28 15:24] rabiabdel opened #722 "[Technical Steering] Contribution Policy update for resolving comments on PR"
Proposal that: Comments/sub-Conversations within a PR may only be marked Resolved by A) The originator of the sub-conversation, B) the relevant WSL or C) an automated timeout of some duration (suggest 48hrs), when there has been no additional comments after an update is posted to resolve the sub-thread. In other words, the person responding to a sub-conversation shall not mark it as Resolved.

Rat

[2019-11-28 15:24] rabiabdel commented on #722
Ad discussed and agreed on TSC call on 27th Nov 2019.

[2019-11-28 15:26] rabiabdel opened #723 "[Technical Steering] Contribution Policy update for individuals commits on PRs"
Proposal to: Explicitly communicate all changes to existing PRs shall be made through subsequent commits. In other words, do not attempt to modify an existing commit, just create another one under the same PR.

Rationale: Modifying existing commits makes it impossible to create a delta, which is needed to facilitate rapid assessment of the change(s).

[2019-11-28 15:27] rabiabdel commented on #723
As discussed and agreed on during TSC call 27th Nov 2019.

[2019-11-28 23:17] pgoyal01 opened #725 "[RA-1 Ch04] 4.2.3.3. LBaaS v2 compliant Load Balancing"
[RA-1 Ch04] 4.2.3.3. LBaaS v2 compliant Load Balancing  -- LBaaS v2 is in the process of being deprecated -- replaced by Octavia.

Suggest change of Title of 4.2.3.3 to Octavia Load Balancer; and the following content:

Load balancing is needed for automatic scaling and availability.  [Octavia]( https://docs.openstack.org/octavia/latest/reference/introduction.html) is an open-source load balancer

[2019-11-29 09:10] karinesevilla commented on #521
@markshostak, @deebhatia @xavier-grall PR on going

[2019-11-29 10:08] tomkivlin opened #727 "[RM Ch5] How to deal with VM-specific terms and features?"
A question: including a reference to RM makes it look like everything described there is applicable for RA2. I'm wodering how to handle things like CPU pinning, vswitch optimization, security group support, etc. These things make sense in an OpenStack context, not so much in K8s...

_Originally posted by @TamasZsiros in https://github.com/cntt-n/CNTT/pull/677_

Other examples include "CPU Sockets"

[2019-11-29 10:17] tomkivlin commented on #727
More than happy to arrange a call with the RM Core WSLs to discuss.

[2019-11-29 10:53] #634 closed

[2019-11-29 19:52] mf4716 commented on #421
Thank you Kanagaraj @mkr1481 .

[2019-11-29 20:52] tomkivlin commented on #629
Fixed in #675

[2019-11-29 20:52] #629 closed

[2019-11-29 20:53] tomkivlin commented on #600
@peterwoerndle have you managed to create a branch and raise a PR for this?

[2019-12-01 14:50] #652 closed

[2019-12-02 07:58] tomkivlin commented on #727
Linked to #359 and associated PR #621

[2019-12-02 11:48] rabi-abdel opened #730 "[Technical Steering] Clarify CNTT position about some technologies."
There has been Manu discussion around SR-IOV, PCIe Pass-Thorugh, EPA, etc. it is becoming quite clear that we need to address those topics one and for all as they have impact on many documents.

[2019-12-02 14:03] karinesevilla opened #732 "[RA1 Ch05] Remove Ironic APIs"
As a result of the decision taken during RA #1 meeting (October 25), remove Ironic APIs,
for the  2 following reasons:
- Ironic is an optional service
- Ironic APIs are not called directly

[2019-12-02 14:32] iangardner22 commented on #725
@pgoyal01 - I think we should ask a networking person for comment.  LBaaS v2 is pretty basic and vendors such as AVI Networks (VMWare) often fill in the gaps.   Octavia is good for OVS but does it work with OVS-DPDK / VLANs?

[2019-12-02 14:33] iangardner22 commented on #725
So we need to add other options for LB...  do we need an SDN?   do we want to use an external LB and statically configure it (nasty)?

[2019-12-02 14:39] iangardner22 commented on #638
Here I see the different topologies we should recommend including the CLOS network.

So:
Single Region:
- single site, single AZ
- dual building at same site, two AZ
- edge

We should also show what is not shared between the AZs e.g. block storage

I will assign this to me

[2019-12-02 14:52] pgoyal01 opened #734 "[RA-1 Ch04] Update Ironic writeup"
Based on Issue #733, we should include a statement in [RA-1] Ch 4 - 4.3.1.7 that "Ironic is currently not invoked directly and hence its APIs will not be specified."

[2019-12-02 14:57] iangardner22 commented on #734
agree...  if we see a T-shirt size that says "Baremetal" then we review

[2019-12-02 14:57] iangardner22 commented on #734
But in the RM we don't specify this I assume?

[2019-12-02 18:42] #732 closed

[2019-12-02 19:07] #718 closed

[2019-12-02 23:53] peterwoerndle commented on #600
@tomkivlin didn't know that I should create a PR right away. Will do that asap.

[2019-12-03 02:29] CsatariGergely opened #736 "[RA2 Ch02]: Create requirements matrix"
As it was discussed in #612 RA1 should contain a matrix to show if is supports the requirements of the RM.

[2019-12-03 02:42] CsatariGergely opened #737 "[RA2 Ch02]: Fix Chapter 2 TOC"
Chapter 2 have only high level headers in the ToC. This should be fixed.

[2019-12-03 09:50] #641 closed

[2019-12-03 13:04] tomkivlin opened #739 "[RM Ch01] RM principles don't include any rationale or implication statements"
Also the tense is not consistent and some read as requirements rather than principles.

[2019-12-03 14:58] pgoyal01 opened #741 "[RM Glossary] Need definition of "Platform""
[RM Glossary] Need definition of "Platform" -- platform is used in many places and it is not always clear as to what is included in the platform.

[2019-12-03 16:13] deebhatia commented on #741
@rabi-abdel The `project-bot` is applying the `RA2 Core` project in `Backlog` automatically to all. Can you fix it? It should do a match on based on tag in title if possible.

[2019-12-03 16:25] #717 closed

[2019-12-03 20:15] pgoyal01 commented on #633
Critique?

SDN (Software Defined Networking) is a family of architectures for operationalizing networks by separating control and data plane functions where the control plane programmatically configures and controls all network data path elements via open APIs.  Open Networking Forum (ONF) defines SDN as “Software-Defined Networking (SDN) is an emerging architecture that is dynamic, manageable, co

[2019-12-03 21:38] pgoyal01 commented on #725
Change, " Octavia is an open-source load balancer for OpenStack and replaces the deprecated (as of OpenStack Queens release) Neutron LBaaS. " to " Octavia is an open-source load balancer for OpenStack, based on HAProxy, and replaces the deprecated (as of OpenStack Queens release) Neutron LBaaS. "

ADD:
The neutron-lbaas proxy plugin is used to pass load balancing requests from Neutron API to Octav

[2019-12-03 21:45] pgoyal01 commented on #734
PR #743 created.

[2019-12-04 00:10] pgoyal01 commented on #686
PR #744

[2019-12-04 11:02] markshostak opened #746 "[RM Ch-various] Form Principles Related to HW Abstraction and Exposure Thereof"
This Issue is in support of Issue #731.

Proposes principles to support cloud native workload development by stipulating h/w abstraction, and it's application to higher-level features such as PCI-PT, SRIOV and EPA.

[2019-12-04 12:02] pgoyal01 commented on #746
project-bot bot added this to Backlog in RA2 Core 1 hour ago -- should RM Core

[2019-12-04 16:54] iangardner22 commented on #725
@pgoyal01 so let me check here - are you saying Octavia is a replacement for LBaaS v2 as I thought Octavia was just an example HA proxy based LB provider which I am not sure would be very useful for NFV... I thought LBaaS v2 remained here and interfaced with the commercial LB product like AVI Networks / F5 etc.

[2019-12-04 18:23] markshostak opened #750 "[RM Ch-0xA] Create VNF Evolution Framework"
This issue creates a framework to support management of the "evolution" of the CNTT VNF operating environment. As the Infra evolves, its supporting technology will change; CNTT will want to promote adoption of newer technology and potentially deprecate or even expedite deloading of older technology.

The Evolution Framework can potentially be envisioned as a roadmap. The VNF phases, let's call the

[2019-12-04 18:35] markshostak commented on #739
@tomkivlin Hey Tom, To make the rationale and Principles consistent, do you want to have a Principle template? I'm envisioning something like:
- Title
- Body
- Scope // if applicable
- Rationale

[2019-12-04 19:17] rabi-abdel commented on #750
@markshostak I am happy to have a stab at this if you assign to me.

[2019-12-04 19:37] #734 closed

[2019-12-04 20:24] ASawwaf commented on #750
@markshostak I can support in this as well

[2019-12-04 20:39] tomkivlin commented on #739
@markshostak yes what I had in mind was:

|Ref#|Principle|Statement|Rationale|Implication|
|---|---|---|---|---|
|||||

What do you think?

[2019-12-04 20:41] tomkivlin commented on #739
@markshostak to expand, sorry should have done so. The Principle field would be the "title " and the Statement field the "body", to map to your suggestion.

[2019-12-04 22:41] pgoyal01 commented on #725
@iangardner22 LBsaS has been deprecated; the Ovtavia v2 API is backward compatible with the LBaaS v2 API.  In Octavia, the reference implementation of the amphorae image is an Ubuntu virtual machine running HAProxy; amphorae  are the virtual machines, containers, or bare metal servers that accomplish the delivery of load balancing service.

[2019-12-05 05:13] mkr1481 opened #751 "[RC-Ch05] Fix dublicate image in the rc-ch05"
scope diagram got added twice in the RC ch05, this issue is filed to fix it

[2019-12-05 09:30] rabi-abdel opened #753 "[Gov ] Draft Policy for introducing new WS"
There has been discussion around what would be the policy for introducing new work stream. this is to start creating a draft text to be reviewed.

[2019-12-05 11:01] iangardner22 commented on #725
OK thanks for this - we need to show how we can use a plug-in like an F5 / AVI Networks etc.    I don't know if the reference implementation using haproxy would be suitable for production and if it was it would presumably only be good for OVS and not OVS-DPDK or?   Where can we get some expertise to answer this?

[2019-12-05 14:56] pgoyal01 commented on #725
@iangardner22 Octavia supports provider drivers which allows third party load balancing drivers (such as F5, AVI, ...) to be integrated with the Octavia v2 API. Users select the “provider” for a load balancer at creation time.

[2019-12-05 15:13] tomkivlin commented on #400
RA2 weekly meeting 5/12/19: Needs more clarification as to whether this should be in scope of CNTT or not.

[2019-12-05 16:28] iangardner22 commented on #725
@pgoyal01 OK then as per my point about LBaaS v2 we may want to show this as a pluggable option in the RA.   Clearly we cannot favour one provider over another but may wish to call out how integration is done.   (AVI Networks -is an entirely software oriented approach compared to those provided by F5 etc. - AVI they were purchased by VMWare).      This kind of fits into the SDN topic so perhaps we

[2019-12-05 18:46] pgoyal01 commented on #725
PR #756 created

@deebhatia @iangardner22 Please review

[2019-12-05 20:55] pgoyal01 commented on #666
Created PR #758 :: [RM Glossary] Added Cloud User (ITU), Tenant (ITU; made existing a Note), and Multi-tenancy (ETSI) per discussion in Issue #666.

Need review and Fixes of content in all RM, RA-1 and RA-2 chapters to be consistent.

[2019-12-05 21:23] pgoyal01 commented on #684
Initial content exists in Section 4.2 and sub-sections 4.2.1, 4.2.2, 4.2.3 and 4.2.4. What additional content do we require?

[2019-12-05 21:28] pgoyal01 commented on #636
PR #729 opened by @msidana

[2019-12-06 04:53] msidana commented on #737
I'd be happy to work on this. Can you assign this to me ?

[2019-12-06 08:49] markshostak commented on #750
@rabi-abdel @ASawwaf @mf4716 After some time to think on it, I'd propose:
- VNF Evolution phases should be identified by a number (1, 2, 3, etc.)
- VNF Evolution phases should be directly tied to CNTT releases. In other words, phases increment explicitly with each CNTT release, as opposed to incrementing based on other criteria, such as by date (i.e. quarter, month or arbitrary date)

I'm thinking

[2019-12-06 09:41] #746 closed

[2019-12-06 13:26] markshostak opened #759 "[RM Ch-A] Codify SRIOV Compromise Language"
Language is required to effect a compromise to accommodate the transition from SR-IOV to a Cloud Native technology that offers comparable throughput at a comparable price:performance ratio.

The solution shall be built on top of the recently introduced CNTT Hardware-Dependent Coding Framework and the VNF Evolution Framework, as well as introduce minor refinements to the frameworks thereof.

[2019-12-06 14:48] #751 closed

[2019-12-06 18:05] #686 closed

[2019-12-06 23:48] mf4716 opened #761 "[RI 1 Core] CIRV Repo(s) Determination"
A request has been made to create a CIRV repo, "cirv-perftest" for the containment of artifacts, tools, etc, in support of Perf Test evaluations on POD10.

**Rationale for repo(s):**
The purpose for the repo(s) is twofold:  **First**, utilize the repo for a centralized storage of artifacts (code, tools, descriptor templates (POD, Infra, etc), topology documents, etc), which would be considered to

[2019-12-06 23:52] mf4716 commented on #761
Please review and weigh in: @markshostak , @collivier , @opensource-tnbt (Sridhar), @rrajesh70

FYI, Assignees/owners: @fuqiao123 @trevgc

My (Mike F) recommendation is in the Issue Description itself.  i.e. Yes, start with 1, call is cirv-perftest and stick to similar nomenclature in the future.  According to an offline conversation w/ Bin Hu, we understand the CIRV project is entitled to 2 repos

[2019-12-08 12:32] tomkivlin commented on #759
@markshostak should this be in the RM Core project instead of RA2 Core? Or should the labels be modified?

[2019-12-08 12:33] tomkivlin commented on #761
Hi @mf4716 does the project tag for this Issue need changing - not sure this is RA2 Core?

[2019-12-08 12:33] tomkivlin commented on #753
@rabi-abdel does the project tag need modifying on this - not sure it's RA2 Core?

[2019-12-08 12:34] tomkivlin commented on #750
@markshostak does the project tag in this need modifying - not sure it's RA2 Core?

[2019-12-08 12:36] tomkivlin commented on #741
@pgoyal01 does the project tag in this need modifying - not sure it's RA2 Core?

[2019-12-08 12:38] tomkivlin commented on #713
Duplicated by #736

[2019-12-08 12:38] #713 closed

[2019-12-08 12:54] tomkivlin opened #763 "[RA2 Ops] Test"
Automation test

[2019-12-08 12:54] #763 closed

[2019-12-08 12:54] tomkivlin opened #764 "[RA2 Ops] Test 2"
Automation test

[2019-12-08 12:58] #764 closed

[2019-12-08 12:58] tomkivlin opened #765 "[RA2 Ops] Test 3"
Automation test

[2019-12-08 12:59] #765 closed

[2019-12-08 13:00] tomkivlin opened #766 "[RA2 Ops] Test 4"
Automation test

[2019-12-08 13:00] #766 closed

[2019-12-08 13:01] tomkivlin opened #767 "[RA2 Ops] Test 5"
Automation test

[2019-12-08 13:01] #767 closed

[2019-12-08 13:01] tomkivlin opened #768 "[RA2 Ops] Test 6"
Automation test

[2019-12-08 13:02] #768 closed

[2019-12-08 13:02] tomkivlin opened #769 "[RA2 Ops] Test 7"
Automation test

[2019-12-08 13:02] #769 closed

[2019-12-08 13:04] tomkivlin opened #770 "[RA2 Ops] Test 8"

[2019-12-08 13:05] #770 closed

[2019-12-08 13:05] tomkivlin opened #771 "[RA2 Ops] Test 9"

[2019-12-08 13:06] #771 closed

[2019-12-08 13:32] markshostak commented on #750
@tomkivlin Hi Tom, Hmm, not the f/b I was hoping to for, but agreed. I've moved it manually. Maybe Funny-Bot was playing a joke on you? We need to check if there's an issue with a rule. @rabi-abdel How do we track this down? Thanks, -Mark

[2019-12-08 13:36] tomkivlin commented on #750
@markshostak ha yes sorry. More relevant feedback will appear on monday :-)

It was an issue with the rules I'd created. I can add a wiki entry if it would help, I think I've fixed it now.

[2019-12-08 14:08] markshostak commented on #759
@tomkivlin Funny-Bot is detecting a pattern... @rabi-abdel ??

[2019-12-08 20:23] pgoyal01 commented on #741
@tomkivlin Agree. Changed

[2019-12-09 00:27] mf4716 commented on #761
Corrected to RI1-Core.  Thanks @tomkivlin , for letting me know.

[2019-12-09 01:28] markshostak commented on #761
@mf4716

Can you include a rationale for the requested repo? I agree with your proposal, but we should be documenting these things, not creating them just `cause, even if we all agree it should be done.

MXS> Yes, I support creating CIRV repo(s) at this time.

MXS> Quantity should be based on defendable need. BTW, who has to approve the creation of yet another repo?

MXS> Yes, definitely.

MXS> Um

[2019-12-09 03:46] msidana opened #772 "[RA1 Ch02]: Fix Chapter 2 TOC"
Chapter 2 has only high level headers in the ToC. This needs to be fixed to include the sub-headings.

[2019-12-09 03:47] msidana commented on #772
I will create a PR to fix this.

[2019-12-09 09:00] #722 closed

[2019-12-09 09:00] #723 closed

[2019-12-09 10:15] #635 closed

[2019-12-09 10:21] iangardner22 commented on #438
@pgoyal01 seems OK to me.

[2019-12-09 10:46] #725 closed

[2019-12-09 10:47] #633 closed

[2019-12-09 13:34] deebhatia opened #774 "[RC1 Ch04] Define the test cases for exposed infrastructure capabilities"
This issue is to capture the tests the exposed infrastructure capabilities as defined in [RM §4.1.2](https://cntt-n.github.io/CNTT/doc/ref_model/chapters/chapter04.html#4.1.2).

[2019-12-09 13:37] deebhatia opened #775 "[RC1 Ch04] Define the test cases for RA 1 OpenStack Services"
This is to provide the tests for the defined Openstack Service APIs and the functionalities offered by them.

[2019-12-09 13:42] deebhatia commented on #775
@mf4716 Happy to work on this.

[2019-12-09 13:44] deebhatia commented on #418
Map the test cases to test frameworks (like functest, yardstick etc) identified in #775 and #774 .

[2019-12-09 15:35] mc2472 opened #776 "Voting Rights Conditions"
In order to obtain voting rights as a member company you should have to meet certain conditions to demonstrate active contributions in the community done both in GitHub and Confluence

[2019-12-09 16:06] karinesevilla commented on #371
Content for Chapter 5 added and already merged
PRs #374, #463, #577, #625, #627, #572, #648, #660, #733

[2019-12-09 16:06] #371 closed

[2019-12-09 18:18] pgoyal01 commented on #666
PR #758 merged.

[2019-12-09 18:18] #666 closed

[2019-12-09 21:44] mf4716 commented on #761
@markshostak - the description has been updated to include Rationale.  Regarding approval, I was informed we request approval from the OPNFV TSC, with an expectation that two(2) repos can be provided.  Additional repos, if needed, would require additional TSC review and discussion.  I'm confirming repo-name syntax (i.e. using the "." notation), and overall admin/approver.  Will revert back upon re

[2019-12-10 00:58] mf4716 commented on #375
@sukhdevkapur - can I close this issue ([375](https://github.com/cntt-n/CNTT/issues/375))?

[2019-12-10 00:59] mf4716 commented on #363
@markshostak @rrajesh70 - can we close this issue?

[2019-12-10 04:47] deebhatia opened #780 "[RC1 Ch04] Define the test cases for RA 1 OpenStack Services - Section Outline"
As defined in #775 , this issue captures the initial content and section outline for the Openstack API tests.

[2019-12-10 04:48] deebhatia commented on #775
As discussed with @mf4716, will use this as a roadmap item and add other issue to provide the related content in subparts referencing this issue.

[2019-12-10 08:55] #559 closed

[2019-12-10 12:22] markshostak commented on #378
Fixed by PR @520, which has been merged. Closing. -M

[2019-12-10 12:22] #378 closed

[2019-12-10 15:15] ulikleber commented on #776
Isn't this already covered in #679?

[2019-12-10 18:13] #387 closed

[2019-12-11 11:13] #607 closed

[2019-12-11 11:13] #606 closed

[2019-12-11 12:27] jbeltranatl commented on #750
Instead of the word "compromise" couple of words most commonly used in the software world are 'exception' (if it leads to a different outcome), or 'alternative' (if it leads to the same outcome but via a different route).

[2019-12-11 12:33] tomkivlin commented on #750
As a concept, I think we need this, glad it's happening.

I had been thinking about the wording the past few days.  I think there are a couple of concepts going on here.

First, there is the transitions, phases, generations - which word do we want to use to describe each step? I don't have a strong opinion on that.

Secondly, there is the compromise, exceptions, etc. wording - I wonder if the term

[2019-12-11 12:35] rabi-abdel commented on #759
Yes will fix that.

[2019-12-11 12:47] pgoyal01 commented on #750
@tomkivlin We would need to tweak the TOGAF labels so as not allow, for example, "implementation of features not covered by the specification." I think we are trying to restrict VNFs/CNFs to adhere to the specifications.

We have the ideal specifications and the specifications with exceptions for practical reasons. We will also have RA evolution (e.g., choosing of a new CNTT OpenStack reference re

[2019-12-11 13:56] markshostak commented on #739
@tomkivlin Hi Tom, 2 thoughts:

1) Is your intent for Implication that could cover what I called [Scope]?; basically something to indicate if the Principle's applicability is focused on a specific area (plus other uses)? What are the other uses you're thinking of?

2) I agree we need a table w/ Ref#s to normalize the Principles, but I think we still need to list some or all of them out in a bullet

[2019-12-11 14:40] tomkivlin commented on #739
@markshostak I would normally add the scope into the statement and use the implication to list the impact this principle might have on either the topic in question or guidance on how to adhere to it.

OK, understood re. list v table - I think if we're strict on the difference between Principle and Statement that may help with an easy-to-consume list as we can refer to "the <principle name> princip

[2019-12-11 14:47] tomkivlin commented on #750
@pgoyal01 yes absolutely - I hope none of us take TOGAF and adopt it verbatim :) it's there to be tweaked.

[2019-12-11 16:25] #772 closed

[2019-12-11 16:25] #737 closed

[2019-12-12 03:52] kedmison commented on #588
@markshostak wrote:

When looking a bit forward at IT and ML workloads, I would say it's not, and that we would need something on the order of 1TB as a maximum volume limit.  I am familiar with some big data (Hadoop & Spark-based) applications that had a multi-petabyte footprint, and those applications were developing plans to become cloud-native.
Can we specify something like 8 TiB as a maximum v

[2019-12-12 03:59] kedmison commented on #587
To me it does imply the interfaces are physical or associated directly with physical interfaces; correctly or not I infer it from the association of increasing speed with the increasing number of virtual network interfaces and by coupling the virtual interface speeds to speeds normally associated with physical interfaces.

One approach is to treat the network bandwidth as a resource to be proporti

[2019-12-12 09:13] markshostak commented on #588
@kedmison Hi Kelvin, I don't follow the jump from your first comment about needing 1TB to specifying 8TiB. I'm more comfortable starting w/ 1TB, then revising when we can justify it, but let's get some more perspectives...

@tomkivlin @iangardner22 We're planning to switch to a parametric sizing paradigm for specifying attached and couple it w/ a maximum size, either by Instance Type, or for all I

[2019-12-12 09:25] tomkivlin commented on #588
@markshostak I had similar concerns to Kelvin early doors (but not because of what OpenStack does - I don't think we should be shaping the RM based on what one particular technology allows).  My rationale for not doing this is that we would end up with a huge number of options as the performance of the storage presented to an instance will often depend on the size of the volume.

So, I am happy wi

[2019-12-12 09:54] markshostak commented on #587
Above I had asked if you thought we should make the i/f speed, parametric. With that paradigm, there is no definitely no association with the speeds of physical interfaces. How to specify a VNF and Tenant's b/w is still an open topic; my thinking is we should provide the ability to specify the speed on a per-interface basis to allow designers the flexibility to say "this i/f should be low b/w, and

[2019-12-12 09:58] markshostak commented on #588
@tomkivlin Thanks Tom. So you're ok w/ parametric sizing. What do you feel is a reasonable maximum size? Thx, -M

[2019-12-12 10:10] tomkivlin commented on #588
No idea, would need to understand what is generally requested by software vendors today (bit like we did early doors to come up with the CPU/RAM numbers) - something huge though. 16TiB, 32TiB, something like that.

[2019-12-12 10:24] #600 closed

[2019-12-12 10:47] markshostak commented on #588
@kedmison, @tomkivlin, All, To get this moving I started a PR (#786). Let's move the conversation over there.

[2019-12-12 12:28] msidana opened #787 "[RC1 Ch02] Write content - E2E C&V NFVI Framework Req"
As the base chapter outline is merged, the actual content can be written against this issue.

**Example chapter sections**
* Methodology
* Certification Strategy & Vehicle
* Profiles Reference
* Compliance, Verification, and Certification
* Entry & Exit Criteria
Frameworks (this is the badging process, what would we badge, requirements for badging, tools we're using, etc)

[2019-12-12 12:29] markshostak commented on #343
@bfcohen Hi Beth, Friendly reminder. Thanks, -Mark

[2019-12-12 13:06] petorre opened #790 "[RM Appendix A] Text on decoupling app from infra"
#789 has text to describe levels of decoupling between application and infrastructure, relevant for sizing infrastructure and application operations, and used terminology and links.

[2019-12-12 15:38] rabi-abdel commented on #750
Great discussion everybody. I think the framework is more generic than RM and will need to be linked to proper roadmap and strategy. therefore, I suggest to remove confusion.

- focus our efforts into getting the strategy right.
- getting the elements rights and what lives where.

This is one of the items that are still pending on my plate but I started to write it down based on these discussions

[2019-12-12 16:45] pgoyal01 opened #792 "[RA-1 Ch02] EPA requirement"
Qualify
| `req.vim.04` | General | The Architecture **must** support Enhanced Platform Awareness (EPA). |
|--------|------|------------|

to restrict use of EPA only for discovery of underlying infrastructure capabilities.

Based on discussions #592 #699 ...

[2019-12-12 18:12] mf4716 commented on #415
@sparayil - please review after our session.

[2019-12-12 18:28] sparayil commented on #415
@mf4716 - Thank you!  will look at this

[2019-12-13 05:26] mf4716 commented on #591
@rrajesh70 , @opensource-tnbt (Sridhar) - can we get an update?

[2019-12-13 05:27] mf4716 commented on #564
@lylavoie - can we get an update?

[2019-12-13 05:45] mf4716 commented on #761
@markshostak - there's no particular syntax that is required that I've been told, or can find.  See examples in https://git.opnfv.org/.   But, ONAP uses a different style https://git.onap.org/.  Unclear still who is the owner/admin of the repo, so I've asked again.  Re: repo name, it makes logical sense to go with a nomenclature of, "cirv.ri-x.[purpose]", assume we can further define the *purpose*

[2019-12-13 05:46] mf4716 commented on #460
Please update with status @gkunz

[2019-12-13 05:48] mf4716 commented on #594
@gkunz - please review, as this may be dup of [460](https://github.com/cntt-n/CNTT/issues/460)

[2019-12-13 05:50] mf4716 commented on #410
@msidana - Manik, please confirm status.  Thanks

[2019-12-13 05:52] mf4716 commented on #411
@gkunz @deebhatia - can you please provide an update?

[2019-12-13 05:52] msidana commented on #410
PR is already WIP - https://github.com/cntt-n/CNTT/pull/788

[2019-12-13 05:53] mf4716 commented on #774
Ch 4 authors, can we get an update?

Ch04: NFVI TC Traceability to RA Requirements: Rajesh, Dan, Ashok,Deepanshu (confirmed)

[2019-12-13 05:55] mf4716 commented on #775
Ch04 authors - can we get an update?

Ch04: NFVI TC Traceability to RA Requirements: Rajesh, Dan, Ashok,Deepanshu (confirmed)

[2019-12-13 05:55] mf4716 commented on #515
Update @collivier ?

[2019-12-13 05:56] mf4716 commented on #159
@rabi-abdel - is this complete?

[2019-12-13 05:58] mf4716 commented on #413
added @sparayil (thank you) after review today.  Please collaborate with Kanag and Cedric.

[2019-12-13 06:00] mf4716 commented on #414
added @sparayil (thank you) after review today, and @mkr1481 (thank you).  Please reach out to other authors to confirm / collaborate on status.

[2019-12-13 06:01] mf4716 commented on #415
@yangyanyj - can you provide an update?

[2019-12-13 06:03] mf4716 commented on #416
Update @collivier ?

[2019-12-13 06:04] mf4716 commented on #417
Added authors to this item.  Is there an update?

Ch08: E2E Framework Integration: Cedric, Kanagaraj,Sridhar (question) Yan Yang (confirmed) -

[2019-12-13 06:05] mf4716 commented on #418
Update @deebhatia and/or @collivier ?

[2019-12-13 06:08] mf4716 commented on #419
@deebhatia update?  FYI, I will forward you an email with the test case gap assessment.  Need your update, add the info to the chapter, and also obtain info about the differences between the different Open Stack releases - okay?  Email on its way.

[2019-12-13 06:15] mf4716 commented on #420
Update @mkr1481 ?

[2019-12-13 06:15] mf4716 commented on #421
update @mkr1481 ?

[2019-12-13 06:20] mf4716 commented on #422
Asking authors for an update?

Ch10: VNF Tests Traceability to TC Requirements: Cedric,Liping Zhao (question),Shiby (confirmed)

@collivier @sparayil and Liping Zhao (email only)

[2019-12-13 06:22] mf4716 commented on #423
update?

@sparayil , @mkr1481 , @collivier - I will send you an email, which has some info to consider, but please add your own.

[2019-12-13 06:30] mf4716 commented on #509
status update @collivier ?

[2019-12-13 06:30] mf4716 commented on #510
status update @collivier ?

[2019-12-13 06:30] mf4716 commented on #511
status update @collivier ?

[2019-12-13 06:35] mf4716 commented on #410
@msidana Manik, I see the "WIP" in the PR title.  Great idea.  Can we close this issue then, with an open PR?  I don't think we want to track status in 2 locations.

[2019-12-13 06:37] msidana commented on #410
Sure we can close this. I am doing PR against a fresh issue https://github.com/cntt-n/CNTT/issues/787

[2019-12-13 06:45] mf4716 commented on #787
I updated:
* the title - E2E C&V NFVI Framework Req
* the description to include Chapter section ideas (just ideas).
* added missing labels

FYI - this replaces https://github.com/cntt-n/CNTT/issues/410

[2019-12-13 06:46] mf4716 commented on #410
Duplicate issue - https://github.com/cntt-n/CNTT/issues/787

Closing

[2019-12-13 06:46] #410 closed

[2019-12-13 06:50] mkr1481 commented on #420
@mf4716 already completed the guidelines details in ch08 for using vtp.

[2019-12-13 06:54] mkr1481 commented on #417
@mf4716 I have updated the VNF test platform details in ch08 already

[2019-12-13 13:36] deebhatia commented on #419
@mf4716 Thanks. I will add that. Regarding OpenStack releases, we are taking Pike as baseline. However, in RI, we will usually skip releases like going to Stein or Train. Those skipped ones can't be claimed as compliant from the RC itself.
Do we really need to document difference among all even if we are not doing the RC check?

[2019-12-13 14:30] sparayil commented on #413
@mf4716 @mkr1481 , I like the format @mf4716 suggested. I see Kanag has added some good content already. I was planning to generate the content in word document and get it reviewed by both of you. lets shoot for Tuesday for an initial review of my contribution internally

[2019-12-13 14:52] #632 closed

[2019-12-13 14:59] #636 closed

[2019-12-13 17:44] mf4716 commented on #419
@deebhatia - I believe we do need to document the differences between Open Stack releases, at least until we go GA (General Availability) with RC.  This way, if there are changes in strategy which force an RI to go to one release, or another, the ability to make that educated decision and understand any risks, or tradeoffs, will be based on objective information.  https://releases.openstack.org/

[2019-12-14 00:04] mf4716 commented on #417
There are several sections still to be written.  @yangyanyj (Yan Yang) , @opensource-tnbt (Sridar), @collivier , can you help with those missing sections?

[2019-12-14 00:40] mf4716 commented on #413
@mkr1481 - heads up that @sparayil will reach across Sun night US to discuss moving some Ch5 content into Ch6 as it's more applicable to that chapter.  I met with Shiby the last few days, and he's created very good content in alignment with a typical 'Framework' request.  Few final touches needed to clean it up.   Heads up @fuqiao123 , @yangyanyj as I know you're authoring some content in RC1-Ch6.

[2019-12-14 18:28] pgoyal01 commented on #368
@liyingyjy Can you provide status of where you are with the content? Thanks

[2019-12-15 21:39] mf4716 commented on #761
@markshostak , I shared this in email offline, but Admin/owner of the repo is the Linux Foundation.  Creating directories, changes, file uploads/mgmt, etc, is done by contributors, reviewed by contributors including committers, and approved and merged by committers.  For CIRV, this would be @fuqiao123 (Fu Ciao), and myself.

@trevgc Trevor, @fuqiao123 Fu Qiao, are you okay with "cirv.ri-01.perftes

[2019-12-16 02:20] mf4716 opened #794 "[RI MVP] Lab Requirements"
RI MVP work item for Snezka:  Lab Requirements

Placeholder to track status, and ask Q&A, for the creation of Lab Requirement documentation, including a topology document for the test labs (POD10 and POD15).  Write the content in the respective RI chapter(s).

Respective RI chapters:  [RI-1 Labs Ch04 -#564](https://github.com/cntt-n/CNTT/issues/564)

For convenience, requirements locations:

- RM

[2019-12-16 02:24] yangyanyj commented on #415
@mf4716 ,for Ch07, I think we should check the current test case list with RM ch08 to see whether  we can enhance the existing cases to support the RM requirements, or we need to add  additional test cases to support RM requirements. and also explain whether the new test cases has new requirements for the test framework.

[2019-12-16 02:27] mf4716 opened #795 "[RI MVP] Installer Requirement"
RI MVP work item for Snezka: Installer Requirements

Placeholder to track status, and ask Q&A, for the creation (finishing) of Installer Requirement documentation.  Write the content in the respective RI chapter(s).

Respective RI Core Chapter:  [RI Ch05 #404](https://github.com/cntt-n/CNTT/issues/404)

Lead: @ChilionChan (Chen Liang)

[2019-12-16 02:29] mf4716 commented on #415
Yes, please review @yangyanyj and insert where needed.

[2019-12-16 02:32] mf4716 opened #796 "[RI MVP] NFVI required State"
RI MVP work item for Snezka: NFVI Required State

Placeholder to track status, and ask Q&A, for the creation (finishing) of NFVI Required State documentation, including Manifest Validations. Write the content in the respective RI chapter(s).

Lead: @msidana (Manik), @opensource-tnbt (Sridhar)

[2019-12-16 02:36] mf4716 opened #797 "[RI MVP] Cookbook"
RI MVP work item for Snezka: Cookbook

Placeholder to track status, and ask Q&A, for the creation (finishing) of the Cookbook documentation. Write the content in the respective RI chapter(s).

Lead: Mark Beierl (GitHub ID needed), adding @collivier (Cedric) and @rrajesh70 (Rajesh)

[2019-12-16 02:39] mf4716 opened #798 "[RI MVP] PoD state and labs availabilities"
RI MVP work item for Snezka: PoD state and labs availabilities

Placeholder to track status, and ask Q&A, for the creation (finishing) of PoD state and labs availabilities, including Release Notes.  documentation. Write the content in the respective RI chapter(s).

Lead: @rrajesh70

[2019-12-16 02:41] mf4716 opened #799 "[RI MVP] Initial NFVI installation using Airship"
RI MVP work item for Snezka: Initial NFVI installation using Airship

Placeholder to track status, and ask Q&A, for the creation (finishing) of Initial NFVI installation using Airship documentation, including items not complying with CNTT documentation right now.   Write the content in the respective RI chapter(s).

Lead: @opensource-tnbt (Sridhar), @rrajesh70 (Rajesh)

[2019-12-16 02:44] mf4716 opened #800 "[RC MVP] Framework Requirements"
RC MVP work item for Snezka: Framework Requirements

Placeholder to track status, and ask Q&A, for the creation (finishing) of Framework Requirements
documentation. Write the content in the respective RC chapter(s).

Lead: @msidana (Manik)

[2019-12-16 02:46] mf4716 opened #801 "[RC MVP] Certification process drafted"
RC MVP work item for Snezka: Certification process drafted

Placeholder to track status, and ask Q&A, for the creation (finishing) of Certification process drafted / documented.  Write the content in the respective RC chapter(s).

Lead: @sparayil (Shiby), @mkr1481 (Kanag)

[2019-12-16 02:48] mf4716 opened #802 "[RC MVP] Automation / Compliance / Tool chain process and status"
RC MVP work item for Snezka: Automation / Compliance / Tool chain process and status

Placeholder to track status, and ask Q&A, for the creation (finishing) of documenting the Automation / Compliance / Tool chain process and status.  Write the content in the respective RC chapter(s).

Lead:  Mark Beierl (@markbeierl), and @collivier (Cedric)

[2019-12-16 04:06] mkr1481 commented on #421
@mf4716 Added the required documes for VNF test platform already.

[2019-12-16 04:12] mf4716 commented on #421
@mkr1481 - can this issue be closed?  Or, is further content/review needed?  Is @sparayil adding content?

[2019-12-16 04:13] mkr1481 commented on #413
@mf4716 sure. thanks
@sparayil i saw your outlook meeting invitations for the same. let us close this issue by today. thanks.

[2019-12-16 04:38] deebhatia commented on #419
@mf4716 The OpenStack release documents contains a lot of changes. Duplicating all of that content here is not a good idea. To document the key difference in OpenStack releases, I propose this criteria. Rest can be checked on release site.
[code]

[2019-12-16 04:55] mf4716 commented on #419
@deebhatia , good suggestion to create logic and defining how we qualify differences; however, we're needing an analysis of the differences between the three releases.  This supports our RI timeline and strategy for releases.  Having tangible mappings of the differences allows the team to assess risk, or confirm mitigation strategies needed for requirements not supported in some releases.  Is it n

[2019-12-16 12:34] #455 closed

[2019-12-16 13:32] liyingyjy commented on #368
Sorry I will upload the content tomorrow morning

[2019-12-16 13:34] #780 closed

[2019-12-16 14:31] iangardner22 commented on #588
All good with me @markshostak - I concur with @tomkivlin

[2019-12-16 14:52] deebhatia commented on #419
Those differences might be subjective to what a user has in the NFVI. We should only do a verification of those differences from API interface. Anything which will be affecting API interface, will fall under point 1 and 2.
The mitigation strategies will eventually require an upgrade of a service or whole Openstack  or backporting it to the current version.

[2019-12-16 15:28] mf4716 commented on #775
@liyingyjy - same comment posted in an RA-1 Ch3 (#803 ) issue, as there was an ask to review RC-1 Ch4 in that 803 issue.

For the other authors/reviewers, (Dan, Deepanshu, Ashok), please review @liyingyjy 's comments.

Basically, agree with the approach as you're outlining Test Case requirements to Infra, RM, or API, requirements.  Please continue.  For reference, here are the requirements links/d

[2019-12-16 15:48] kedmison commented on #638
Here are some rough thoughts on Availability Zones:
- Having an AZ story will be very helpful to VNF vendors.
- Not having this abstraction can lead to over-use of anti-affinity features, leading to suboptimal/inefficient workload placement
- It may not need to be a consistent lineup of independent failure domains (e.g. independent buildings) across all CNTT-compliant implementations, as long as t

[2019-12-16 16:35] mf4716 commented on #419
@deebhatia - agree, plus, compliance validations today check for exposure of APIs as documented in RA-1 Ch05.  In essence, this is a baseline of the exposure for the OpenStack release, and can be used for comparisons going forward as new releases are deployed.  This puts the onus, however, on RA-x documentation to provide the core functionality expected, along with any new functionality/services e

[2019-12-16 16:37] iangardner22 commented on #638
@kedmison totally agree as with two AZ we get the risk of split-brain for the application...  for the control plane we could run fewer controllers in one location e.g. 2+1 stretched which would force a manual intervention in the event of building loss - but I'd be interested from the OpenStack vendors (including Nokia :-) ) on the recommended approach.

[2019-12-16 17:18] deebhatia commented on #419
RA-1 Ch05 (Pike baseline) just dives into the version details and enabled extensions. It doesn't explicitly mention it out. To document the offered functionality in depth in each service, it can be mentioned in RA-1 itself. In RI-1, it uses Ocata and to document the lacked features in Ocata can be done here along with new features in Stein. Listing a full feature list should not be an RC level wor

[2019-12-16 18:04] mf4716 commented on #419
@deebhatia - RC1 Ch11 is intended to be the target location for "gaps" identified during RC of RI.  Considering Ocata is installed for the Alpha release, and Pike is identified in the RA-1 documentation, there needs to be an analysis of core capabilities and services not exposed, on purpose or other, not readily available.  These gaps are identified here in RC1 Ch11, which then becomes part of any

[2019-12-17 01:21] mf4716 commented on #794
@fuqiao123 , @rrajesh70 - hi, can you update on status?  Also, fyi, mark.beierl@dell.com is trying to obtain, or recreate a topology document for PODs 10 and 15.  If you're able to get/create one yourself, please let us and Mark B. know.

[2019-12-17 01:22] mf4716 commented on #795
@ChilionChan - hi, can you update on status?

[2019-12-17 01:22] mf4716 commented on #796
@msidana , @opensource-tnbt - can you update on status?

[2019-12-17 01:25] mf4716 commented on #797
@rrajesh70 , @collivier - hi, can you update on status?  I'll send to Mark B. too and request status.

[2019-12-17 01:27] mf4716 commented on #798
@rrajesh70 - hi, can you update on status?

[2019-12-17 01:27] mf4716 commented on #799
@opensource-tnbt , @rrajesh70 - hi, can you update on status?

[2019-12-17 01:28] mf4716 commented on #800
@msidana - hi, can you update on status?

[2019-12-17 01:28] mf4716 commented on #801
@sparayil , @mkr1481 - hi, can you update on status?

[2019-12-17 01:28] mf4716 commented on #802
@collivier - hi, can you update on status?  I'll email Mark Beierl and ask status too.

[2019-12-17 01:30] markbeierl commented on #802
Test comment to see if my github ID shows up this way.

[2019-12-17 01:34] mf4716 commented on #802
@markbeierl - works!  Fantastic!  I updated you as an assignee!  -Mike (@mf4716 )

[2019-12-17 01:36] mf4716 commented on #797
@markbeierl - please see / comment on issue.  To test and confirm access.

[2019-12-17 01:37] markbeierl commented on #797
Pong!

[2019-12-17 01:39] mf4716 commented on #797
Worked!  Was able to add you as an assignee.  Any questions, let me know, and Thank you!

[2019-12-17 02:37] msidana commented on #796
@mf4716 I haven't been flowing RI activitirs and threads and also don't have the lab access. Can you please check with @opensource-tnbt , he would have a better idea on this.

[2019-12-17 04:38] mf4716 commented on #796
@msidana (Manik), that is okay.  The ask from the last RI/RC status call, was that we needed someone to partner with Sridhar to complete the necessary content.  You had mentioned you can reach out to Sridhar to see how to help him.  **Can you do that?**

As discussed last week, the ask is to complete the RI content, at least the initial pass, which would include things like providing the meta data

[2019-12-17 04:54] mf4716 commented on #460
@gkunz  - hi, can you update status?  If finished, or NA, let's please close the issue.

[2019-12-17 04:54] mf4716 commented on #411
@gkunz @deebhatia - can you please provide an update?

[2019-12-17 04:55] mf4716 commented on #594
@gkunz - please review, as this may be dup of 460

[2019-12-17 04:55] mf4716 commented on #774
@deebhatia , @xudan16 , @ASawwaf , @rrajesh70 - hi, can we get an update please?

[2019-12-17 04:56] mf4716 commented on #775
@liyingyjy - hi, can we get an update please?

[2019-12-17 04:56] mf4716 commented on #787
@msidana - hi, can we get an update please?

[2019-12-17 04:57] mf4716 commented on #575
@collivier - hi, this is quite old.  Can we get an update please?

[2019-12-17 04:58] msidana commented on #787
Section  2.1, 2.2 and 2.6 added in https://github.com/cntt-n/CNTT/pull/788
Pending Sections 2.3,2.4,2.5,2.7

[2019-12-17 04:58] mf4716 commented on #515
Update @collivier ?

[2019-12-17 04:59] mf4716 commented on #159
@rabi-abdel - is this complete?

[2019-12-17 05:00] mf4716 commented on #414
@sparayil , @mkr1481  - hi, can we get an update please?

[2019-12-17 05:00] mf4716 commented on #415
@yangyanyj - hi, can we get an update please?

[2019-12-17 05:09] mf4716 commented on #787
Great @msidana !  What's the target date for the pending sections?

[2019-12-17 06:27] msidana commented on #787
Added Section 2.4.
Pending Sections 2.3, 2.5, 2.7. - @collivier Can you please provide some inputs for these sections.

[2019-12-17 06:44] ASawwaf commented on #638
@kedmison @iangardner22 @iangardner22  , AZ and HA ( Host Aggregate ) is very important to adopt it
HA can be per type of HW type , VNF vendor, VNF profile ,..

For the Networking part , The IP CLOS or Fabric will be the main deployment for networking associated with SDN-C

[2019-12-17 09:59] #753 closed

[2019-12-17 10:02] #438 closed

[2019-12-17 10:13] deebhatia opened #808 "[RC1 Ch04] Define the test cases for RA 1 Identity Service (Keystone)"
As per issue #775 , add test cases for OpenStack identity service - Keystone. Tests should also cater the requirements defined around identity management.

[2019-12-17 10:16] msidana commented on #800
Sections 2.3, 2.7 pending in PR https://github.com/cntt-n/CNTT/pull/788/

[2019-12-17 10:24] deebhatia opened #809 "[RC1 Ch04] Define the test cases for RA 1 Image Service (Glance)"
As per issue #775 , add test cases for OpenStack image service - Glance. Tests should also cater the requirements defined around image management.

[2019-12-17 10:40] deebhatia commented on #411
@mf4716 I have been moved to chapter 04 and 09. Unassigning myself.

[2019-12-17 17:57] mf4716 commented on #406
@markbeierl - here's the issue I mentioned re: Lab Topology doc (needed).  I'll add you to issue #405 as well (via comment section).

[2019-12-17 17:58] mf4716 commented on #405
@markbeierl - here's the 2nd issue I mentioned re: Lab Topology doc (needed).  I've added / inserted a comment w/ your ID on it - issue #406 (via comment section)

[2019-12-17 20:55] mf4716 commented on #808
Thank you for creating the issue.  Added you @deebhatia (Deepanshu) as the assignee.  Add others, as needed.

[2019-12-17 20:55] mf4716 commented on #809
Thank you for creating the issue.  Added you @deebhatia (Deepanshu) as the assignee.  Add others, as needed.

[2019-12-18 03:38] ChilionChan commented on #795
Should I commit in a new PR? @mf4716

[2019-12-18 03:51] mf4716 commented on #795
@ChilionChan - the content for this section goes into RI-1 Core Ch05, "Installers Requirements", which is also issues #404 .  **Yes**, create a new PR for the content as right now there is no PR open (you can check here too - https://github.com/cntt-n/CNTT/projects/7 - look in the PR column, which will open for RI Core).  Once the content is created, we can close issue #404 and this issue.

[2019-12-18 04:16] kedmison commented on #587
Fundamentally, whatever virtual interfaces are defined have to map to the physical interfaces that are identified as supporting the tenant network.  This inherently gives a resource limit (max physical tenant interface network bandwidth) that that cannot be exceeded.  In this sense, it is very similar to assigning virtual CPUs to instances: one can overcommit vCPUs and not meet SLA if all instance

[2019-12-18 09:37] #359 closed

[2019-12-18 13:02] pgoyal01 opened #811 "[RA-2 Ch02] Architecture Requirements"
What is the difference between req.lcm.adp.01 and req.lcm.adp.04?

[2019-12-18 13:41] markbeierl commented on #797
Chapter reference: https://github.com/cntt-n/CNTT/blob/master/doc/ref_impl/cntt-ri/chapters/chapter07.md

[2019-12-18 14:43] msidana commented on #796
@mf4716 Created an initial PR #813 as initial content based on discussion with @opensource-tnbt. @fuqiao123 Can you please assist if the tests/frameworks are identified for NFVI required state.

[2019-12-18 14:57] msidana commented on #800
Updates (12/18)
Section 2.3 is added.
Section 2.7 is pending. Need inputs from @collivier

[2019-12-18 15:07] karinesevilla opened #814 "[RA1 Ch05] Change Bogo-meter"
Change Bogo-meter rating from "Initial framework" to"Dickering over the fine points"

[2019-12-18 15:58] msidana commented on #787
Added all sections. PR #788 is ready for review and feedback

[2019-12-18 15:59] msidana commented on #800
Added Section 2.7. All sections are complete. PR #788 is ready for review and feedback

[2019-12-18 16:39] pgoyal01 opened #816 "[RM Ch04 & Ch05] Consistency"
Can some of the similar requirements defined in RM Ch04 and Ch05 be made consistent. For example, "i.nfvi.sla.cap.001 CPU overbooking" and "nfvi.com.cfg.001 CPU allocation ration"?

[2019-12-18 17:52] #814 closed

[2019-12-18 17:58] #792 closed

[2019-12-19 01:06] jiaqiang-cmcc commented on #796
@msidana
I was planning to create a PR to add more items for NFVI profile based on the contents of RA2 and RA5. Currently I am working on it, when it ready, I will invite you to review.

In PR #813 it said a set of tests, but I think they should belong to "certification". RI ch03 should not include this.

[2019-12-19 01:35] mf4716 commented on #796
@jiaqiang-cmcc , @msidana - hopefully, this clarifyies:

**For RI chapters:**

- Ch02: RI Requirements - Issue #401 - right now there is no PR, but here is the link to the [RI-1 Chapter 2](https://github.com/cntt-n/CNTT/blob/master/doc/ref_impl/cntt-ri/chapters/chapter02.md) for reference.  This issue, 401, is to provide initial content which is the requirement of Reference Implementation (example

[2019-12-19 01:45] mf4716 commented on #416
@yangyanyj - per your email, "I am working on RC-1 VNF and can be transferred later on Ch08", what date can create a PR, and when can you add this content.  Added @opensource-tnbt (Sridhar) here too, as he's co-assignee to this material.

[2019-12-19 03:16] fuqiao123 commented on #404
according to the discussion on Dec. 19 RI weekly call, the initial content for installer requirement has accomplished. Therefore I suggest we close this issue

[2019-12-19 03:29] fuqiao123 commented on #796
For Issue #401, I think I have created a PR and it is now merged. So if no other comments on that ,I suggest we close #401

[2019-12-19 03:33] mf4716 commented on #404
@fuqiao123 - @ChilionChan - please email response from me a few minutes ago re: the Hardware Validation plug-fest discussion.  I agree with Chen, that we can add the content from that email thread as a pre-req for software install and insert the main bullets and purpose for that testing in this chapter.  See email for more details.  After that, I agree with you to close this issue and any related

[2019-12-19 04:40] jiaqiang-cmcc commented on #796
OK, let's use the PR #813 only for all needed contents for Ch03.

[2019-12-19 12:14] #495 closed

[2019-12-19 12:14] #499 closed

[2019-12-19 12:14] #500 closed

[2019-12-19 12:14] #501 closed

[2019-12-19 12:14] #502 closed

[2019-12-19 12:14] #503 closed

[2019-12-19 12:14] #505 closed

[2019-12-19 12:14] #776 closed

[2019-12-19 12:22] #436 closed

[2019-12-19 15:49] pgoyal01 commented on #811
My error -- one is about clusters and the other hw and sw.

[2019-12-19 15:49] #811 closed

[2019-12-19 16:15] msidana commented on #796
Ok sure. Thanks for your reply and clarification. Since you have already documented the content, can you mark yourself as an assignee for #813 and perhaps continue on the same PR (or a new one, whichever way you prefer) ?

[2019-12-19 17:09] lylavoie commented on #564
@mf4716 This issue should have been closed / resolved by #654, so I'm closing this.

[2019-12-19 17:09] #564 closed

[2019-12-19 17:11] lylavoie commented on #403
@rabi-abdel and @mf4716 , I think this issue can also be closed / resolved by pull #654 .

[2019-12-19 23:12] mf4716 commented on #794
@fuqiao123 , @rrajesh70 - hi, can you update on status?

+@markbeierl (fyi)

[2019-12-19 23:13] mf4716 commented on #795
@ChilionChan - hi, can you please provide a status?

[2019-12-19 23:14] mf4716 commented on #796
status?

[2019-12-19 23:14] mf4716 commented on #797
status?

[2019-12-19 23:14] mf4716 commented on #798
status?

[2019-12-19 23:14] mf4716 commented on #799
status?

[2019-12-19 23:14] mf4716 commented on #800
status?

[2019-12-19 23:15] mf4716 commented on #801
status?

[2019-12-19 23:15] mf4716 commented on #802
status?

[2019-12-19 23:16] mf4716 commented on #575
status?

[2019-12-19 23:24] mf4716 commented on #460
status?

[2019-12-19 23:24] mf4716 commented on #411
status?

[2019-12-19 23:24] mf4716 commented on #594
status?  @gkunz

[2019-12-19 23:25] mf4716 commented on #774
status?

[2019-12-19 23:25] mf4716 commented on #775
status?

[2019-12-19 23:25] mf4716 commented on #787
status?

[2019-12-19 23:26] mf4716 commented on #808
status?

[2019-12-19 23:26] mf4716 commented on #809
status?

[2019-12-19 23:27] mf4716 commented on #515
status?

[2019-12-19 23:27] mf4716 commented on #159
status?

[2019-12-19 23:27] mf4716 commented on #413
status?

[2019-12-19 23:28] mf4716 commented on #414
status?

[2019-12-19 23:28] mf4716 commented on #415
status?

[2019-12-19 23:29] mf4716 commented on #512
status?

[2019-12-19 23:29] mf4716 commented on #416
status?

[2019-12-19 23:29] mf4716 commented on #417
status?

[2019-12-19 23:29] mf4716 commented on #418
status?

[2019-12-19 23:30] mf4716 commented on #419
status?

[2019-12-19 23:30] mf4716 commented on #420
status?

[2019-12-19 23:30] mf4716 commented on #421
status?

[2019-12-19 23:30] mf4716 commented on #422
status?

[2019-12-19 23:30] mf4716 commented on #423
status?

[2019-12-19 23:31] mf4716 commented on #509
status?

[2019-12-19 23:31] mf4716 commented on #510
status?

[2019-12-19 23:31] mf4716 commented on #511
status?

[2019-12-19 23:34] mf4716 commented on #526
status?

[2019-12-19 23:34] mf4716 commented on #404
status?

[2019-12-19 23:34] mf4716 commented on #403
status?

[2019-12-19 23:34] mf4716 commented on #401
status?

[2019-12-19 23:34] mf4716 commented on #761
status?

[2019-12-19 23:35] mf4716 commented on #483
status?

[2019-12-19 23:35] mf4716 commented on #508
status?

[2019-12-19 23:35] mf4716 commented on #407
status?

[2019-12-19 23:36] mf4716 commented on #408
status?

[2019-12-19 23:36] mf4716 commented on #409
status?

[2019-12-19 23:36] mf4716 commented on #673
status?

[2019-12-19 23:37] mf4716 commented on #525
status?

[2019-12-19 23:37] mf4716 commented on #406
status?

[2019-12-19 23:37] mf4716 commented on #405
status?

[2019-12-19 23:37] mf4716 commented on #591
status?

[2019-12-20 01:10] jiaqiang-cmcc commented on #796
Hi @msidana and @mf4716

Currently, I have no new input for chapter 3.

Yesterday I had checked all the content of RA2 and RA5 to find if there are any meta-data items missing. But I am not sure if any of them are relevant to **NFVI required state**. Anyway, I put all items from RA chapter into one table as following. If you think there is one should be included, we can discuss further on this.

[

[2019-12-20 01:39] mf4716 commented on #796
@jiaqiang-cmcc - hi, this great!  Are you thinking this will go in section 3.4 of RI-1 Ch 3 PR #813 ?  I believe it does.

[2019-12-20 02:22] jiaqiang-cmcc commented on #796
OK, I will try to put above summary tables to the existing PR.

@msidana I haven't done that before, I mean, updating someone else existing PR as a co-author. In case I meet any trouble with git, I will let you know for help.

[2019-12-20 02:29] mf4716 commented on #796
@jiaqiang-cmcc - very easy, and convenient - here's how:

1. go to the PR #813
2. click Files Changed (1)
3. next to the "Viewed" button, find the three dots ("...") and click those dots, select Edit File
4. make your changes
5. scroll to the bottom - change the default subject line to something meaningful, add a brief description, and click commit changes

[2019-12-20 04:31] msidana commented on #787
All sections documented. Currently working on detailing of Frameworks Section.

[2019-12-20 05:08] msidana commented on #787
All comments fixed but one - https://github.com/cntt-n/CNTT/pull/788#discussion_r360229042.

[2019-12-20 05:42] msidana opened #819 "[RC1 Ch 5] Change gRPC to RPC in RC1 Section 5.3.11"
As discussed and agreed in https://github.com/cntt-n/CNTT/pull/784#discussion_r358044314 , the change got missed. This issue is created to include the suggested change.

[2019-12-20 17:00] mf4716 commented on #819
Okay.  I just approved the PR #820

[2019-12-20 17:37] jbeltranatl opened #823 "[CSO Ch02] Addressing individual vs. company"
Clarify any distinction needed in Ch. 2 between individual and company with respect to the onboarding process.

[2019-12-20 17:42] jbeltranatl opened #824 "[CSO Ch02] Onboarding Proc image"
check/re-check working

[2019-12-20 18:25] #403 closed

[2019-12-20 18:30] pgoyal01 opened #825 "[RA-1 Ch05] Add Cyborg APIs for Pike release"
[RA-1 Ch05] Add Cyborg APIs for Pike release.

[2019-12-20 20:29] jbeltranatl opened #826 "[CSO Ch02] Onboarding pointer to voting process needed"
should indicate the existence of the voting process

[2019-12-22 18:34] rrajesh70 commented on #799
@opensource-tnbt spent many hours to stand up NFVI on POD 15 and is currently encountering issue with one of the computes booting incorrectly (not using pxe boot correctly. INFRA ticket 395 raised (OPNFV Jira ticket) to resolve this issue. Trevor Cooper has asked Timothy Gresham (Intel) to investigate this failure as high priority item

[2019-12-23 08:15] collivier commented on #802
I just finished the OPNFV part. It's now on my agenda as the OPNFV/CNTT inter dependencies about Compliance are now solved.
https://git.opnfv.org/functest-xtesting/commit/xtesting?h=stable/hunter&id=e11091e94b179c67f1c57f5fdf33816a469c5feb

[2019-12-23 08:18] collivier commented on #800
Please let me write the work already done.

[2019-12-23 08:23] #819 closed

[2019-12-23 08:50] collivier opened #828 "[RI1 Dev][RC1 Dev] new RI deployment container"
The current Airship deployment scripts seem linked to OPNFV jumphosts and then can be hardly exported to the users (RI cookbook). For the time being, it works only in the OPNFV Context.

It should be considered as prerequisites before writing any RI Cookbook (or we can only focus on the testing part):
 - all Airship deployment scripts delivered via a new container
 - a new Xtesting testcase defini

[2019-12-23 09:15] collivier opened #829 "[RC1 Dev] Clean interfaces between RC and OVP"
From my understanding, if we care about interfaces, RC should:
- define the criteria for Compliance (NFVI & VNF)
- list the existing testcases for the CNTT Compliance
- define the framework used to execute them everywhere and to dump the results for third-parties
- set the gap to improve Compliance

it's up to OVP/CVC:
- to define the way to receive the results and to review the results
- to print

[2019-12-23 09:51] collivier opened #830 "[RC1 Dev] Write 4.3.4.1 Identity - Keystone"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-23 10:02] deebhatia commented on #830
@collivier It is a duplicate of #808 . I was thinking of something like this:

| Test case # | sub-category | Description | Requirement # |
|----|------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------|
| `cert.api.identit

[2019-12-23 10:22] collivier opened #832 "[RC1 Dev] Write 4.3.4.2 Image - Glance"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-23 10:41] collivier opened #834 "[RC1 Dev] Write 4.3.4.7 Orchestration - Heat"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-23 11:10] collivier opened #836 "[RC1 Dev] Write 4.3.4.3 Block Storage - Cinder"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-23 11:28] collivier commented on #830
@deebhatia I think it's more or less the opposite: you're mostly duplicating the upstream work and listing the ~2000 tests already executed in Functest CNTT costs lots of time for a duplication in the best cases.
See opnfv/functest-smoke-cntt:hunter in https://build.opnfv.org/ci/view/functest/job/functest-hunter-daily/373/

[2019-12-23 11:38] deebhatia commented on #830
@collivier Yes. Initially, it is duplication. However, RC should contain a self sustained list of test scenarios eventually if not in Snezka so that it can push those in upstream if missing there. That's why we have separate chapters: Ch04 to document test cases and Ch09 to map them into test frameworks. IMO, what your change currently addresses is essentially the content of Ch09. Opinion?

[2019-12-23 11:44] collivier commented on #830
@deebhatia you may be highlighting that we should change the overall design. If we continue the current design, we will simply map in Ch09 the functest-smoke-cntt testcase names.
The proposal here is straightforward regarding RA1 Chapter 5 (API) and then I don't see the point to add an abstract requirements which can't me mapped neither with API and opensource testcases.

[2019-12-23 11:51] collivier commented on #809
@mf4716 I think it can be closed as replaced by https://github.com/cntt-n/CNTT/issues/832 and https://github.com/cntt-n/CNTT/pull/833

[2019-12-23 11:52] collivier commented on #808
@mf4716 I think it can be closed as replaced by #832 and #833

[2019-12-23 11:55] collivier commented on #808
@deebhatia @mf4716 I think it duplicates the upstream work and listing the ~2000 tests already executed in Functest CNTT costs lots of time for a duplication in the best cases.
The proposal #833 is straightforward regarding RA1 Chapter 5 (API) and then I don't see the point to add abstract requirements which can't me mapped neither with API nor opensource testcases.
See opnfv/functest-smoke-cntt:h

[2019-12-23 12:03] deebhatia commented on #830
Yes, you can say that. My argument is that if we do it like the current approach, we give the ownership to framework repos to control CNTT test scenarios. If that is the agreed design, I am **okay** as far as we can track what additional test cases we want (if there is any) and still not part of open source test frameworks. I understand it is a more probable scenario in NFVI tests rather than API

[2019-12-23 12:11] collivier commented on #830
@deebhatia Not at all. The proposal here selects the upstream tests according to the API described in RA1 Chapter 5. Functest here already conforms with CNTT API which may be misleading you. If API changes, any CNTT member is free to contribute to Functest to update the testcase rules. Else I don't see the point about adding new testcases as it's out of this proposal.

[2019-12-23 12:21] deebhatia commented on #830
Okay. Understood.

[2019-12-23 12:22] deebhatia commented on #808
Closing this as per @collivier's comments.

[2019-12-23 12:22] #808 closed

[2019-12-23 12:23] deebhatia commented on #809
Closing this as per @collivier's comments.

[2019-12-23 12:23] #809 closed

[2019-12-23 12:28] collivier commented on #830
@deebhatia Thank you for your feedbacks.
I'm finishing Nova and Neutron in the same way then I will complete Ch09.
I put as highest priorities, to detail the test framework and methodology highlighting the capabilities to add new testcases right after.

[2019-12-23 12:37] collivier opened #838 "[RC1 Dev] Write 4.3.4.4 Object Storage - Swift"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-23 12:50] collivier opened #840 "[RC1 Dev] Write 4.3.4.5 Networking - Neutron"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-23 12:51] collivier opened #841 "[RC1 Dev] Write 4.3.4.6 Compute - Nova"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-23 13:08] deebhatia opened #842 "[RA1 Ch08] Document the Openstack release differences"
Issue aims to identify differences among Openstack Ocata, Pike and Stein as discussed.

[2019-12-24 02:11] mf4716 commented on #802
@collivier - Cedric, what Chapter(s) in RI or RC are you adding this info to?

[2019-12-24 02:12] mf4716 commented on #800
@collivier - Cedric, will this be ready in 1-2 days to review?

[2019-12-24 03:14] mf4716 commented on #829
@collivier - We are in agreement.  This is a duplicate issue, having already generated relevant scope/documentation for RC1 in Ch 1, and inflight framework chapters 02 for NFVI and 05 for VNF.
 Please review those PRs, add content, and let's close this duplicate issue.  Thanks

[2019-12-24 03:19] mf4716 commented on #808
@collivier - Cedric, If this was to add TCs, then yes.  We do not duplicate tickets.  Thanks.

[2019-12-24 03:19] mf4716 commented on #809
@collivier - Cedric, If this was to add TCs, then yes.  We do not duplicate tickets.  Thanks.

[2019-12-24 03:40] jiaqiang-cmcc commented on #796
@mf4716 Thanks a lot for your detail instruction, now my tables had been added into the existing PR #813

Let's wait for more contents from @msidana (Manik), @opensource-tnbt (Sridhar)

[2019-12-24 09:03] collivier commented on #800
@mf4716 I don't see the point to hurry to create PRs if they are not reviewed quickly.
I'm first finishing Chapter 4 (API functional tests, benchmarking API, benchmarking dataplane, golden VNF, etc...). 1-2 days seem unrealistic regarding the ongoing work here and holidays. Else yes it's on time here for the release.
https://github.com/cntt-n/CNTT/pull/831
https://github.com/cntt-n/CNTT/pull/833
h

[2019-12-24 09:43] fuqiao123 commented on #404
Initial contents has been developed. Will close this issue and create a new issue for further improvements of the contents.

[2019-12-24 09:43] #404 closed

[2019-12-24 09:44] fuqiao123 commented on #401
Suggest to close this issue since the initial contents has been developed

[2019-12-24 09:44] #401 closed

[2019-12-24 09:46] fuqiao123 opened #846 "[RI1 Ch05] Complement missing parameters for installer requirements"
contents: a) adding missing hardware attributes b) adding generic information (Metadata Lab Owner, Location, Purpose etc..) . c) enhance NIC Mapping with server instances. d) embedding a descriptor file schema file.

[2019-12-24 10:29] collivier opened #847 "[RC1] Add Openstack API benchmarking"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-24 11:32] tomkivlin commented on #453
PRs #607 and #745 have clarified this.

[2019-12-24 11:32] #453 closed

[2019-12-24 12:02] collivier opened #851 "[RC1] Add dataplane benchmarking"
It will simply detail the testcases already executed in NFVI API Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-24 12:55] collivier opened #854 "[RC1] List test cases and map them to requirements"
It will simply list the testcases already executed in NFVI Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-24 13:31] collivier opened #856 "[RC1] Add opensource VNF onboarding and testing"
It should list the VNF-based testcases already executed in NFVI Compliance
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-26 19:24] mf4716 commented on #796
Glad to help @jiaqiang-cmcc !

@msidana , @opensource-tnbt - any additional review/comments for this ticket and the related PR #813 ?  The only thing I can think of is a comparison needed for Prague comparing what was delivered, vs. the NFVI Required State info in this RI Core Chapter 3.  If you agree, would you (are you) putting this together for the slide?

[2019-12-26 19:35] mf4716 commented on #846
@fuqiao123 , @ChilionChan , is this something we need to do for Snezka?

[2019-12-26 19:57] mf4716 commented on #800
@collivier - with few committers, it's easier we find to centralize changes and commits to as few PRs as possible, this way, there is complete context for what is being reviewed, and if there are any changes in the document to adjust the flow, or update section numbers, or table of contents, we can do it with 1/few PRs and merge them quickly.  I'll take a look at the other PRs to see if I can add

[2019-12-26 20:49] mf4716 commented on #408
Expanded distro.

@fuqiao123 , @opensource-tnbt , @collivier , @markbeierl -  status?

[2019-12-26 21:12] mf4716 commented on #575
@collivier - status?

[2019-12-26 21:14] mf4716 commented on #460
@gkunz - status?

[2019-12-26 21:14] mf4716 commented on #411
@gkunz - status?

[2019-12-26 21:15] mf4716 commented on #594
@rrajesh70 @gkunz @mkr1481 - status?

[2019-12-26 21:15] mf4716 commented on #774
@deebhatia - status?

[2019-12-26 21:15] mf4716 commented on #775
@deebhatia - status?

[2019-12-26 21:16] mf4716 commented on #787
@msidana - status?

[2019-12-26 21:32] mf4716 commented on #515
@collivier - status?

[2019-12-26 21:33] mf4716 commented on #413
@sparayil - status?

[2019-12-26 21:34] mf4716 commented on #414
@sparayil , @mkr1481 - status?

[2019-12-26 21:35] mf4716 commented on #415
@yangyanyj - status?

[2019-12-26 21:38] mf4716 commented on #416
@collivier @mkr1481 @opensource-tnbt @yangyanyj - status?

[2019-12-26 21:38] mf4716 commented on #417
@collivier @mkr1481 @opensource-tnbt @yangyanyj - status?

[2019-12-26 21:38] mf4716 commented on #418
@deebhatia @collivier - status?

[2019-12-26 21:39] mf4716 commented on #419
@deebhatia - status?

[2019-12-26 21:39] mf4716 commented on #420
@mkr1481 - status?

[2019-12-26 21:40] mf4716 commented on #421
@mkr1481 - status?

[2019-12-26 21:41] mf4716 commented on #422
@jiaqiang-cmcc @sparayil @collivier - status?

[2019-12-26 21:41] mf4716 commented on #423
@sparayil , @mkr1481 , @collivier - status?

[2019-12-26 21:42] mf4716 commented on #509
@collivier - status?

[2019-12-26 21:42] mf4716 commented on #510
@collivier - status?

[2019-12-26 21:42] mf4716 commented on #511
@collivier - status?

[2019-12-26 21:43] mf4716 commented on #801
@sparayil , @mkr1481 - hi, can you update on status?

[2019-12-26 21:45] mf4716 commented on #829
@collivier - can we close please?

[2019-12-27 03:09] msidana commented on #787
@mf4716 Completed. Review awaited.

[2019-12-27 03:11] msidana commented on #796
@mf4716 No comments on this PR.

[2019-12-27 09:19] #664 closed

[2019-12-27 11:03] collivier opened #858 "[RC1] Remove 4.3.2 Infrastructure and 4.3.3 VIM"
It's quite falsy, from a technical statepoint, to list only a few operations in the 2000 tests already executed in Functest Smoke CNTT.

It's much more covered in the next sections.

[2019-12-27 12:59] collivier opened #859 "[RC1] Fill 4.3.4 Interfaces & APIs."
It must introduce the testing methodology (Verification vs Compliance) already in place
https://lists.opnfv.org/g/opnfv-tsc/message/5717

[2019-12-27 18:17] mf4716 commented on #787
Thanks Manik @msidana - I added my review, requested a re-review by @collivier , and have requested two additional approvals hoping we can close PR #788 and this corresponding issue (soon, today if possible.)

[2019-12-27 18:25] mf4716 commented on #796
@opensource-tnbt (Sridhar), @rrajesh70 (Rajesh) - any additional review/comments for this ticket and the related PR #813 ? The only thing I can think of is a comparison needed for Prague comparing what was delivered, vs. the NFVI Required State info in this RI Core Chapter 3. If you agree, would you (are you) putting this together for the slide?

[2019-12-27 19:01] collivier opened #861 "[RA1] Finalize API versions and capabilities"
Finalize API versions and capabilities:
  - add Placement API
  - standardize the tabs.
  - add a few optional capabilities/extensions (see RC1 Chapter 4):
      - tag-ext in neutron extension
      - cert (or nova_cert) in Nova capabilities
      - multi_backend in Cinder capabilities

[2019-12-27 19:04] mf4716 commented on #858
FYI - Ch04 is for NFVI TC Traceability to RA Requirements.

The sections, 4.3.2 Infrastructure and 4.3.3 VIM, contain the RA Requirements, for which TCs will be tested, or used for testing.  As such we will **Not** be removing the sections.

@collivier - Please insert additional Functest/Smoke test cases to enhance this section.

+Adding contributor authors to this conversation for any comments/in

[2019-12-27 23:17] markshostak opened #863 "[RM Glossary] Add Definition for SMT"
This is a follow-up to PR #726 , to add the supporting definition for SMT.

[2019-12-27 23:19] #521 closed

[2019-12-27 23:21] markshostak commented on #863
@deebhatia Do you want to run with this one? Thx, -Mark

[2019-12-29 10:45] #741 closed

[2019-12-29 10:55] #856 closed

[2019-12-30 02:15] #834 closed

[2019-12-30 04:27] collivier commented on #512
Done
https://build.opnfv.org/ci/job/functest-hunter-zip/3/console
http://artifacts.opnfv.org/functest/9ID39XK47PMZ.zip

[2019-12-30 04:27] #512 closed

[2019-12-30 04:32] collivier opened #865 "[RI 1 Dev] Port NFVbench testcases to Xtesting"
Xtesting allows a smooth integration of sparsed testcases and ease building CI/CD toolchains via an Ansible role.
http://testresults.opnfv.org/functest/stockholm/

Here leveraging on Xtesting will ease building CI/CD toolchains in few commands mixing Functest and NFVbench-based testcases. It also simplifies any validation process as it avoids extra logics per test frameworks (jenkins job templates

[2019-12-30 04:49] collivier opened #866 "[RC1] Describe Xtesting & XtestingCI capabilities for RC"
This 2 projects combined meet the CNTT requirements about verification, compliance and certification:
- smoothly assemble multiple heterogeneous test cases
- generate the Jenkins jobs in OPNFV Releng to verify CNTT RI
- deploy local CI/CD toolchains everywhere to check compliance with CNTT
- dump all test case results and logs for third-party certification review

[2019-12-30 14:53] #830 closed

[2019-12-30 14:54] #832 closed

[2019-12-30 14:54] #836 closed

[2019-12-30 14:54] #838 closed

[2019-12-30 14:54] #841 closed

[2019-12-30 14:55] #840 closed

[2019-12-30 14:56] #847 closed

[2019-12-30 15:03] #859 closed

[2019-12-30 15:46] #851 closed

[2019-12-30 20:07] mf4716 commented on #866
Copying comment from PR #867 ...

_Cedric @collivier , there is already an open PR for RC Ch2 - #788 (Ch02: NFVI E2E C&V Framework Requirements). Can you please add / move your content from this PR #867 to PR #788 ?

Note: Manik @msidana has put considerable work into PR 788. Please be sure the content you're adding doesn't conflict with what is already there._

[2019-12-31 05:31] #861 closed

[2019-12-31 10:28] #787 closed

[2019-12-31 11:50] collivier opened #868 "[RC1] Add the CI part in 2.1 Introduction"
The continuous integration has to be introduced in RC.
At least, we do detail the different CI toolchain models for all the streams and how we address all the cases with the minimal extra logics.
- RI verification (jjb in releng)
- RC compliance and certification (local CI toolchains)
- etc.

[2020-01-01 13:52] collivier commented on #483
done

[2020-01-01 13:52] #483 closed

[2020-01-01 14:08] collivier opened #872 "[RC1] Add RC Cookbook"
The process announced in https://lists.opnfv.org/g/opnfv-tsc/message/5717 must be described as CNTT Compliance/Certification cookbook.

[2020-01-02 15:01] pgoyal01 opened #875 "[RM Ch05] 5.4.1. Compute Resources"
[RM Ch05] [5.4.1. Compute Resources](https://github.com/cntt-n/CNTT/blob/0e4a3d6720ab021b83e3b5f94711c469c479b477/doc/ref_model/chapters/chapter05.md#541-compute-resources)

Reference | Feature | Description | Basic Type | Network Intensive | Compute Intensive
-- | -- | -- | -- | -- | --
nfvi.hw.cpu.cfg.002 | Number of Cores per CPU | This determines the number of cores needed per each CPU. | 20 |

[2020-01-02 17:47] rrajesh70 commented on #798
will have a draft on this by tomorrow

[2020-01-06 10:38] #868 closed

[2020-01-06 11:28] #676 closed

[2020-01-06 11:29] #530 closed

[2020-01-06 15:11] jbeltranatl commented on #824
Image has been promoted to master. Closing.

[2020-01-06 15:11] #824 closed

[2020-01-06 15:14] jbeltranatl commented on #823
This was addressed in 804.

[2020-01-06 15:14] #823 closed

[2020-01-06 15:15] jbeltranatl commented on #474
This was addressed in 804. Closing.

[2020-01-06 15:15] #474 closed

[2020-01-06 15:21] jbeltranatl commented on #516
closing.

[2020-01-06 15:21] #516 closed

[2020-01-06 15:22] jbeltranatl commented on #680
Rabi - what document is this content intended for?

[2020-01-06 15:24] jbeltranatl commented on #468
Updates will be iterated. Closing.

[2020-01-06 15:24] #468 closed

[2020-01-06 15:50] pgoyal01 opened #879 "[RA-1 Ch03] Cleanup of memory jogs and couple of typos"
[RA-1 Ch03] Cleanup of memory jogs and couple of typos

[2020-01-06 21:58] pgoyal01 commented on #372
Issue addressed in PR #688, #689 and #700

[2020-01-06 21:58] #372 closed

[2020-01-06 22:20] pgoyal01 opened #881 "[Gov Ch01] Issue related to time"
"It now has over thirty operators and partners (VNF suppliers, third-party integrators, .." -- please specify "now" in term of a time-frame like "As of end of 2019 .." or ....

[2020-01-06 22:30] pgoyal01 opened #882 "[Gov Ch02] 2.2 Request Onboarding Info Packet"
2.2 Request Onboarding Info Packet -- the content of 2.2 are more than request for Info Packet

Sentence Issue: "Once you have reviewed the CNTT onboarding information and have agreed to the perquisite terms and agreements associated with participating and contributing to the Task Force, and you have completed onboarding and now it will be your opportunity to join desired work streams." Possible c

[2020-01-06 22:35] pgoyal01 opened #883 "[Gov Ch03] 3.4 New Work Streams Policy"
- New Work Stream proposals need to be approved by the Technical Steering Committee during their regular meetings.
- New Work Stream proposals need to be approved and signed off by Governance Steering Committee during their regular meetings.

Is it possible for a "New Workstream proposal" to be rejected by the Technical Steering Committee but approved by the Governance Steering Committee?

[2020-01-06 23:39] mf4716 commented on #408
Can we get an update?

@fuqiao123 , @opensource-tnbt , @collivier , @markbeierl , @ChilionChan ?

[2020-01-07 18:58] rabi-abdel opened #884 "[Tech Steering] Fix Figures in Technical Steering README"
as per @pgoyal01 @karinesevilla comment on https://github.com/cntt-n/CNTT/pull/731. this issue to fix few typos in the figures.

[2020-01-07 19:24] #643 closed

[2020-01-07 19:28] #866 closed

[2020-01-07 20:32] #872 closed

[2020-01-07 21:47] collivier commented on #829
@mf4716: From my understanding, CVC will maintain requirements for certification is false or possibly well explained (or well understood). It's up to CNTT to select the compliance test list.
I would like to change "Dependencies NFVI+VNF verification will rely upon test harnesses, test tools, and test suites provided by upstream OPNFV projects, including dovetaill, yardstick, and Bottleneck". dovet

[2020-01-08 02:42] mf4716 commented on #829
Agreed @collivier .  Please edit & close.

[2020-01-08 02:45] mf4716 commented on #594
@rrajesh70 @gkunz @mkr1481 - status?

[2020-01-08 02:46] mf4716 commented on #411
@gkunz - status?

[2020-01-08 02:46] mf4716 commented on #774
@deebhatia - status?

[2020-01-08 02:46] mf4716 commented on #775
@deebhatia - status?

[2020-01-08 02:47] mf4716 commented on #413
@sparayil @mkr1481 - status?

[2020-01-08 02:48] mf4716 commented on #414
@sparayil , @mkr1481 - status?

[2020-01-08 02:48] mf4716 commented on #415
@yangyanyj - status?

[2020-01-08 02:49] mf4716 commented on #800
@collivier - status?

[2020-01-08 02:50] mf4716 commented on #802
@collivier - status?

[2020-01-08 02:50] mf4716 commented on #801
@sparayil , @mkr1481 - hi, can you update on status?

[2020-01-08 03:35] sparayil commented on #801
Unfortunately, Mike I have not been able to work on this at all due to some business priorties

[2020-01-08 04:33] rrajesh70 commented on #794
Completed draft for Lab requirements and prepared slides for Prague.
[CNTT-POD-Descriptions-2.docx](https://github.com/cntt-n/CNTT/files/4033609/CNTT-POD-Descriptions-2.docx)

[2020-01-08 04:38] rrajesh70 commented on #798
Completed a draft and updated Prague slide deck

[CNTT-POD-Descriptions-2.docx](https://github.com/cntt-n/CNTT/files/4033621/CNTT-POD-Descriptions-2.docx)

[2020-01-08 04:38] #798 closed

[2020-01-08 04:39] rrajesh70 commented on #794
[Uploading CNTT-Lab-requirements.docx…]()

[2020-01-08 04:39] rrajesh70 commented on #794
Uploaded Lab requirements document

[2020-01-08 04:39] #794 closed

[2020-01-08 07:37] deebhatia commented on #775
It is already covered. Closing it.

[2020-01-08 07:37] #775 closed

[2020-01-08 11:58] markshostak commented on #816
@pgoyal01 Good idea. Please do. Thanks, -Mark

[2020-01-08 12:27] mkr1481 commented on #801
This could be closed as https://github.com/cntt-n/CNTT/pull/807 merged already

[2020-01-08 12:31] mkr1481 commented on #413
it is done now. #876. and can be closed.

[2020-01-08 12:31] mkr1481 commented on #420
Its done. now #707. can be closed

[2020-01-08 12:32] mf4716 commented on #801
Closed - with merged PR #807

[2020-01-08 12:32] #801 closed

[2020-01-08 12:32] mkr1481 commented on #421
Its done. now #707. can be closed

[2020-01-08 12:32] mf4716 commented on #413
Closed - with merged PR #876

[2020-01-08 12:32] #413 closed

[2020-01-08 12:33] mkr1481 commented on #420
Its done. now #707. can be closed

[2020-01-08 12:42] gkunz commented on #460
This issue can be closed as the content I proposed should be covered by RC1 Chapter 2.

[2020-01-08 12:42] #460 closed

[2020-01-08 12:43] #588 closed

[2020-01-08 12:48] #368 closed

[2020-01-08 12:49] rabi-abdel opened #890 "[RC1 Ch03] - NFVI test case requirements"
Need to fix some issues in https://github.com/cntt-n/CNTT/pull/812 as identified by @collivier

[2020-01-08 12:55] collivier opened #891 "[RC1] Change "[RC1 Ch03] - NFVI test case requirements" or possibly revert it"
It's written that NFVI test cases *must* support either proxied Internet connectivity or an offline mode if additional container or virtual machine images need to be downloaded at runtime.

I disagree to forbid testcases when it could be considered out of NFV (enterprise proxies?) or at least up to Operator to setup mirrors. I would de facto remove VNF testing and possibly raise side effect in RI

[2020-01-08 12:56] #736 closed

[2020-01-08 13:47] gkunz commented on #891
Let me clarify the requirement. The intention of this requirement is to ensure that there is "some way" to run a test case in a enterprise internal lab environment. Typically, such labs do not allow direct Internet access, but require proxies and internal DNS servers, etc. This is fundamentally different from the rather open OPNFV environment.

By "some way to run" a test case, I am not implying t

[2020-01-08 13:55] ChilionChan commented on #795
This issue can be closed. I prepared  a slides which have been included into MVP slides.

[2020-01-08 14:17] collivier commented on #891
@gkunz Sorry for the conflict between Chapter3 and Chapter 4 which sometimes occurs in a collaborative process. At least they seems equal, only the details differ.
+1 to rephrase the proxy part as proposed here.
Thank you in advance for the next PR.

[2020-01-08 14:36] mf4716 commented on #795
@ChilionChan , or @fuqiao123 - did the same Installer Requirement documentation get inserted into the  [RI Core Chapter 05](https://github.com/cntt-n/CNTT/blob/master/doc/ref_impl/cntt-ri/chapters/chapter05.md)?  If so, please close this issue.

[2020-01-08 16:30] mf4716 commented on #842
@deebhatia - the related PR #843 to  is still open.  This issue is tracking the updates needed for the PR.  Are we close to closing both the PR and this issue?  Thanks

[2020-01-08 16:37] #397 closed

[2020-01-08 16:37] #398 closed

[2020-01-08 16:37] #399 closed

[2020-01-08 16:37] #400 closed

[2020-01-08 16:37] #599 closed

[2020-01-08 17:03] #796 closed

[2020-01-09 01:43] mf4716 commented on #802
@collivier , @markbeierl - can we close?

[2020-01-09 02:29] mf4716 commented on #594
@rrajesh70 @gkunz @mkr1481 - can this be closed?  No open PR, and there is content available. [ RC Ch1 - link](https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter01.md)

[2020-01-09 02:33] mf4716 commented on #411
@gkunz - can this be closed?  There is initial content created for this chapter, which we can iterate and expand for the RC Alpha release in Apr:  [RC NFVI Ch 3 - link](https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter03.md)

[2020-01-09 02:41] mf4716 commented on #414
@sparayil , @mkr1481 - can we close this issue?  There is no open PR, and there is considerable amount of content created for the [RC1 Ch06 (link)](https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter06.md).

[2020-01-09 02:51] mf4716 commented on #575
@collivier - PR #463 is closed.  Can this issue be closed?

[2020-01-09 02:57] mf4716 commented on #416
@collivier @mkr1481 @opensource-tnbt @yangyanyj - status?  There is content available, but it appears to need a peer review, and further editing.  Please comment if someone is still working on this, or believes it should be closed.

[2020-01-09 02:59] mf4716 commented on #418
@deebhatia @collivier - can this be closed?  No PR open.  There is content for the chapter, which we can improve upon post-Sneka.  [RC1 Dev Ch9 - link](https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter09.md)

[2020-01-09 03:05] mf4716 commented on #419
@deebhatia - status?  or, @collivier status?  We have documented gaps in Test Cases and OpenStack.  Those were shared @deebhatia in a separate email.

[2020-01-09 07:21] #418 closed

[2020-01-09 09:33] #421 closed

[2020-01-09 09:34] #420 closed

[2020-01-09 14:14] #879 closed

[2020-01-09 15:36] pgoyal01 opened #898 "[RA-2 Ch06] 6.1 Images"
[RA-2 Ch06] 6.1 Images

" Image registries must be monitored to automatically block or replace images with known vulnerabilites, while also ensuring policies are used to gate what can be deployed and who can deploy from the registry."

It should be mandatory that "images with vulnerabilities" are blocked from being loaded into the registries.
Typo: "vulnerabilities"

"The following functionalities

[2020-01-09 15:56] samulikuusela opened #899 "[RA-2 Ch06] 6.1"
“A fully integrated security testing should be baked into the CI/CD pipeline.”
Suggest to modify to:
“A fully integrated security testing should be baked into the CI/CD pipeline, both in the vendors and operators pipelines.”

In the bullet list:
“Kubernetes Cluster Multi-tenancy security”
could be changed to eg:
“How to overcome the lack of true Kubernetes Cluster Multi-tenancy”