[2020-01-09 15:59] samulikuusela opened #900 "[RA-2 Ch06] 6.6"
Add new bullet after the existing bullet (at the end of chapter):
"Most reliable separation is achieved by deploying the sensitive workload into dedicated cluster"

[2020-01-09 16:17] samulikuusela opened #901 "[RA2 Ch06] Security patches"
“new security features and patches are added in every quarterly update”:
Unclear if this means vendor (SW development) or operator (SW deployment). Suggest anyway to remove the "every quarterly", because open src and commercial SW are released in various cycles which can be longer or shorter than every quarter.

Could add what does this mean for vendor and operator, something like;
- the vendor as

[2020-01-09 16:30] #573 closed

[2020-01-09 17:16] pgoyal01 opened #902 "[RA-1 Ch 2] Bogo meter update"
[RA-1 Ch 2] Bogo meter update to "Dickering"

[2020-01-09 17:19] pgoyal01 opened #903 "[RA-1 Ch 3] Bogo meter update to "Dickering""
[RA-1 Ch 3] Bogo meter update to "Dickering"

[2020-01-09 17:19] pgoyal01 opened #904 "[RA-1 Ch 4] Bogo meter update to "Still Developing Content""
[RA-1 Ch 4] Bogo meter update to "Still Developing Content"

[2020-01-09 19:13] collivier opened #908 "[RI1] Fill 7.7 Deployment Validations"
The validation in place has to be described:
https://build.opnfv.org/ci/view/cntt/job/cntt-latest-daily/

[2020-01-09 19:19] #863 closed

[2020-01-09 19:19] #902 closed

[2020-01-09 19:21] #903 closed

[2020-01-09 19:22] #904 closed

[2020-01-09 19:51] gkunz commented on #411
@mf4716, yes, let's close this and create more specific issues.

[2020-01-09 19:53] gkunz commented on #890
see also #891

[2020-01-09 20:14] mf4716 commented on #411
Closed.  There is initial content created for this chapter, which we can iterate and expand for the RC Alpha release in Apr: [RC NFVI Ch 3 - link](https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter03.md)

[2020-01-09 20:14] #411 closed

[2020-01-09 20:22] gkunz commented on #891
Hi @collivier. Would you agree to list of all test cases selected by the compliance test suite in chapter 4, that is, also the performance, resilience and bare-metal validation test cases - once defined - in addition to the functional tests you have already covered? If so, I would just move the empty headings from 3.9 to 4 in the next patch.

[2020-01-09 20:41] gkunz commented on #891
@collivier I moved the headings in #909 . Let me know if you prefer to undo this.

[2020-01-09 21:21] pgoyal01 commented on #875
This also affects RI [4.2.1 Physical Server Requirements](https://github.com/markbeierl/CNTT/blob/patch-2/doc/ref_impl/cntt-ri/chapters/chapter04.md#421-physical-server-requirements) where 24 core CPUs are specified for use; non-compliant with nfvi.hw.cpu.cfg.002

[2020-01-10 00:18] #730 closed

[2020-01-10 00:29] collivier commented on #891
@gkunz Performance could have been removed as they are already few section about API benchmarking and dataplace benchmarking.

[2020-01-10 00:49] collivier opened #912 "[RC1] Remove 7.8, 7.9 and 7.10"
They are empty and already treated from my understanding
https://github.com/cntt-n/CNTT/pull/910
https://github.com/cntt-n/CNTT/pull/911

The only place to grow would be to dive into Jenkins job builder but it's already very well documented inline and we are not so many to master it even in OPNFV (see Releng contributors).

[2020-01-10 00:50] collivier commented on #912
@fuqiao123 @mf4716 Please let me now if do create the PR.

[2020-01-10 00:54] collivier commented on #300
mostly done

[2020-01-10 00:54] #300 closed

[2020-01-10 00:55] #301 closed

[2020-01-10 00:56] collivier commented on #408
Deployment Validations is under review

[2020-01-10 01:00] collivier commented on #416
@rabiabdel @mf4716 the frameworks are documented for the RC and RI needs. The testing versions are also listed for the NFVI compliance containers. Do you see something missing for NFVI Compliance?

[2020-01-10 01:01] #802 closed

[2020-01-10 01:02] collivier commented on #515
done

[2020-01-10 01:02] #515 closed

[2020-01-10 01:02] collivier commented on #575
done

[2020-01-10 01:02] #575 closed

[2020-01-10 01:05] collivier commented on #797
@mf4716
I think my part is completed and I can be safely removed from assignee.
https://github.com/cntt-n/CNTT/pull/911
https://github.com/cntt-n/CNTT/pull/910
https://github.com/cntt-n/CNTT/issues/912

[2020-01-10 01:10] collivier commented on #422
@rabiabdel @mf4716 a few existing opnfv vnf testing has been put in Chapter04 a few weeks ago. https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter04.md#4.3.7
Coud I remove myself as assignee?

[2020-01-10 01:12] collivier commented on #423
We did first validate the testing frameworks for RI/RC and then we can see how to smoothly integrate them.

[2020-01-10 01:14] collivier commented on #858
@mf4716 Could I remove this part? We could add them back when content is added.

[2020-01-10 01:15] collivier commented on #854
done

[2020-01-10 01:15] #854 closed

[2020-01-10 01:17] collivier commented on #509
It's up to YardStick team to port it or at least to ask for help.
I won't update all OPNFV test frameworks.

[2020-01-10 01:18] collivier commented on #416
I closed it be free to reopen it if needed.

[2020-01-10 01:18] #416 closed

[2020-01-10 01:21] collivier commented on #417
@mf4716 @rabi-abdel I would consider this part as under-review. Waiting for 2 approvals.
https://github.com/cntt-n/CNTT/pull/910

[2020-01-10 01:25] collivier commented on #419
@deebhatia @mf4716 @rabi-abdel
the gaps are mostly about heat testing. But I haven't seen no contributor from CNTT or OPNFV to update the existing OPNFV test frameworks (see open issue) out of Functest. The gap is mostly about the code contributions.

[2020-01-10 01:58] sukhdevkapur opened #914 "Clean up the wording in chapter 8 of RA1"
Multi-cloud implies public cloud as well. So, remove the word public - based upon the feedback

[2020-01-10 02:14] sukhdevkapur commented on #373
This issue is addressed as part of issue #372. This is a gap in the openstack, and it is listed under packet acceleration gap. Once we review and agree with the gaps identified at the F2F meeting in Prague, we will come up the plan to implement this interface and work with upstream communities to get it incorporated

[2020-01-10 02:14] #373 closed

[2020-01-10 03:09] mf4716 commented on #797
@collivier

The sections that a 3rd party team would need to complete the setup of a lab and run smoke/health/compliance (only to confirm component exposure) still need to be written.

These were (are) the areas you were going to create:
7.7 Deployment Validations
7.8 CICD Tool Chain (use of, process, and scripts)
7.9 Jenkins Setup & Job Creation
7.10 Compliance Validation (steps, process)

Where

[2020-01-10 03:17] mf4716 commented on #509
@collivier - reassiging back to you as you opened this in Oct.  Please assign to the proper Yardstick person/team, or list as a gap and we'll address post-Snezka

[2020-01-10 03:19] mf4716 commented on #858
@collivier - The ask was,

"The sections, 4.3.2 Infrastructure and 4.3.3 VIM, contain the RA Requirements, for which TCs will be tested, or used for testing. As such we will Not be removing the sections.

Please insert additional Functest/Smoke test cases to enhance this section."

There is a need for content, so we cannot remove.

[2020-01-10 03:20] mf4716 commented on #423
@collivier - is that being documented in RC1 Ch11, per request?

[2020-01-10 03:24] mf4716 commented on #419
@collivier - reposting the earlier comment -

_@deebhatia - RC1 Ch11 is intended to be the target location for "gaps" identified during RC of RI. Considering Ocata is installed for the Alpha release, and Pike is identified in the RA-1 documentation, there needs to be an analysis of core capabilities and services not exposed, on purpose or other, not readily available. These gaps are identified her

[2020-01-10 03:27] mf4716 commented on #422
@collivier the URL/document you referenced is for NFVI.  This issue is for VNF TC traceability.

[2020-01-10 03:28] mf4716 commented on #912
These sections need to be written.  We need to delete/cancel this issue.

[2020-01-10 09:36] markshostak commented on #759
This issue was addressed by PR 760, which was rolled into PR 731 and merged 9/1/2020. Closing...

[2020-01-10 09:36] #759 closed

[2020-01-10 09:44] markshostak commented on #875
Good catch, @pgoyal01 ! All yours.

[2020-01-10 10:01] markshostak commented on #429
The references cited in this bug report have been removed from the master branch. Closing...

[2020-01-10 10:01] #429 closed

[2020-01-10 10:11] #645 closed

[2020-01-10 10:16] #914 closed

[2020-01-10 10:19] markshostak opened #915 "[RM Ch-08-Annex] Purge Annex"
@mf4716 Mike, Is there any purpose in having an annex to RM Ch8 anymore? Please take a look and let me know if you've got all the material in RC, so I can delete it. Thanks, -Mark

[2020-01-10 10:30] #890 closed

[2020-01-10 10:30] #891 closed

[2020-01-10 12:09] collivier commented on #908
Merged: https://github.com/cntt-n/CNTT/pull/910

[2020-01-10 12:09] #908 closed

[2020-01-10 12:17] collivier commented on #419
@collivier: RI is not verified by RC right now as it mostly fails as the deployment step or the l3 is not configured correctly https://build.opnfv.org/ci/job/cntt-latest-daily/
Fill free to leverage on the first audit and put me as co-author if you mostly dump the audit (the release under test is not the main issue).
https://github.com/cntt-n/CNTT/issues/576
From my understand one cinder tempest t

[2020-01-10 12:22] collivier commented on #419
@deebhatia I would consider that the work about the RC and RI releases make sens when the results would be good enough to check the last tempest failures and then to double check a few release mismatches. It could dive also the update of mandatory extensions for the next OpenStack releases. In the case, the past releases doesn't make sens.

[2020-01-10 12:24] collivier commented on #858
It looks strange to keep TOC when empty and partially duplicating other sections.

[2020-01-10 12:24] #858 closed

[2020-01-10 12:25] collivier commented on #912
Your choice.

[2020-01-10 12:25] #912 closed

[2020-01-10 12:26] collivier commented on #422
ok. Then I'm not the right assignee.

[2020-01-10 12:27] collivier commented on #417
Done (The 2 PRs were merged)

[2020-01-10 12:27] #417 closed

[2020-01-10 12:28] collivier commented on #508
Partially done in Functest. Be free to help.

[2020-01-10 12:41] collivier commented on #423
It would be fair to assign it to people writing or merging patches in chapter5, no?
Then I remove myself here.

The CI/CD frameworks mentioned is well documented towards the cookbook which could extend VNF onboarding and testing in a second step:
2.1.1 CNTT RI and RC toolchains
2.7.2 Test case integration requirements
9.4 CNTT Compliance Cookbook

Chapter5 should conform with the upper requirement

[2020-01-10 13:05] collivier opened #916 "[RI1 RC1] Add https://github.com/openstack/tempest-stress"
It would be an added value to tempest-stress in Functest (RI1 and RC1)
https://github.com/openstack/tempest-stress

[2020-01-10 13:23] collivier opened #917 "Port VTP test cases to Xtesting"
RC1 Chapter 5 VNF E2E C&V Framework Requirements lists VTP which is not compatible with the CI/CD principles and requirements. They are mentioned towards the cookbook which could extend VNF onboarding and testing in a second step:
- 2.1.1 CNTT RI and RC toolchains
- 2.7.2 Test case integration requirements
- 9.4 CNTT Compliance Cookbook

It seems easily doable via the REST API exposed by VTP

[2020-01-10 14:36] deebhatia commented on #419
@collivier When I opened this issue, I was coming from a viewpoint that CNTT will define the test cases and see what all of the test cases available in Open Source frameworks and have a mapping. It was mainly to tackle that as the gaps will be higher if we go in this order. However, the actual was a little different. It was first to collaborate with existing ones, bring them in first, then see wha

[2020-01-10 14:54] collivier commented on #419
+1 @deebhatia Lots of gaps are listed as CNTT issues. I just dumped them in Chapter 11.
Your review is more than welcome: (I could have added you directly).
https://github.com/cntt-n/CNTT/pull/918

[2020-01-10 14:56] collivier commented on #419
@deebhatia We can intepret the same list as we are missing disk benchmarking as StorePerf doesn't fit the model, HA testing with containerised OpenStack services because YardStick can't be integrated asis.

[2020-01-10 15:27] deebhatia commented on #419
I wouldn't consider that as same. Those are framework integration gaps rather than missing test cases. Missing Test Cases should be listed down explicitly. Either references to OPNFV JIRAs which contain all relevant details or just a single line explanation here which later gets mapped to JIRA issues.

[2020-01-10 15:27] tomkivlin opened #920 "RA2 Ch4 - constrain OS version based on required features"
_Originally posted by @Levovar in https://github.com/cntt-n/CNTT/pull/874#issuecomment-572988778_

[2020-01-10 15:31] gkunz commented on #594
@mf4716 can be closed as a clean-up measure for the release.

[2020-01-10 15:35] mf4716 commented on #915
@markshostak - there is some good content needed for RC-1.  I'll review / retrieve info, then revert back when done.  For convenience, link to material:  [RM Ch8 Annex](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter08-annex.md)

[2020-01-10 15:53] markbeierl commented on #406
For the lab details, I think we are complete here.  We will need a new PR for Ch06 to document the lab operations, as outlined by @mf4716 :

**Ch06: Lab Operations**

- Define & Ensure all entry / exit criteria met
- Outline lab selection options & How to obtain assistance (LAAS, Community, Self Service)
- Release Alignment

[2020-01-10 15:55] tomkivlin opened #925 "[TSC] - sync WSLs to CODEOWNERS"
At the moment, the [CODEOWNERS](../blob/master/CODEOWNERS) contains a subset of the workstream leads and coleads for each chapter.
E.g. for all RA2 Core chapters could we add @CsatariGergely and the other co-leads?

[code]

[2020-01-10 15:58] pgoyal01 opened #926 "[RA-1 Ch04] Figure 4-1"
Based on feedback from multiple folks (@mbustame, @mf4716, @markbeierl) modify diagram and provide network descriptions.

[2020-01-10 16:30] rabi-abdel opened #928 "[RA2 Ch06] Fix some issues with existing text"
Regarding https://github.com/cntt-n/CNTT/pull/894

@samulikuusela has some proposed text that has still not got merged in Ch06.

@samulikuusela Please crate a PR for the propose text.

[2020-01-10 17:05] deebhatia commented on #915
@mf4716 I think you can use this patch. :)
[Annexture_8_movement_in_RC_1.patch.zip](https://github.com/cntt-n/CNTT/files/4046753/Annexture_8_movement_in_RC_1.patch.zip)

[2020-01-10 17:11] #642 closed

[2020-01-10 17:13] #594 closed

[2020-01-10 17:16] #266 closed

[2020-01-10 17:16] #314 closed

[2020-01-10 17:16] #339 closed

[2020-01-10 17:16] #435 closed

[2020-01-10 17:19] #842 closed

[2020-01-10 17:21] mf4716 commented on #917
Reassigned to dev (@collivier ) and contributor leads (@mkr1481 , @yangyanyj ), as this requires post-Sneka dialogue for porting VTP functionality to XTesting.

[2020-01-10 17:34] mf4716 commented on #422
This can be reviewed post-Snezka.

@collivier - please review / canvass the RC-1 Dev Team to see whom this RC-1 Dev Ch10 issues can be assigned to.

 Adding additional co-leads @mkr1481 (kanag) and @yangyanyj (yan yang) if you need their help assigning a team member.

[2020-01-10 17:44] mf4716 commented on #406
@markbeierl - I approved PR #810 .  Agree.  A new PR can/should be generated by @rrajesh70 when ready to document Lab Operations, post-Snezka.

[2020-01-10 19:19] markshostak commented on #915
That's cute.

[2020-01-10 19:35] mf4716 commented on #915
@markshostak - Good to purge.  We have what we need.  Thanks.

[2020-01-10 20:05] mf4716 commented on #795
Contents contained in Ch 5.  Closed.

[2020-01-10 20:05] #795 closed

[2020-01-10 20:07] mf4716 commented on #799
Install complete on target POD15 lab 1/7.  Closed.

[2020-01-10 20:07] #799 closed

[2020-01-10 20:11] #915 closed

[2020-01-10 20:14] mf4716 commented on #800
Frameworks created.  Additional iterations expected post-Snezka.

[2020-01-10 20:14] #800 closed

[2020-01-10 20:14] #926 closed

[2020-01-10 20:28] #797 closed

[2020-01-11 10:32] collivier commented on #917
@mf4716 Would you mind hugely reduce the assignments to me? Here they are much more reasons that it should be assigned to you especially because you merge the change which creates this inconsistency. Yes we should rewrite chapter5 or quickly make the changes required in VTP to support the framework properties listed as mandatory. It should be a quick discussion as I think it asks for minor adaptat

[2020-01-11 22:16] pgoyal01 opened #941 "[RA Figures] Delete Extraneous file"
Delete Extraneous figure (wrong location): Figure_4_1_OpenStack_Network_Layout_20200110.png from https://github.com/cntt-n/CNTT/delete/master/doc/ref_arch/figures/

[2020-01-15 08:26] tomkivlin commented on #613
GC/PW/YW: enable instead of support.
Need more info on what sort of resiliency.
Describe underlying services and how they enable workloads to be resilient.
PW: should state what the parameters of native k8s features are.
PW: preference is to describe what the infra/platform is offering. ReplicaSet parameters (container restart) - definable and testable.

[2020-01-15 08:28] tomkivlin commented on #603
Agreed to remove.

[2020-01-15 08:32] tomkivlin commented on #614
Tweak to make the requirement about the robustness and cleanliness of the APIs being offered.

[2020-01-15 08:32] tomkivlin commented on #614
ALso remove reference to 'cloud platform'.

[2020-01-15 10:54] mf4716 opened #945 "[RC1 Ch9 - Snezka F2F] RC Cookbook Enhancements"
As a follow up to Sneka F2F, enhance the RC Cookbook in [RC1 Ch9](https://github.com/cntt-n/CNTT/tree/master/doc/ref_cert/lfn/chapters) to include:

**User-Execution**
- Common Failure codes, description, and resolutions
- Test Framework Clean-Up Utility, Process, and Support Expectations

**Process / Version Mgmt**
- Process for version control
- Process for bug fixes and patches
- Containers Tag

[2020-01-15 10:56] mf4716 commented on #945
@lylavoie , @markbeierl , @markshostak - please update description w/ missing enhancements needed for RC1 Cookbook.

[2020-01-16 22:02] xmulligan opened #946 "[RA 2] making the Artefact Repository consistent across the documentation"
In reference to the conversation in  #943
Yes I like that. And probably a new issue to clarify and make the documentation consistent around artefact repos. - @tomkivlin

We need to understand which RM requirements address the requirement for an artefact repository. As a more generic requirement for Kubernetes architecture it makes sense, but in the context of an architecture that is about standard

[2020-01-21 13:32] xmulligan commented on #946
Section 4.1.6 VIM Capabilities at https://cntt-n.github.io/CNTT/doc/ref_model/chapters/chapter04.html includes image management as e.vim.cap.005

[2020-01-21 17:20] tomkivlin opened #950 "[RA2] OS Modularity requirements and features"
Suggested "minimum requirements":

- kernel version
- C library and version (glibc / musl c)
- Core utilities? (GNU Core Utils?)

[2020-01-21 17:20] tomkivlin commented on #950
@peterwoerndle - I was talking to another vendor about this today (BSS space) and thought I'd start jotting ideas down in an Issue.

[2020-01-22 20:17] mf4716 commented on #761
@lylavoie (Lincoln), per the RI/RC status call, here's the open Issue re: where to Park CIRV tools/code, and recommended syntax for folder/file names.  Please review at your next opportunity.  I'll include a link in our 1/22 meeting minutes for RI/RC.

[2020-01-22 20:45] pgoyal01 opened #952 "[RA-1 Ch02] Add Traceability Column"
[RA-1 Ch02] Add Traceability Column: this column would refer to Sections within the document where the requirement is addressed; please note a required may be covered in multiple sections.

[2020-01-22 21:48] lylavoie commented on #761
I would propose we request the following one repo ("cirv"). Inside the repo we will separate materials via directories, as "intel-pod-10-nfiv-perfest" or "hdv-tooling", "manifest-tooling".  Folders can easily be changed, discussed, and maintained by the PTL and committers. Repo creation comes through TSC for the project, which in this case is cirv.  The request to OPNFV TSC should come from the PT

[2020-01-22 23:09] mf4716 commented on #761
I've emailed the OPNFV TSC (1/22/2020), requesting creation of a "CIRV" repo.  Awaiting disposition.

The CIRV project has the designated PTL listed.

I will send an email to the list of project contributors, with a nomination of a few trusted volunteers.

[2020-01-23 10:46] rabi-abdel opened #954 "[TSC] Need for New RI-2 WS Proposal"
**We need a proposal for the new WS RI-2 based on RA-2 Specs**
This should follow the process defined in https://github.com/cntt-n/CNTT/blob/master/doc/gov/chapters/chapter03.md#34-new-work-streams-policy

Put the proposal to etherpad (https://etherpad.opnfv.org/p/RI2) or any other online editing tool or write directly here, but should contain:

- What Opensource projects we can use to create/inst

[2020-01-23 10:52] rabi-abdel opened #955 "[TSC] we need a proposal for RC-2 new WS"
We need a proposal for the new WS RC-2.

This should follow the process defined in https://github.com/cntt-n/CNTT/blob/master/doc/gov/chapters/chapter03.md#34-new-work-streams-policy

Put the proposal to etherpad or any other online editing tool or write directly here.
https://etherpad.opnfv.org/p/RC2

[2020-01-23 13:10] pgoyal01 commented on #954
Is RA-2 ready for RI-2 and RC-2?

[2020-01-24 07:36] #680 closed

[2020-01-24 09:46] #941 closed

[2020-01-24 13:15] jonnewton opened #957 "[RM CH04] Table 4-24"
Fix the inconsistency between the references in table 4-24 and the references in table 4-1

[2020-01-24 13:18] jonnewton opened #958 "[RM CH04] Table 4-24"
For 'Enhanced Cache Management' clarify whether 'X (If offered)'  means only X and nothing else in the case it is not available, or means X or anything lower (X|E|L)

[2020-01-24 13:42] rabi-abdel opened #960 "[RM] Networking Strategy"
- do we need a new networking work-stream or are we going to have networking details spread out between different RAs?

- Request received from Oya (VF).

[2020-01-24 14:52] pgoyal01 commented on #960
The underlay networking is common to both RA-1 and RA-2 but not sure about the overlay.

[2020-01-24 15:38] jonnewton opened #962 "[RM CH04] Table 4-24 does not map to the acceleration extensions"
Capabilities such as In line IPSec Acceleration and Look Aside Crypto are  requested using the acceleration extensions rather than on by default (but table 4-24 does not identify this).   Suggest an additional column is added for the cases where the capability has to be requested by Acceleration Extension (and identify the Extension in this column).

[2020-01-24 15:52] pgoyal01 commented on #962
@jonnewton while working on Ch 4 can you ensure consistency. Examples, CPU core pinning support and CPU pinning support; Host CPU usage and HOST CPU utilisation; e.nfvi.cap.013 refers to both SR-IOV over PCI-PT and Monitoring of L2-L7 data; etc.

There also different terms used in Ch 4 and Ch 5 for the same concept. Example, CPU overbooking and CPU allocation ratio; etc.

[2020-01-24 18:29] pgoyal01 commented on #952
Closing as PR #953 already merged.

[2020-01-24 18:29] #952 closed

[2020-01-26 19:13] markshostak commented on #960
@rabi-abdel Hi Rabi, The high-level perspective as discussed in Prague is we need to be able to interoperate with a variety of fabric solutions, as there are many Operator-specific details involved in a fabric, where some Ops may have needs demanding the advantages of a complex Layer-3 fabric (and have the staff to run it), some Ops may only need a simple Layer-2 fabric, and other Ops' needs fall

[2020-01-27 10:00] #489 closed

[2020-01-27 10:00] #490 closed

[2020-01-27 10:00] #491 closed

[2020-01-27 10:00] #492 closed

[2020-01-27 10:00] #493 closed

[2020-01-27 10:00] #494 closed

[2020-01-27 10:00] #496 closed

[2020-01-27 10:00] #497 closed

[2020-01-27 10:00] #498 closed

[2020-01-27 10:00] #504 closed

[2020-01-27 13:44] rabi-abdel opened #964 "[TSC] OpenSack base release for RA-1, RI-1."
As discussed in Prague, we need to decide on the base OpnStack version for RA-1 and RI-1.

[2020-01-27 13:55] rabi-abdel opened #965 "[TSC] CNTT position about Installers Physical/Installer Descriptor Format (xDF)."
There are different views around about if CNTT is going to specify standard installer format or leave it to OPNFV to decide if this is of a value.

- do need to specify/create one in CNTT?
- do we mind or care if there was one? good to have one? bad to have one? we don't care?

[2020-01-27 13:58] rabi-abdel commented on #925
Part of this is due to limitation in GitHub that doest allow for (or).

[2020-01-27 14:46] rabi-abdel commented on #965
@fuqiao123 I would like to hear your feedback as a leader of the Reference Implementation 1 Workstream

[2020-01-27 15:41] jbeltranatl opened #966 "[CNTT GSC] Gov Baldy Release Planning"
Planning for all governance related items to align with Baldy Release (ONES NA 2020).

[2020-01-27 15:46] jbeltranatl commented on #966
High-level straw man of governance actions Post Prague was created here:
https://wiki.lfnetworking.org/display/LN/Baldy+-+CNTT+Governance+Actions

Needs to be iterated to confirm governance related scope for Baldy Release.

[2020-01-27 16:23] jbeltranatl opened #967 "[CNTT GSC] Gov Baldy Release WS items to be assigned"
The following list contains a backlog of Prague action items which need clarification as to scope for Gov or Technology tracks:

 https://wiki.lfnetworking.org/display/LN/Baldy+-+CNTT+%28WS+To+Be+Assigned%29+Actions

[2020-01-27 19:56] rabi-abdel opened #968 "[TSC] Create and sign off technical Roadmap"
Agree on Technical Roadmap and sign it off.

[2020-01-27 20:07] jbeltranatl opened #970 "[CNTT GOV] Governance process for adopting new Reference Architectures"
Proposal: document and formally agree a process for new Reference Architectures to be adopted by CNTT, to ensure any new RA suggestions are proposed, discussed and agreed upon according to a formal process that is owned by the CNTT Governance Board. e.g. How to propose? How to vote on adoption? etc.

[2020-01-27 20:09] jbeltranatl opened #971 "[CNTT GOV] Governance process for events participation on behalf of CNTT"
Proposal: formalise, document and communicate the process for organising and gaining agreement on events, talks, panel discussions, anything relating to CNTT. As a WSL, I and others are planning a CFP for Kubecon to discuss the RA2 workstream; I was not aware there is an Events Committee that I should take this to. I think this is a great idea, but it needs to be documented as a formal process and

[2020-01-28 01:48] fuqiao123 commented on #965
Hi, Rabi. First let me explain why we need a xDF in the whole CNTT scenario. If we want to conduct implementation and verification in Labs, across multi-vendors or open-source communities, and we want to do this automatically, then such xDF is necessary, since currently all the different installer are using different DFs and we have to fill in each and every DF manually. This also answers your que

[2020-01-29 10:59] oyayan commented on #960
@markshostak Hi Mark, doesn't this mean duplicating almost same work between the current documents if we go with fabric/PR fabric? As mentioned in the above comments physical underlay for the fabric is standard for both RA1-2.

[2020-01-29 12:11] rabi-abdel opened #973 "[RM] Park Compute Intensive"
In Prague there was general consensus to temporarily park Compute Intensive, and supplement it by removing oversubscription from the Basic.

[2020-01-29 12:13] rabi-abdel commented on #973
Agreed and approved by TSC on 29th Juanuary

[2020-01-29 12:19] rabi-abdel commented on #954
-Scott to be added.
-Rihab to be added.

[2020-01-29 12:20] rabi-abdel commented on #954
Aim for a month to have a draft to be reviewed.

[2020-01-29 12:22] #601 closed

[2020-01-29 12:25] CsatariGergely commented on #960
I agree, that this should be started form the RM, and not as a new WS.
Implementation of new orchestration frameworks for networks is out of scope for CNTT.

[2020-01-29 12:25] rabi-abdel commented on #960
The discussion will be taken place in the RM meeting. please join if you would like to get involved. No new WS is proposed to be created at this time.

[2020-01-29 12:27] rabi-abdel commented on #960
Assigned to RM to take the first step at this.

[2020-01-29 13:00] rabi-abdel commented on #964
Discussed in TSC:

1. We need a policy to:
   - specify when to move to a different OpenStack version. (what its he criteria)
   - What would be our backward compatibly policy

2. Base (Major) Version
  - do we need to specify a base version: **YES**.

3. which Version:
 - Beth to sync with Ildiko about the most used active version of opstakc
 - Survey to ask operators (Rabi to talk to Atul about

[2020-01-29 13:05] rabi-abdel opened #974 "[CNTT Technical Steering] Officers assignments:"
- Release Technical Manager
- Chief Technical Editor.
- ONAP Technical Coordinator.
- OPNFV Technical Coordinator.
- CNCF Technical Coordinator.
- CVC Technical Coordinator.
- Automation and Tooling

[2020-01-29 13:17] rabi-abdel commented on #974
Discussed during CNTT:

- Release Technical Manager: @collivier
- Chief Technical Editor: @bfcohen  
- ONAP Technical Coordinator:   <TBA>
- OPNFV Technical Coordinator: **Owner:** @fuqiao123 helers: @mf4716
- CNCF Technical Coordinator:   @CsatariGergely
- CVC Technical Coordinator:     @rabi-abdel
- Automation and Tooling:           **Owner**: Scott, help from:  @CsatariGergely, @collivier

@rab

[2020-01-29 13:22] jbeltranatl commented on #964
Re: Poll

Example areas of questions to operators...What version on today? Next target version? What is strategy?

[2020-01-29 15:23] pgoyal01 commented on #964
Backward compatibility: in general OpenStack is backward compatible: "In general there is a requirement that release N will keep backward compatibility with release N-1 and in a deployment N’s and N-1’s services can safely coexist." However, if new functions introduced in version N are used then they will not work in version N-1.

For exposed services, API compatibility is of critical importance.

[2020-01-29 16:26] peterwoerndle commented on #950
When you're referring to "minimum requirements", we should differentiate between Host OS and base OS, or? I assume some requirements would have to be matched, others would only apply to one or the other.

I remember that for the host OS a minimal set of kernel modules to be available have been mentioned but not further defined.

[2020-01-29 19:17] rabi-abdel commented on #964
[Ildiko]:

I would highlight two concepts. One is API versions and the other is the releases of the different services.

Many of the core services adopted to use microversions for their APIs to provide better structure and visibility into changes and help with backward compatibility. There is some information about the concept for Nova described here: https://docs.openstack.org/api-guide/compute/m

[2020-01-29 19:18] rabi-abdel commented on #964
[Ildiko]:
Hi,

Sorry that I missed today’s meeting.

Following up on the item below, we are running a user survey that provides some data around deployments. Based on the past two years the most deployments are using one of the five releases between Mitaka and Queens. There are some deployments on both older and newer versions as well. Based on data that we have I can’t really name one particular

[2020-01-29 19:21] ASawwaf commented on #964
CNTT ( RA-1 ) almost will depend on the core project of Openstack ( Nova, Neutron , Cinder , Swift , Keystone , Heat ,  Galance , Horizon and Ironic )

and if we monitor the updates/changes in these project from release to release we will find that there is no major changes expect updates on certain exposed API

 to follow every release it will be to touch and not make sense

On practical, as an o

[2020-01-29 19:23] rabi-abdel commented on #964
@bfcohen said:
Hi Ildiko -
Sorry you missed the meeting.  There are several components to the discussion.  We were looking for the most common deployment for Telecom's more as a stake in the sand for the determining the bottom level for a supported RA.  We also need to determine the right cadence for matching CNTT to the OpenStack releases.  which are still at every six months, but now mapping to

[2020-01-29 19:24] rabi-abdel commented on #964
I kind of like @bfcohen proposal of specifying the minimum supported release (based on the features we specify in RA) and we need to make sure that we clarify that x releases in future will be supported in accordance to OpenStack combability policy.

[2020-01-29 19:27] rabi-abdel commented on #964
will specifying a minimum release of OpenStack will work (since we understand OpenStack combinability policy). we then update our minimum release if we find features that we would like to include in RA in future OpenSack releases and so on? what do you think @ASawwaf ?

[2020-01-29 19:30] ASawwaf commented on #964
agreed, but we need to define the criteria for an upgrade , is it Just new feature ? or or,...

[2020-01-29 19:34] ASawwaf commented on #960
@markshostak , thanks ,  for leading today  discussion as usual, , we agreed to have more discussion on the programmability fabric, and this should be started from RM

For MoM , https://wiki.lfnetworking.org/display/LN/2020-01-29+-+%5BCNTT+-+RM+Workstream+Master%5D+Agenda+and+Meeting+Minutes

[2020-01-29 20:05] pgoyal01 commented on #964
@ASawwaf Thanks. We can add to the criteria for selecting a new release that you already specified:
- Security Fix (not fixed through a patch)
- pending API deprecation
I would suggest that it always be a **major** OSTK release.

Regarding targeting an OSTK release the various OSTK vendors follow different approaches at least as it concerns their extended support versions (see below). In Paris, we

[2020-01-30 14:21] tomkivlin opened #975 "[RA2] Survey of Kubernetes usage"
Comments by @kedmison in Prague:
KE: Is it worth doing a matrix survey of who is doing K8S now, and who will be doing it at EoY, vs who is using it for network functions, and who is doing it for IT-type workloads (or network-adjacent tasks like management, operations)
KE: CNTT defined its mandate as wanting to provide an environment for network, IT, and ML workloads.  If the survey shows that K8S

[2020-01-30 14:22] tomkivlin opened #976 "[RA2] Migration guidance with CNCF TUG"
Comment by @bfcohen in Prague:
BFC: Might want to consider adding a migration guidence section as the containers RA gets more fleshed out.  Need to bring the gaps and issues to the CNCF to start addressing when RA 2 is more mature (maybe in 3-6 months)
BFC: This is a different situation then RA 1, RA 2 is charting new territory in that it is staying ahead of the CNF deployments by the operators an

[2020-01-30 14:24] tomkivlin opened #977 "[RA2] Ch3 - check if 3.3 is required, if not delete"
Comment from Prague deep dive:
Ch3 generic
If there is no content ot 3.3 we should delete it

[2020-01-30 14:26] tomkivlin opened #978 "[RA2] Ch3 - add note about KEPs re. NUMA huge pages"
From Prague deep dive:
Gerg0 to add a note about the KEP-s under construction for NUMA aware huge pages

[2020-01-30 14:26] tomkivlin opened #979 "[RA2] Ch3 - remove redundant note"
From deep dive in Prague:
We can delete the note starting with "As this RA is developed, it is quite p..." from the end of Ch3.1 as it is was done

[2020-01-30 14:27] tomkivlin opened #980 "[RA2] Ch3 - fix broken link"
From deep dive in Prague:
Fix broken link in RA2 3.2.1.1

[2020-01-30 14:28] tomkivlin opened #981 "[RA2] Ch3 - track SR-IOV exception for RA2"
From deep dive in Prague:
3.2.1 Raise an issue to track SR-IOV exception for RA-2

[2020-01-30 14:30] tomkivlin opened #982 "[RA2] Ch3 - clarify pod-to-pod vs external connectivity"
From deep dive in Prague:
3.2.2 Container Networking Services
PW to open an issue for pod-pod vs. external connectivity and IPVLAN/MACVLAN to be specific implementation choices.

[2020-01-30 14:31] tomkivlin opened #983 "[RA2] Ch3 - add reference to CSI"
From deep dive in Prague:
3.2.3 Add a reference to CSI, similar to what we have for CNIs in 3.2.2

[2020-01-30 14:31] tomkivlin opened #984 "[RA2] Ch3 - clarification re. Tiller"
From deep dive in Prague:
3.2.4 State that a pachage manager shall only interact wit hte k8s API (no Tiller)

We should put a generic statement that the RA2 does not recommend any package managers with a server side component

[2020-01-30 14:34] tomkivlin opened #985 "[RA2] Ch8 - document how to define a gap"
From deep dive in Prague:
A gap should refer to a requirement in RA#2 or in the RM to allow for tracability. --> PW to create a template entry howto document a gap.

[2020-01-30 14:37] tomkivlin opened #986 "[RA2] Ch6 - check if 6.2.4 exists any more"
From deep dive in Prague:
8.2.4 This gap may not be existing anymore. Check if it relates to 8.2.5. Issue to be opened.

[2020-01-30 14:39] tomkivlin opened #987 "[RA2] Ch4 - more detail around Kubernetes feature flags required"
From deep dive in Prague:
We need more content about the enabled Kubernetes feature flags

[2020-01-30 14:39] tomkivlin opened #988 "[ALL] - We need to be more consistent on "compliant" vs "conformant""
From deep dive in Prague:
We need to be more consistent on "compliant" vs "conformant"

[2020-01-30 14:40] tomkivlin opened #989 "[RA2] Ch4 - first sentence in Chapter 4.2 should state that all the bullet point must be met"
From deep dive in Prague:
first sentence in Chapter 4.2 should state that all the bullet point must be met

[2020-01-30 14:41] tomkivlin opened #990 "[RA2] Ch4 - 4th bullet of Chapter 4.2 needs rewording"
From deep dive in Prague:
4th bullet of Chapter 4.2 needs rewording

[2020-01-30 14:41] tomkivlin opened #991 "[RA2] Ch4 - review kernel version table"
From deep dive in Prague:
4.2 requires a look when defining minimum kernel version supported for workers (vs entire K8s cluster)

[2020-01-30 14:42] tomkivlin opened #992 "[RA2 Ch05] Node hardening"
From deep dive in Prague:
Node Hardening:
Need more detail around the CIS Benchmarks - which parts? What % coverage is "ok"?
We will need more detailed requirements to drive this, to focus on what is important.

[2020-01-30 14:43] tomkivlin opened #993 "[RA2] Ch6 - namespaces"
From deep dive in Prague:
Namespaces:
Can learn from CNF vendors and how they have secured their apps on their own k8s platforms.
Look to leverage common CNCF security approaches and solutions
Ensure traceability to ch2 for all statements in ch6 and ensure they are testable

[2020-01-30 14:43] tomkivlin opened #994 "[RA2] Ch5 - runtime security"
From deep dive in Prague:
Runtime Security
More guidance for operator-choice tooling
Maybe move to TUG whitepapers over time

[2020-01-30 14:44] tomkivlin opened #995 "[RA2 Ch05] Secrets management"
From deep dive in Prague:
Secrets Mgmt
Do we really need to test for hardcoded passwords? (yes)
Is this for accessing the cluster or app-level?

[2020-01-30 14:45] tomkivlin opened #996 "[RA2] Ch6 - container registries"
From deep dive in Prague:
Container Registries
Need to work out what, if anything, the registry does to help a CNF pass the RC tests [and then modify the chapter]

[2020-01-30 14:45] tomkivlin opened #997 "[RA2] Ch6 - capitalise Kubernetes"
From deep dive in Prague:
6.14
Capitalise kubernetes -> Kubernetes

[2020-01-30 14:46] tomkivlin opened #998 "[RA2] Ch6 - Add in NIST specs"
From deep dive in Prague:
6.14
Add in NIST (800-190) specifications

[2020-01-30 14:46] tomkivlin opened #999 "[RA2] Ch6 - SIEM standard interface"
From deep dive in Prague:
6.14
For SIEM - how to specify a standard interface? Start with stderr/stdout from each container, up to metrics-server, and so on until we find an issue (if we do) .

[2020-01-30 15:09] pgoyal01 commented on #649
To specify the RA-1 Security requirements, an attempt is underway to define the RM Security requirements (RM Ch07). These requirements will be subject to everyone's review once they are add to the RM chapter 07. Once the RM security requirements are agreed upon, we can revisit the RA-1 and RA-2 requirements.

[2020-01-30 15:10] tomkivlin commented on #602
Fixed in #948

[2020-01-30 15:10] #602 closed

[2020-01-30 15:10] tomkivlin commented on #615
Fixed in #948

[2020-01-30 15:10] #615 closed

[2020-01-30 15:40] mf4716 commented on #988
@tomkivlin (Tom), thanks for opening this issue.  The RI/RC WSs will avoid duplication and use this issue to document the conversation & disposition, then apply the outcome across our documents, and presumably updates to our WS titles, and general decks/messaging.  Per the Gov call today Brian B. will be reaching across to Heather to collect their (LFN) feedback, then we can ensure we have consens

[2020-01-30 18:31] scottsteinbrueck opened #1000 "[RA-1 Ch0] Test Issue"
This is a test issue between @scottsteinbrueck and @pgoyal01 within RA-1, to make sure Github contributions are working properly for scott.

Disregard.

[2020-01-30 20:26] pgoyal01 commented on #998
@tomkivlin Are the non-US companies OK with incorporating NIST requirements? I have been working with some others on creating the RM Security Ch07 requirements and hence the ask.

[2020-01-30 23:00] mf4716 commented on #761
Closing.  Two repo's created, and documented on the [CIRV project page](https://wiki.opnfv.org/pages/viewpage.action?pageId=47284396).

1. CIRV:  https://gerrit.opnfv.org/gerrit/admin/repos/cirv - main(primary) repo
2. CIRV_Spirent: https://gerrit.opnfv.org/gerrit/admin/repos/cirv-spirent - adjunct repo, dedicated to Spirent, used for uploading/managing code contributions for RI/RC validations in

[2020-01-30 23:00] #761 closed

[2020-01-31 08:30] tomkivlin commented on #998
When it was discussed in the deep dive there was no concern raised and plenty of non-US firms were there - European, Asian - so I'd consider that a low risk.  I think the key is to incorporate the requirements from NIST / CIS / whomever else that work and not create a hard link to that particular standards body unless there is widespread agreement to do so.

[2020-01-31 13:08] CsatariGergely commented on #981
I would need to know how to "track" an exception. @rabi-abdel do we already have the way to propose and track exceptions?

[2020-01-31 13:50] nickolaev opened #1004 "[RA2] Ch1 - Cloud Native Principle -- Highlight make high-impact changes frequently and predictably"
I think a really important one was omitted here. Namely "make high-impact changes frequently". That is a crucial change to the overall lifecycle management model we have today in the NFV. Being able to have reliable CI/CD pipelines, well-defined staging environments and robust deployment models (A/B, Blue-green, Canary) is a gamechanger for the next-gen NFV implementations.

[2020-01-31 13:58] CsatariGergely commented on #1004
We use the CNCF Cloud Native definition as a basis and this is not mentioned there...

[2020-01-31 14:26] karinesevilla commented on #960
For me, It 's better to address networking in RM to cover the networking aspects common to RA1 and RA2 rather than creating a new workstream

[2020-01-31 14:37] nickolaev commented on #1004
Second paragraph, second sentence [here](https://github.com/cncf/toc/blob/master/DEFINITION.md) reads:
 _Combined with robust automation, they allow engineers to **make high-impact changes frequently** and predictably with minimal toil._

[2020-01-31 15:38] karinesevilla commented on #964
To move from an OpenStack release to another,  the need to add new feature considered mandatory by CNTT to support workloads must be a driver. It must be added to criteria mentioned above security fix and API deprecation)
As mentioned by  @pgoyal01, it may happen with Hardware acceleration and Cyborg

[2020-01-31 15:46] pgoyal01 commented on #964
Here is the list so far including items suggested by @ASawwaf and @karinesevilla:

- Complete change in architecture as convert OpenStack control plan from VM to Container based ( which it is achieved right now )
- New project that we are planning to adept like cybrog , Kuryu , Kata ,...
- New features that are considered mandatory by CNTT to support workloads
- Security Fix (not fixed through a p

[2020-01-31 15:54] karinesevilla opened #1005 "[RA 1- Ch05] Add explanations about API versions and micro-versions"
Text needed in the Chapter 05 intro to detail micro-versions

[2020-01-31 17:08] rabi-abdel commented on #964
@collivier said:
Hi,

As mentioned during the meeting, I would consider it's also about the versions still maintained by the communities involved (OpenStack, OPNFV, etc.).
It's not so simple because the capabilities to backport changes could differ between the different services and the related tests (a few of them manages their own releases too).

I strongly think RA1 Chapter5 and the related tes

[2020-01-31 17:15] rabi-abdel opened #1007 "[RM] VNF Evolution Policy"
The following 5 constituent issues (plus a potential 6th issue) have been identified as comprising the challenge of implementing VNF Evolution, specifically through "VNF Profile Generations" (refer to RM deep-dive presentation from Prague).
For additional information, refer to:
- Issue #750  // discussion of the VNF Evolution Framework requirements
- [Prague RM deep-dive presentation](https://wiki

[2020-01-31 17:38] #980 closed

[2020-01-31 18:28] kedmison opened #1008 "[RM] Define backward compatibility policy/strategy for CNTT"
In discussions on the exceptions framework and how it would be implemented in practice, the topic of backwards compatibility came up.  Assumptions were being made about its use, but it is not explicitly documented or addressed in the RM or at a Governance or Technical Steering level.

This issue is to create a proposal on what the backward compatibility strategy is for CNTT.  Once agreed to in the

[2020-01-31 18:28] kedmison opened #1009 "[RM] Define forward compatibility policy/strategy for CNTT"
In discussions on the exceptions framework and how it would be implemented in practice, the topic of forward compatibility came up.  Assumptions were being made about its use, but it is not explicitly documented or addressed in the RM or at a Governance or Technical Steering level.

This issue is to create a proposal on what the forward compatibility strategy is for CNTT.  Once agreed to in the RM

[2020-01-31 19:33] xmulligan commented on #996
Is this any different than #946 ?
Are we looking for a generic Artefact Repository or a more specific container registry?

[2020-01-31 19:36] pgoyal01 commented on #1007
@rabi-abdel there are no versions in OSTK. You are basically creating new flavors and these flavors are then specified during the instance create call (openstack server create --flavor <flavorid> ...).

[2020-01-31 21:58] jbeltranatl commented on #882
@pgoyal01 thanks. I added updates to PR #882 regarding this issue.

[2020-02-01 02:59] nickchase commented on #970
OK, I'll start:  I think we need to define a template for the proposal, with information such as:

Title
Summary
Purpose (what does it do that the existing RAs don't do?)
Status
Documentation

Bash at will.

[2020-02-01 04:34] nickchase commented on #971
We need to distinguish between going to a conference as a speaker who just happens to be talking about CNTT and someone who's truly "representing" us, such as a keynote speaker.

[2020-02-01 18:39] pgoyal01 commented on #960
Isn't CLOS the general network fabric model? If so, do we really need meetings for that or just the development of content?

[2020-02-01 19:30] ASawwaf commented on #960
CLOS more or less is IP Fabric , the point that raised by Mark regarding programmable fabric which is closed as per @rabi-abdel in gov call , but frankly, I didnt know the result

@rabi-abdel can you advice ?

[2020-02-02 19:14] pgoyal01 commented on #1000
Fixes in PR #1001 which has been merged. Closing issue.

[2020-02-02 19:14] #1000 closed

[2020-02-02 19:17] pgoyal01 commented on #687
Changed to Title to Generalise Issue to adding Traceability from all RA-1 Chapters in RA-1 Ch02 Requirements.

RA-1 Ch02 Requirements need to be updated -- dependent upon cleanup of RM Ch04 and Ch05 requirements.

[2020-02-02 19:21] pgoyal01 commented on #637
Content already added. Another Issue #638 open for RA-1 3.5 content.

Closing Issue.

[2020-02-02 19:21] #637 closed

[2020-02-02 20:14] sukhdevkapur commented on #960
Because of the meeting timing issues, I probably will not be able to join the calls to discuss, but, I want to make a point regarding programmable networking fabric. Please ensure that do not include (or make reference to) to specific implementations. Please address it at an architectural level - such as APIs based upon P4 interfaces (i.e. what is generic and what is specific), splitting of the ma

[2020-02-02 20:25] sukhdevkapur opened #1015 "[RA-1 Ch08] Discovery/Negotiation off VNF/NFVI capabilities"
During Prague meeting, we discussed that discovery and negotiations of the NFVI/VNF capabilities. We discussed various options:
1) This is needed - everybody mostly agreed
2) Should this be done at the HW procurement time and should be part of RFI/RFQ process?
3) Should this be done statically at the time of deployment of the VNF
4) If we do it dynamically through a negotiation protocol, isn't it

[2020-02-02 20:38] sukhdevkapur opened #1017 "[RA-1 RA-2] Hardware Acceleration Support/APIs"
Should we define the specific  requirements for acceleration hardware?
What level of detailed specification we want?  For example:
1) SmartNIC offload
2) DPDK
3) SRIOV

Do we want to go into the details of FPGA, GPU, etc?

I am assigning both RA1 and RA2 as both need to address this gap.

[2020-02-02 20:43] pgoyal01 commented on #1017
@sukhdevkapur OpenStack [Cyborg](https://docs.openstack.org/cyborg/latest/) project was recently overhauled including the architecture. It includes for example,

*Definition Breakdown*
General Management Framework:
- Resource Discovery
- Life Cycle Management

Accelerators:
- Software: dpdk/spdk, pmem, …
- Hardware: FPGA, GPU, ARM SoC, NVMe SSD, CCIX based Caches, …

[2020-02-02 20:43] fkautz opened #1018 "RA2 Kubernetes Requirement Groups"
Some requirements are a subset of other requirements. I think it would make sense to break these requirements into sections a bit more clearly and into sections. E.g.

# Global Requirements (G)
* req G1: Kubernetes should support persistent storage as defined in "PS"

# Persistent Storage Requirement (PS)
If req A is present, it must/should support:
* PS1: Persistent storage exposing *block storag

[2020-02-02 20:49] sukhdevkapur opened #1019 "[RA-1 RA-2] Chaining of multiple VNFs"
During Prague meeting, we discussed the following:

1) OpenStack SFC API is not actively supported and may not be deployable
2) Shall we beef up work in the OpenStack Community to address this APIs?
3) Most of the SDNs solve this and most of the operators used SDN based solutions - so, do nothing and used SDN and make SDN a part of RA1 and RA2
3) Work with OpenStack community to adopt SDN apis as

[2020-02-02 22:03] fkautz commented on #1019
I'm happy to help advise to work out if NSM is a good fit and subsequent design decisions if such a thing is desired.

[2020-02-02 22:14] fkautz opened #1020 "[RA2]: Centralisation of control"
Centralization of control in a K8s cluster should be ok. However, we should be careful of the wording.

Kubernetes is an emergent architecture. Desired outcome is posted into apiserver, and the system attempts to converge to a desired state. Likewise, many K8s components, CNI SDNs, and applications living on K8s share similar properties. This is antithetical to some top down control patterns where

[2020-02-03 02:05] kedmison commented on #1007
Conceptually, it would appear that defining the forwards/backwards compatibility policy first would provide guidance on the remaining issues 1, 2, 3.

Accordingly, issues #1008  and #1009 have been created to discuss the forward/backwards compatibility issues, and to identify how the RM should reflect these policies.  Then, we can approach issues 1/2/3.

[2020-02-03 02:19] kedmison commented on #1009
When looking at a compatibility strategy, one should look at the interface(s) being considered and the 'perspective' of the interface; that is, the consumer or provider of the interface, and if there is a perspective on which of consumer or provider would be migrating first.

From a CNTT perspective, a backwards compatibility policy should apply to the NFVI; that is, a NFVI of version 'x' should b

[2020-02-03 02:21] kedmison commented on #1008
When looking at a compatibility strategy, one should look at the interface(s) being considered and the 'perspective' of the interface; that is, the consumer or provider of the interface, and if there is a perspective on which of consumer or provider would be migrating first.

From a CNTT perspective, a backwards compatibility policy should apply to the NFVI; that is, a NFVI of version 'x' should b

[2020-02-03 02:33] kedmison commented on #1008
Additional thoughts:
- This would touch installation and lifecycle management, in that the NFVI would need to be capable of deploying, healing, and managing resources supporting workloads defined by CNTT version n-1, until such time as there are no deployed VNFs requiring services from CNTT spec version n-1.

[2020-02-03 02:58] kedmison commented on #1009
Can we expect the VNF validation process to be sufficient in covering the validation that VNFs compliant to CNTT release 'x' can be run on a NFVI compliant to CNTT release 'x+1', assuming the NFVI is implementing backwards compatibility as per #1008?  What gaps may exist in this assumption?

[2020-02-03 05:56] fkautz commented on #1018
Another benefit is we can drive some implementation specific requirements into subsections. If a new technology comes along, we can give it its own section. We will need to make sure CNF design patterns remain generic enough to work across multiple solutions. I don't think RA2 makes sense to design those requirements though.

* A cluster may make use of a CNI multiplexer
* A cluster may make use o

[2020-02-03 07:53] fuqiao123 opened #1021 "[RI-1] baldy.ri1.5: Add new chapter to include hardware delivery verification requirement"
1. add a new chapter to include hardware delivery verification requirement. referencing this page:
https://wiki.lfnetworking.org/pages/viewpage.action?pageId=27525908

2. update description file to include hardware verification data model

[2020-02-03 08:48] SaadUllahSheikh commented on #954
Hi @rabi-abdel  the RA2 2.3 is not even scopes completely . E.g use of SDN , networking and VIM capabilities , i think we need put some more details before jumping to RI-2 , secondly for tools we can just refer to CNCF test bed as to start .

[2020-02-03 09:00] tomkivlin commented on #996
@xmulligan - no, I think the Issue you've started covers it - sorry, I did a very simple import of Prague notes with no deduplication on my end 🙃.  I'll close this and add the notes to #946

[2020-02-03 09:00] #996 closed

[2020-02-03 09:00] tomkivlin commented on #946
From deep dive in Prague:
Container Registries
Need to work out what, if anything, the registry does to help a CNF pass the RC tests [and then modify the chapter]

[2020-02-03 10:29] CsatariGergely opened #1023 "There is no automatic checking on the changes"
At the moment we have no tools to check if the changes in the documentation are okay from syntax point of view. In ideal case we would need to run an .md linter with agreed rules and a link checker on the changes before they are merged.

[2020-02-03 11:50] ASawwaf commented on #1017
@sukhdevkapur , For SRIOV , it will be covered in expectation scopes

[2020-02-03 14:26] iangardner22 opened #1025 "[RA1 Ch03] Provide Deployment Topology Options"
As discussed in Prague we need to define the common topology options and how they can meet different SLA expectations.

[2020-02-03 14:50] mf4716 commented on #1015
@sukhdevkapur , thank you for capturing this discussion item.

Additionally, I'd add 2.a or 3.a, that being, auto-discovery would be a great utility post-delivery of the RI-x env.  Once the h/w is delivered, configured, and software deployed, the discovery capability would be used to confirm features and capabilities exposed by the platform - i.e. part of the RI/RC validation.

Alternatively, the

[2020-02-03 14:54] pgoyal01 commented on #1015
@sukhdevkapur @mf4716 Please review the OpenStack Placement service and APIs.

[2020-02-03 15:26] iangardner22 commented on #1025
Sorry duplicate of #638

[2020-02-03 15:26] #1025 closed

[2020-02-03 15:53] gkunz commented on #954
Hi @SaadUllahSheikh. While RA2 is certainly not yet fully fleshed out, one benefit of starting with RI2 now is that it can feedback information into RA2 regarding some of the choices you mentioned above. Moreover, I consider the early RI2 efforts more as a prototyping activity than an implementation strictly following an existing reference spec.

[2020-02-03 18:12] pgoyal01 opened #1026 "[RC-1 Ch01] Broken Link"
Please fix link to CNTT Terminology in [1.1.1](https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter01.md#111-terminology) -- the error portion of the URL is teh extra "ref_cert/lfn/chapters" n the path

https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/ref_model/chapters/glossary.md

[2020-02-03 18:23] pgoyal01 opened #1027 "[RM Ch08] 8.3.1. Entry/Exit Criteria"
Issue #1: 8.3.1 under Exit Criteria Typo - 1. Certification tenants should be "tenets"

Issue #2: 2. Operational Considerations -- isn't this list covered in the first statement under 1. Certification tenets: All Test Cases have a status of Passed, Failed, N/A, or Out-scoped.

[2020-02-03 18:26] pgoyal01 opened #1028 "[RM Ch08] 8.3.1. - 3. End User Consideration"
If these are requirements then they should be included there not add criteria for test exit that are not required.

[2020-02-03 18:54] pgoyal01 opened #1029 "[RC-1 Ch02] VNF Profile(s)"
In RC CH02 and elsewhere, replace VNF Profiles with NFVI Profiles.

For example, in RC 2.3, "VNF performance profiles, for which NFVI validations will support and be verified against, are defined as basic, network intensive, and compute intensive. Details for each of these profiles can be found in chapter 2.3."

should be
NFVI performance profiles, for which NFVI validations will support and be ve

[2020-02-03 18:57] mf4716 commented on #1026
Addressed (fixed) with PR #1030 .  Awaiting PR approval.

[2020-02-04 01:47] deebhatia commented on #1029
Q 1. What would be a VNF profile if the type of workload isn't?
Q2. Shouldn't NFVI profile X be that profile which will support VNF workload X? RC2.5 bullet 1.

[2020-02-04 02:57] pgoyal01 commented on #1029
@deebhatia [RM Ch02](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter02.md#23-nfvi-profiles) introduces NFVI Profiles by workload types and these are then further explored in RM Chapter 03 and 04 including the concept of CNTT pre-defined flavors, and software and hardware profiles.  There isn't a 1:1 relationship between VNF workloads and the profiles.

In OpenStack, as yo

[2020-02-04 03:43] deebhatia commented on #1029
Okay. I misinterpreted that VNF workloads and the profiles are 1:1. Thanks for the clarification.

[2020-02-04 04:22] kedmison commented on #1008
This comment contains the proposed text that will be sent to TSC/Gov on the topic of backward compatibility.  Comments are welcome, and I will edit this text to reflect the comments that are made.

### Problem statement: What backwards compatibility do we need to see?
* Current direction is to release a new RM/RA/RI/RC lineup, and have VNFs and NFVI certified against that.
* This does not account

[2020-02-04 15:15] ASawwaf opened #1031 "[TSC] Edge Reference Architecture-New work-stream"
To be discussed in TSC

https://etherpad.opnfv.org/p/Edge

Decision will be:

- New stream?
  - new RA? or within existing RAs

[2020-02-04 15:46] pgoyal01 commented on #1008
@kedmison Thanks for capturing the need for the policy. May I suggest that instead of NFVI we consider use cases at a more granular level. For example,
1. Support for multi-generations of physical infrastructure.
    - Even within the same Data Center, multi-generations of hardware may exist. This can happen because of augments and/or hardware refresh cycles
    - The implication of introducing ne

[2020-02-04 16:02] kedmison commented on #1008
@pgoyal01 Thanks for the thoughtful comments.

I had considered the NFVI/VNF boundary as one of the interfaces at which a backwards compatibility commitment was being considered.  A decision about backwards compatibility at one of these interfaces winds up cascading into several areas, including some of the ones you have highlighted (e.g. host profiles).  It is good to highlight this as a related

[2020-02-04 16:07] pgoyal01 commented on #1008
@kedmison "... or can we identify this as a work item in RM" -- We can identify it as work items in RM and RAs. Should the TSC be aware of this though?

[2020-02-04 16:15] kedmison commented on #1008
@pgoyal01 Fair point; I was thinking the RM/RAs had some autonomy on deciding their work items, but since we are identifying related work items, it makes sense to include that in the set.

[2020-02-04 17:36] rabi-abdel commented on #1023
do you have a recommendation @CsatariGergely which tools/plugin to use? will you be happy to look at this?

[2020-02-04 17:43] rabi-abdel opened #1032 "[TSC] Use Pull Request Auto Reviewers"
I found this plugins on marketplace (https://github.com/marketplace/pullapprove) which will help assigning reviewers to Pull Request, I suggest one of the Tooling officers to look at it.
@scottsteinbrueck
@CsatariGergely
@collivier
Feel free to Grab it and resolve it.
Yours,
Rabi

[2020-02-04 18:07] kedmison commented on #1009
apparently if I do the assignments too fast it unassigns people...

[2020-02-04 18:09] kedmison commented on #1008
apparently if I do the assignments too fast it unassigns people...

[2020-02-04 20:05] rabiabdel opened #1033 "[TSC] Document Technical Releasing Process"
- we would like to document the process of releasing CNTT
  - deadlines for contributions.
  - deadlines for proofreading.
  - etc.

[2020-02-04 20:07] rabiabdel opened #1034 "[TSC] Address AI from ONAP Cross Community Sessions"
Here are the few  quick notes that I have collected:

Agreement on the process on how we interact together (CNTT/ONAP/OPNF/OVP)
NFVI certification done
Alignment on versioning: we need to communicate on the openstack/k8s version across the 2 communities (Reference Architecture openstack version)
OVP
separate the VNF part from CNF part
We don’t have test cases in OPNFV
CNTT wishes Helm version 3, O

[2020-02-04 20:32] jbeltranatl commented on #1033
@rabi-abdel suggest this also include definition of the scope (of Technical Releases)...

[2020-02-05 06:09] pgoyal01 commented on #1007
In the main write-up some terms are being used interchangeably-- for example, flavors and profiles.  The following is a long write-up - my sincerest apologies; the Background information can be skipped by those knowledgeable about OpenStack. Many details have been simplified for convenience.

Before we can define a policy we need to get on the same page w.r.t. the terms and the life cycle of certa

[2020-02-05 07:35] ASawwaf commented on #1008
@pgoyal01 thanks for ur comments, I like it :)

regarding point Support for multi-generations of physical infrastructure. , I totally agree and there is no harm to have multiple CPU , HW configuration, under same NFVi

So actually there is no backward compatibility, we just need to highlight what @pgoyal01  mention only expansion here that if we SRIOV, the VNF itself required to develop any new dr

[2020-02-05 10:47] #605 closed

[2020-02-05 11:40] gkunz commented on #954
Hi all. I have added more content to the etherpad. Please review and extend: https://etherpad.opnfv.org/p/RI2

[2020-02-05 12:31] rabi-abdel commented on #954
- add your name please to contributor interst's lit (as a lead or as a contributor)

[2020-02-05 12:57] rabi-abdel commented on #1008
**Decisions:**
- Any CNTT deployed cloud (NFVI) should be able to contain NFVI of a CNTT profile (B, NI) (!=hardware) that belongs to different CNTT releases (with different exceptions allowed). The number of CNTT releases supported by a given cloud should not be more than the latest **3** CNTT releases. This information needs to be written in RM as a policy. **RI/RC  will need to allow this to ha

[2020-02-05 12:57] rabi-abdel opened #1035 "RI copmbatibity"

[2020-02-05 12:57] rabi-abdel opened #1036 "[RC-1] Reflect Backward compatibility support in RI"
**Decisions:**
- Any CNTT deployed cloud (NFVI) should be able to contain NFVI of a CNTT profile (B, NI) (!=hardware) that belongs to different CNTT releases (with different exceptions allowed). The number of CNTT releases supported by a given cloud should not be more than the latest **3** CNTT releases. This information needs to be written in RM as a policy. **RI/RC  will need to allow this to ha

[2020-02-05 13:04] rabi-abdel commented on #1033
Yes, I will do that. thanks @jbeltranatl

[2020-02-05 15:04] ASawwaf commented on #960
As per RM call ( 5th of Feb), we need to identify which chapter that we include Networking requirement as short term requirement to be covered in baldy release
So actions are : which chapter in RM and what is content/requirements?

can you help @sukhdevkapur @oyayan @walterkozlowski @karinesevilla

[2020-02-05 15:11] ASawwaf opened #1037 "[RM] Long Term requirements for SDN, Fabric and Networking"
as discussed in RM call ( Feb 5th ) , we need to have very solid requirements for SDN, Fabric and Networking part that should be included in next stable release as we believe it is mandated in our RAs

So I will amend what is discussed over the mail ( Just brain dump ) and let roll the ball from here :

-   Define a Terminology
-	Underlay and overlay Protocols
-	How to achieve full Programmability

[2020-02-05 15:29] gkunz opened #1038 "[RA2] Ch4 - Clarify requirement on conformant K8s installer for RI"
Chapter 6 of RA2 currently states:
"The Kubernetes distribution or product that is used in the RI must be listed in the Kubernetes Distributions and Platforms document and marked (X) as conformant for the Kubernetes version that is being used."

https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter04.md#43-kubernetes

For the purpose of RI2, we should be a bit more pr

[2020-02-05 16:35] rabi-abdel commented on #954
@CsatariGergely since you are the CNCF TUG officer, do you mind please communicating to CNCF TUG (via email) & Slack to gather their interest to become contributors in this WS? we agreed in last meeting with TUG to document the Requirement part of the RI. (we need to create the WS to be able to do that).

[2020-02-05 16:38] karinesevilla commented on #1007
To be deployed, VNFs or CNFS need a NFVI instance type (defined by a NFVI HW + SW profile) and a compute flavor (definitions in RM Glossary).
In my opinion, the Reference Model should focus on the description of NFVI instance type. The detailed description of flavors should be part RA, it's difficult to have a description applicable both for VMs and containers. @pgoyal01, I like the way Pankaj des

[2020-02-05 16:50] pgoyal01 commented on #1007
@karinesevilla my intent was not to introduce flavors as part of the RM. As I stated at the beginning, my objective of writing the comment was to get all of us on the same page as far as the terms are concerned and their relationships.

[2020-02-05 16:50] SaadUllahSheikh commented on #954
@gkunz clear on this

[2020-02-06 06:49] CsatariGergely opened #1040 "[tooling]: Consider dropping actions/labeler for the fork and pr model"
We are using the actions/labeler GitHub action to do automatic labelling, but this prevents us from using the fork and PR model. (See more about this in the issue of [actions/labeler](https://github.com/actions/labeler/issues/12#event-3010934809))
With this current ways of working every PR have to be done from a branch in cntt-n/CNTT. The drawback of this are that to create a pr one needs a write

[2020-02-06 06:58] fuqiao123 opened #1041 "[RI-1] baldy.ri1.1: General cleanup for RI doc"

[2020-02-06 07:08] fuqiao123 opened #1042 "[RI-1] baldy.ri1.4: Complete Target State & Metadata"
need careful review to see if we capture all the requirement from RM and RA.  

[2020-02-06 07:26] fuqiao123 opened #1043 "[RI-1] baldy.ri1.7 Implement Profiles within OPNFV Installers and consume CNTT metadata"
This issue is created to follow the discussion and progress of the following work:
1. information model discussion and creation in OPNFV
2. information model translate into PDF 2.0
3. implement PDF 2.0 within OPNFV installers

[2020-02-06 08:10] gkunz commented on #1040
+1
I made the same discovery recently while trying to figure out why the labeler action fails on my PRs. While the labeler is very convenient, it is also very confusing to see it fail on PRs which follow the default GitHub workflow model.

[2020-02-06 08:13] rabiabdel commented on #1040
Makes sense. Happy to remove it and we can think about alternatives. Good points @CsatariGergely

[2020-02-06 08:15] rabiabdel commented on #1040
Would you mind @CsatariGergely removing it as an officer for tooling and automation ? You should have the right permissions.

[2020-02-06 08:41] tomkivlin commented on #1038
Hi @gkunz I'm not sure I see the need for a change.  CNF testbed isn't a tool or an installer, and as you say the installer it uses is kubespray so that would be compliant.  And if metal3 isn't conformant with the CNCF tests then I would argue we shouldn't use it.

Happy to improve the wording to include installer in that section though, that makes sense.

[2020-02-06 09:08] tomkivlin commented on #954
I've added a section which will capture the information required for the CNTT proposal as per the CNTT governance docs. I don't think lab location and specific tools to use are required at this stage (that's not to say we stop thinking about it, but let's focus on getting the workstream approved with the info required, given the wording in the document @rabi-abdel provided.

===========Info requir

[2020-02-06 10:06] walterkozlowski commented on #960
@ASawwaf, @oyayan, @karinesevilla
In my view the for Baldy we should use RM 3.2.4 Network (within Chapter 3 Modelling).
The contents should define the scope of networking within the RM and in general in CNTT.  I still believe that to do this we need to have a high level model defining major entities(like Fabric and SDN) and major relations between these entities.  In that way, we will be able to c

[2020-02-06 11:11] #1023 closed

[2020-02-06 11:19] CsatariGergely commented on #1023
@rabi-abdel let's not close this yet. We would need a linter, some link checker and a way to run them automatically for every commit for the final solution.

[2020-02-06 12:01] rabiabdel opened #1044 "[TSC] Proofread entier specs"
There is a need to go through entire specs prior to baldy official release.

[2020-02-06 12:07] rabiabdel opened #1045 "[TSC] Reflect CNTT position in OPNFV TSC 2.0 discussion"
- Reflect CNTT position in the upcoming TSC 2.0 discussion.

[2020-02-06 13:51] ASawwaf commented on #960
@walterkozlowski , thank Walter , agreed that RM 3.2.4 Network (within Chapter 3 Modelling) should be a good place

it will great if you can start to some content

thx

[2020-02-06 15:06] #1038 closed

[2020-02-06 15:27] tomkivlin commented on #1019
Comments from RA2 meeting 6th Feb 2020:
@ASawwaf @fkautz both made the point that NSM and service chaining needs collaboration between the workstreams. As per original comment, handle in TSC as part of wider SDN/Programmable Fabric discussions (#960, #1037).  All further discussions are part of RM Core WS.

[2020-02-06 21:50] pgoyal01 commented on #825
PR #1013 already merged. Closing this issue.

[2020-02-06 21:50] #825 closed

[2020-02-07 01:48] fuqiao123 commented on #1045
@rabi-abdel I modified the name for this issue, it should be OPNFV 2.0 rather than TSC 2.0. It is a new scope for OPNFV not just for TSC:)

[2020-02-07 08:54] #1040 closed

[2020-02-07 09:33] peterwoerndle opened #1048 "[RA1 RA2] Express conditional requirements for implementations based on SW/HW profiles"
In the discussions on #1014 we came across the issue that we'd like to have a mandatory requirement on the architecture but a conditional requirement on the implementation. In the RA2 call we concluded that we need some way to communicate that information to RI2 as part of the RA2 text. I'd therefore like to have a discussion on the following "pattern" to describe these kind of requirements.

We c

[2020-02-07 10:16] peterwoerndle commented on #1018
@fkautz, wouldn't the requirements be implicitly be linked via their "id" in the form of `req.[global_category].[sub_category].00`? I prefer this type of definition as for someone writing testcases they can just go line-by-line and check against the requirement without having to jump back and forth in the document.

[2020-02-07 10:24] peterwoerndle commented on #1004
I agree with @CsatariGergely to keep using the CNCF Cloud Native definition and complement it with the CNCF TUG definition for a Cloud Native Network Function. This ensures that we keep in sync with the larger community in CNCF.

[2020-02-07 10:27] peterwoerndle commented on #950
@tomkivlin should I just start a PR so we have some concrete text proposal to discuss. In the Prague meeting we've been in agreement to document the OS modularity. The details on "minimum requirements" we can then add iteratively.

[2020-02-07 12:05] tomkivlin commented on #950
@peterwoerndle yes, I think some text in Chapter 04 would be useful to then start the discussion, unless you were thinking somewhere else?

[2020-02-07 12:10] peterwoerndle commented on #950
Yes, Ch04 sounds the right place to document this. I'll create a PR asap.

[2020-02-08 18:55] nickolaev commented on #1004
There is some misunderstanding here. Let me try to clarify.
What is quoted in [1.3.1 Cloud Native Principles](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter01.md#131-cloud-native-principles) is an exact copy of [CNCF Cloud Native Definition v1.0](https://github.com/cncf/toc/blob/master/DEFINITION.md) and it clearly states:
"_... they allow engineers to make hig

[2020-02-09 10:30] ASawwaf commented on #1037
Some Termonlogies should be defined : "please add whatever you see I missed it"

1.	IP Fabric
2.	Layer 2 Fabric
3.	Fabric Management
4.	Overlay
5.	Underlay
6.	Overlay Protocols
7.	underlay Protocols
8.	VxLAN
9.	EVPN
10.	SRv6
11.	SFC
12.	NSH
13.	Netconfig
14.	Yang
15.	OVS / VR
16.	XMPP
17.	Openflow
18.	Data Center SDN

[2020-02-10 11:22] petorre commented on #1009
Depends on how much are apps coupled with the infrastructure+platform underneath and difference from X to X+1 release.
As differences between releases could be in RM Profiles, RA APIs, Exceptions, Certification and level of HW+SW details defined (generic Metrics or specific HW+SW configs), VNF Validated for X would not work on X+1 if:
1. Profile or APIs: Changed enough.
2. Exceptions: VNF must use

[2020-02-10 16:33] #1005 closed

[2020-02-11 08:34] ChilionChan commented on #1021
Hi all, just provide a draft commit for this issue, welcome your comments.

[2020-02-11 08:35] ChilionChan commented on #1021
@fuqiao123 could you help to involve more, thanks.

[2020-02-11 10:45] #1026 closed

[2020-02-11 10:53] rabiabdel commented on #974
Completed and logged in wiki

[2020-02-11 10:53] #974 closed

[2020-02-11 11:14] #430 closed

[2020-02-11 11:19] rabiabdel commented on #251
Done

[2020-02-11 11:19] #251 closed

[2020-02-11 13:51] rabi-abdel opened #1051 "[TSC] Align CNTT Releases with LFN CVC OVP Plans"
There is a need to align CNTT releases with LFN CVC Plans so we have the OVP badge ready!

[2020-02-11 14:10] rabi-abdel commented on #1051
discussion started within CVC (@lylavoie ):
https://wiki.lfnetworking.org/display/LN/OVP2020.09

[2020-02-11 15:19] deebhatia opened #1052 "[RA-1 Ch02] Document how resource autoscaling should be supported by Openstack"
Referring to this discussion https://github.com/cntt-n/CNTT/pull/1046#discussion_r376489794, it is yet to be decided how autoscaling should be supported by architecture.
1. Heat
2. Senlin + Prometheus

[2020-02-11 15:33] karinesevilla opened #1053 "[RA1 Ch04] Develop content about the allocation of host cores to OpenStack services"
Following PR #1046, to fulfill requirement "req.inf.com.08', content is needed in chapter 4 about the allocation of host cores/threads to non-tenant workloads, especially OpenStack services

[2020-02-11 16:36] karinesevilla opened #1054 "[RA1 ch04 & ch05] Develop content for Placement API"
Need to describe the Placement API service

[2020-02-11 16:50] karinesevilla opened #1055 "[RA1 ch03 & ch04] Support of Service Function Chaining to be developped"
Refers to Chapter 2 requirement 'req.inf.ntw.04':
' The Architecture should support service function chaining'

[2020-02-11 20:23] pgoyal01 commented on #1055
@karinesevilla duplicate of Issue #1019

[2020-02-11 20:46] pgoyal01 commented on #1053
@karinesevilla Should we create a section on configuring "physical hosts" and make this (reserving certain cores for host services (OS< OSTK, ...)?

[2020-02-12 01:23] mf4716 opened #1056 "[RC1 - Ch01] Clarify Conformance Categories (NFVI & VNFs)"
Define Conformance, and Related Categories.  Replace Certification with Conformance within the RC documentation.

Addressed with PR #1283 .

See initial comment below by @mf4716 .

[2020-02-12 05:34] kedmison opened #1057 "[RM] Workloads in transitional period need a larger flavour size"
This issue is to request the addition of one larger size in the pre-defined compute flavours: a 32-core, 64GB RAM variant.

**Rationale**
There are cases today where horizontally-scaled workloads are using multiple large VMs (32-core, 64-GB RAM VMs).  These workloads are deployed today in NFVIs.  These workloads are horizontally scaled already, and yet still require the large per-VM instance memor

[2020-02-12 10:41] karinesevilla commented on #1053
@pgoyal01 I am not sure we need a new section, we can add this content into 4.2.2.5 "Compute Nodes"

[2020-02-12 12:11] samulikuusela opened #1059 "[RA2] CNF deployment into dedicated vs. shared Kubernetes clusters"
Background:
This came up in RA2 security context, but it is a broader topic. Included is all the information discussed so far in RA2 security. The topic was discussed briefly in Prague F2F as well.

Introduction:
The challenge: if an operator allocates a dedicated K8s cluster for every CNF from every vendor, the number of K8s clusters perhaps becomes too big (or does it really, if there is a good

[2020-02-12 12:23] pgoyal01 commented on #1057
@kedmison This cannot be a flavour required by operators to support by default; operators may have processes to allow for such a large flavour.  If an operator needs to support such a large flavour they can create one when required after following required processes.

[2020-02-12 12:50] rabi-abdel commented on #965
There are considerable interest of what this description format should be.
(within OPNFV itself or CNTT to specify it).

[2020-02-12 12:53] rabi-abdel commented on #1031
to be discussed in next week.

[2020-02-12 13:14] rabi-abdel opened #1060 "[STC] ONF Cross Community Alignment with Terminology"
Walter working closely with ONF to make sure CNTT RM is aligned with their work. Formal agreement to be reached. (issue will be created!).

[2020-02-12 13:17] rabi-abdel commented on #1007
@kedmison feel free to re-assign to Technical Steering whenever a decision is needed to be made that you would like the Technical Steering to take. for now, it is kept for RM WS to handle it.

[2020-02-12 13:58] rihabbanday opened #1061 "[RI-2] Meeting Slot for RI-2 WS"
Since R1-2 workstream has been approved now, we should start a meeting series to discuss the roadmap and associated steps as listed in https://etherpad.opnfv.org/p/RI2.

[2020-02-12 14:30] tomkivlin commented on #1061
Has the WS been accepted? I've not seen any comms from the Governance meeting yet.

[2020-02-12 15:08] rihabbanday commented on #1061
The WS got approved in today's steering [meeting](https://wiki.lfnetworking.org/display/LN/2020-02-12+-+%5BCNTT+-+Technical+Steering%5D+-+Meeting+Agenda+and+Minutes), don't know if there is an additional step in getting it accepted - a newbie here :)

[2020-02-12 16:09] rabi-abdel commented on #964
we need 2 things:
- decide on the base version. (Currently it is pike)
- document the criteria of which triggers change of new base.
- Discuss this during next TS Master call.

[2020-02-12 17:15] tomkivlin commented on #1061
Ah OK yes I've just seen in the minutes. I will get a Doodle Poll set up.

[2020-02-12 17:29] tomkivlin commented on #1061
Here's a Doodle Poll: https://doodle.com/poll/45iuub3wecqsq6ef

[2020-02-12 17:30] rabiabdel commented on #1061
Final approval will be given during governance meeting tomorrow. But doodle pool is a good idea to be sent now anyway .

[2020-02-12 18:03] petorre commented on #1031
Current RAs are based on technologies designed for large enough cluster sizes per Edge site, but not for On-premise single server like example case handled differently. I'm happy to join team writing that.

[2020-02-12 18:45] ASawwaf commented on #964
@rabi-abdel For the 2nd point, it covered up, we can take the above as a baseline after that we can capitalize on it

- Complete change in architecture as convert OpenStack control plan from VM to Container based ( which it is achieved right now )
- New project that we are planning to adept like cybrog , Kuryu , Kata ,...
- New features that are considered mandatory by CNTT to support workloads
-

[2020-02-12 19:00] pgoyal01 commented on #1053
@karinesevilla So the content would look something like this:

The [RA-1 2.3.2 Infrastructure Requirements](https://github.com/cntt-n/CNTT/blob/pgoyal01-patch-2/doc/ref_arch/openstack/chapters/chapter02.md#232-infrastructure-requirements) req.inf.com.08 requires the allocation of "certain number of host cores/threads to non-tenant workloads such as for OpenStack services." A number ("n") of random

[2020-02-12 20:12] petorre commented on #750
(Like I wrote in other comments) In transitions will help differentiating if VNFs using Exception is optional (typically to run more cost effectively) or mandatory (typically to reach latency requirements).

[2020-02-12 20:58] petorre commented on #365
I read through and current text generally looks OK.
One concern I see in [9.2](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter09.md#92-configuration-and-lifecycle-management) is "_should be made available by ... infrastructure management (VIM) components_" in "_This leads to the following table (Table 9-3) which defines the standard interfaces that should be made availabl

[2020-02-12 20:59] petorre commented on #1057
If agreed to be common and undesired, maybe this is for Exception Policy, which still helps going towards desired defragmentation.

[2020-02-12 23:11] pgoyal01 commented on #365
Typo: "Table 9-1 lists the main components and capabilities required in order to manage the configuration and lifecycle of those components."  It should refer to Table 9-2.

[2020-02-12 23:16] pgoyal01 commented on #365
9.4: "As such the requirements for Capacity Management on the infrastructure are covered by the Assurance and Configuration and Lifecycle Management sections above. The Assurance section deals with the collection of data - there is no reason to consider that this would be done by a different mechanism for Capacity Management as it is for Assurance ..."

The Assurance data collection doesn't collec

[2020-02-13 02:45] trevgc commented on #1031
The Edge discussion etherpad link above (https://etherpad.opnfv.org/p/Edge) just takes me to https://etherpad.opnfv.org/p/RI2. Does it work for others?

[2020-02-13 03:06] fuqiao123 commented on #965
Either is OK for me, and I think currently the center of the discussion is what the DF should be like rather than where it should locate. We now have create DF sample template in chp06 of RI, however that one need further discussion within both community.

[2020-02-13 09:33] rabi-abdel commented on #1031
@trevgc I think what happened was the text from RI2 was copied in there. I have cleaned it up. it should be clear now. it will be good to start collecting thoughts. @ASawwaf may be you can draft something for people to start with? or possibly we can wait until your presentation next week.

[2020-02-13 09:37] rabi-abdel commented on #965
@fuqiao123 makes sense. do you feel we need to approve and merge https://github.com/cntt-n/CNTT/pull/944 now? it has been open for very long.

[2020-02-13 09:53] fuqiao123 commented on #965
I think Chen Liang still plan to update the sample when hardware df has been defined. But we can merge #944 now, and create a new PR when the hardware DF requirement is merged.

[2020-02-13 15:26] #984 closed

[2020-02-13 15:30] tomkivlin commented on #946
@xmulligan is there a PR to raise here?

[2020-02-13 15:31] tomkivlin commented on #928
Clsoed as #894 is merged.

[2020-02-13 15:31] #928 closed

[2020-02-13 15:46] pgoyal01 commented on #816
Specifying some details as to what is required:

Few issues need to be addressed in RM Ch04 and Ch05. Below are just some examples.

1. Consistency in "Ref". For example,
    - i.nfvi.mon.cap.001 Host CPU usage
    - i.nfvi.pm.001 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Host CPU usage

1. Consistent use of terms, for example "usage" and "utilisation" and others
    - i.nfvi.mon.cap.001 Host CPU

[2020-02-13 22:23] pgoyal01 opened #1066 "[RA-1] Impacts of Parking Compute Intensive Profile in RM"
[RM] Park Compute Intensive Issue #973 and the related PR #1063 and PR #1064 impact RA-1 Ch 02 and Ch 04.

[RA-1 Ch02] Edit requirements that call out "compute intensive":  req.inf.com.04, req.inf.com.07

before working may need PR #1046 to be merged

[RA-1 Ch 04] Edit
    - [4.2.2.5. Compute Nodes](https://github.com/cntt-n/CNTT/blob/Park-compute-intensive/doc/ref_arch/openstack/chapters/chapter0

[2020-02-14 07:40] rabiabdel commented on #1066
@pgoyal01 I am happy to include those changes to the existing PR. Let me know

[2020-02-14 12:06] gkunz opened #1068 "[RA2 Ch02] requirements for virtual CPU, memory, and disk capabilities"
Currently, the descriptions of requirements e.nfvi.res.cap.001, e.nfvi.res.cap.002, and e.nfvi.res.cap.003 in chapter 2 [1] state _max_ values for virtual CPU, memory and disk resources allocated to a pod. Phrasing these as maximum values is misleading as they should not define a hard upper bound.

[1] https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter02.md#224-ins

[2020-02-14 13:09] gkunz commented on #1068
Well, _min_ is not entirely correct. Instead I propose the following:

| e.nfvi.res.cap.001 | Max number of vCPU that can be assigned to a single pod by the NFVI | at least 16<sup>1)</sup> | Y |
| e.nfvi.res.cap.002 | Max memory in MB that can be assigned to a single pod by the NFVI | at least 32 GB<sup>1)</sup> | Y |
| e.nfvi.res.cap.003 | Max storage in GB that can be assigned to a single pod by

[2020-02-14 14:53] pgoyal01 commented on #1066
@rabi-abdel Sure.

FYI: There is an open PR #1046 for RA-1 Ch02 -- 3 approvals have been made. I could make the the change to the req.inf.com.04, req.inf.com.07 but would necessitate another round of Approvals.

[2020-02-14 15:29] deebhatia commented on #1068
@gkunz These values are being used from the biggest flavour defined in [RM 4.2.1.1](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#4211-predefined-compute-flavours) and these are per [VNFC](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#416-vim-capabilities). Isn't the at-least restrictions you are suggesting too big?

[2020-02-14 16:07] jbeltranatl opened #1069 "Test Issue"
This is a test for @ss8171

[2020-02-14 17:23] gkunz commented on #1068
@deebhatia right, I noticed after creating the issue that simply inverting _max_ to _min_ does not make sense either. You are right that these values should not be the minimum values, but they should also not be the maximum values as currently stated. Hence my proposal for adding an "at least" to the value, stating that the "_maximum_ value for X should be at least Y". This means, the value can be

[2020-02-14 18:00] #925 closed

[2020-02-14 18:00] #954 closed

[2020-02-14 18:52] SaadUllahSheikh commented on #1061
@tomkivlin @rabi-abdel  I have added information in Etherpad on tools and Deployment scenario two most important as a operator things it .
Just one observation do u think we should cover so many deployment scenarios  e.g Airship , Baremetal3 and Akraino ICN looks the only best place to start with and currently many Telco's thing this as way forward .

[2020-02-14 19:03] tomkivlin commented on #1061
@SaadUllahSheikh I don't think any of those are necessarily the right answer for the *reference* implementation. That's not to say they aren't useful to operators or able to become certified, but for me the reference implementation should be just that and no more. Given Kubernetes has a reference installer already (kubeadm) my preference / suggestion would be to use that or one of the Kubernetes o

[2020-02-14 19:39] #687 closed

[2020-02-15 10:10] walterkozlowski commented on #1037
@ASawwaf, @kedmison, @sukhdevkapur, @rabiabdel, @BernardTsai-DT, @pgoyal01, @TFredberg, @tomkivlin , @petorre

Please find my first draft for the Networking section in RM.  Comments please!
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

The purpose of this section is to provide a generic architectural pattern for the CNTT networking and hence to define common networking infrastructur

[2020-02-15 11:19] collivier opened #1073 "[RA1][RC1]Set dhcp_agent_scheduler as optional"
dhcp_agent_scheduler [1] indirectly forces the Neutron backends as highlighted by OVN testing.

[1] https://specs.openstack.org/openstack/neutron-specs/specs/api/agent_schedulers.html

[2020-02-15 13:47] ASawwaf commented on #1037
Many thanks @walterkozlowski for this great effort to formulate an initial contents

I make small changes, to make it more generic rather than ONF ( ONOS)  and I will work more on it

++++++++

I attached a document containing the changes

[The purpose of this section is to provide a generic architectural pattern for the CNTT networking and hence to define common networking infrastructure componen

[2020-02-15 23:06] walterkozlowski commented on #1037
Thank you @ASawwaf for your comments.  Good points, I have accepted them with some minor editorial changes.  The text is below.
Please comments from: @kedmison @sukhdevkapur @rabiabdel @kagreenwell @peterwoerndle @petorre @BernardTsai-DT @TFredberg @tomkivlin @pgoyal01
++++++++++++++++++++++

The purpose of this section is to provide a generic architectural pattern for the CNTT Networking and henc

[2020-02-16 05:48] ASawwaf commented on #1037
Thanks @walterkozlowski

[2020-02-16 10:23] collivier opened #1075 "[RA1]Rewrite NFVI requirements linked to SDN Controller"
I would rather consider the networking solution. SDN Controller/solution mostly refers to a specific Neutron implementation where an SDN/Network controller is selected:
- req.inf.ntw.12
- req.inf.ntw.13
- req.inf.ntw.14

[2020-02-16 10:26] collivier commented on #1075
CC: @mf4716 who highlighted this requirements

[2020-02-16 10:45] collivier opened #1076 "[RA1]Clarify SFC, Cyborg, Barbican or Telemetry API"
A few "should" requirements obscure the common CNTT API and the related testing (RC).
I would rather suggest "must" or no requirement for the next services (SFC, Cyborg, Barbican, Telemetry, etc.):
- req.asr.mon.01
- req.inf.ntw.04
- req.sec.zon.02

In this state, I would have considered that we do complete the API (major/minimal versions and capabilities) and we do add the related testing in IaaS

[2020-02-16 10:46] collivier commented on #1076
CC: @mf4716 who aggregated all requirements for RC

[2020-02-16 10:54] ASawwaf commented on #1075
@collivier
plz refer to https://github.com/cntt-n/CNTT/issues/1037#issuecomment-586672141 for more Networking part

[2020-02-16 11:00] collivier commented on #1075
@ASawwaf Thank you.

[2020-02-16 14:19] collivier opened #1077 "[RA1]List mandatory/optional network type drivers"
As written in CNTT, VTN must be supported but it's not enough to complete the API part (Networking).
A few tests in RC are linked to overlays (e.g. VXLAN or GRE) which may be skipped if they are optional.

[2020-02-16 18:00] #1073 closed

[2020-02-16 19:00] #1077 closed

[2020-02-16 20:07] ASawwaf commented on #1031
@trevgc @ASawwaf , I am done with draft content, I encourage all to participate

[2020-02-17 09:28] ASawwaf commented on #1057
@pgoyal01 @kedmison  , Yup, it is not large, it is huge flavour :) ,  i don't believe there is any VNF required such amount of core
and on Intel x86 Cascadelake the max core per socket is 28 Core , ( Intel has 32-56 Core / not for NFV ) So either to adapt this number of Core /server or lets this very fat VNF to cross NUMA  @petorre to comment

[2020-02-17 10:59] oyayan commented on #1037
Thanks @walterkozlowski @ASawwaf .
I think it would be good to have some modelling for the physical network fabric. There are references to Network Fabric in the above, could be defined and separated clearly  as physical underlay&overlay. I have seen physical fabric topology presented under RA1 Networking which could be moved under modelling as physical underlay should be common for both RA1 and R

[2020-02-17 11:27] ASawwaf opened #1080 "[RA1] SFC - req.inf.ntw.04 - Traceability"
req.inf.ntw.04 : The Architecture should support service function chaining.
Traceability : Is this VNFM/NFVO requirement?

it should be SDN requirements, the NFVO will onboard Network Service that be implemented by SDN/Neutron
@pgoyal01 can we change  ?

[2020-02-17 12:44] ASawwaf commented on #1037
@oyayan , Did you refer to " https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter03.md#3422-network "

if yes , so totally agreed to push it on RM as common for both RAs ,

and for "how to peer neutron and NSX with the physical underlay " it is a tough question as neturon can't do it right now

@pgoyal01 @rabi-abdel do you have any comments ? to move it?

[2020-02-17 12:50] oyayan commented on #1037
@ASawwaf , yes that is the chapter i refer to.

[2020-02-17 13:42] collivier commented on #1080
I'm not clear if we all agree the support of SFC and I would rather consider a networking requirement here.
If true, the API has to be added in RA1 chapter 5 accordingly (whatever should or must) as the other services or the other capabilities/extensions.
It's worth mentioning that it's also listed as gap (falsy linked to an SDN Controller). If the current Neutron API is not suitable, we do define

[2020-02-17 14:26] oyayan commented on #1037
@ASawwaf , @walterkozlowski , also the some parts of section 4.2.3 in ch4 can be moved and completed in RM. Thoughts?

[2020-02-17 14:51] pgoyal01 commented on #1080
@ASawwaf @collivier ONAP experts should chime in here.

My understanding is that ONAP supports SFC including its modeling in SDC (Service Design & Creation) component. ONAP performs the orchestration of the SFC utilising SDN capabilities.

[2020-02-17 15:35] pgoyal01 opened #1081 "[RA-1 Ch01] Develop Introduction Content"
Also delete 1.6 RoadMap

[2020-02-17 15:39] pgoyal01 opened #1082 "[RA-1 Ch02] Update Requirements based on RM Cleanup"
RM references and requirements need to be cleaned Issue #816

[2020-02-17 16:06] collivier commented on #1080
Even if ONAP supports SFC, it cannot be translated into an infra requirement as is.
In any case, it would be great to confirm the SFC API supported by ONAP. If it's one offered by networking_sfc, we should no longer list the current SFC API as gap.

[2020-02-17 18:28] pgoyal01 opened #1085 "[RA-1 Ch03] Corrections"
| Section | Issue | Resolution |
|-------|--------|---------|
| 3.1 3rd Para | “This reference architecture provides … however for MVP we will focus on …” | Delete “for MVP” |
| 3.3.4  | “…predefined compute flavors lister here.” | Typo: listed |
| 3.4.2 “Storage” | Broken URL: discussed in RA-1 Chapter 04 | use relative; reference should be to RA-1 4.2.4 |
| 3.6 | Architectural Drivers – Requirem

[2020-02-17 18:29] jbeltranatl opened #1086 "Press Releases around Pre-Launch Trials"
Stakeholders: CNTT, LFN, OPNFV. Messaging target is product houses. Confirm and announce vendors.

[2020-02-17 18:33] jbeltranatl opened #1087 "Messaging Discovery & Execution"
MVP.  Includes interviews.

[2020-02-17 18:36] pgoyal01 opened #1088 "[RA-1 Ch04] Corrections"
| Section | Issue | Resolution |
|-------|--------|---------|
|  4.2.2.5 | “The software components are as specified ..” | “The software and hardware configurations are as specified ..” |
|  4.2.2.5 | URL to RM 5.4 | Make it relative |
|  4.2.2.6 | “The specifications for this type of resource pooling is specified in 4.5.2.” |
|  “The specifications for this type of resource pooling is specified i

[2020-02-17 18:38] jbeltranatl opened #1089 "Get commitments interview senior/vp level business owners"

[2020-02-17 18:41] jbeltranatl opened #1090 "Execute interviews and gather feedback"

[2020-02-17 18:47] jbeltranatl opened #1091 "Analyze and align messaging"
Based on interview outcomes

[2020-02-17 18:49] jbeltranatl opened #1092 "Integrate Confluence and Groups.Io data (governance)"

[2020-02-17 18:49] jbeltranatl commented on #1092
MVP. When Dev Analytics onboarding done. Need vet and enhance any changes.

[2020-02-17 18:51] jbeltranatl opened #1093 "Engagement Metrics (Scope, Design, Rollout)"
Contributions focused. V2. Done = Present formalized data for F2F LA.

[2020-02-17 18:52] jbeltranatl opened #1094 "Develop Business Case / TCO Strategy"
Demonstrate reduction in technical debt, time to market, operational costs.

Need to take problem statement and understand fragments that apply to each segment.

Need to get rough figures from Interviews if possible.

"What is the KPI on each value-propositions."

MVP

[2020-02-17 18:56] jbeltranatl commented on #1094
To be assigned to Joanna Newman (Vodafone) when she get's her GitHub ID.

[2020-02-17 18:57] jbeltranatl opened #1095 "VNF Onboarding journey touchpoints"
MVP - identify vision, key gates/milestones for metrics measurement

[2020-02-17 18:58] jbeltranatl opened #1096 "Operator additional info data points"
Possibly get more info from Messaging interviews by Marcomm WS. Need to get info from Interviews if possible.

[2020-02-17 19:00] jbeltranatl opened #1097 "Develop Benchmarks for Pre-launch Trials"
Action Item - Any potential for pre-trial information gathering?

VNF deployed to telco w/'no badge' benchmarks, w/'badged' benchmarks.

Field Trials is more formal/advanced term, calling Pre-Launch Trials for now.

Need criteria for success in the field
Identify that this is what we're going to measure
(but will have nothing to show)

[2020-02-17 19:03] jbeltranatl opened #1098 "ONES NA 2020 (Los Angeles, California) - April 20 & 21. Technical meetings April 22 & 23rd."
F2F Planning for this event.

[2020-02-17 19:12] ASawwaf commented on #1080
@collivier @pgoyal01 , So let's put in this way , SFC it is networking task that the traffic, Service will be chained across multiple VNF, which it is consider as a Network services which onboarded in NS Catelouge and as NS Descprtator from NFVO Side  if we open the NS descriptor  we will find the definition of this services using VDU , I-VL nad E-VL and endpoints,

after that, this will be transl

[2020-02-17 19:16] ASawwaf commented on #1037
@oyayan , it is Openstack networks mapping to the fabric, but we need to have a deep look on it

but if u don't mind can we work to figure out the clauses that RAs agnostic and should be reflected in RM as above?

[2020-02-17 19:42] jbeltranatl opened #1100 "[MMA] Outline/define of what is needed in initial Field Trials from RC1/OVP"

[2020-02-17 19:47] jbeltranatl commented on #1100
Scope and requirements

[2020-02-17 19:50] jbeltranatl opened #1101 "Secure lab participation/capacity/diversity for initial Field Trials"

[2020-02-17 19:52] jbeltranatl opened #1102 "Define MVP support model / structure for trials"

[2020-02-17 19:53] jbeltranatl opened #1103 "Confirm trial participants and SPOCs"
RedHat, Ericsson, Nokia, Canonical, VMWare??

[2020-02-17 19:54] jbeltranatl opened #1104 "Define trial expectations, what's needed, roles & responsibilities"

[2020-02-17 19:55] jbeltranatl opened #1105 "Trial Kickoff Meetings"

[2020-02-17 22:40] petorre commented on #1057
Since introduction of NUMA (10+ years before Intel implementations) there were SW optimizations needed to take advantage of local vs remote memory.
Most VNFs get placed with all vCPUs on same NUMA node, getting traffic over PCI busses connected, talking Huge Pages to local memory. With that target should this Profile be written.
Getting VNF to work over to another NUMA node (both on another socket

[2020-02-18 03:10] walterkozlowski commented on #1037
@oyayan @ASawwaf @BernardTsai-DT @peterwoerndle @petorre @kedmison @sukhdevkapur
I agree with Oya regarding more contents needed for the physical topology side of the things (e.g. use of CLOS architecture for scaling) and will add few paragraphs.  At this stage we do not want to be too prescriptive though, this is the h/l model establishing major entities.  This should lead to requirements when fo

[2020-02-18 05:07] collivier opened #1106 "[RA1][RC1]Check mandatory Neutron extensions"
A few Neutron extensions may be linked to the reference implementation:
- availability_zone
- l3_agent_scheduler
- l3-ha
- dvr
- l3-flavors
- fip-port-details
- floatingip-pools
- filter-validation
- extraroute-atomic

A straightforward proposal is to double check them via OVN.

[2020-02-18 07:08] collivier commented on #1106
availability_zone is supported by OVN
https://docs.openstack.org/networking-ovn/latest/admin/features.html

neutron_tempest_plugin.api.admin.test_agent_availability_zone.AgentAvailabilityZoneTestCase.test_agents_availability_zone is linked to
- AGENT_TYPE_DHCP = 'DHCP agent'
- AGENT_TYPE_L3 = 'L3 agent'

[2020-02-18 07:31] ASawwaf commented on #1106
@collivier , Can you elaborate more on what is scope of this issue?

[2020-02-18 07:33] collivier commented on #1106
2 are out of Pike:
-floatingip-pools: https://github.com/openstack/neutron/commit/4e3fb3191927e07b37fe0937102dc17334e906d1#diff-6cdd456e9b1cad4a23c219ecef1ecdae
- extraroute-atomic:
https://github.com/openstack/neutron/commit/b3eda71638973836c68dca90da9e017b285a642c#diff-25237435a98c84c53fbb8ae0b1c82c00

For the time being, only the next extension may change:
l3_agent_scheduler
l3-ha
dvr
l3-flavor

[2020-02-18 07:35] collivier commented on #1106
@ASawwaf : I'm double checking a few mandatory extensions which may force the implementation of
Neutron. The first list has to be double checked via a few reference impl.

[2020-02-18 07:41] collivier commented on #1106
@ASawwaf It's not so simple because I'm also working from OpenStack master to OpenStack pike dealing with testing logic. I'm adding comments to ease writing test case list at the end.
+ https://bugs.launchpad.net/neutron/+bug/1863707

[2020-02-18 07:43] collivier commented on #1106
@ASawwaf I will create the opposite thread later. dns integration could be added as mandatory.

[2020-02-18 07:56] collivier commented on #1103
If it conforms with the previous scope discussed in RI/RC meetings, would you mind adding Orange too?

[2020-02-18 07:59] collivier commented on #1104
It was early discussed that the scope is to run RC cookbook (currently NFVI testing) on internal or community labs and then publish the results in an archive file for third-party verification.

[2020-02-18 08:00] collivier commented on #1101
I thought it could be on internal resources.

[2020-02-18 08:02] collivier commented on #1100
From a technical standpoint, RC is already defining the testing scope.

[2020-02-18 08:04] collivier commented on #1097
https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter03.md#3.3.5
https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter03.md#3.3.6

[2020-02-18 09:12] collivier commented on #1106
port-mac-address-regenerate, filter-validation and  fip-port-details were introduced in Rocky (oldest OPNFV release: Hunter)
https://github.com/openstack/neutron/commit/2b1d8ea4a202f24c1b485ccebdbf831c505a4e6a
https://github.com/openstack/neutron/commit/8f3a066b20b7ffafec95a618d60e40727504f37c
https://github.com/openstack/neutron/commit/c760d4f26f4b4753c80269437d2cd0b8f63dbc7c

[2020-02-18 11:42] xmulligan opened #1108 "[RA2 Ch02 - Ch03] Add support for artefact repository APIs"
from #1084

On a related note, should this also be moved as a requirement under API. Something like "The Architecture must support the usage of an OCI compatible artefact repository.

The RA needs some way to support and manage artefacts, but shouldn't be dependent upon a particular implementation.

[2020-02-18 11:57] #946 closed

[2020-02-18 14:08] collivier opened #1110 "[RA1][RC1]Check forward testing capability"
Functest Hunter is the best version to verify OpenStack from Pike to Rocky.
A quick tab could help understanding if Hunter may be selected for newer release than Pike even if Functest team suggests to select newer containers in that cases (Rocky - Hunter, Stein - Iruya, Train - Jerma, etc)

At least Hunter neutron-tempest-plugin-api fails when testing Train or newer due to changes in protocols.
te

[2020-02-18 14:09] collivier commented on #1110
CC: @karinesevilla @rabiabdel @rabi-abdel @mf4716 @pgoyal01

[2020-02-18 15:54] pgoyal01 commented on #1037
@ASawwaf @oyayan I have no issues moving " https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter03.md#3422-network " -- but would like to echo @walterkozlowski please remember that the purpose of the RM is a model (not the implementation aspects). @walterkozlowski mentioned the CLOS and that is possible to specify as a hierarchy of network elements and the nature of th

[2020-02-18 16:00] #1106 closed

[2020-02-18 16:54] jeffsaelens opened #1112 "[RA2 Ch2] - review CNI and other networking requirements"
Question, why is a CNI multiplexer being made a hard requirement as opposed to just setting a requirement to support multiple network interfaces?

[2020-02-18 18:17] tomkivlin commented on #1031
My preference would be that edge non-functional requirements are included in the existing RAs and the original intent of an RA being technology specific is retained. If a new edge-specific technology (e.g. EdgeX  Foundry) is needed then I think it's a new RA.

[2020-02-18 18:46] ss8171 opened #1113 "Proposal: CNTT RC1 Trial Goals, Expectations, and Plan"

[2020-02-18 18:58] #1085 closed

[2020-02-18 20:38] pgoyal01 opened #1114 "[RM Ch07] Create consolidated security requirements"

[2020-02-18 21:43] pgoyal01 opened #1116 "[RA-1 Ch07] Create LCM TOC"
RA-1 LCM TOC

Is this LCM of NFVI and VIM? Or just, NFVI or VIM?

Preliminary Ideas:
- Provisioning
    - OpenStack Services
    - Tenants
    -
- Configuration Management
    - Desired state management of OpenStack Services
    - Configuring and maintaining Tenants
    - Configuring compute node profiles

- Logging, Monitoring and Analytics (LMA)
    (move from RA-1 Ch 04 and supplement with addi

[2020-02-18 23:24] TFredberg commented on #1031
I would second @tomkivlin in that RA ought to enable different deployment implementations and if it doesn´t support Edge sized deployments today, the first choice should be to extend respective RA.
I also think that most VNFs and CNFs should be and would like to be unaware of if they are deployed in a central, regional, edge or even far edge environment.
If we start differentiating the VNFs and CN

[2020-02-19 06:16] trevgc opened #1117 "[RC1]2.8.8.1 Performance Measurements - metric descriptions"
Define each metric parameter and provide spec references and explanation of how to interpret. i.e. where is the metric from and how should it be applied? For example how does vNIC performance relate to performance limit of the vSwitch?

[2020-02-19 07:08] hdamker commented on #1031
I also second to the two previous comments of @tomkivlin and @TFredberg. The intention of CNTT is mainly to define the interface between NFVI and VNFs respective CNFs. NFVI has to be seamless across the telco infrastructure from central DC to the edge from VNF perspective and orchestration (north-bound interfaces).

If the current version of RA 1 or RA 2 does not allow to scale an implementation d

[2020-02-19 07:17] #973 closed

[2020-02-19 07:19] #985 closed

[2020-02-19 07:21] #1054 closed

[2020-02-19 07:24] #1068 closed

[2020-02-19 10:34] nickolaev commented on #1112
I would propose a slightly different approach, instead of specifying CNI as an interface to a network provisioning facilities for the pods, talk about the properties that are needed. CNI is something that evolves and we don't have control over what is going to happen next year. What if we suddenly get to CNI 0.8, where a pod does not get an interface but a set of pre-allocated TCP sockets to the n

[2020-02-19 10:35] nickolaev commented on #1112
@jeffsaelens I believe the title needs to be renamed to include RA2 and may be references to the specific chapter.

[2020-02-19 10:49] rihabbanday commented on #1061
So as per current Doodle stats, Wednesday@15:00 UTC seems to be the most convenient time slot for the meeting series.

[2020-02-19 11:29] CsatariGergely commented on #1112
CNTT follows an approach to start with the requirements (similar to what @nickolaev wrote) which are defined in the Reference Model (and cross referenced in [Chapter 2.2](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter02.md#2.2)), from these requirements we build a high level architecture based on the **existing** capabilities of open source components in Chapte

[2020-02-19 12:56] kedmison commented on #1057
It's not that large; 32 vCPUs is 32 threads at the host level.  Over 60% of the current Cascade Lake lineup has 16 or more cores, and would thus support this size in a single NUMA zone.

[2020-02-19 13:05] TFredberg commented on #1037
I would like to enter Networking in the RM on an even higher level of abstraction than the current proposal.

I feel it´s important to view NFVI as a layered model that allows multiple Virtualization Layer domains on top of a shared HW Infrastructure, at least the RM shall allow implementations of multiple separated SW Virtualization layers and all of these should be possible to be managed by sepa

[2020-02-19 13:15] karinesevilla commented on #1031
I prefer to keep the Edge topic within RA1 and RA2 at the moment. Additional profiles (mostly HW specific profiles) will probably be necessary for that, but This can be done according to use cases requirements when these requirements are clearly raised. Relying on existing projects like O-RAN is a good approach to catch Telco relevant use cases.

[2020-02-19 13:52] jbeltranatl commented on #1100
@collivier can you advise please where that is defined?

[2020-02-19 13:56] jbeltranatl commented on #1101
@ss8171

[2020-02-19 13:59] jbeltranatl commented on #1104
@collivier ok. thanks. Also, per the governance call yesterday, we received some feedback from vendors that will require defining/tweaking the approach, scope, and requirements based on their concerns.

[2020-02-19 13:59] jbeltranatl commented on #1104
@ss8171

[2020-02-19 14:00] petorre commented on #1037
Beyond more strict layering that @TFredberg describes, I would like RM Networking text to:
1. Allow for NF components to be deployed in many different ways depending on target use case requirements, workload characteristics (different algorithms implementing pipeline steps) and available platforms.
2. Not combine into one node what is A. server node with programmable acceleration which is already

[2020-02-19 14:01] jbeltranatl commented on #1103
Done. Also including Verizon per @bfcohen comment in governance call yesterday.

RedHat, Ericsson, Nokia, Canonical, VMWare, Verizon, Orange

@ss8171

[2020-02-19 14:10] nickchase commented on #1103
And Mirantis.

On Wed, Feb 19, 2020, 9:01 AM Jonathan P Beltran <notifications@github.com>
wrote:

[2020-02-19 14:11] jbeltranatl commented on #1103
Yes!

[2020-02-19 15:49] markshostak commented on #1037
@walterkozlowski @ASawwaf, For the initial Baldy content, I think @TFredberg and @petorre are on the right track, in that they have started to define the Objectives and Requirements. It's important we define the problem, before we design the solution. :-) Some or all of that content may be appropriate for the RM, or may even be Tech Steering purview (@rabi-abdel , can you comment?). I'm on the fen

[2020-02-19 16:03] markshostak commented on #1037
All, As discussed on the call, the following 3 categories are excepted from today's live RM mtg minutes:

**1. Executive Summary**
**2. Initial Objectives**
**3. Initial Mechanics**

Let's start fleshing them out.

Does anyone not believe we can deliver a summary and 2 initial lists, in time for Baldy? I think between the content in this thread and today's agenda, which already have a lot of it. D

[2020-02-19 23:00] jbeltranatl commented on #1097
thanks @collivier

[2020-02-19 23:47] walterkozlowski commented on #1037
Hi All,
I missed the RM meeting this time (2am in Melbourne...), but I agree we can do this for Baldy.  I will keep working both on the contents base (taking into consideration comments from @ASawwaf, @petorre, @TFredberg, @oyayan and others, but will focus on the Summary, and Initial Objectives and Mechanics.  I wills end out the next version over the weekend.

[2020-02-20 03:51] markshostak commented on #1037
Sounds good, Walter. I've also started aggregating the objectives raised today and some narrative, and I'll push those out for your/people's feedback, as well.

[2020-02-20 04:52] walterkozlowski commented on #1037
That will be great @markshostak
The more thoughts we collectively collect (pun intended) the better...

[2020-02-20 05:31] walterkozlowski commented on #1037
A lot of similar information was in my Prague power point pack:
[CNTT_Networking Fabric 27 Jan.pptx](https://github.com/cntt-n/CNTT/files/4228947/CNTT_Networking.Fabric.27.Jan.pptx)
I am revising all of this and will produce a consolidated and coherent view including comments from the team here (@markshostak @oyayan @ASawwaf @TFredberg @petorre )

[2020-02-20 09:42] karinesevilla opened #1123 "[RA1 Ch06] Security: content to be updated"
Content must to be aligned with RM Chapter 7
Add content specific for OpenStack and VM

[2020-02-20 09:46] xmulligan commented on #610
I think this is the same as #1108 and will be solved with #1109
@tomkivlin can we close this issue?

[2020-02-20 09:51] tomkivlin commented on #610
@xmulligan yes, I think it can.  Will close now.

[2020-02-20 09:51] #610 closed

[2020-02-20 10:42] peterwoerndle opened #1125 "[RM Ch04] Units for CPU metrics"
The current version of the document does not specify the unit of measurement for CPU usage and CPU utilization which makes those statements having the same description and thus be ambiguous. As per the reference document ([ETSI GS NFV TST008](https://www.etsi.org/deliver/etsi_gs/NFV-TST/001_099/008/03.02.01_60/gs_nfv-tst008v030201p.pdf)) usage should be reported in nanoseconds and utilization in p

[2020-02-20 10:44] karinesevilla opened #1126 "[RM Ch04] CPU overbooking"
Section 4.1.4.2 Table 4.6, the definition of "CPU overbooking" is missing and the capability is expressed with the ratio 1:N rather than N:1 as commonly used and defined in chapter 5 5.1.1
@kedmison  I propose to use the definition and wording of chapter 5 and modify the chapter 4 as follow:
- rename "CPU overbooking" by "CPU allocatio ratio"
- def: Number of virtual cores per physical core
- unit

[2020-02-20 10:58] xmulligan commented on #604
Looking through the thread above, it seems the issue was resolved with `req.inf.vir.01` and `req.inf.phy.01`
@tomkivlin I think we can close this issue now

[2020-02-20 10:59] tomkivlin commented on #604
@xmulligan agreed.  I don't think we need this one.

[2020-02-20 10:59] #604 closed

[2020-02-20 11:10] xmulligan commented on #640
solved with #1010

[2020-02-20 11:10] #640 closed

[2020-02-20 11:43] xmulligan commented on #1004
@nickolaev the cloud native definition already lists it and is included. do you have a PR of how you would like to highlight it?

[2020-02-20 11:48] #1066 closed

[2020-02-20 12:14] TFredberg commented on #1037
I have added the ETSI NFV reference points and rest of its existing boxes to the exemplification picture I earlier submitted and also added the two deployment models of RA2 that should be possible i.e. on top of an RA1 (in a VM) and Bare Metal directly on the HW layer.

I would suggest we start our definitions of the RM from the ETSI reference points and interfaces where we should honor the interf

[2020-02-20 13:17] CsatariGergely commented on #1057
Yes, @ASawwaf please do not forget hyperthreading. With this considersed I woluld really consider 32 vCPU-s only big, but not huge.

[2020-02-20 14:51] deebhatia opened #1132 "[RA 2] req.kcm.09 - The Architecture **should** prevent workloads from starving other workloads of guaranteed resources."
In PR #1121 , `req.kcm.09` The Architecture **should** prevent workloads from starving other workloads of guaranteed resources.

The requirement should be a **must**.

[2020-02-20 15:02] CsatariGergely commented on #1132
This issue was created as a consequence of my false advice. The comment should be resolved in #1121 (sorry again).

[2020-02-20 15:07] LucProvoost opened #1133 "[RC] Need to add performance testing in RC for NFVi badging."
More compelling compliance & Verification basis comes from including performance testing with well defined specifications and success criteria: #1120, #1115

[2020-02-20 15:44] tomkivlin opened #1135 "[RA2 Ch2, Ch3] Remove reference to compute-intensive"
"This reference model intends to implement both the Basic, Network Intensive and Compute Intensive Instance types defined in the Reference Model. "

[2020-02-20 15:45] CsatariGergely opened #1136 "[RA2 Ch2]: Clarify the source of the 300 GB requirement in the mapping of e.nfvi.res.cap.005"
There is a requirement to support 300 GB Total instance (persistent) storage (GB), but the source of this number is not in RM anymore.
We should either be able to track back this number to the RM or remove the quantitive requirement.

[2020-02-20 15:46] tomkivlin opened #1137 "[RA2 Ch2] Improve traceability from RA2 to RM"
references, values, etc.

[2020-02-20 15:57] tomkivlin commented on #1137
@ramkri123 @CsatariGergely  let's suggest things here before raising a PR

[2020-02-20 17:04] karinesevilla opened #1139 "[RA1 Ch03] Section 3.3.3 need to be restructured"
The section 3.3.3 must be restructured to be consistent with 3.3 and with section 4.4.2 of chapter 4.
In my opinion, the content about host aggregates and AZ will better fit to Chapter 4 than chapter 3

[2020-02-20 17:06] ulikleber commented on #1112
Even if we know of only one solution, we should not require the solution, but specify the real requirement.

[2020-02-20 17:07] karinesevilla opened #1140 "[RA1 Ch03] High level content needed for 3.5 Cloud Topology"
Introduction to cloud topology

[2020-02-20 17:38] xmulligan commented on #989
see #1128 for why this shouldn't be added

[2020-02-20 17:38] #989 closed

[2020-02-20 19:10] jeffsaelens commented on #1112
This captures my intent for opening this issue. Architecture and Requirements are not the same thing. One feeds the other. The wording should be phrased in a way that distinction is clear.

It sounds like the requirements are around multi-interface solutions and packet treatment. A reference architecture that might meet this requirement would be CNI-Multiplexing.

[2020-02-20 20:23] pgoyal01 commented on #1116
Issue #369 existed but is being closed as the current issue has some suggested content.

[2020-02-20 20:23] pgoyal01 commented on #369
Closing as a new issue #1116  created with some content.

[2020-02-20 20:23] #369 closed

[2020-02-20 20:25] pgoyal01 commented on #1140
@karinesevilla Issue #638 with a chain of discussion exists. If you agree, can you close this issue #1140. Thanks

[2020-02-20 21:02] jbeltranatl commented on #967
All Baldy items have been input into GitHub. Only backlog items remain to be input into GitHub.

[2020-02-20 21:04] jbeltranatl commented on #967
Closing as per last comment.

[2020-02-20 21:04] #967 closed

[2020-02-20 21:06] jbeltranatl commented on #966
All governance baldy items have been created. Only backlog items remain. Will create separate issue to input backlog (non-baldy) post-prague action items. Closing.

[2020-02-20 21:06] #966 closed

[2020-02-20 21:08] jbeltranatl opened #1142 "[CNTT GSC] Post-Prague backlogged governance action items"
Placeholder issue to transfer backlogged items into GitHub. https://wiki.lfnetworking.org/display/LN/Baldy+Release+Planning

[2020-02-20 21:46] markshostak commented on #1037
All, I've created PR #1143 w/ initial content for Baldy. It's intended to reflect the material discussed in the RM mtg, but just a starting point. Feel free to add to, and enhance it.

[2020-02-21 08:32] #1108 closed

[2020-02-21 08:33] #1133 closed

[2020-02-21 08:36] #979 closed

[2020-02-21 12:24] CsatariGergely opened #1150 "[RM Ch1]: Removal of note about VM only approach"
Ch1 contains a note saying, that the current focus of the RM is VM-s. I think we are ready to remove that.

[2020-02-21 12:28] #977 closed

[2020-02-21 12:31] xmulligan commented on #1135
waiting for #1144 to be merged

[2020-02-21 12:32] karinesevilla opened #1152 "[RA1 Ch04] Section 4.1 Introduction: content to be developed"
Content to be provided  when the chapter is finalized

[2020-02-21 12:37] karinesevilla opened #1153 "[RA1 Ch04] Section 4.2: content to be developed"
Content needed for:
- introduction
- 4.2.2.3: Network nodes, more details
- 4.2.2.5: Compute nodes: develop the specificities for Basic and Network Intensive profiles

[2020-02-21 12:48] karinesevilla opened #1156 "[RA1 Ch05] Review the lists of OpenStack services mandatory features"
Check features available for Pike release

[2020-02-21 12:55] CsatariGergely opened #1158 "[RM Ch1.9]: Roadmap chapter is obsolete"

[2020-02-21 14:37] kedmison opened #1160 "[RM] Introduce availability zones to Reference Model"
Availability zones are a common construct provided to allow workloads to create a more highly available application on top of an infrastructure.  They communicate important information about shared failure domains for infrastructure.

Availability zones, as a construct, are available in OpenStack and in Kubernetes.

In the absence of multiple availability zones, workloads rely on anti-affinity.  F

[2020-02-21 15:44] pgoyal01 commented on #1160
@kedmison are you suggesting adding a requirement around Availability Zones (AZs)? (I think you are referring to AZs in the context of hosts (nova AZs) and not network/storage). I hope you agree that AZs do not negate the need for anti-affinity and that the use of AZs as an anti-affinity mechanism is rare. Would the use as an anti-affinity mechanism require a large number of AZs? Please remember t

[2020-02-21 21:35] pgoyal01 commented on #1081
Delete 1.5
Make changes to 1.1 and 1.2. No longer necessary to speak in terms of the first RA etc.

[2020-02-21 23:38] mf4716 opened #1162 "[RC1 - Ch03] Documentation Updates - Clarify Statements for Excluded Test Cases"
Documentation clarification/updates needed:

1. Remove extra N in chapter title, "NNFVI Test Cases and Traceability to CNTT Requirements"

2. Expand, or clarify the statement, "test names must not be executed" for the following sections:
- 3.3.4.1 Identity - Keystone
- 3.3.4.2 Image - Glance
- 3.3.4.3 Block Storage - Cinder
- 3.3.4.4 Object Storage - Swift
- 3.3.4.5 Networking - Neutron
- 3.3.4.6

[2020-02-22 01:11] mf4716 opened #1164 "[RC-1] baldy.rc1.1: General cleanup for RC doc"
General Cleanup

[2020-02-22 01:18] mf4716 opened #1165 "[RI] baldy.ri1.6 - Complete Lab Cookbook (Ops)"
- Verify content.
- Augment/edit content to ensure seamless use of cookbook for Lab Procurement, Pre- and Post-software validations, Installation, and Compliance Validations against Stated RM/RA-1 requirements.
- Add HDV as pre-software deployment validations.
- Add Manifest Validations as post-software deployment validations.

[2020-02-22 01:25] mf4716 opened #1166 "[RI1 RC1] Integrate Spirent NFVI/VIM TCs to Functest/Xtesting"
Spirent NFVI/VIM onboard of TCs

[2020-02-22 05:16] kedmison commented on #1160
@pgoyal01 we are aligned on the context of AZ.  I am referring to using AZs as a way for the operator to indicate acceptable failure domain separation, yes.  The operator could choose to only separate the compute nodes into availability zones, and not the storage or the networking.  Or they could choose to separate all 3.  In the absence of AZ definitions, VNF vendors have to look for other option

[2020-02-22 06:16] walterkozlowski commented on #1037
All. for now I have stopped working on the content above, as we do not want to duplicate what was done in  PR #1143 . The latest content we developed within this Issue:
[CNTT Networking draft 2020 02 20.docx](https://github.com/cntt-n/CNTT/files/4238884/CNTT.Networking.draft.2020.02.20.docx)
Comments welcome, as always.
My opinion is that this work should be incorporated into the plan as it develo

[2020-02-23 09:48] ASawwaf commented on #1125
https://github.com/cntt-n/CNTT/pull/1161#pullrequestreview-363082567

I think this issue covers your @peterwoerndle @CsatariGergely @rabi-abdel @kedmison

[2020-02-23 10:07] SaadUllahSheikh opened #1168 "[RM] generic requirements of CNF in RM3.3 and RM4.1"
@tomkivlin we have some observation in RM stream . It looks the requirements are too much VNF focused and not scoped adequately for CNF .

E.g 4.1 Capabilities and Performance Measurements we can find VIM performance but not  K8S platform capabilities part

3.3 NFVI Management Software is another example we expect something like container management as well
Similarly for K8S at minimum performance

[2020-02-23 10:16] ASawwaf commented on #1160
@kedmison @pgoyal01 , I think Host Agg  will be the right way to address what @kedmison mention

[2020-02-23 13:01] ASawwaf commented on #1116
@pgoyal01 @rabi-abdel , I tried personally to get an answers before for what you mention above with no luck :(

https://github.com/cntt-n/CNTT/issues/663

[2020-02-23 13:23] ASawwaf commented on #1057
Great , so @kedmison , in the issue description, you mention 32-Core which means 64 vCPU , in this case, it is huge

but if it 32 vCPU , for sure it will be fit ;)

[2020-02-23 20:55] ASawwaf commented on #1168
@SaadUllahSheikh , Yes , you are right and it is on top priorities to be closed before baldy release
@kedmison i think there is an open issue for it

@SaadUllahSheikh we encourage you if you can contribute with some content to be reflected in RM , for 4.1 , 3.3 will be later

[2020-02-23 21:20] ASawwaf commented on #1037
@walterkozlowski , For the slides, lets work on it

@markshostak @TFredberg , what you mentioned is great indeed but intail RM doesn't contain any solid networking part, that we try to figure out some baseline to start with, as well what @walterkozlowski start to draft it is just initial  content to be part of RM ( to be enhanced ) as the target for networking / SDN/ Fabric is not baldly release a

[2020-02-24 04:06] pgoyal01 commented on #1160
@ASawwaf Agree host aggregates can address some of what is asked for but host aggregates are invisible to the users and so the VNF specification would need to capture the requirement for the cloud operator to choose the best possible mechanism to support the need.

[2020-02-24 06:36] #1150 closed

[2020-02-24 06:42] #1132 closed

[2020-02-24 10:13] gkunz commented on #988
Has there been any conclusion in the meantime regarding official terminology we should follow?

[2020-02-24 13:24] tomkivlin commented on #1168
@SaadUllahSheikh good question, I'm not sure we've done a thorough review of it from that point of view.  We did do a PR (#621) which dealt with some of the more obvious definitions, but you're right, I think we could do with an update here.  I am not sure about adding Container Orchestration into that particular section (3.3) as containers are a software construct not an infrastructure resource h

[2020-02-24 13:51] #1033 closed

[2020-02-24 16:29] karinesevilla commented on #1153
For 4.2.2.5: development needed about BIOS configuration for Basic and NI profiles for NUMA, CPU pinning and other HW specific configurations (SRIOV,...)

[2020-02-24 16:29] tomkivlin commented on #1061
@rihabbanday confirmed.  I have updated the meeting schedule wiki: https://github.com/cntt-n/CNTT/wiki/Meetings

[2020-02-24 19:01] #1061 closed

[2020-02-24 19:38] pgoyal01 commented on #685
On the RA-1 Technical Call of Feb 24, 2020, it was decided that the Chapter 4.3.3 "Build Parameters" belongs to RI. RI may include references to generic OSTK and/or vendor specific distributions – will depend upon the operator.

PR will be opened to delete 4.3.3.

[2020-02-24 19:53] pgoyal01 opened #1174 "[RA-1 Ch04] DPDK, SR-IOV Hardware Configuration"
Add DPDK, SR-IOV Hardware Configuration to RA-1 Ch04.

Instead of covering in great detail, references may be provided.

[2020-02-25 12:45] tomkivlin commented on #988
@rabi-abdel did you say on a call last week that "conformance" / "conformant" was the chosen term?  If we can point to a meeting decision, or even better some published content then we could start raising PRs across all RM/RA/RI/RC workstreams.

[2020-02-25 12:59] mkr1481 commented on #917
@collivier  for RC1, VTP already provides feature to provide results in OVP dovetail required format for every test case it runs. and we wanted to bring integration of VTP in xtesting, so  test cases in VTP could be triggered from xtesting for performing the conformance and on-boarding/lcm testing.    can you please share the wiki links on how to make this integration guide in xtesting. thank you

[2020-02-25 13:12] rabi-abdel commented on #988
@tomkivlin yes, the decision is to use Conformance/Conformant.
https://wiki.lfnetworking.org/pages/viewpage.action?pageId=30605664

[2020-02-25 13:57] gkunz commented on #988
thanks @rabi-abdel

[2020-02-25 14:57] rabi-abdel opened #1177 "[TSC] Agree on Technical Releases relation to WSs and with other communities"
As Discussed in TSC, we need to agree on WSs releases (versions) within CNTT itself and with other relevant communities.

[2020-02-25 17:49] deebhatia opened #1180 "[RM Ch05] Park Compute intensive in §5.1 and §5.2"
### Occurences
1. Figure 5-3 depicts a high level view of the Basic, Network Intensive and **Compute Intensive** Instance Types.
2. This section will detail NFVI SW profiles and associated configurations for the 3 types of NFVI instances: Basic, Network intensive, and **Compute intensive**.

[2020-02-25 18:19] pgoyal01 commented on #1116
@ASawwaf So maybe we create the minimum topics that would be required. For example, RA-2 Ch07, has an outline that consists of the following:

1. Kubernetes Cluster Lifecycle Management: Desired state configuration management drives lifecycle management Include the lifecycle management of associated objects (e.g. secrets)

1. Monitoring Kubernetes Clusters: instead we can have the more encompassin

[2020-02-25 18:48] rabi-abdel commented on #1180
@deebhatia please make sure you assign the right Projects (in this case it is RM) so it can be picked up by Project.

[2020-02-25 21:01] pgoyal01 commented on #1080
@ASawwaf since this is not a mandatory requirement can we choose not to address in Baldy release?

[2020-02-25 21:02] pgoyal01 commented on #1048
This should be two different issues so that we can work the RA1 and RA2 stream independently.

[2020-02-25 21:04] ASawwaf commented on #1080
@pgoyal01 sure

[2020-02-25 21:34] kedmison commented on #1126
Thanks, this is a good catch.  Please make a PR.

[2020-02-25 22:40] tomkivlin commented on #1048
@pgoyal01 if #1130 gets merged then that will deal with it for RA2, and so I'll remove RA2 from this Issue.

[2020-02-26 03:19] deebhatia commented on #1180
I was facing some issues yesterday in attaching projects and labels. Thanks for attaching them.

[2020-02-26 06:08] fkautz opened #1184 "RA2 4.2 blocks cloud kubernetes"
GKE, EKS and AKS are effectively blocked by RA2's requirements.

Things blocking hosted cloud solutions:

* requiring deb/rpm
* kernel requiring kibeadm (this makes no sense regardless, just because a kernel can run kubeadm doesn't mean it can run kubernetes). None of the major cloud providers are not deployable via kubeadm.

[2020-02-26 06:27] fkautz opened #1186 "[R2 Ch4] likely belongs in RI2"
A significant portion of this document appears to belong in the RI2, not RA2. It details implementation details into the RA. It also is written in a way that blocks the use of hosted cloud environments such as GKE, EKS and AKS.

In short, we should migrate these into the RI.

Here is a quick list of things that appear to the implementation details:

* OS package managers (not to the benefit of K8s

[2020-02-26 13:04] markshostak commented on #1037
@ASawwaf Hi Ahmed, When you say the RM doesn't contain a solid networking part and that we need a baseline, are you referring to an implementation or can you clarify to what level you're envisioning? The material you reference from Walter contains a mix of specific implementation content and high-level.

[2020-02-26 13:28] walterkozlowski commented on #1037
@markshostak I really do not agree that the initial material I started had anything to do with specific implementations (except perhaps some examples which I used for illustrations, clearly saying "for example a a typical deployment" and similar ), but presented major logical entities that play role in next generation SDN, as the open networking projects see it.  For example, the DPN may be in a s

[2020-02-26 13:51] markshostak commented on #1037
@walterkozlowski I merely said it was a mix, but not sure why you focused on that. The intent of the comment was to have Ahmed clarify what he was envisioning.

[2020-02-26 13:55] walterkozlowski commented on #1037
Also, if CNTT wants to be relevant for 5G Core (man projects around the world), we need to address next gen SDN in view of the critical CUPS methodology.  I do not think many operators will deploy UPF in VMs.  @ASawwaf is right that networking is critical part of NFVI.  This is very much visible in Edge use cases as well (take for example driverless trains in Australian mining...).  So we need to

[2020-02-26 13:56] walterkozlowski commented on #1037
@

[2020-02-26 14:21] gkunz commented on #1186
Hi @fkautz.  Good points and and some sections should be moved over to the RI. Yet, many of the statements in the RA document are not stated in a strictly limiting manner, but rather explicitly as "may" requirements or examples, see container runtimes, CNI plugins, helm 3. The RI has to pick one particular component (e.g. Multus or DANM).

To the other points:
- OS package managers (not to the ben

[2020-02-26 14:37] kedmison commented on #960
Decisions as per RM meeting 2020-02-26:
- New Reference Model not needed
- Long term networking plans (post-Baldy release in #1037
- shorter-term fixes as needed in separate issues/PRs.

[2020-02-26 14:37] #960 closed

[2020-02-26 16:29] #1180 closed

[2020-02-26 16:30] #685 closed

[2020-02-26 16:57] rabi-abdel commented on #1158
Agree, we need to just remove Roadmap from all chapters. happy to take a stab at this.

[2020-02-26 16:57] rabi-abdel commented on #1158
@kedmison are you happy for me to go and create a PR for it?

[2020-02-26 17:00] kedmison commented on #1158
Yes please.

[2020-02-26 17:15] #978 closed

[2020-02-26 17:21] #1057 closed

[2020-02-26 17:24] #1126 closed

[2020-02-26 18:35] kedmison commented on #988
The OPNFV CVC committee is the "Compliance and Verification Committee".
Should we use Conformance when referring to CNTT documents, and Compliance in reference to security standards, to CVC's proper name, to CVC activities?

[2020-02-26 18:48] bfcohen commented on #1031
I have VERY mixed feelings on this.  Edge as many of you know, is still an emerging technology, with no single clear set of use cases or definitions even of what constitutes "Edge".   There are a number of metrics, or as I think of them, levers, that drive the Edge Use Cases and Architectures. WAN distance or latency concerns, significant hardware constraints, limited tools for distributed managem

[2020-02-26 18:54] kedmison commented on #1027
@pgoyal01 What would you consider doing for issue 2?   Should the expression 'verified to be working as expected', and similar, be removed?   This would remove the implied override of the criteria in 'Certification Tenets'.
I would still find it good to list several of the capabilities that are being tested, to give a high level view of the scope.  If desired, we could add a note that this is a no

[2020-02-26 19:20] rabi-abdel opened #1191 "[RA-2 Ch01] Remove Contributors name from main specs"
as discussed in https://github.com/cntt-n/CNTT/pull/1190

[2020-02-26 19:24] rabiabdel commented on #1186
@fkautz please assign a project to the issue otherwise it will likely get lost.

[2020-02-26 19:35] gkunz commented on #988
woops, I believe my "particially fixes" reference from #1190 caused this issue to get automatically closed. Reopening because we want to track the compliance / conformance transition more globally than just the RA2-related changes I made in #1190.

[2020-02-26 20:09] mf4716 opened #1193 "[RI-1] baldy.ri1.1: General cleanup for RI doc"
This is in support of RI issue #1041 for General Cleanup.

Spelling correction only: Section 3.4 infrastrucutre(inf) to "infrastructure"

[2020-02-26 21:55] pgoyal01 commented on #1027
@kedmison In the statement, "I would still find it good to list several of the capabilities that are being tested, ..." you are asking for the definition of the scope of the test cases. Shouldn't those be covered under either requirements or a separate section.

You should also review the "End User Considerations" to validate that these are really "Exit Criteria"

[2020-02-27 00:32] trevgc commented on #587
@kedmison ... also if bandwidth is assigned per virtual interface we should be able to verify that capability through testing of the NFVi. How to do that since the packet rate ("badwidth") will depend on the number of queues/cores allocated to a (DPDK) VNF and we would likely just be measuring a limitation of the vSwitch.

[2020-02-27 04:13] fkautz commented on #1186
"The used CNI multiplexer/metapulgin may be DANM as it provides the possibility to use several other CNI plugins (req.inf.ntw.16) and provides an API based solution to administer the networks (req.inf.ntw.10) from a central point (req.inf.ntw.11)."

This could be a problem with interpretation. May could be "possibly" or "permission." If we've restricted the definition of 'may' to 'possibly' withou

[2020-02-27 06:29] ASawwaf commented on #1037
@walterkozlowski @markshostak
what I meant, that we all agreed that interworking part is fluffy in our Rx , and it is crucial to have a solid RM that can help to have complete RAs

and when I mention "networking" there is a lot of aspects that we should cover under "Networking" in terms of Fabric, Overlay, Underlay, SDN, ..

@markshostak  what you mention is indeed as outlines and principles and w

[2020-02-27 06:39] SaadUllahSheikh commented on #1168
@tomkivlin you highlighted very important point actually fact is that even ETSI is not clear on it and they want to work on (GS NFV-INF 001) to have industry wide common understanding . For example in ETSI Rel-4 planning we already raised same question to NOC team.and below is abstract from WI , the fact is that there is a discussion also why say CNF because its is like Gold VNF . But having said

[2020-02-27 07:17] #1042 closed

[2020-02-27 09:24] rabi-abdel opened #1197 "[TSC] Cleanup Tech part and move content into it."
Some content is scattered around, idea is to bring in common data into main tech doc.

[2020-02-27 09:32] rabi-abdel opened #1198 "[TSC] Cleanup Appendixes in All Chapters"
Appendices in RM and RA Chapters needs cleaning up to include exception policies as discussed in the transition plan.

[2020-02-27 09:42] rabiabdel commented on #270
This can be removed as it has been addressed

[2020-02-27 09:42] #270 closed

[2020-02-27 09:55] #1191 closed

[2020-02-27 09:58] rabi-abdel commented on #1198
duplicate of https://github.com/cntt-n/CNTT/issues/750

[2020-02-27 09:58] #1198 closed

[2020-02-27 10:17] CsatariGergely opened #1200 "[RI Ch03, RM ch05]: Inconsistent use of Huge Pages"

[2020-02-27 13:14] rihabbanday opened #1204 "[RA2 Ch02] OS kernel and resource isolation requirements"
I think we need to be more specific on the requirements

`req.sec.gen.04 `| General | The Architecture should provide Operating System kernel isolation.
`req.sec.gen.05 `| General | The Architecture must provide compute resources isolation.

Does Operating System kernel isolation here refer to using kata containers, containers in VM, etc?

Does Compute Resource isolation here refer to isolation pr

[2020-02-27 13:40] rihabbanday opened #1205 "[RA2 Ch04] Clarify Kubernetes Workload requirements"
The requirement stated in section **4.3**

`Workloads must not rely on the availability of the master nodes for the successful execution of their functionality (i.e. loss of the master nodes may affect non-functional behaviours such as healing and scaling, but components that are already running will continue to do so without issue)`

prevents the use of K8s CRDs and operators. Does this requireme

[2020-02-27 14:16] tomkivlin commented on #1205
I don't agree it stops the use of CRs and Operators.  As already stated, failure of the control plane would stop any changes to the state of _any_ resource that is managed by Kubernetes, including Custom Resources, but that doesn't mean the Custom Resource wouldn't continue to run/execute/be available (as per any other Kubernetes resource).

[2020-02-27 14:17] tomkivlin commented on #1205
PS - I've added to the Backlog as it's not affecting a chapter in scope of the Baldy release.

[2020-02-27 15:10] CsatariGergely commented on #290
@rabi-abdel did we discussed this? And if yes what was the result?

[2020-02-27 16:06] rihabbanday commented on #1205
I see, I thought there could be workloads that could depend on other attributes in the master node apart from healing & scaling. Nevertheless I think that is a workload requirement and not an infrastructure one. Good to have it in the Backlog.

[2020-02-27 16:55] rabiabdel opened #1206 "[RM Ch04] Address Comments by @Mark Shostak on a merged PR"
@karinesevilla Hi Karine, When you say Number of virtual cores per physical core. are you referring to number of Threads (or Processes or VMs) scheduled per physical core?

Consider including "overbooking" in the comments section; it's an easy way to help people understand the parameter, and still have the more technical definition from above which is more precise, but not as intuitive IMHO.

_Ori

[2020-02-27 17:43] pgoyal01 commented on #1206
@rabi-abdel Operating systems report "Processors" or "Logical Processors" (logical and virtual are synonymous). As you know when speaking of "threads" there are "physical" and "emulator" threads.

But if we look for usage of terms logical cores and physical cores are very common terms. May I suggest that we use "logical (virtual) cores".

[2020-02-27 19:38] kedmison commented on #1200
Re-opened b/c other PRs are still open.

[2020-02-27 22:42] nickchase opened #1207 "[RA-2 CH01] LCM is out of scope -- but required"
Chapter 1 says that 'For the avoidance of doubt, the following is considered to be out of scope:  Kubernetes cluster lifecycle management: reason being, it is not considered to be "visible" to a CNF and so should not be included.'

However, multiple locations say things like "req.inf.ntw.09 | Network | The Architecture must support API driven life-cycle management (LCM) of the infrastructure that

[2020-02-28 01:20] #1021 closed

[2020-02-28 01:22] #846 closed

[2020-02-28 05:36] #1200 closed

[2020-02-28 05:45] #1193 closed

[2020-02-28 05:46] #1135 closed

[2020-02-28 08:07] CsatariGergely commented on #727
What else is needed on top of #621 and #738 @tomkivlin , @TamasZsiros ?

[2020-02-28 08:28] fkautz commented on #1207
I don't see a conflict here, but perhaps the wording can be improved.

There is the life-cycle of the cluster and life-cycle of the workload. The workload does not need to be aware of the life-cycle of the cluster. Interestingly, the workload often doesn't need to be aware of its own life-cycle, though being aware of its own life-cycle may sometimes be necessary based on the type of workload being

[2020-02-28 08:40] gkunz commented on #1205
Coming back to this item: @tomkivlin isn't this a requirement on the workload rather than the platform? If that's the case, we should think about either removing it or rather moving it to a separate section which describes "best-practices" for workloads to make best use of the platform specified in RA2.

[2020-02-28 08:41] CsatariGergely commented on #1168
I would be happy to work on this, but I would need some more clear opinions on what exactly is missing or should be changed.

I think to be able to model cloud infrastructures (or whatever definition what is okay enough for Kuberentes to admit, that it (among other things) orchestrates Linux containers (which are virtualisation infrastructure units)) in the same model we need to focus on the simil

[2020-02-28 08:56] tomkivlin commented on #1168
I'm also happy to help.  My personal preference would be to remove all use of existing terms such as NFVI other than to give examples.

For example, we might use "Disaggregated network function infrastructure" or "Logical network function infrastructure" so it covers the following, showing that NFVI is the example relating to VM-based workloads.
1. VM-based,
2. containers on bare metal, and
3. con

[2020-02-28 09:51] CsatariGergely opened #1209 "[ALL]: NFVI Profile =? Instance Type"
RM Chapter 1.4 introduces the definition of NFVI Software and NFVI Hardware profiles along with Instance Type (in Figure 1-1). For me Instance Type is the NFVI Software Profile and NFVI Hardware profile together. In other parts of the document, like in Chapter 4.2 there are mentions of NFVI Profile, which describes the term better. Instance Type, Instance and NFVI * Profile-s are mixed in the whol

[2020-02-28 10:04] rabi-abdel commented on #1168
Agree with the need to neutralise RM and make it applicable to both VMs as well as containers. I strongly agree with @CsatariGergely to **NOT** go for a completely different Model for containers or even having a different Chapter. agree with @tomkivlin to redefine the NFVI to include the above three cases.

my suggestion would be doing this in two phases:

**PHASE1**:  Create a PR to adjust the te

[2020-02-28 10:08] rabi-abdel commented on #1209
This is very valid point @CsatariGergely, are you happy to start a PR for it?

p.s. Please make sure to add RM project to issue :)

[2020-02-28 10:12] ASawwaf commented on #1168
@rabi-abdel good approach, thx
 I hope to catch it before baldy ,

[2020-02-28 10:16] ASawwaf commented on #1209
@rabi-abdel moreover, there is an unclear border ( Definition ) between :
Instance Type
NFVI Profile
Profile
T-Size
Flavor

[2020-02-28 10:20] #406 closed

[2020-02-28 10:27] CsatariGergely commented on #1209
Yes, we are happy to start a pr about this.

[2020-02-28 10:33] CsatariGergely commented on #597
#618 fixed this, I think we can close this issue.

[2020-02-28 10:33] CsatariGergely commented on #598
#618 fixed this, I think we can close this issue.

[2020-02-28 11:03] TFredberg commented on #1168
I like @rabi-abdel approach and it would likely make it slightly simpler for the networking fabric discussion within RM disussed in #1037 as well.

[2020-02-28 11:49] tomkivlin commented on #1168
I'm happy to do this is the WSLs are happy with the proposal.

[2020-02-28 12:05] TFredberg commented on #1037
I would here like to further our networking model discussion and alignment of views before venturing into a descriptive text or too detailed examples in the RM.

I certainly agree with @walterkozlowski and @ASawwaf that networking is fundamental, but have respect for that it is rather complex and hard to get the layering correct since it has almost infinite flexibility but very varying degree of c

[2020-02-28 13:53] gkunz commented on #1186
hi @fkautz ok, I see your point regarding interpretation of "may". My understanding has always been that "may" refers to "possibly", but if that can be expressed more clearly, I am all for it. Moreover, there is a definition of "may" in the beginning of chapter 2, stating: "may: Requirements that are marked as may are considered optional. The same applies to may not." I have the impression this de

[2020-02-28 15:49] pgoyal01 commented on #1209
Currently, NFVI Software profile is being used as the configuration of, say, the software (hypervisor, VIM) in support of instance types. If we are going to use NFVI Software Profile in the manner as suggested then I suggest we change NFVI hardware profile to NFVI host profile (to cover both hardware and software configurations),

[2020-02-28 18:38] mf4716 opened #1212 "[RC1 - Ch03] baldy.rc1.4 - Add NFVI Req-to-Test-Coverage Mapping"
Supports Baldy, "baldy.rc1.4 | Categorize NFVI TC Req and Write API Testing TC | Ch03" by adding a consolidated requirements list (RM, RA-1) with Test Coverage (Gaps) to RC1 Ch03.

This ensures RI-1 implementation matches RM and RA-1 requirements (config and deployment).

Requirements will be listed with respect to 8 domains: general(gen), infrastructure(inf), VIM(vim), Interface & API(int), Tenan

[2020-02-28 19:05] fkautz commented on #1186
@gkunz agreed. One thing I'm not clear about is whether the definition only applies to numbered requirements. E.g. one could write "The implementation may deploy a service mesh" vs using it in prose such as "The operator may run linkerd" where the intention is less clear. This will be further complicated by the fact that most people reading this will probably not read the initial definition of 'ma

[2020-02-28 19:21] mf4716 commented on #1212
Created PR #1213

[2020-02-28 21:27] #596 closed

[2020-02-28 22:30] pgoyal01 opened #1217 "[RA-1 Ch06] Confidentiality & Integrity Content"

[2020-02-29 15:27] collivier opened #1219 "[RI] Take CNTT RC results into account"
https://jira.opnfv.org/browse/AIRSHIP-28
https://jira.opnfv.org/browse/AIRSHIP-29
https://jira.opnfv.org/browse/AIRSHIP-30

[2020-03-01 01:07] walterkozlowski commented on #1037
Great input from @TFredberg. I think that we all are largely in agreement.  I personally think that programmability will need to be earlier in our roadmap as it is happening in the industry, as we speak.  Btw: as I expressed already in Prague, programmability also covers smartNIC based solutions (and other technologies, some of them unknown yet).   We are in agreement with @TFredberg on the necess

[2020-03-02 07:42] #472 closed

[2020-03-02 07:48] #260 closed

[2020-03-02 07:48] #1081 closed

[2020-03-02 15:04] mf4716 commented on #1219
FYI - James Gu (GU, JAMES <ji5690@att.com>) is the triage point of contact for Airship related issues as it pertains to CNTT PODs 10 and 15.  James has a JIRA dashboard and is managing issues on that page.  I am in the process of reassigning the open issues to James.

[2020-03-02 15:26] pgoyal01 commented on #1076
RA-1 Ch02 Requirements will be split into Requirements and Recommendations and Recommendations are not testable.

[2020-03-02 15:31] pgoyal01 commented on #1110
RA-1 is the OpenStack Pike release.
Testing for newer releases (post Rocky) will be focus of future RA-1 release.

[2020-03-02 15:49] iangardner22 opened #1220 "RA-1 Ch04 issues with table headings"
Several of the tables in 4.2.x have the following heading for the BIOS parameters of each node:

BIOS/boot Parameter | **Control server**

**Control server** doesn't correspond with the rows of the table which are BIOS/boot Parameter and **Value** - so need to update the tables to fix this error.

[2020-03-02 15:52] iangardner22 commented on #638
This had fallen in to the Archive @pgoyal01 - do you agree this should move back to To Do?

[2020-03-02 15:56] iangardner22 commented on #1220
4.2.2.2 - needs correcting as this table is specific to controllers
4.2.2.5 - suggest add "Value for... Basic, Network Intensive
4.2.4.1 - needs correcting as this table is specific to ceph

[2020-03-02 16:03] #1088 closed

[2020-03-02 18:31] pgoyal01 opened #1222 "[RA-1 Ch02] Catgorise requirements as Requirments and Recommendations"
In the RA-1 Technical call of March 2, 2020, it was decided to create Requirements and Recommendations.

[2020-03-02 19:34] #1220 closed

[2020-03-02 22:48] mf4716 opened #1224 "[RI-1 Ch09] baldy.ri1.1: General cleanup for RI doc"
Update to RI-1 Ch09 as a result of Pharos conversation & NIC dependency in PR #1058 .

This issue supports baldy.ri.1.1,. General Cleanup for RI doc and will provide the following:

- Fixes (updates) TOC (and sub-headings so navigation matches TOC)
- Adds new 9.3 NFR Considerations Section
- Adds new 9.3.1 Traffic Generators & NIC sub-section

[2020-03-02 23:47] jbeltranatl commented on #1095
Strawmodel--High-Level VNF Journey from Development to Operationalized for Use 
1. Develop Software
2. Choose Data Model
3. Verify VNF Conforms to Common NFVI standards (OVP NFVI Badge)
4. Verify VNF Conforms to VNF standards (OVP VNF Badge)
5. On-Boarding to NFVI
6. VNF Requirements provided by Vendor to Operator/System Integrator (templates, images, etc.)
7. Operator/System Integrator infrastruc

[2020-03-03 00:32] mf4716 commented on #1095
@jbeltranatl (et al.),

Possibly add:
- Delivery of Release Notes (contains list of known issues, confirmation of features and capabilities being delivered, and results from internal/OVP badging)
- Availability of standard network function images (final versions, not an iteration of the final)
- Deployment, Configuration, Admin, and User Guides are available

[2020-03-03 09:25] karinesevilla commented on #1140
@pgoyal01 @iangardner22
Issue already covered by issue #638

[2020-03-03 09:25] #1140 closed

[2020-03-03 09:30] CsatariGergely commented on #1204
I think `req.sec.gen.04` requires katacontainers or similar where the kernel of the containers/pod is isolated form the host and other containers/pods.
`req.sec.gen.05` I believe is a bit more than what standard container runtime provides as it does not provide isolation from noisy neighbours, like other pods in the same host or other processes not visible for the infrastructure.

[2020-03-03 15:27] pgoyal01 opened #1227 "[RM Appendix A] Add Image and Security guidelines"
1. Move the following Image security requirements to RM Appendix A:
| sec.img.003 | Images **must not** contain malicious code (e.g., malware, logic bombs, etc.)  |  | |
|-----------|-------------|----------|--------|
| sec.img.004 | Images **must not** contain code such as daemons that exposes them to risk |  | |
| sec.img.005 | Images **must** only be created with content and files from trusted

[2020-03-03 18:10] #1212 closed

[2020-03-03 18:12] pgoyal01 opened #1229 "[RA-1 Ch01] Add OSTK Release"
Currently, the Pike release is mentioned in RA-1 Ch04 and 05 but we need an upfront statement about which OSTK release this version of RA-1 conforms to,

[2020-03-04 01:28] jbeltranatl opened #1231 "Test Issue"
This is a test of issue creation and assignment.

[2020-03-04 02:27] mf4716 commented on #774
status @deebhatia ?

[2020-03-04 02:28] mf4716 commented on #865
status @collivier ?

[2020-03-04 02:28] mf4716 commented on #916
status @collivier ?

[2020-03-04 02:29] mf4716 commented on #1036
@rabi-abdel , is the intent here to include the info in our Framework, or Intro, documents?  Hasn't been picked up, or reviewed since creation, so wanted to confirm still applicable and potential location for info.

[2020-03-04 02:30] mf4716 commented on #917
@collivier status?

[2020-03-04 02:31] mf4716 commented on #829
status @collivier ?

[2020-03-04 02:33] mf4716 commented on #159
@rabi-abdel still applicable?  quite old

[2020-03-04 02:34] mf4716 commented on #945
@lylavoie , @markbeierl , @markshostak - any volunteers to assist?

[2020-03-04 02:34] mf4716 commented on #828
status @collivier ?

[2020-03-04 02:34] mf4716 commented on #511
status @collivier and @opensource-tnbt ?

[2020-03-04 02:35] mf4716 commented on #510
status @collivier ?

[2020-03-04 02:35] mf4716 commented on #509
status @collivier ?

[2020-03-04 02:36] mf4716 commented on #419
status @deebhatia ?

[2020-03-04 02:37] mf4716 commented on #1029
@deebhatia are you able to volunteer for this one?

[2020-03-04 02:37] mf4716 commented on #673
status @collivier ?

[2020-03-04 02:38] mf4716 commented on #1110
status @collivier ?

[2020-03-04 02:39] mf4716 commented on #1117
do we have a volunteer to take this one?  @trevgc can you, or @LucProvoost , help with this one?

[2020-03-04 02:40] mf4716 commented on #1162
PR #1163 pending approval - once approved and merged this will close

[2020-03-04 02:41] mf4716 commented on #1166
status @rrajesh70 ?

[2020-03-04 02:53] deebhatia commented on #1029
Sure.

[2020-03-04 03:30] mf4716 commented on #1029
Thank you @deebhatia

[2020-03-04 10:05] tomkivlin commented on #1207
@fkautz that's exactly what we're trying to achieve, yes.

@nickchase - I think you've probably highlighted a requirement that needs re-wording or removing :). Happy if you want to create a PR that deal with that and resolve this issue?

[2020-03-04 10:14] collivier commented on #673
@rabi-abdel @mf4716 I would appreciate a quick clarification about the RC1 Co-Lead scope.
From my understanding here, the issue must be assigned to StorPerf PTL or contributors, any CNTT-OPNFV liaisons or RC1 leader. On the other hand, this role raises side effects vs my Functest PTL role regarding the false RC tables introduced in OPNFV TSC meeting (and possibly in CNTT governance?).
To avoid a l

[2020-03-04 10:15] collivier commented on #509
@rabi-abdel @mf4716 I would appreciate a quick clarification about the RC1 Co-Lead scope.
From my understanding here, the issue must be assigned to StorPerf PTL or contributors, any CNTT-OPNFV liaisons or RC1 leader. On the other hand, this role raises side effects vs my Functest PTL role regarding the false RC tables introduced in OPNFV TSC meeting (and possibly in CNTT governance?).
To avoid a l

[2020-03-04 10:17] rabiabdel commented on #1168
@kedmison are you happy with the proposed approach above?

[2020-03-04 10:17] collivier commented on #510
@rabi-abdel @mf4716
To avoid a lots of spams as it happened in December, I would suggest to close this issue and the similar ones per OPNFV projects. Agree?

[2020-03-04 10:20] collivier commented on #945
I don't see why the cookbook should explain all possible errors and then the possible fixes. It's just an infinite work which seems out of a cookbook.

[2020-03-04 10:43] tomkivlin commented on #1186
@fkautz @gkunz I've marked this as backlog for now as it's about ch4, however I think it's a really important discussion.
I've been thinking for a while now whether RA2 Ch4 should, rather than just specifying capabilities and specifications, should start by specifying the success criteria for the tests that will be developed in RC2, once launched.  Ian Well's email from a few weeks back put me on

[2020-03-04 10:58] tomkivlin commented on #1184
Hi @fkautz as discussed in other issues/PRs I'm more than happy to re-word but I don't understand how these block the use of GKE, EKS and AKS.
All three use Linux-based worker nodes, which are likely to be deb/rpm compatible (note, the chapter doesn't say you have to use deb/rpm, just that the Linux distro used is deb/rpm compatible (as per Kubernetes own documentation). The kubeadm I agree needs

[2020-03-04 11:16] CsatariGergely commented on #1186
I think RA2 should define everything what is visible for the VNF-s, including their descriptors and RI should make choices about things wich are not visible for the VNF-s.

* OS package managers (not to the benefit of K8s) -> Not visible for the VNF, can be an RI2 decision
* K8s installer -> Not visible for the VNF, can be an RI2 decision
* Specific K8s versions -> Defines the feature set availabl

[2020-03-04 11:30] tomkivlin commented on #1186
I'm torn - for something like the CNI/network solution, there are a combination of requirements that will define what that needs to be. Network policies, segregation, L2/L3/L4/L7 requirements, ingress, load balancing etc. and so whilst any of Calico, Weave, Cillium, etc. could be used for network policies, the other requirements might start to constrain the choice automatically.

Which is starting

[2020-03-04 11:56] tomkivlin commented on #1018
@fkautz I understand your points about a hierarchy, but I agree with @peterwoerndle in that having a single line per requirement without the need to reference another place in the doc would be preferable.  It could be that "block storage" is the general requirement and then the specifics are about ephemeral and persistent requirements - could be either. I'd rather list everything out and then it's

[2020-03-04 12:01] pgoyal01 commented on #638
@iangardner22 Yes please

[2020-03-04 12:04] tomkivlin commented on #1137
My suggestion to this is two-fold.

Firstly, for the tables in section 2.2, we should add a column that lists the RA2 requirement that links to the RM requirement, and then also a column for the chapter/section/arch spec (see #1186) to capture the full mapping.  This is then just helpful for checking how the "Y" is achieved. e.g.

Attribute | Description | Value | Supported | RA2 Requirement | RA2

[2020-03-04 12:14] tomkivlin opened #1236 "[RA2 Ch2] Review CNI and other networking requirements"
I would propose a slightly different approach, instead of specifying CNI as an interface to a network provisioning facilities for the pods, talk about the properties that are needed. CNI is something that evolves and we don't have control over what is going to happen next year. What if we suddenly get to CNI 0.8, where a pod does not get an interface but a set of pre-allocated TCP sockets to the n

[2020-03-04 12:16] #1236 closed

[2020-03-04 12:19] tomkivlin commented on #1112
@jeffsaelens @nickolaev @ulikleber I've renamed this issue to reflect what needs to happen (as per @nickolaev's comment).

I think a PR that modifies the networking requirements in chapter 2 is what we need, which will then allow us to flow through into subsequent chapters. I would start with @nickolaev's suggestions.

[2020-03-04 12:21] tomkivlin commented on #603
Resolved in #1124

[2020-03-04 12:21] #603 closed

[2020-03-04 12:25] CsatariGergely commented on #1112
Let's not forget, that CNTT is about making selections and limiting options. In RA2 we need to select components which are visible for the VNF which includes the CNI-s and the CNI multiplexer.
What @nickolaev suggests here is what we have in the RM, but in the RA we need to be more specific.

[2020-03-04 12:28] tomkivlin commented on #614
Closed as I think this is covered by the following requirements:

[code]

The first ensures the Kubernetes used has a CNCF conformant API, and the second ensures all resources are managed through that API.

[2020-03-04 12:29] tomkivlin commented on #614
Sorry, re-opened as a commented-out line needs removing from chapter02.md.

[2020-03-04 12:35] tomkivlin commented on #1112
@CsatariGergely that's fine, I think all we're saying is the requirement shouldn't be to specify solutions - as per #1184 I'm OK for now for RA2 specifying components, but the requirements and arch spec need to back that up rather than the choice (e.g. CNI in this example) being the starting point.

[2020-03-04 12:39] kedmison commented on #524
@pgoyal01 @ASawwaf @deebhatia @markshostak @karinesevilla
This issue has been stalled for a while, and needs to be concluded.  What are everyone's opinions?  to close it (and leave Swift as mandatory?) or to push through a PR to make Swift optional?

[2020-03-04 12:40] mf4716 commented on #945
"Common Failure codes, description, and resolutions"

The feedback in Prague was to include some helpful information for self-troubleshooting.  Not exhaustive, but common.  Airship deployment guides include troubleshooting information.  The plan was to start with that info, and expand over time - e.g. CICD Toolchain common setup issues, etc

[2020-03-04 12:48] tomkivlin commented on #616
Part of me thinks this is just not needed, as it shouldn't really be in scope - i.e. the LCM of the cluster (inc. nodes) is not something we care about in this RA as it isn't affecting the workloads.

However, if we feel it should be included, I agree the availability of the workloads is not the responsibility of the platform operators.  Given the requirements already included in [2.3.5](https://g

[2020-03-04 12:48] tomkivlin commented on #616
Keep the requirement and tweak as per above.

[2020-03-04 12:48] tomkivlin commented on #616
Delete the requirement.

[2020-03-04 12:49] tomkivlin commented on #617
I think this requirement is not needed. Closing this issue.

[2020-03-04 12:49] tomkivlin commented on #617
Gah, done it again - reopening so I can do the PR.

[2020-03-04 13:05] pgoyal01 commented on #524
@kedmison I think this was previously mentioned by someone. CNTT NFVI is an IaaS platform whereas "Object Storage" is a PaaS service. More importantly, why are storage types being associated with Instance types in RM 5.2.2?

In 5.1.2. a Catalogue of storage types is defined -- can be any storage type in the catalogue but is not specified and then made mandatory in 5.2.2 -- mandatory without knowin

[2020-03-04 13:53] ulikleber commented on #1207
I agree that LCM of the cluster is out of scope for CNTT. However the reasoning is not correct. Many things that are not visible to the CNF/VNF are in scope for CNTT.
A complete NFV-MANO solution would need to provide LCM for the kubernetes clusters it is using to deploy its CNFs. But as CNTT doesn't describe the NFVO and VNFM parts, the management of the cluster(s) in my view is not in scope, whi

[2020-03-04 14:09] CsatariGergely commented on #1209
The idea is to use NFVI Profile as the software and hardware profile and remove "instance types" as this is used in inconsistent way. We would still keep NFVI Software and NFVI Hardware profiles.

[2020-03-04 14:32] tomkivlin commented on #608
I think this is not needed.  Sharing infrastructure resources is native Kubernetes behaviour. If there is a more specific, non-native requirement then let's create it.  Will create a PR to remove.

[2020-03-04 14:35] tomkivlin commented on #1020
@fkautz can you highlight which content the issue relates to please? Chapters, sections, snippets etc.

[2020-03-04 14:36] tomkivlin commented on #611
I will create a PR to remove this.  Some additional requirements to deal with workload isolation have been created.  If further, more specific, requirements are needed then we can add them.

[2020-03-04 14:38] tomkivlin commented on #611
Wording no longer in the chapter - closing the issue.

[2020-03-04 14:38] #611 closed

[2020-03-04 14:39] tomkivlin commented on #612
This is not needed.
Workload tagging = labels, inherent/native to Kubernetes.
Resource tagging = k8s LCM, which is not in scope.

[2020-03-04 14:46] tomkivlin commented on #649
As mentioned above, we need testable requirements, or at least requirements that can be delivered by testable architecture specifications.  Given that existing standards (e.g. CIS benchmarks) will generally already come with test specifications, I would rather a set of requirements that refer to those existing standards and then the RC2 work is to combine existing tests, not creating new ones.
I'm

[2020-03-04 14:46] #649 closed

[2020-03-04 14:50] CsatariGergely commented on #290
RM Ch8 annex was deleted / moved to RC-s in the meanwhile, so I think this issue can be closed.

[2020-03-04 14:52] #290 closed

[2020-03-04 15:26] tomkivlin opened #1241 "[RI2] Lab requirements"
Lab requirements:
- what do we need from the lab (the place we're deploying the RI at any point in time)

[2020-03-04 15:27] tomkivlin opened #1242 "[RI2] Kubernetes installer requirements"
"k8s" LCM requirements:
- what do we want from an installer? (e.g. e2e LCM, 2-stage, etc.)?
- what impact does this have on the lab we're using?

[2020-03-04 15:29] tomkivlin opened #1243 "[RI2] Kubernetes (+ add-ons) configuration requirements"
"k8s" requirements:
- what config parameters to choose etc. to conform to the RA spec (should be able to pull through from RA, identify gaps if not in RA)

[2020-03-04 15:30] tomkivlin opened #1244 "[RI2] Kubernetes LCM Automation"
Requirements around automating the end-to-end LCM of a Kubernetes cluster and associated resources.

[2020-03-04 16:32] tomkivlin commented on #609
I am going to create a PR to remove this requirement and close this issue.  There is a requirement that has been added that covers all of this:

req.gen.ref.01 | Model | The Architecture must support the Reference Model defined profiles (instance types: Basic and Network Intensive).
-- | -- | --

[2020-03-04 16:36] tomkivlin commented on #616
About-turn.  I've decided we don't need it.  Am preparing a PR to remove.

[2020-03-04 16:39] tomkivlin commented on #950
@peterwoerndle did you create a PR for this? Nothing is coming up as being linked to this.  Let me know if you need me to take it on instead.

[2020-03-04 17:05] tomkivlin commented on #1004
@nickolaev - are you talking about updating the bullets in [rows 55-68](https://github.com/cntt-n/CNTT/blame/master/doc/ref_arch/kubernetes/chapters/chapter01.md#L55-L68)?  I need to do an update to this chapter anyway following the TUG whitepaper changing to GitHub so could incorporate if you agree.

[2020-03-04 17:08] tomkivlin commented on #639
Hi @pgoyal01 - this has been open for a while with no discussion.  Do you think it is needed, or should we raise a PR to remove?  For me, the requirement is a bit ambiguous as-written and should either be decomposed into more specific requirements dealing with the individual components of "service chaining" or we remove and add in requirements if needed that aren't already dealt with by existing A

[2020-03-04 17:40] pgoyal01 commented on #639
@tomkivlin This issue was opened during one of the requirement review sessions. This was never implemented in the RA-2 Requirements.

At some point, "2.2.4 Instance Capabilities Mapping" was added to RA-2 and it has "nfvi.net.cfg.005 SFC Support."  The current RM [4.2.5 Instance Capabilities Mapping](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#4.2.5) doesn't ment

[2020-03-04 21:13] pgoyal01 opened #1251 "[RM CH09] 9.1 Content"
Section 9.1
"According to the scope laid out in chapter 1, this chapter will include **any requirements** of the infrastructure (NFVI) and the infrastructure management (VIM) capabilities."
(Emphasis mine) Obviously this is not true.

"the main area of interest for this chapter being the reference points between the reference model scope (in red) and the OSS/BSS block at the top"
and continues
"No

[2020-03-04 21:51] pgoyal01 opened #1252 "[RM Ch09] Typo in 9.2"
"Table 9-1 lists the main components and capabilities required in order to manage the configuration and lifecycle of those components."

Typo: should be Table 9-2.

[2020-03-04 23:00] trevgc commented on #1117
@mf4716 @LucProvoost I will do some analysis and make a recommendation

[2020-03-04 23:19] petorre commented on #1186
Like during discussions in Prague F2F, I fully agree with @CsatariGergely comment above: 1. Differentiate what is exposed to VNF vs what is not, 2. Avoid fragmentation by limiting implementation choices.

[2020-03-04 23:46] petorre commented on #614
I don't know the full context of this but it might also mean Platform Services beyond Kubernetes, which are non-differentiating for vendors and bring fragmentation to CommSPs. There was another issue on that which I cannot find now.

[2020-03-05 10:15] tomkivlin commented on #639
Interesting, feels like we need a better way to manage the traceability - will include in #1137.

[2020-03-05 10:17] tomkivlin commented on #639
OK, understood thanks.  What I don't understand is, what are the requirements on the infrastructure to support SFC, other than the networking requirements already listed (perhaps with some new ones) and an orchestration requirement (which isn't in scope of CNTT)?

Meaning - what the capabilities needed by an architecture to support SFC?  I may be misunderstanding but SFC is the orchestration of mu

[2020-03-05 10:18] tomkivlin commented on #1137
Also need to consider how to ensure updates to the RM are reflected in RA2.  From #639

[2020-03-05 11:01] tomkivlin commented on #982
@peterwoerndle can I just check, are you preparing a PR for this, or shall I put it back in the pot?

[2020-03-05 11:11] #1224 closed

[2020-03-05 11:14] #990 closed

[2020-03-05 11:23] tomkivlin commented on #1048
Re-opened and removed from RA2 so now only RA2 specific.  For RA1 info, #1130 has been our solution in RA2.

[2020-03-05 12:45] ulikleber commented on #639
Agree. I don't think this brings any additional value. Let's close.

[2020-03-05 13:04] CsatariGergely opened #1254 "[TSC]: Allow issue self assignement"
I think we should not wait until WS leads assign issues to people, but people should be able to assign issues to themselves.

[2020-03-05 13:15] rabiabdel commented on #1254
i have no issue with the proposal. let us discuss in next TS meeting and get this approved if we have consensus on this.

[2020-03-05 13:53] CsatariGergely commented on #1254
03.11 TS meeting is too early for me due to some travels. Let's discuss on the week after.

.. and can you assign this ticket to me? :)

[2020-03-05 13:56] rabi-abdel commented on #1254
We can still discuss it next week too.
:) yes off course.

[2020-03-05 14:47] pgoyal01 commented on #1048
@tomkivlin Thanks. If there is a similar need in RA-1 we will follow the RA-2 practice.

[2020-03-05 14:52] pgoyal01 commented on #1048
Issue being closed

[2020-03-05 14:52] #1048 closed

[2020-03-05 15:41] petorre commented on #613
(Sorry if this was resolved some other way and not updated here.)
"Enable workloads to be resilient" is also tricky if going beyond default Kubernetes functionality and practices mentioned in #616 . If removed there, then can also close this issue here.

[2020-03-05 16:07] CsatariGergely commented on #1112
Okay, I was a bit list and did not check the target chapter of this. According to the current state:

- Chapter 2 does not set hard requirement for a CNI multiplexer. It sets requirement for CNI in `req.inf.ntw.01` and inherits the requirement for multiple interfaces.
- Chapter 3 requires CNI muliplexer based on `req.inf.ntw.01` and `req.inf.ntw.16` what I believe the best and maybe the only optio

[2020-03-05 18:58] pgoyal01 opened #1255 "[RM Ch04] Instances and Instance Type Issues"
1. [4.2.4.1 B Instances (Basic)](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#4241-b-instances-basic)
    delete ""This instance type is intended to be available in any data centre within any operator's network" -- doesn't belong in RM

1. [4.2.4.2 N Instances (Network Intensive)](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#4242-

[2020-03-05 19:00] pgoyal01 opened #1256 "[RM Ch05] Reference to 3 Instance Types"
[5.2.1 Virtual Compute](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter05.md#521-virtual-compute)
    Table 5-7 depicts the features and configurations related to virtual compute for the 3 types of reference NFVI instances.

    <table header> Table 5-9: Virtual Storage features and configuration for the 3 types of SW profiles.

    Table 5-9 and Table 5-10 depict the fea

[2020-03-05 22:07] kedmison commented on #363
As per issue #988 the cntt-gov decided to use conformance/conformant.  RM changes made in PR #1208.

[2020-03-05 22:12] kedmison commented on #376
@mf4716 @kagreenwell The Methodology section seems to have moved to RC chapter.  Can this issue be closed or migrated to an RC issue?

[2020-03-05 23:40] pgoyal01 commented on #186
@tomkivlin @kedmison before closing can we delete [4.1.5.2 Internal Availability/Reliability Measurements](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#4152-internal-availabilityreliability-measurements) with its MTBF, recovery time etc. specifications?

[2020-03-06 00:11] mf4716 opened #1258 "[RC1 - Ch1.8] baldy.rc1.1: Add Results Collation Process"
Supports: baldy.rc1.1 General Cleanup

Purpose: Conduct discussions & document outcome in RC1 Ch1.8 ("Results Collation & Presentation") for establishing a common repo for test results collation and results presentation which:

- supports a badging program
-  enables CNTT RIRC deliveries for Baldy
- serves as a common results platform for OPNFV test projects & the friendly RI-1 trial partners

Upd

[2020-03-06 00:12] mf4716 commented on #1258
Initial call conducted 3/5.

Follow-up touch-point 3/16.

•	Goals: Discussed Goals of:
o	needing to change compression format from *zip to *gz.  Low effort to implement, and can be done.
o	needing to identify the right structure of output data which supports OVP Portal requirements.

•	Options considered for aligning to the right structure include:
•	create a translator which takes test result out

[2020-03-06 07:09] CsatariGergely commented on #1168
The approach is okay for me and I'm happy to help.

[2020-03-06 07:45] #614 closed

[2020-03-06 07:46] #617 closed

[2020-03-06 07:47] #612 closed

[2020-03-06 07:48] #609 closed

[2020-03-06 07:49] CsatariGergely commented on #592
I'm a bit lost here.

In #699 we agreed, to _not_ have EPA in the glossary and use requirements to different technologies in the RM if we need them. In the RM we have the following EPA related requirements listed:

- nfvi.com.cfg.002 | NUMA awareness
- nfvi.com.cfg.003 | CPU pinning capability
- nfvi.com.cfg.004 | Huge Pages
- e.nfvi.cap.006 | CPU core pinning support
- e.nfvi.cap.007 | NUMA suppo

[2020-03-06 08:19] tomkivlin commented on #592
@CsatariGergely I don't think we do. I think this issue should be closed.

[2020-03-06 08:46] CsatariGergely opened #1263 "[RM Ch04]: Move Chapter 4.4 to the glossary"
Chapter 4.4 mentions that it should be moved to the glossary, so let's move it there.

Also **Monitoring (Capability)** definition is not clear on if the monitoring capabilities are disabled for security reason for an NFVI Profile (Basic or Networking) or for an NFVI deployment (a concrete NFVI installation).

[2020-03-06 09:43] tomkivlin commented on #186
@pgoyal01 I agree - those are deployment-specific metrics for each operator (each deployment in each operator) and so I don't think they are needed in the RM or any RA/RI documents.

[2020-03-06 09:48] rabi-abdel commented on #1254
@CsatariGergely would like to propose text change in form of PR for this to be reviewed in TSM call next week? if we can get the text agreed, it can be a quick approval.

[2020-03-06 10:08] rabi-abdel commented on #981
Yes, I have created the exception list in RM (https://github.com/cntt-n/CNTT/pull/1265). I would expect RA-2 to have a similar table in Appendix-A stating what RA-2 Exceptions has been used to fulfil RM exceptions but also if there are expcetions within RA-2 that also can be tracked and worked towards getting rid of. something like:

| Ref         	| Type       	| Name  	| RM Exception if any 	| D

[2020-03-06 10:13] iangardner22 commented on #186
I agree to close this but just one comment do we capture somewhere that the infrastructure needs to provide the telemetry system behind these metrics to let the Operator decide on what good looks like? i.e. capability to measure but not metric

[2020-03-06 10:28] #1123 closed

[2020-03-06 13:15] #1256 closed

[2020-03-06 13:18] #1231 closed

[2020-03-06 13:22] #968 closed

[2020-03-06 13:22] #1158 closed

[2020-03-06 13:22] #1177 closed

[2020-03-06 18:53] hdamker commented on #592
@rabiabdel  If you agree with comments above from @CsatariGergely and @tomkivlin you can close this undead issue.

[2020-03-07 13:11] atuldgcp opened #1273 "[RA2] High resolution diagram of 1.2 (reference archtiecture scope)!"
I was recently referring to the discussion about CNTT's K8s reference architecture and reference scope and noticed that dig 1.2 isn't designed with high resolution and blurs when zoomed it.

I strongly suggest to create a high-resolution image of dig 1.2, and I can help in designing the one.

Thanks.

[2020-03-07 19:53] kedmison commented on #1168
@tomkivlin thanks; please have a go at the Phase 1 as outlined by Rabi.

[2020-03-07 20:43] kedmison commented on #186
If we go with @pgoyal01's suggestion of removing 4.1.5.2, the net effect would be to effectively remove Section 4.1.5 (internal metrics) entirely.  I'm just highlighting that.

It seems like these particular metrics have not been propagated any further into the document set.  I am thus inclined to agree with @pgoyal01 and remove the section 4.1.5 entirely.

[2020-03-07 23:48] kedmison commented on #1255
I think the editorial comment on where the NFVI profiles are expected does not contribute usefully here, so I will remove it.

This could re-enter the RM at a later date if we choose to create some categorization of size of deployment along with expected attributes (e.g. core has x AZs and NFVI profiles a, b, c, and edge has y AZs and has only NFVI profiles a, b, etc)

[2020-03-08 01:30] kedmison commented on #1206
I think we should take the topic of processor vs core vs thread vs vcpu vs. cpu separately; this will likely touch many documents across RM, RA, RI, RC from what I can see.

[2020-03-08 04:58] kedmison commented on #524
Object storage is a very common service.  Yes, it can be considered a PaaS service but it's a very basic building block.  If it stays in it would be a PaaS storage service separate from the block storage services being defined... and thus not associated directly with an instance type.

[2020-03-09 08:26] CsatariGergely opened #1278 "[RM Ch09]: html tables"
Ch09 contains some tables in html and not in md notation. The reason that these tables contain complex structures, like merged cells what is not possible to describe in md. Using html on the other hand can result in errors when the md is compiled to something else than html, like to pdf.

Let's decide if we are okay with the html notation or we should change them to md.

[2020-03-09 09:26] SaadUllahSheikh commented on #1168
Agree totally on this .

[2020-03-09 09:38] SaadUllahSheikh commented on #1168
@tomkivlin @CsatariGergely  just i have noticed this nomology should be harmonized not just for NFVI but also VIM and terms which in end user mind is strictly related to virtualization world E.g VIM terms in RM should be updated to CIM (suggestion) refer to Cloud Infra Manager . similarly for others

[2020-03-09 09:39] tomkivlin commented on #1168
Yes agree - I am preparing a PR now, hopefully get it ready for review today.

[2020-03-09 09:45] SaadUllahSheikh opened #1279 "[RA Ch2] New Items for RA2 2.3.2"
I have noticed few items/points not included in Infra Requirements and want to propose below in 2.3.2 , please support check .

1. Cloud storage CNI should meet the conformance requirements i.e Application Latency , IOPS requirements not only pass/fail

2. local volume dynamic provisioning must be supported

3.K3S support for Edge deployments should be supported

4. local volume  live migration sh

[2020-03-09 10:34] CsatariGergely commented on #1279
1. Latency and IOPS requirements must be inherited from the RM.
2. Didn't we had some discussion about these already?
3. If K3s can be compliant with the requirements of RA2, than it is supported
4. Isn't this a storage backend feature? What is behind the _live_ requirement?
5. RA2 deals with the Kubernetes layer only. If nothing is needed from this layer, than we do not have requirements.
6. What

[2020-03-09 12:21] rabiabdel opened #1281 "RI Gaps:"
-- OpenStack Version.
- Current OSTK version of Airship is Ocata.
- Concern regarding RI Airship deploying OpenStack (Stein).
- Not clear if/what we are waiting for.
- RC team are waiting for Stein to support many RA-1 requirements (live migration, etc)

-- Fixing failed tests.
- Jira tickets are already open for the majour bugs and shared with CNTT team.
- issues are also on GitHubl
- Not clear h

[2020-03-09 13:15] #1229 closed

[2020-03-09 13:29] #1255 closed

[2020-03-09 13:53] rihabbanday commented on #1242
The requirement on the installer in RA2 states that it should be listed in the [Kubernetes Distributions and Platforms document](https://docs.google.com/spreadsheets/d/1LxSqBzjOxfGx3cmtZ4EbB_BGCxT_wlxW_xgHVVa23es/edit#gid=0). I feel kubeadm or kubespray could be good candidates if we are looking for an installer providing LCM functionality. But that also depends on the definition & scope of LCM fu

[2020-03-09 14:06] collivier commented on #1110
I removed the RA1 label.
I think it would clear in RC if we put a table about the forwarding capability which is not enforced by design. It would clarify which container for which release as asked many times in RC meetings.

[2020-03-09 14:08] collivier commented on #1110
About status. It's not so simple and asks for times and skills.
About status, it's on the agenda but it would wait the most important tasks.

[2020-03-09 15:03] nickchase commented on #1242
I think we need to define what we mean by "LCM", however, as there seems to be some disconnect.  See https://github.com/cntt-n/CNTT/issues/1207.  Is it out of scope?  In scope?

[2020-03-09 15:08] tomkivlin commented on #1242
It's out of scope in terms of what the conformance tests will test for (i.e. we won't have any tests targeting the installer itself).  This issue is about choosing an installer to install a Kubernetes cluster, for the testing of that cluster (not the installer).

[2020-03-09 15:09] nickchase commented on #1242
That makes perfect sense, thanks, @tomkivlin .

[2020-03-09 15:30] kedmison commented on #1209
@rabi-abdel In [a comment in issue 1210](https://github.com/cntt-n/CNTT/pull/1210#discussion_r389301164) makes a very good point about following the naming changes through to all the other documents.  Can we convert this Issue to an 'All' issue and then use it to update the rest of the document set?

[2020-03-09 15:59] #1252 closed

[2020-03-09 15:59] #1206 closed

[2020-03-09 16:01] nickchase commented on #1207
OK, so I'm sitting down to do this and I actually think I disagree with the fundamental issue. How can you ensure that the CNF has the resources that it needs to execute its workload if you can't control the lifecycle of those resources?  I do agree that cluster LCM should not be visible to the workload, but I think that the original requirement should be something more along the lines of:

 'For

[2020-03-09 16:42] iangardner22 commented on #638
So currently document out for review before I add as a PR...  @pgoyal01 thanks for your v2 feedback - please see my feedback v.21 and let me have your feedback :-)

[2020-03-09 17:20] kedmison commented on #1278
They should be in markdown notation.

[2020-03-09 19:00] collivier opened #1282 "[RC1] Move prox in the right section"
Prox is in the middle of test cases already executed in RC cookbook. I think a step is missing before that and this tools and the methodology could have been described in the appropriate section (https://cntt-n.github.io/CNTT/doc/ref_cert/lfn/chapters/chapter04.html#4.2). Even once the test case is integrated, we could rather consider a specific section for the next steps to separate the two diffe

[2020-03-09 19:02] #613 closed

[2020-03-09 19:11] mf4716 commented on #1056
To All -

Analysis / research performed to more narrowly define Conformance:

Presumably, we have consensus from CNTT to use Conformance to describe the output of the RC-1 team.

Therefore, let’s start with a definition of Conformance, and descriptive paragraph to replace the opening RC-1 Ch1 Introductory paragraph.  **NOTE**:  Conformance vs compliance is not defined in CVC and previously was deb

[2020-03-09 19:14] mf4716 commented on #988
@tomkivlin ,

There is a similar RC-1 issue, #1056 .

Therefore, I did some research, and generated a PR #1283 to clarify Conformance for the use of RC-1.  It's a short, abbreviated definition.

The more detailed notes and background are in my RC-1 issue #1056.

Please review the PR #1283 and feel free to edit/comment after looking at the notes/research I put in the issue.

[2020-03-09 20:18] #1053 closed

[2020-03-10 02:00] YuPengZTE opened #1286 "What does req.gen.rsl.02 mean?"
In [RA2](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter02.md), ```req.gen.rsl.02: The architecture should support elastic Kubernetes Service components are not subject to req.gen.rsl.01.```
Does it refer to [ backing-services in The Twelve Factors](https://12factor.net/backing-services) or [VNF Common Service in ETSI GR NFV-IFA 029 V3.3.1](https://www.etsi.org/

[2020-03-10 07:05] CsatariGergely commented on #1286
Humm interresting `req.gen.rsl.02` is  "The Architecture should support **resilient** Kubernetes service components that are not subject to req.gen.rsl.01.". So it is about resilient components and not elastic.
This means that `req.gen.rsl.01` requires all combernetes components to be resilient what are needed to run the workloads uniterrupted whatever happens and optionally the architecture can c

[2020-03-10 07:13] #750 closed

[2020-03-10 07:35] YuPengZTE commented on #1286
Thanks @CsatariGergely .

 I see:
```req.gen.rsl.01``` is about workloads,
```req.gen.rsl.02``` is not about workloads, e.g. root cause analysis components.

[2020-03-10 07:35] #1286 closed

[2020-03-10 07:40] #608 closed

[2020-03-10 09:34] markshostak commented on #1168
@tomkivlin, @SaadUllahSheikh and @rabi-abdel One comment: While the RM was always intended to be made agnostic to VM and container, the document will be more easily understood by people experienced in cloud, yet not familiar w/ CNTT, if we don't make up new generic names for functions people are already familiar with. For example, instead of making up CIM, use "VIM _or equivalent_". Then it's obvi

[2020-03-10 11:17] ASawwaf commented on #1207
@fkautz @tomkivlin @nickchase
I have a different/Opposite  opinion :) which matches @nickchase , the LCM for VNF/CNF is out of scope from day one as it is MANO ( VNF-M/CNF-M) function which responsible for LCM ( instantiate, Terminate, scale,..) But what we cover the LCM on the NFVi which is VIM function for resources allocation,...

So +1 with @nickchase

[2020-03-10 11:21] tomkivlin commented on #1207
Hi all - I've added to the agenda for today's Tech Steering call: https://wiki.lfnetworking.org/display/LN/2020-03-10+TSC+Meeting+Agenda+and+Minutes

[2020-03-10 12:57] rabiabdel commented on #1209
@kedmison i agree. i see this issue is assigned to @CsatariGergely please feel free to create a PR that expands across all specs to change the term as discussed here. don't worry about #1264 as we can always resolve the conflict before merging.

[2020-03-10 13:19] #1136 closed

[2020-03-10 13:31] #524 closed

[2020-03-10 13:43] rabi-abdel commented on #1207
@tomkivlin as discussed, feel free to create a PR to clarify the scope and add it to the tech document under scope (https://github.com/cntt-n/CNTT/tree/master/doc/tech#2.0)

[2020-03-10 13:47] kedmison commented on #375
@mf4716 this issue is a bit stale... but I am wondering what we should do to revive it or close it.  Can you comment further on this please?

[2020-03-10 14:25] pgoyal01 commented on #1209
@rabi-abdel @kedmison The issue with using the terminology NFVI SW Profile and NFVI HW Profile in, say, RA-1 is that the terms do not exist in OpenStack.
How do we classify Flavor Geometry (the vCPU, RAM, etc. sizing)? or the Flavor Capabilities (CPU Allocation Ratio, CPU Pinning, NUMA, etc.)? Host profiles?

[2020-03-10 14:34] kedmison commented on #1209
Openstack and Kubernetes will have different terminologies for these sorts of things so having RM terminology that aligns with Openstack will make it less obvious for RA2.

Yes, I do think we need to draw a clear line to to the terminology of RM.

Can we say that the CNTT NFVI Profile is described as mapping to the Flavour Capabilities, and then the different geometries included in the RM are then

[2020-03-10 16:10] collivier commented on #1076
As discussed last Monday, only Barbican has to be added (versions and features) to RA1 Chapter 5.
SFC should be removed from the requirements and Telemetry will be kept as asis and untestable.

[2020-03-11 01:39] kedmison commented on #120
Packet drop rate no longer referenced in RM documents

Hyperthreading is explicitly referenced in the NFVI profile types.

Thus, closing this issue as addressed.

[2020-03-11 01:39] #120 closed

[2020-03-11 02:44] kedmison commented on #259
@mf4716 @markshostak  Is there anything we should do to conclude on this issue?

[2020-03-11 02:50] kedmison commented on #462
The most recent PR #579 was merged, and the perf metrics moved to the RC document

@mf4716 @ASawwaf let me know if you think this issue can be closed.

[2020-03-11 02:52] kedmison commented on #597
Agreed.

[2020-03-11 02:52] #597 closed

[2020-03-11 02:54] #598 closed

[2020-03-11 08:13] ASawwaf commented on #462
@kedmison , for the time being no issue
I preferred to have a details list of metric either in RM ( Annex ) or RA and RC refer to it

[2020-03-11 08:15] #1197 closed

[2020-03-11 08:15] #1263 closed

[2020-03-11 10:23] rabiabdel opened #1294 "[TSC] Clarify CNTT overall scope"
As discussed during TSC, clairfying overall scope of CNTT is needed.

[2020-03-11 12:19] pgoyal01 opened #1296 "[RM Glossary] link not working"
The Glossary link in RM is broken

[2020-03-11 12:21] CsatariGergely commented on #1296
I'm ready to fix this.

[2020-03-11 13:16] rabi-abdel commented on #1031
slides shown by @bfcohen @ASawwaf @ildilo https://wiki.lfnetworking.org/download/attachments/33424163/Edge_CNTT%20V1.pptx?api=v2

[2020-03-11 14:11] kedmison commented on #592
Discussed in RM call 2020-03-11 and agreed to close.

[2020-03-11 14:11] #592 closed

[2020-03-11 14:15] #1254 closed

[2020-03-11 14:52] markshostak commented on #1037
**=========== NOTICE ===========**
Discussion of this topic will continue on [Etherpad](https://etherpad.opnfv.org/p/ZoopMgLK61), at: https://etherpad.opnfv.org/p/ZoopMgLK61

Conclusions from Etherpad will be copied back to this issue for historical/tracking purposes.

[2020-03-11 14:54] kedmison commented on #587
Decision in RM meeting 2020-03-11

Use this issue to resolve and close networking aspects for Baldy release.

[2020-03-11 15:01] hdamker commented on #1031
Where or how can we discuss the content of the slides?

Some points/questions:

- Slide 4: is my understanding correct that the intended scope of the focus group should be on the left box only ("Infrastructure")?
- Slide 5: The technical work/framework for GSMA TEC will be done in GSMA OPG (Operator Platform Group), targeting a PRD (Permanent Reference Document). So GSMA OPG would be more correct

[2020-03-11 15:19] xmulligan commented on #1241
should we support hardware and network provisioning ahead of time or should we expect it from an admin ahead of time?

What is our starting point for provisioning and configuration?

How much should we rely upon open source?

[2020-03-11 15:24] xmulligan commented on #1242
Should we consider including kubeadm and cluster-api?
There is both a packet and bare metal provider

[2020-03-11 15:25] xmulligan commented on #1242
How complete should the installer be and how much life cycle management should it be able to do?

[2020-03-11 16:14] ASawwaf commented on #1031
@hdamker , thanks herbert, i will address you comments

[2020-03-11 16:38] #1296 closed

[2020-03-11 16:40] #1125 closed

[2020-03-11 16:42] #186 closed

[2020-03-12 11:05] ASawwaf commented on #1031
Hello @hdamker

Slide 4: is my understanding correct that the intended scope of the focus group should be on the left box only ("Infrastructure")?

@ASawwaf : Yes, as the complete scope of CNTT covers the infrastructure, therefor edge will follow CNTT Sccpe covers the infrastructure.

Slide 5: The technical work/framework for GSMA TEC will be done in GSMA OPG (Operator Platform Group), targeting a

[2020-03-12 11:25] jnummelin commented on #1112
Maybe a slight re-wording would suffice here in ch3:
[code]
-->
[code]

So basically this would capture the general requirement of being CNI compliant (at least on one of the pod nw interfaces) but still allow some other means to attach "secondary" interfaces to a pod if such way is some day available.

[2020-03-12 12:07] jnummelin commented on #950
As a newbie in CNTT space, maybe a stupid question. :) Why would we want/need to pin down ANY requirements on kernel/OS/C lib level? I know k8s itself imposes some minimum requirements, but those should be implied as-is on CNTT too as we're basing RA2 anyway on k8s.

[2020-03-12 13:23] tomkivlin commented on #950
We may have worded badly so far, but the intent of this is to increase the modularity between the Container Host OS and the Container Base Image.  Today, many OS vendors will specify a need for tight coupling between the two, essentially removing much of the stated benefits of Kubernetes from a portability and abstraction point of view.  i.e. if you're using Linux distro A on the Container Host OS