[2019-06-28 12:28] rabiabdel opened #25 "[Chapter 4] : Update to align with Terminology"
Once terminology approved, please update 3.2 accordingly.

**Reviewers** : Mark S, Tom K

[2019-06-28 12:42] rabiabdel opened #26 "Update 1.6 to add a clarification"
Chapter 1.6 needs a comment explaining the scope that includes both NFVI resources and interactions with external components.
**Assignee**: @karinesevilla

[2019-06-28 12:52] rabiabdel opened #27 "Update Chapter 5 Diagrams to align with Terminology"
Once terminology is approved, please update figures accordingly.

**Assignee:** @karinesevilla

[2019-06-28 15:30] TommyKTheDJ commented on #25
👍

[2019-07-02 12:41] markshostak opened #31 "Image: ch05_ref_nfvi_sw_profiles_v1.PNG (Barak)"
Karine to provide update/PR to chap 4; input will need to be propagated to additional chapters for Storage-Intensive.
Diagram includes SDN-C; **Need to remove from diagram**

[2019-07-02 12:53] markshostak opened #32 "Rabi Chap 4 PR"
Various comments recorded against PR need to be resolved.

[2019-07-02 12:55] markshostak commented on #25
Placeholder PR; dependent on PG update to Chap 1 (due Monday 8/7/19)

[2019-07-02 12:56] markshostak opened #33 "Ch 2: Per mtg 2/7/19 ASawwaf to update or withdraw."
Per mtg 2/7/19 ASawwaf to update or withdraw.

[2019-07-02 12:57] markshostak opened #34 "Ch1: Beth to provide updated language for Arch fork PR"
Ch1: Beth to provide updated language for Arch fork PR

[2019-07-02 12:57] markshostak opened #35 "Ch 1: PG to update"
Per PG, update to be completed by next Monday.
PG to update terms in chapter 1
PG to provide reference for vApp

[2019-07-02 21:15] rabiabdel commented on #32
new PR was created to reflect this issue: https://github.com/cntt-n/CNTT/pull/38

[2019-07-03 13:32] karinesevilla commented on #31
See PR #37, new image without SDN Controller and monitoring

[2019-07-03 21:20] markshostak commented on #34
Created PR to integrate Beth's edits to the language.
https://github.com/cntt-n/CNTT/pull/42

[2019-07-03 21:20] #34 closed

[2019-07-03 21:46] rabiabdel commented on #32
Resolved, New PR created for this: https://github.com/cntt-n/CNTT/pull/38

[2019-07-03 21:47] rabiabdel commented on #32
Close Now

[2019-07-03 21:47] #32 closed

[2019-07-05 12:14] rabiabdel opened #46 "Pankaj: Create Pull Request to fix some terminologies around instance types"
https://github.com/cntt-n/CNTT/pull/60

[2019-07-05 12:22] rabiabdel opened #47 "Pankaj: create a new pull request for principles"

[2019-07-05 12:25] rabiabdel opened #48 "Rabi: fix rendering in Principles"

[2019-07-05 12:31] cntt-n opened #49 "Rabi: Fix Automatic approval to more clear word"

[2019-07-05 13:01] rabiabdel opened #52 "Rabi: Remove Figures from Terminolgy"

[2019-07-05 13:02] rabiabdel commented on #52
@hdamker : As agreed, figures were removed form Pull Request
https://github.com/cntt-n/CNTT/pull/51

[2019-07-05 13:02] #52 closed

[2019-07-05 13:09] rabiabdel commented on #48
Fixed by: https://github.com/cntt-n/CNTT/pull/54

[2019-07-05 13:09] #48 closed

[2019-07-05 13:16] rabiabdel commented on #49
Fixed with Pull Request: https://github.com/cntt-n/CNTT/pull/56
@hdamker

[2019-07-05 13:16] #49 closed

[2019-07-05 13:22] rabiabdel commented on #47
Pull Request was created to address this: https://github.com/cntt-n/CNTT/pull/55
Thanks @pgoyal01 Closing issue now

[2019-07-05 13:22] #47 closed

[2019-07-05 13:28] demels opened #58 "Ch 1.3.1: Replace vAPP with Virtual Application as defined in ETSI GS NFV 003, per mtg 2/7/19"

[2019-07-05 16:12] rabiabdel commented on #35
Close

[2019-07-05 16:12] #35 closed

[2019-07-05 16:14] rabiabdel commented on #26
Resolved by @karinesevilla by her PR: https://github.com/cntt-n/CNTT/pull/40

[2019-07-05 16:14] #26 closed

[2019-07-05 16:14] rabiabdel commented on #27
Resolved by @karinesevilla through PR: https://github.com/cntt-n/CNTT/pull/39

[2019-07-05 16:14] #27 closed

[2019-07-05 16:15] rabiabdel commented on #31
Close since addressed.

[2019-07-05 16:15] #31 closed

[2019-07-05 16:15] rabiabdel commented on #33
It has been withdrawn

[2019-07-05 16:15] #33 closed

[2019-07-05 16:16] rabiabdel commented on #46
Closed since there is an Active Pull Request for This: https://github.com/cntt-n/CNTT/pull/60

[2019-07-05 16:16] #46 closed

[2019-07-09 08:41] demels commented on #58
fixed with the updates in Chapter 01 (Terminology fixes) #60

[2019-07-09 08:41] #58 closed

[2019-07-09 18:15] tomkivlin commented on #25
I'm using a new GitHub account for work related things.

[2019-07-12 09:52] tomkivlin opened #77 "CNTT needs a licence"
We need a licence for the CNTT documentation that is being produced.

i.e. LICENSE.md to be created and populated appropriately.

[2019-07-12 09:54] tomkivlin opened #78 "CNTT needs a code of conduct"
As per standard community setup procedure.

i.e. a CODE_OF_CONDUCT.md needs creating and populating appropriately.

[2019-07-12 09:56] tomkivlin opened #79 "Propose we move the contributing section of "Logistics" into a CONTRIBUTING.md"
Standard practice for communities is to have a CONTRIBUTING.md file which details the steps needed to be able to contribute.

[2019-07-15 11:08] tomkivlin opened #104 "[Chapter 4] Consolidate tables in 3.3 and 3.4"
A proposal / PR to be created once #100 has been merged.

[2019-07-15 11:09] tomkivlin commented on #104
e.g. 3-5 and 3-6 could be one table which would potentially make reading / understanding easier (based on feedback from Pankaj and Karine).

[2019-07-16 12:40] rabiabdel opened #110 "Add NUMA to HW Profiles Diagram"
Add to Chapter 6

[2019-07-16 22:02] pgoyal01 commented on #110
I created a new diagram and uploaded a new Artifacts file v1 so can be used/merged at appropriate time

[2019-07-19 13:31] rabiabdel opened #118 "Overall Document Cleanup before Chapter Meetings split"
As proposed during the meeting, before adopting Chapter specific meetings, we need to cleanup the existing documents and remove any redundancy.

[2019-07-22 13:39] rabi-abdel commented on #110
Thanks @pgoyal01 I can see the Pull Request: https://github.com/cntt-n/CNTT/pull/114
As I suggested, we need a version of the diagram to be uploaded into "figures" folder.

[2019-07-22 13:41] rabi-abdel commented on #77
I will bring this up in the Governance meeting.

[2019-07-22 13:41] rabi-abdel commented on #25
I believe this is no longer needed?

[2019-07-23 12:57] jeroenwittock opened #120 "[RM Ch04] Metrics to be considered"
Table 3-8: should contain max allowed packet drop rate?
Table 3-6: would it make sense to indicate whether HyperThreading has impact on performance (recommendation to enable or disable it)?

[2019-07-24 08:34] fzdarsky opened #122 "[Chapter 1] Clarify that CNFs run on an app orchestration layer, not directly on infra (NFVI/VIM)"
Problem:
Various sections (terminology, architecture, infrastructure abstraction) use VNFs and CNFs interchangeably, describing them as "just different workloads of an NFVI". Consequently, functionality for enabling and managing containers is wrongly allocated to the NFVI/VIM.

VNFs and CNFs work on different abstraction-levels, though:
VNFs are (groups of) VMs and build on infrastructure-level ab

[2019-07-24 14:26] bfcohen opened #124 "[Chapter 3] Change name of chapter to NFVI Components or Abstraction"
Based on feedback from the group, the suggest is to rename Chapter 3 to NFVI Components or Abstraction, which is more description than the term model.

[2019-07-25 04:45] pgoyal01 commented on #124
NFVI abstraction - Ch 3.1; we don’t get into all components as intent was to abstract away the detail. The metrics don’t belong with the abstraction - maybe specifications.

If not splitting chapter them NFVI Astraction and Specifications

Best regards
Pankaj

Sent from my iPhone

On Jul 24, 2019, at 4:27 PM, bfcohen <notifications@github.com<mailto:notifications@github.com>> wrote:

Based on feed

[2019-07-30 18:10] xavier-grall commented on #120
For table 3-8 (and also table 3-14), that's right that network throughput metrics must be associated to some specific test conditions such as max allowed packet drop rate, but also frame/packet size and flow number. Moreover, those metrics, as well as latency-related and flow-related metrics, also depends on the path (eg N/S or E/W) and the processing type (eg w/ or w/o L4 statefull filtering) of

[2019-07-31 06:34] xavier-grall commented on #120
For table 3-8 (and also table 3-14), that's right that network throughput metrics must be associated to some specific conditions such as max allowed packet drop rate, but also frame/packet size and flow number. Moreover, those metrics, as well as latency-related and flow-related metrics, also depends on the path (eg N/S or E/W) and the processing type (eg w/ or w/o L4 statefull filtering) applied

[2019-08-01 07:54] rabi-abdel opened #136 "[Chapter 1] Rewording suggestion for 1.3"
@petar.torre@intel.com suggested the following text for 1.3

All NFVI APIs must ensure Interoperability (multi-vendor, components substitution), drive Simplification, and come from Open Communities and Standards Development Organizations. Through such APIs will NFVI resources be discovered/monitored by management entities, configured on behalf of VNFs and consumed by VNFs.

[2019-08-01 09:50] rabiabdel opened #139 "[Chapter 1] Disambiguate VNF vs CNF terminology"
Hi Beth:
Please address this PR.
https://github.com/cntt-n/CNTT/pull/123

[2019-08-01 10:36] rabiabdel commented on #118
https://github.com/cntt-n/CNTT/pull/133

[2019-08-01 10:36] #118 closed

[2019-08-01 10:41] rabiabdel commented on #79
added a link to it from CONTRIBUTING.md i hope this is OK.

[2019-08-01 10:41] #79 closed

[2019-08-01 10:42] rabiabdel commented on #78
Added in new PR: https://github.com/cntt-n/CNTT/pull/134

[2019-08-01 10:42] #78 closed

[2019-08-01 10:43] rabiabdel commented on #77
Done, it was created

[2019-08-01 10:43] #77 closed

[2019-08-01 10:43] rabiabdel commented on #25
i don't think this is needed anymore

[2019-08-01 10:43] #25 closed

[2019-08-01 12:30] samuelhellec opened #140 "[Chapter 5] How the NFVI software profile is a set of virtual resources"
In 5.1
"A NFVI SW profile is a set of virtual resources with specific behaviour, capabilities and metrics."

Needs rewording

[2019-08-01 12:36] samuelhellec opened #141 "[Question] What difference should we do in the model between Datacenter and edge computing ?"
One of the feedback of former chapter 6 was as follow :

"can we add HW hardening to edge cloud items ?"

We suggest to extend the feedback to a wider perimeter and clearly define what are the differences that we see between Edge Computing and Datacenter if there are any.

Any opinions are most welcome on the topic as this issue might be general for all the Reference Model.

[2019-08-01 12:41] samuelhellec opened #142 "[Chapter 5] Would be better to rename this as Service Profile then SW Profile?"
we don't see the benefit of this change.

We will keep HW and SW for now

[2019-08-01 12:50] samuelhellec opened #143 "[RM Ch05] Storage part to be reviewed"
Lots of feedback on that topic

•	Network attached storage
•	Tenant vs storage networking
•	In memory storage vs physical HDD/SSD => different characteristics and use

we need to strengthen this part.

[2019-08-01 13:09] samuelhellec opened #144 "[Chapter 5] Network part to be reviewed"
feedback

- Entire HW Host Profile (Network) needs to be reviewed.
- Define what networking and tenant needs are intra vs. inter.=> linked to chapter 3 with definition of tenants
- Table of NIC configuration specify that prot speed is physical
- Number of PCI slot to be reviewed

we need to strengthen this part.

[2019-08-01 13:14] samuelhellec opened #145 "[Chapter 5] What does exactly support of flavours mean? Can we add a bit of clarification here?"
good question

maybe we have to removed that row from the table 5.1?

[2019-08-01 13:23] pgoyal01 commented on #145
Flavours are artifacts used by consumers of NFVI  resources -- used to create an execution environment instance. But for the execution environment instance to be created actual physical resources with certain capabilities need to exist or another way of saying "support for flavours." I think the intent of the ask here is to elaborate on what "support" means.

[2019-08-01 13:26] samuelhellec opened #146 "[Chapter 5] CPU part to be reviewed"
feedbacks

- Be clearer about what is the speed unit of execution, speed, standard metrics, etc. similar have technology to define KPIs.
- How does chip architecture get accomodated. Can we do it from operational model, then down from there.
- CPU architectue is missing from the Compute profile
- Would like to see CPU speed as part of model/profile. and speed of architecture. e.g. m4, m5, c5...
-

[2019-08-01 13:28] samuelhellec commented on #145
we agree with your interpretation. So what could "support" mean ?

[2019-08-01 15:37] pgoyal01 commented on #146
Do we need this level of detail in Reference Layers 0-4 (previous Reference Model and Reference Architecture)? Can we specifya minimum clock speed but anything beyond that is likely impractical given the likely variances within our organizations. AWS is one of a few cloud companies that creates new instance types (flavours) based on the underlying hardware technology.  Public cloud service provide

[2019-08-02 16:07] pgoyal01 opened #149 "[Chapter 6: APIs] Define Acceleration Interfaces"

[2019-08-02 16:09] pgoyal01 opened #151 "[Chapter 3] Need and Information Model"
**Comment from Paris Meeting: Chapter 03 Infrastructure Abstraction - GAPS (Day 1):**

related to the Etherpad issue "Discovery of Resources"

[2019-08-02 16:15] pgoyal01 opened #152 "[Chapter 6 new: APIs] Nf-Vi Interfaces"
Incorporate NF-VI interfaces: NFVI- VIM interfaces

[2019-08-02 16:18] pgoyal01 opened #153 "[Chapter 10: Gaps] conflict between "standards/open" and "interoperable""
Recognize that there maybe a conflict between "standards/open" and "interoperable"
Add as an action item to Chapter 11: Gaps

[2019-08-03 11:29] ASawwaf commented on #146
form my POV  , no need to create a flavour based on underneath CPU specification except if there is a big change in CPU arch. or in case of new technologies like FPGA and GPU

[2019-08-05 01:29] bfcohen commented on #136
Seems reasonable.

[2019-08-05 01:38] bfcohen opened #154 "[Chapter 1] General edits needed"
This is an issue to capture the comments and notes from the F2F in the Etherpad.

2) GAPS (Day 1):
IT and ML workloads -- Need to define the types of workloads and cover at least to a certain extent, IT as well as VNF (network functions).  This needs to be spelled out in the section on what is not covered.

1. Terminology with respect to VNF profiling requirements. Need additional clarity around p

[2019-08-05 01:40] bfcohen opened #155 "[RM Ch04] Information about how to incorporate NFVI acceleration technology"
The following issues belong in CH2-4: VNF drivers and where they live. How to expose hardware? Lose benefits of SRIOV? Etc.
Defining acceleration interfaces.
How exactly will ref model and ref arch certifications work?
Exposition of acceleration technologies to VNFs?
Acceleration embedded into VNFs or into NFVI?
Comment RH: VNFs suppliers will not support all the acceleration technos offered by NF

[2019-08-05 18:12] pgoyal01 opened #156 "[Chapter 03] Reference Model"
Currently includes RL-0 Reference Model
RL-2 Reference Architecture -- first version based on OpenStack

IMHO, there is wide gap between the RL-0 abstract model and the RL-2 OpenStack based High Level Reference Architecture. Suggest a cloud-technology agnostic RL-1 model.

[2019-08-05 18:13] mf4716 opened #157 "[Chapter 8] PTL Deep Dive OVP, ONAP, CVC, OPNFV"
**Specific action**
- JB - Action - Ensure CNTT transparency is important to collaborate w/OVP and ONAP, SDK PTL - need deep dive sessions for this (Katherine L./Huawei)
-	JB - Action - identify what has been done before

Outputs
- Schedule meetings with key partnership to exchange information and deep-dive into partner processes
- Incorporate inputs from key partnerships into Chapter 10, leveragi

[2019-08-05 18:14] mf4716 opened #158 "[Chapter 8] Assess Open Stack and OPNFV Test Harnesses"
**Specific Action**
-	JB - Action - are tests that legitimately belong in OpenStack, or stay in OPNFV?

[2019-08-05 18:15] mf4716 opened #159 "[RC1 Ch01] Provide Verification Process, including Life Cycle Management"
**Specific Action**
-	JB - Action - Verification will show which validation it passed, lifecycle management, etc. -- need to clean up relationship between CNTT, ONAP, etc.
-	JB - Action - need to define where the test cases would live? What is the handover between CNTT and OPNFV.

[2019-08-05 18:16] mf4716 opened #160 "[Chapter 8] Add Degrees of Passing to Verification Process"
**Specific Action**
-	JB - Action - need to consider degrees of 'passing', clarify conformance vs. performance. Need to analyze upstream reuse vs. new.
- Ensure clarification of:
: JB implementations to be certified not the model and ref arch (they are documents/artifacts)
: JB reference implementetion needs to pass all tests

[2019-08-05 18:18] mf4716 opened #161 "[Chapter 8] Add Test Case Descriptions and Purpose"
**Specific Action**
-	JB - Action - Get proper language to use, how to describe test cases so they can be implemented in best possible way.

[2019-08-05 18:19] mf4716 opened #162 "[RC1, RC2] Assess, and Add, Perf & Res Tests Cases"
**Specific Action**
-	JB - Action - can have performance results? not necessarily pass/fail of a test.
-  JB - Action - Ch. 10 address resiliency is part of testing to be done.
- JB - Parking LOT. NEED TO DEEP DIVE DIALOG HERE> Performance and # of resources needed for a particular service provider is a big concern for VNF Vendors.
- JB P3 - NFVI must be architected to allow High Availability and

[2019-08-05 18:22] mf4716 opened #163 "[RM Ch08] Include VNF Requirements and Analysis"
Specific Action
- Action - add VNFs that are being certified in ONAP (link to ONAP requirements somewhere in model)
- Action - what is the acceptable packet loss in the model?
- Action - Connect work done on alarm correlations w/ONAP OMS? PTL synergies with CNTT) for Service Assurance

[2019-08-05 18:24] mf4716 opened #164 "[Chapter 8] Update Environment Guidelines to include +1"
**Specific Action**
- JB - consider environmental requirements +1

[2019-08-05 18:28] mf4716 opened #165 "[Chapter 10] Identify / Contact Additional Chapter Volunteers"
**Specific Action**
- Reach out and discuss involvement in Chapter 10 with:
Gergely Csatari gergely.csatari@nokia.com

[2019-08-05 18:30] mf4716 opened #166 "[RC1, RC2] Assess Need (and Add) for KPI & Benchmark Tables, including Conformance"
Specific Action
- Action - what is the acceptable packet loss in the model? ch03 to define, mapping in ch04
JB Clarify about KPIs, benchmarking, other parameters, options, extensions, methods in the KPI area in which chapters?
Metrics and Benchmarking: ETSI NFV TST009
- Include information on how to view Conformance (to standards, functional and perf benchmarks)

[2019-08-06 09:37] walterkozlowski opened #167 "[Chapter 3] Add use cases to Model"
This relates to #156 about the need to add RL-1 (technology agnostic) reference model description including use cases that explain how the reference architectures should be operated upon from various actors perspective (VNF Developer, Cloud Service Provider, Cloud Service Consumer).

[2019-08-06 09:56] BernardTsai-DT commented on #156
I was wondering if we should differentiate between the model for the virtual infrastructure resources a NFVI is providing and the management component. I had the impression that 3.1 was more related to the abstraction of the resources whereas the model you have shared was more focussing on the management component. Or did I get something wrong here?

[2019-08-06 10:02] BernardTsai-DT commented on #167
Would it be good to reshape the **chapter 3 Abstraction** in the following way:
3.1. Layer 0 Model
3.2. Layer 0 Resources
3.2. Layer 0 Management (incl. use-cases)

I had the impression that the model in RL-1 was more referring to the management aspects. But maybe I am mistaken here.

[2019-08-06 10:08] walterkozlowski commented on #167
Yes, it is mostly about Management and Operations, I think.  So we could do the way you propose..
The question is whether this is Layer 0 or rather Layer 1.  That’s what probably we should  discuss.

From: BernardTsai-DT [mailto:notifications@github.com]
Sent: Tuesday, 6 August 2019 8:02 PM
To: cntt-n/CNTT <CNTT@noreply.github.com>
Cc: Kozlowski, Walter <Walter.Kozlowski@team.telstra.com>; Author

[2019-08-06 12:03] pgoyal01 commented on #167
Bernard,

Agree with you and Walter.

The content I provided can be labeled RL-1 VIM Model or NFVI Software Layer HL Components or NFVI Management and Operations.

Best regards,
Pankaj
--------
pg683k@att.com | w  720.475.4530  |  m 720.327.0104

From: walterkozlowski <notifications@github.com>
Sent: Tuesday, August 6, 2019 4:09 AM
To: cntt-n/CNTT <CNTT@noreply.github.com>
Cc: Subscribed <subscrib

[2019-08-06 12:40] xavier-grall commented on #122
We should remain aligned with ETSI definitions/specifications, so CNF being only a possible implementation of VNF, the current VNF/CNF-related definitions should be preserved.
However, concerning VIM and regarding ETSI NFV IFA029, it should also be noticed that it only manages VM-related components (especially for VM-based VNF), while CISM (Container Infrastructure Service Management) manages cont

[2019-08-06 13:40] samuelhellec opened #169 "[Chapter 5] add a new section for VIM"
the chpater 5 will cover  NFVI SW, NFVI HW, and VIM

[2019-08-06 13:47] samuelhellec opened #170 "[Chapter 5] RL-1 cloud technologic agnostic model for SW and HW"
review the proposal of @pgoyal01

[2019-08-06 14:02] pgoyal01 commented on #170
Will including the VIM model (cloud technology agnostic) alter the purpose for Chapter 5? Should the VIM model be part of Chapter 3 as suggested in the Issue #167

[2019-08-06 14:13] ulikleber commented on #122
I fully agree to remain aligned with ETSI. I would like to clarify the above wording a bit.
When CISM as defined in IFA029 manages the containers for a container-based VNF, there is still the NFVO in place managing the whole VNF and using the VNFM to trigger life-cycle operations.
From the Network Service consumer point of view, the NFVO manages the VNF even when deep inside there are containers a

[2019-08-06 14:23] samuelhellec commented on #170
this issue is to see how we can move forward with your proposal of NFVI Software Services in your document RL1-Model-Arch-2019-08-02 v2.docx.

the add of the vim section was a suggestion from rabi and I created a separate issue for that one #169

[2019-08-06 14:43] pgoyal01 opened #171 "VIM Requirements"
A first cut:
•	HW virtualization -- compute, storage and network
•	Support LCM of NFVI resources -- allocation, upgrade, release and reclamation
•	Manage discovery of resources, resource capabilities/features
•	Manage repository of resources and their allocations
•	Orchestrate (create, update, delete, …) virtual computes, storage, virtual links, networks, subnets and ports
•	Collect and disseminat

[2019-08-06 14:59] rabiabdel commented on #171
Thanks @pgoyal01

[2019-08-06 16:54] xavier-grall commented on #122
OK for NFVO role, but after reading carefully IFA029, it is not so clear for CISM vs VIM since 2 options are currently "left for normative work to provide a unified target architecture"  : CISM embedded in the VIM (option 1) and CISM as a stand-alone functional block (option 3)...

[2019-08-06 18:02] fzdarsky commented on #122
@xavier-grall there is no CNF definition in ETSI NFV! The ETSI NFV terminology doc (NFV004, page 15) defines VNFs as "implementation of an NF that can be deployed on a Network Function Virtualisation Infrastructure (NFVI)", which doesn't work for CNFs.

Means, if we want to be explicit about VMs vs containers we need to come up with _some_ name even at the risk of differing from ETSI NFV. I never

[2019-08-06 18:13] fzdarsky commented on #122
@ulikleber I think we need to be precise on using terminology. It's not the NFVO that's "manages the VNF", it's the VNFM. And if IFA029 assumes Kubernetes only managed containers and their infrastructure, it's missing the point that Kubernetes is a VNFM (cf Operator pattern)!

After reading IFA029 carefully, especially section 7.2.4 with the 4 options of how to map CISM into the ETSI MANO architec

[2019-08-06 18:17] pgoyal01 commented on #122
@fzdarsky: From ETSI GS NFV 003 V1.4.1 (2018-08)

**virtualisation container**: partition of a compute node that provides an isolated virtualised computation environment
NOTE: Examples of virtualisation container includes virtual machine and OS container.

**Virtualised Network Function Component (VNFC)**: internal component of a VNF providing a VNF Provider a defined sub-set of that VNF's functio

[2019-08-06 21:26] fzdarsky commented on #122
@pgoyal01 I know, those are mostly my definitions :)

Again: There is no name/definition in ETSI NFV to express a containerized VNF as opposed to a VM-based VNF. It's all blurred behind a single term. IIUC, the author of Chapter 1 meant to have terms to be able to distinguish the two, thus introducing the new term "CNFs". I haven't seen an alternative proposal that manages to square this circle (c

[2019-08-06 23:06] pgoyal01 commented on #122
@fzdarsky I just pointed out that some of the terminology does attempt to cover containers. No one is arguing that VNFs or CNFs are interchangeable; there are also different deployment scenarios based on considerations such as isolation.   W.r.t. IFA029 -- it is still a work in progress -- and the authors do present various options and in their discussions on CISM/CIS discuss how containers are be

[2019-08-07 04:55] markshostak opened #172 "[Chapter 4] Network Related Refinements"
This Issue captures several related comments collected from Paris pertaining to Networking, entered against the original RM Chapter-4 Etherpad, including JB1, JB5, JB-7, JB-9 & JB16 - JB20. Per initial triage, these apply to original Chapters [4*], 6 and the RA, hence this issue will be replicated against each of those targets. Individual Issues can be broken off if/when further investigation warr

[2019-08-07 04:56] markshostak opened #173 "[Chapter 5] Network Related Refinements"
This Issue captures several related comments collected from Paris pertaining to Networking, entered against the original RM Chapter-4 Etherpad, including JB1, JB5, JB-7, JB-9 & JB16 - JB20. Per initial triage, these apply to original Chapters 4, 6**[New Ch5*]** and the RA, hence this issue will be replicated against each of those targets. Individual Issues can be broken off if/when further investi

[2019-08-07 04:56] markshostak opened #174 "[RA] Network Related Refinements"
This Issue captures several related comments collected from Paris pertaining to Networking, entered against the original RM Chapter-4 Etherpad, including JB1, JB5, JB-7, JB-9 & JB16 - JB20. Per initial triage, these apply to original Chapters 4, 6 and the **[RA * ]**, hence this issue will be replicated against each of those targets. Individual Issues can be broken off if/when further investigatio

[2019-08-07 05:07] markshostak opened #175 "[RM Ch04] Define extensibility and scalability of profiles"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-2. Per initial triage, it applies to original Chapters 4.
- JB-2: Define extensibility and scalability of profiles

[2019-08-07 05:14] markshostak opened #176 "[Chapter 4] Storage Related Refinements"
This Issue captures several related comments collected from Paris pertaining to Storage, entered against the original RM Chapter-4 Etherpad, including JB-3, JB-10, JB-11, JB-22 & JB-23. Per initial triage, these apply to original Chapter 4. Individual Issues can be broken off if/when further investigation warrants.
- JB-3: IOPs part of storage? When specifying IOPS and throughput requirements this

[2019-08-07 05:20] markshostak opened #177 "[Chapter 4] Flavor Related Refinements"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-4. Per initial triage, it applies to original Chapters 4.
- JB-4: Kr: Why including low level HW attributes into Flavors? Why using Flavor which is a sizing construct as a VM Configuration which is a deployment construct.

Original triage notes:
- JB - Concern is proper use of 'Fl

[2019-08-07 05:25] markshostak opened #178 "[RM Ch04] Naming Scheme Related Refinements"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-6. Per initial triage, it applies to original Chapters 4.
- JB-6: Public cloud uses large, xlarge (i.e. extra-large), 2xlarge as names... naming scheme here skips from large straight to 2xlarge.

Original triage notes:
- JB - Need to be more consistent in naming convention/scheme.

[2019-08-07 05:32] markshostak opened #179 "[RA] Question Regarding Prescriptive VM Sizing"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-8. Per initial triage, it applies to the RA.
- JB-8: Why do we have exact numbers for the VM sizing in a Model? These numbers are subjective like the 300GB volume if it s volume.

Original triage notes:
- JB - work this in Ref Arch discussion.

[2019-08-07 05:42] markshostak opened #180 "[Chapter 3] NEW: Incorporation of Resource Pooling Construct"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-12. Per initial triage, it applies to original Chapter 3.
- JB-12: Where are the Resource Pools for theses resources? As an SLA can be delivered only if we have Pools, Profiles and Policies to apply those. I see 1:1 mapping of Flavor resources and node (server).

Original triage n

[2019-08-07 05:57] markshostak opened #181 "[Chapter 4] Assess Efficiency Impact of vCPU Granularity"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-15. Per initial triage, it applies to original Chapter 4.
- JB-15: With compute flavours defined to be able to utilize 1/2/4/8/16 vCPUs VNF-C:s using e.g. 6 or 10 may become, while not forbidden, at least unoptimal from the resource utilization efficiency point of view. This may b

[2019-08-07 06:07] markshostak opened #182 "[Chapter 4] Add Title of Capabilities to Table 4-9"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-24. Per initial triage, it applies to original Chapter 4.
- JB-24: Add title of capabilities of Table 4-9. (to easier understand the differences).

Original triage comments:
JB OK Ch. 4. scope includes add'l chapters need to research.; JB - create issue for table.

[2019-08-07 06:13] markshostak opened #183 "[RM Ch03] Bonding, ACP, redundency need to be defined"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-21. This may apply to multiple tables across the RM specifying Capabilities.
- JB-21: Bonding, ACP, redundancy need to be defined

Original triage notes:
- JB - need to be defined at model level. Create Issue.

[2019-08-07 06:17] markshostak opened #184 "[Chapter 3] Need availability attributes"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-25. Per initial triage, this applies to original Chapters 3, 4 and 9, hence this issue will be replicated against each of those targets. Individual Issues can be broken off if/when further investigation warrants.
- JB-25: Need availability attributes (uptime, similar language as u

[2019-08-07 06:18] markshostak opened #185 "[Chapter 4] Need availability attributes"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-25. Per initial triage, this applies to original Chapters 3, 4 and 9, hence this issue will be replicated against each of those targets. Individual Issues can be broken off if/when further investigation warrants.
- JB-25: Need availability attributes (uptime, similar language as u

[2019-08-07 06:24] markshostak opened #186 "[RM Ch03] Need More Metrics"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-25. Per initial triage, this applies to original Chapters 3, 4 and 9, hence this issue will be replicated against each of those targets. Individual Issues can be broken off if/when further investigation warrants.
- JB-25: Need availability attributes (uptime, similar language as u

[2019-08-07 06:30] markshostak opened #187 "[Chapter 4] Mass Storage Related Enhacements"
This Issue captures several related comments collected from Paris pertaining to Storage, entered against the original RM Chapter-4 Etherpad, including JB-26, JB-27, JB-29 & JB-30. Per initial triage, these apply to original Chapter 4. Individual Issues can be broken off if/when further investigation warrants.
- JB-26: Storage extension can be separate from the profiles
- JB-27: Is there opportunit

[2019-08-07 06:43] markshostak opened #188 "General] NEW: Use Cases for Profiles"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-31. Use Cases have been a topic of discussion of late; proper location needs to be fixed.
- JB-31: Would be good to describe the actors that would produce and consume these profiles. Including how these would be used by the actors.

[2019-08-07 06:46] markshostak opened #189 "[Chapter 4] Enhance NIC Extension with Description of Each Individual NIC"
This Issue captures a comment collected from Paris, entered against the original RM Chapter-4 Etherpad, for comment JB-39. Use Cases have been a topic of discussion of late; proper location needs to be fixed.
- JB-39: PW: (as a result of discussion on chapter 3) - currently the NIC extension describes only NICs of the same type. Discussions in ch 3 indicate the need for an individual description o

[2019-08-07 07:05] ulikleber commented on #122
I am happy to hear that the intent is not to say that a CNF is not a VNF. However the acronym "CNF" really makes people think we want to point out that a CNF would not be a VNF.
(however the proposal in #123 didn't allow a VNF to use containers, but maybe hat was not the idea of it)
To make some progress here, I would like to propose the acronym C-VNF for containerized VNF. If necessary we can als

[2019-08-07 07:54] xavier-grall commented on #122
It seems we all agree that we need to clearly distinguish VM-based and container-based VNF, so we need words/definitions for that purpose:
- VNF vs CNF remains ambiguous (since VNF can be container-based from the ETSI perspective)
- V-VNF vs C-VNF seems a relevant proposal (and even, it would be interesting CNTT-originated acronyms ;-)
Regarding Kubernetes as a VNFM vs VIM/CISM, I do not have any

[2019-08-07 10:49] rabi-abdel commented on #171
Created PR: https://github.com/cntt-n/CNTT/pull/190 for the discussion

[2019-08-07 11:42] rabi-abdel opened #191 "[Chapter 3] Test issue"
details

[2019-08-07 11:44] rabi-abdel commented on #191
Assigned to Rabi to creat a PR

[2019-08-07 11:58] BernardTsai-DT commented on #151
Would you have further details clarifying the issue?

[2019-08-07 12:00] BernardTsai-DT commented on #124
Has this been now addressed properly by splitting up the Chapter 3 into the Modelling part and the NFVI abstraction part?

[2019-08-07 12:01] pgoyal01 commented on #122
Let us agree to use VNF as generic, V-VNF and C-VNF as specific VM-based and Containerised- VNFs respectively.
For now, let us agree that Kubernetes is a VIM for Containers; we can always revise this position if we see that k8s orchestrates and manages C-VNFs and not just the containers.

[2019-08-07 12:08] pgoyal01 commented on #151
@BernardTsai-DT this issue is from the Etherpad list -- a couple of folks felt that a model chapter needed an Information Model.  In the RM, this could be restricted to the objects exposed to the identified Actors; viz., not get into an Information Model, say, for a VIM.

[2019-08-07 12:51] xavier-grall commented on #122
@pgoyal01 - I fully agree with that position, so V- and C-VNF should be defined in chapter 1
here is a proposal for that:
[PR proposal](https://github.com/xavier-grall/CNTT/commit/6438ad13eef15bf3424a7214b19fa303620c5c8a)
opinion ?

[2019-08-07 12:56] #191 closed

[2019-08-07 14:43] BernardTsai-DT opened #194 "[Chapter 3] Modelling Tenant: hierarchy"
**Comment from Paris Meeting: Chapter 03 Infrastructure Abstraction - GAPS (Day 1):**

**Modeling Tenant: hierarchy**
Tenant separation.  In network applications where the space is given to tenants -- need to cover not only tenant separation, but also the administrator role (i.e. an administrator that has no access to lower level tenants.)

[2019-08-07 14:45] pgoyal01 commented on #194
@BernardTsai-DT should you distinguish between, say, Tenant Administrator and the Cloud Provider Administrator roles?

[2019-08-07 14:47] BernardTsai-DT opened #195 "[RM Ch03] Intra networks"
**Comment from Paris Meeting: Chapter 03 Infrastructure Abstraction - GAPS (Day 1):**

**Intra Networks**
Tenant : do we need to add intra networks?

[2019-08-07 14:49] BernardTsai-DT opened #196 "[Chapter 3] Subnets"
**Comment from Paris Meeting: Chapter 03 Infrastructure Abstraction - GAPS (Day 1):**

**Subnets**
Network model: subnet, is it at model level?

[2019-08-07 14:51] BernardTsai-DT commented on #194
I would prefer to keep the organisational roles and responsibilities out of this game because this could lead to multi-dimensional roles and responsibility matrices.

[2019-08-07 15:11] BernardTsai-DT opened #197 "[Chapter 3] Tenant definition"
**Comment from Paris Meeting: Chapter 03 Infrastructure Abstraction - GAPS (Day 1):**

**Tenant definition**

Tenant is defined in Chapter 1 and in Chapter 3 are different. Which one should we consider here? Need to define the tenant in more detial and reconcile the differences.

[2019-08-07 15:19] BernardTsai-DT opened #198 "[Chapter 1] VNF/CNF"
**Comment from Paris Meeting: Chapter 03 Infrastructure Abstraction - GAPS (Day 1):**

**VNF/CNF**

VNFs/CNFs are not managing their own resources via API-s.
VNFs and CNFs are using different abstractions.

VNFs are VMs working on an infrastructure (compute, NW, storage) abstraction, CNFs are processes working on an operating system abstraction. We must not pretend VNFs and CNFs were simply differ

[2019-08-07 15:34] pgoyal01 commented on #198
@BernardTsai-DT: aren't VMs also processes running in the Hypervisor space on top of an OS (Host OS). Agree that VMs and Containers are "virtualized," organized and orchestrated differently but both VMs and Containers consume NFVI resources and services.

[2019-08-08 08:47] xavier-grall commented on #198
NFVI hardware & software can be fully abstracted from VM perspective (unless they directly use some hardware-specific features, eg with pcipassthrough).
Container must share the NFVI nodes kernel, unless they run themselves on a VM or a dedicated Baremetal (eg, in BMaaS mode) but they must still share the kernel with other containers on the same VM/BM.
So the abstraction between VM and containers

[2019-08-08 10:29] ulikleber commented on #198
Just to clarify a bit the terminology.
CNF is a type of VNF. VNFs can use VMs or containers. Also VNFs usually are composed of multiple components. See definition in chapter 1.

[2019-08-08 17:33] xavier-grall opened #200 "[Chapter 2] VNF profiles analysis"
In section 2.2:
- VNF requirements should only rely on their needs, and not on NFVI configuration elements (as EPA...)
- NFVI profile naming (network-intensive...) should not appear here, but only in the next section

Here is a change proposal for that purpose:
https://github.com/xavier-grall/CNTT/commit/076d9e3737dfb6ce724d5ad2fd2faf19434ed0c4

[2019-08-08 17:45] xavier-grall commented on #139
Note that PR #193 address the same issue than PR #123, but with a different approach

[2019-08-08 21:45] mf4716 commented on #165
Included in PR contact email 8/7, with plans to include in the weekly Ch meetings.  Closed

[2019-08-08 21:45] #165 closed

[2019-08-12 07:57] BernardTsai-DT opened #201 "[Chapter 3] Clarify the intention of the design principle: Declarative"
Clarify the intention of the design principle:

**Declarative**: the model should allow for a declarative description of the required NFVI capabilities for on-boarding and maintaining workloads

proposal:

_**Specifc:**_ the model should allow for a **_machine-readable_** description of the required NFVI capabilities for on-boarding and maintaining workloads

[2019-08-12 13:47] BernardTsai-DT commented on #124
@rabi-abdel Can we close this issue since we have already restructured the chapters of the reference model?

[2019-08-12 14:08] bfcohen opened #203 "VNF/CNF in Chapter 1 refer to #198"
Release 1 MVP is only Infra and VNFs; CNF-s will be partially supported in Release 2
JB - clarify position and look at best way to support/define CNF articulated. (also impacts Ch. 3)+1 (high level only in CP1)
Can this be clearly stated in the document and can we remove the refernces ot CNF-s from the Release 1 branch to avoid confusion? Overall CP1 is missing the use cases, once these are added,

[2019-08-12 14:09] bfcohen commented on #203
Refer to #198 for the related issue.

[2019-08-12 14:25] bfcohen opened #204 "Tenant Definition different [Chapter 1] and {Chapter 3]"
Tenant is defined in Chapter 1 and in Chapter 3 are different. Which one should we consider here? Need to define the tenant in more detail and reconcile the differences.
JB - Clarifications needed. Slicing vs. Tenant, etc.
After the definition is done use the definition in a consistent way. BFC -- Agreed.
Related to #197 and #194

[2019-08-12 14:27] pgoyal01 commented on #156
@BernardTsai-DT Totally Agree. Question is how do we include RL-1 related materials and incorporate them with whet were originally just RL-0 materials.

[2019-08-12 14:28] bfcohen opened #205 "[Question] Add other Standards and Open Source bodies related."
CNTT should collaborate very closely with the respective API workgroup of SDOs (ETSI, MEF, TM Forum). To collate the relevant APIs from these SDOs would require special permission since information might not be available to the public. eg. MEF LSO APIs & TM Forum OpenAPIs are accessible by members only.
JB Ch. 1 and 7. And also how CNTT community operates outside the document.
[G0]: ETSI NFV OpenA

[2019-08-12 14:34] pgoyal01 commented on #203
Also related to #139

[2019-08-12 14:36] pgoyal01 commented on #139
related to #198 and #203

[2019-08-12 14:47] pgoyal01 commented on #205
@bfcohen The MEF work is related to Services (collection of VNFs) and overlap in scope of NFVO and NFVM (e.g., ONAP) -- I think these are out of scope for the work here. The Distributed TMF, abstract model differs from what we have in CNTT and, thus, the APIs are different; BTW I haven't verified all of them.

It appears to me that, in our RM document, the interfaces will be tied to the abstract m

[2019-08-12 15:40] pgoyal01 opened #206 "[Chapter 6] APIs and Interfaces"
Cleanup Chapter 6 content and align with RL-0 and RL-1 models. Any APIs beyond those  are out-of-scope; possible belong to the Reference Architecture External Interfaces Chapter.

[2019-08-13 13:58] karinesevilla commented on #143
PR to be created

[2019-08-13 15:51] karinesevilla commented on #144
PR to be created

[2019-08-13 15:53] karinesevilla commented on #145
This intent was to ensure the support of the flavours defined in Chapter 4.
It can be removed.

[2019-08-14 08:45] BernardTsai-DT commented on #203
Added following text to the Roadmap section of Chapter 1:
(in the branch: VNF/CNF-in-Chapter-1)

Release 1 of this document will focus on the network function virtualisation infrastructure and virtualised network functions which are based on virtual machines. In Release 2 there will be partial support for cloud native functions which make use of container technology.

@bfcohen, @rabi-abdel: Could

[2019-08-14 09:27] BernardTsai-DT commented on #204
When defining a tenant in the context of this document I would propose to focus on the infrastructure related aspects of this entity and decouple it's definition as much as possible from any organizational aspects since these will differ between operators.

In this sense I would propose to update the definition in chapter 1 in the following way:

Tenants represent an independently manageable pool

[2019-08-14 09:34] BernardTsai-DT commented on #197
When defining a tenant in the context of this document I would propose to focus on the infrastructure related aspects of this entity and decouple it's definition as much as possible from any organizational aspects since these will differ between operators.

In this sense I would propose to update the definition in chapter 1 in the following way:

Tenants represent an independently manageable pool

[2019-08-14 09:40] BernardTsai-DT commented on #194
Regarding slicing: I propose not to bind service or workload related structures into the definition of a tenant since the main focus is the abstraction of the infrastructure.

[2019-08-14 11:01] pgoyal01 commented on #197
@BernardTsai-DT Would it be appropriate to add "isolated" and "elastic" as in, "Tenants represent an isolated and independently manageable elastic pool of virtual compute, storage and network resources."

Justification, (1) "isolated": this is important as tenants needs to be isolated; (2) "elastic": While tenant quota may exist, the actual tenant pool of resources may vary over time.

[2019-08-14 11:33] BernardTsai-DT commented on #197
@pgoyal01: Adding "isolated" and "elastic" in the manner you have proposed is fine for me.

[2019-08-14 12:20] karinesevilla commented on #140
The sentence is wrong. It can be replaced by
"A NFVI SW profile is a set of features, capabilities and metrics offered by an NFVI SW layer"

[2019-08-14 12:44] mf4716 opened #207 "[Chapter 8] Add principal for applicability of portable test harnesses across RAs/Distributions"
- Evaluate the ability (not) for portable test harnesses across diff RAs/distributions
- Add/create a principal addressing need for compatible, or conformance to standard interfaces and services (for test harness)

[2019-08-14 12:53] pgoyal01 commented on #145
Per @karinesevilla close the issue.

[2019-08-14 12:53] #145 closed

[2019-08-15 10:56] BernardTsai-DT commented on #196
Typically a subnet description would specify the IP family (IPv4/IPv6), the CIDR and the gateway. This information relates to IP and since all operators would probably want to communicate via IP this information would be of general value.
Therefore I would propose to keep subnet information in the model level.

[2019-08-15 11:01] BernardTsai-DT commented on #195
External networks have been mentioned as one of the attributes of a tenant in the table in section 3.2.1 Tenant. The way of how to describe such an external network has to be specified in more detail, e.g.:
* name
* CIDR
* gateway
* route-target (?)
* additional attributes (?)

[2019-08-15 11:14] BernardTsai-DT commented on #180
Section 1.2 Terminology defines the terms NFVI, resource pool and tenants (represents an isolated and independently manageable elastic pool of virtual compute, storage and network resources).
In simple words:
* the NFVI maintains a set of resource pools for the virtual compute, network and storage resources
* a tenant may obtain resources from these resource pools

Question is: are we missing here

[2019-08-15 13:11] kagreenwell commented on #160
Functional testing should not have levels/degrees of pass/fail. They are boolean. A decision needs to be made on performance test cases as to how data is presented after completion. Are we going to present hard numbers of test results? Are we going to set a baseline performance value per test and report pass/fail against that number?

[2019-08-15 14:16] mf4716 commented on #160
My thoughts -

**Functional testing:** Agree.  P/F based on assertions used.

**Perf testing:**   Baseline perf tests is desired for comparisons purposes against the Non-functional Requirements (NFRs).  NFRs should be the P/F criteria - e.g. resource util, response times, latency, sustained TPS, delta from baseline metrics, etc.

[2019-08-16 09:42] BernardTsai-DT commented on #151
@pgoyal01: In the context of this issue I would intend to detail the missing architecture agnostic substructure of the software and physical resources layer.

[2019-08-19 14:43] #124 closed

[2019-08-19 14:54] BernardTsai-DT commented on #151
@pgoyal01: How about structuring Chapter 3 in the following was:

Chapter 3: Overview of design principles and the layers
Section 3.1 Virtual Infrastructure Layer
Section 3.2. Software Layer
Section 3.3 Physical Infrastructure Layer

In these layers we would detail the elements of each layer in an abstract manner.

[2019-08-19 14:58] pgoyal01 commented on #151
@BernardTsai-DT That works. Should the overview be titled, "Overview of the Design Principles and the NFVI Reference Model?"

[2019-08-19 15:34] BernardTsai-DT commented on #151
@pgoyal01 That would be a suitable title but since it is in the introduction of the Chapter 3 I would simply write and explain this in the text.

[2019-08-19 15:36] BernardTsai-DT commented on #151
Have created a new branch: Chapter-3---Information-model for this issue to capture proposals

[2019-08-19 23:17] pgoyal01 commented on #149
Edited Chapter06.md #211 with the interfaces

[2019-08-19 23:17] #149 closed

[2019-08-19 23:18] pgoyal01 commented on #152
The NF-Vi interfaces already exist. If any are identified to be missing will open a new issue.

[2019-08-19 23:18] #152 closed

[2019-08-20 12:52] rabi-abdel opened #213 "Need Content for Chapter 3"
Create initial draft for Chapter 3

@pgoyal01 to create a PR to discuss.

[2019-08-21 08:32] BernardTsai-DT commented on #151
@pgoyal01: How about adjusting the model overview diagram slightly to account for your thoughts regarding the software layer
![Model Overview](https://user-images.githubusercontent.com/52318123/63416025-f7528280-c3fe-11e9-8376-e1acfcbe7e2f.png)

[2019-08-21 10:18] BernardTsai-DT commented on #151
The different domains could be detailed in the following architecture blueprint neutral way:

**3.1 Virtual Resources**
![Model Virtual Resources](https://user-images.githubusercontent.com/52318123/63423873-81094c80-c40d-11e9-857c-7a5020d83c88.png)

**3.2 Management Software**
![Model Management Software](https://user-images.githubusercontent.com/52318123/63423914-94b4b300-c40d-11e9-8111-cbb001cbe

[2019-08-21 13:21] markshostak opened #215 "Chapter 5: Refine Scaling parameter definition"
Refer to tables 5-5 and 5-11, per wed chap review mtg.

[2019-08-21 14:07] pgoyal01 commented on #151
@BernardTsai-DT These look great

[2019-08-21 16:12] mf4716 opened #216 "[Chapter 8]"
From 8/21 Ch 8 meeting -  Review, possibly Add, need for trace-ability and backward compatibility for test considerations.

[2019-08-21 16:14] mf4716 opened #217 "[Chapter 8] Define Verification / Validation"
From 8/21 Ch 8 meeting - Define Verification, Validation, and provide qualifiers for testability.

[2019-08-22 02:20] mf4716 opened #218 "[Chapter 8] Submit Project Proposal for CNTT"
From the sub-team meeting at 7 pm ct on 8/21.

Two actions to submit the proposal:

1.  PTL - ask Cottrell (AI: Mike – talk to Mark to see who the PTL should be)
2. Cottrell approval (AI: Mike – talk to Mark); then send to CNTT distro (comment/approval)

Then, Fu Qiao can submit.

[2019-08-22 07:37] #140 closed

[2019-08-22 08:37] karinesevilla opened #220 "[Chapter 1] Instance Type and Compute flavour definitions"
In section 1.2.1, the definitions of instance type and compute flavour can be confusing.
Modification proposed:
Replace
"Instance type: specifies a set of virtualized hardware resources and capabilities used for the creation of a virtual compute on which a workload runs on; includes capability specifications such as CPU, storage, and memory."
by
"Instance type: specifies a set of virtualized hardw

[2019-08-22 13:39] rabiabdel opened #221 "[Chapter 01] Roadmap section and diagram"
include more details or Roadmap and a diagram

[2019-08-22 16:15] kagreenwell commented on #158
FuncTest (OPNFV) project incorporates OpenStack Tempest (API validation) and Rally (performance benchmarking) as part of their test suite. I do not believe there is a need to choose one or the other.

[2019-08-22 16:22] kagreenwell commented on #166
5 9s is the typical telco expectation for service. If this is the case, packet loss for performance testing must be capped at 0.001%.

Common network function performance testing includes RFC2544, RFC6349, and RFC6985. VoIP related applications would include some SIP testing (concurrent calls, calls/second, etc).
Is there a need to include VNF specific requirements that are dependent on the app? (

[2019-08-22 16:24] kagreenwell commented on #164
Im not sure what the ask here is? Is this just referring to the RI? If so, I think we could probably close this as it will be covered by default as we expand the RI.

[2019-08-23 21:00] mf4716 commented on #218
- Cottrell approval for the project proposal 8/22.  Project proposal submitted 8/23 AM by Fu Qiao.
- Discuss PTL role, and Mike Fix will be the PTL (decided 8/23).  Fu Qiao will update project proposal PTL role to Mike at the earliest.

[2019-08-23 21:00] #218 closed

[2019-08-23 21:43] mf4716 commented on #164
The question has a few parts:  1) Who is responsible for setup/maintenance of labs?  Believe the answer is OPNFV will facilitate this need (need Bin to verify; added as assigner).  2) Do we need labs to support an N+1, or multiple versions of RI (assume different OPNFV releases)?  Need Rabin/Bin to confirm how many labs can be used, or secured, by one particular team, and for how long.  We may nee

[2019-08-23 21:47] mf4716 commented on #158
This is just clarification, as you mentioned, that OPNFV draws other projects for test verification.  Anything that belongs to a product/project for testing downloads and incorporates what is needed for that verification effort. Assigned to Jonathan Beltran for confirmation/closure.

[2019-08-23 21:56] jbeltranatl commented on #158
I believe the clarification of this comment is simply that we (CNTT test solutions) should not recreate wheels that already exist in other project. In practice I don't personally know what pencils out to, but I suspect that other entities (i.e. ONAP) test scripts that we need to leverage for a Common NFVI certification should stay, live, breath, and be cared for still in ONAP. Therefore, the Commo

[2019-08-24 15:57] mf4716 commented on #158
Agree.  We're aligned.  We'll add as a principle.  Closing.

[2019-08-24 15:57] #158 closed

[2019-08-26 09:28] karinesevilla commented on #200
Agree, it would be much better to start from VNF requirements. The section2.2  is currently mixing VNFs requirements and NFVI features

[2019-08-27 06:10] ASawwaf commented on #221
Some points to be added in Roadmap

-GPU/FPGA supporting
- Cyborg project should be added
- Container infrastructure and more on cloud-native
-

[2019-08-27 12:44] rabi-abdel opened #227 "Chapter 3 + 4 outlines"
work with @pgoyal01 and @walterkozlowski Assigned to @Ian Garnder

[2019-08-27 19:25] rabi-abdel commented on #166
@hubenjamin

[2019-08-27 19:55] pgoyal01 opened #228 "[Chapter 8] Compliance, Verification, and Certification"
8.2 The objectives of the verification program are to deliver certified reference architecture which matches VNF-developer specifications, levering the OVP ecosystem as the vehicle for deliverying validated NFV.

8.2.1.1 Deliver certified reference architecture which matches VNF-developer specifications

(and other similar statements ...)

8.6.2. "NFVI Certification (Compliance): NFVI is the SUT,

[2019-08-27 19:57] pgoyal01 opened #229 "[Chapter 08]"
Synopsis
Ensure Reference Model and Reference Architecture infrastructure meets industry driven quality assurance standards for compliance, verification and certification.

What is "Reference Model and Reference Architecture **infrastructure**"?

[2019-08-27 19:58] pgoyal01 opened #230 "[Chapter 08] - 8.1 Introduction needs clarity"
8.1 Introduction
This document includes process flow, logistics, and requirements which much be satisfied to ensure Virtualized Network Functions (VNFs) meet the design, feature, and capability expectations of VNF consumers to deliver NFV promoting the use and scalability of SDN capabilities. This chapter captures the core fundamentals and steps needed to certify VNFs on target NFVi frameworks and

[2019-08-27 20:52] mf4716 opened #231 "[RM Chapter 10] - RM Requirements Life-cycle Management (Process gap)"
As discussed on the Chapter 6 Interfaces call:

Discussion needed to address a fundamental question related to forward looking, life-cycle RM requirements changes, and the need to define a process for handle these in the RA since they may not be able to be accommodated, or implemented.

Opening

[2019-08-28 09:25] karinesevilla commented on #215
The initial content of the feature "horizontal scaling" in Table 5-5 Virtual networking features was:
"The VNF cluster must be able to scale horizontally and to leverage technologies such as ECMP to enable scale-outs/scale-ins, privileging Active-Active HA models, even though this may require some level of application re-design to cope with the need of sharing state between VNF instances."

Table

[2019-08-28 10:04] rabi-abdel commented on #227
@iangardner22 and @pgoyal01 to provide a proposal of Chapter 3 + Chapter 4 outlines to be discussed on next RA Meeting on 3rd September.

Please create two Pull Requests (one for Chapter 3 outline) and (one for Chapter 4 outline).

[2019-08-28 11:11] #229 closed, assigned to pgoyal01

[2019-08-28 11:14] rabi-abdel commented on #230
@idbalabla

[2019-08-28 11:56] markshostak opened #232 "[Chapter 1] Clarify the Term "VNF""
From: CNTT TSC meeting of 28/8/2019
The purpose of this Issue is to create standard language to qualify the definition of the term "VNF", to explicitly indicate that it refers to Containers, as well as VMs. The intent is that this language will then be appended **to every instance of the term VNF** throughout the CNTT document suite, so as to ensure consistent messaging and intent is communicated

[2019-08-28 12:07] pgoyal01 commented on #232
There is also an open issue from Rabi #139

Best regards,
Pankaj
--------
pg683k@att.com | w  720.475.4530  |  m 720.327.0104

From: Mark Shostak (AT&T) <notifications@github.com>
Sent: Wednesday, August 28, 2019 5:57 AM
To: cntt-n/CNTT <CNTT@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [cntt-n/CNTT] [RM Chapter 1] Clarify the Term "VNF" (#232)

From: CNTT TSC meetin

[2019-08-28 13:19] rabi-abdel opened #233 "[RA] Reference Architecture Principles"
Create Technology agnostic principles

[2019-08-28 13:20] markshostak opened #234 "[RM Chapter 7] Move VIM Security Table from RM Ch4 to RM Ch 7"
Per RM Chap 2/4/5 Review Mtg 28/8/2019
Move VIM security aspects to centralized security repository.

[2019-08-28 13:24] rabi-abdel commented on #233
Addressed in PR: https://github.com/cntt-n/CNTT/pull/190

[2019-08-28 13:24] #233 closed

[2019-08-28 13:29] karinesevilla commented on #215
Remove from reference model document and assign to architecture document

[2019-08-28 13:41] rabi-abdel commented on #200
PR Created for it: https://github.com/cntt-n/CNTT/pull/235

[2019-08-29 13:49] mf4716 commented on #217
@18522745 - please comment/review

[2019-08-29 15:00] mf4716 opened #236 "[Chapter 8] Add Interoperability Checks as Exit Criteria"
Per offline dialogue, add the following Exit Criteria:

Passing Interoperability validations including, but limited to:

1.	Compatibility Checks (e.g. documented s/w, driver rev levels, etc, in use and confirmed compatible between Platform and VNF)
2.	Integration Checks (e.g. empirical validation confirming positive performance and stability between Platform and VNF; for example, packet loss withi

[2019-08-30 11:53] rabi-abdel opened #237 "[RA - Chapter 2] More cleanup for Requirements"
To be assigned to someone if that was a feeing more cleanup needed.

[2019-08-30 17:52] mf4716 commented on #230
The Intro has been re-written, and GitHub updated, as follows.  Please confirm if we can close.

8.1 Introduction
This document includes process flow, logistics, and requirements which much be satisfied to ensure Virtualized Network Functions (VNF) Infrastructure meets the design, feature, and capability expectations of VNF developers promoting both the use and scalability of Software Defined Netw

[2019-08-30 18:28] mf4716 commented on #228
Rewrote 8.2, 8.2.1.1, 8.6, and related sub-sections, to ensure consist use of terms, and alignment on verification of the implementation of RM/RA.

Please review and confirm if this issue can be closed.

[2019-08-30 18:29] mf4716 commented on #228
@pgoyal01 - review changes and confirm if issue can be closed

[2019-08-30 18:33] mf4716 commented on #157
Complete.  Closed.  Conducted/attended meetings with OPNFV, CVC, ONAP and incorporated pertinent process info into Ch 8.

[2019-08-30 18:33] #157 closed

[2019-08-30 18:39] mf4716 commented on #159
Updated.

- CNTT-RI project (or related project once approved) will be responsible for extraction and implementation of test cases into CVC / OPNFV.  Existing test projects will have related RI test cases, unless not applicable or technically possible.  Then, physical RI test cases/harnesses will reside within the CNTT-RI (or related CNTT project) project.
- Ch 8 has a section for test results, an

[2019-08-30 18:40] mf4716 commented on #159
@rabi-abdel - please confirm if you can own this item and close per recent CNTT>OPNFV>CVC and project proposal discussions

[2019-08-30 18:46] mf4716 commented on #160
Closed.  Included/added two relevant sections to address the issue:

- Section 8.7.3 includes exit criteria which reads, "All Test Cases have a status of “Passed”, “Failed”, “N/A” or “Out-scoped”...All Severity 1 and Severity 2 issues are resolved.

- Section 8.8 reads: Test suites will be categorized as functional or performance based. Results reporting will be communicated as a boolean (pass/fai

[2019-08-30 18:46] #160 closed

[2019-08-31 00:26] pgoyal01 commented on #230
@mf4716 Thanks. May I suggest replacing "Virtualized Network Functions (VNF) Infrastructure " with Network Function Virtualisation Infrastructure (NFVI)?"

[2019-09-02 13:39] karinesevilla opened #239 "[RM Chapter 7] Sections 7.1 and 7.2"
The text included in 7.1 and 7.2 is related to chapter 8 "Compliance, verification and certification".
It's a wrong copy paste, it must be clean up

[2019-09-02 14:53] karinesevilla opened #240 "[RA Chapter 2] LCM: add horizontal scaling"
Coming from RM issue#215

RA §2.3.6 The requirement "horizontal scaling" should be added to the table 2-6
sub-category: general
description: The Architecture must support automated horizontal scaling when new nodes are added.

[2019-09-03 08:35] rabi-abdel opened #242 "[Reference Architecture] More cleanup"

[2019-09-03 08:36] rabi-abdel commented on #242
Pankaj to provide more

[2019-09-03 11:27] markshostak opened #243 "[Chapter 1] Correct Language Describing Figure 1-7"
Description currently reads such that VIM is _not_ included in CNTT's "NFVI" scope. It should read that VIM _is_ included.

[2019-09-03 13:42] hdamker commented on #237
Duplicate to #242

[2019-09-03 13:42] #237 closed

[2019-09-03 14:12] tomkivlin commented on #153
@rabi-abdel should this have chapter 11 as a label, not chapter 9?

[2019-09-03 15:04] rabi-abdel opened #244 "[Reference Architecture - Ch 04] Draft Content for Chapter 04"
Assigned to @iangardner22

[2019-09-03 16:06] pgoyal01 commented on #240
@karinesevilla Would it be OK to add to "Section 2.3.3 -- VIM" as it relates to orchestration? If yes, then I am covering this under "`req.vim.09` | General | The Architecture **must** support horizontal scaling."

[2019-09-03 16:29] mf4716 commented on #230
Ch 8 Intro - replaced VNF with NFVI in opening paragraph, corrected typo, "requirements which must" (not much).  Closing.

[2019-09-03 16:29] #230 closed

[2019-09-03 16:45] mf4716 commented on #228
Closing.  No further comment/feedback.

[2019-09-03 16:45] #228 closed

[2019-09-03 16:48] mf4716 opened #247 "[Chapter 8] Rewording - Principles and Guidelines"
(From Pankaj Goyal)

Clarification needed section 8.2:

8.2. The objectives of the verification program are to deliver a validated implementation of reference architecture which matches infrastructure needs for VNF-developer teams, leveraging the OVP ecosystem as the vehicle for delivering validated NFVI.

Would the implementations “match” or “meet” or “satisfy” the “needs of the VNF-development t

[2019-09-03 16:54] mf4716 commented on #247
Closed.  Section 8.2 and 8.2.1 - replaced the word "matches" with "satisfies" to clarify the the expectation of delivered NFVI for VNF developer teams; and also clarified "first shot" statement to read, 3. Increase probability VNFs will on-board and function with minimal problems, or issues, during initial instantiation of VNF<br>

[2019-09-03 16:54] #247 closed

[2019-09-04 08:10] karinesevilla commented on #240
@pgoyal01 Yes, I agree to add "Horizontal scaling" to 2.3.3

[2019-09-04 09:36] rabi-abdel opened #248 "[Reference Architecture - Ch 01] Add Roadmap"
There is a need to add roadmap slide to Reference Architecture for OpenStack. Example: what host profiles (Basic, NI, CI) will be supported.

[2019-09-04 09:42] rabi-abdel commented on #242
need to incorporate https://github.com/cntt-n/CNTT/issues/240

[2019-09-04 10:04] rabi-abdel commented on #142
Agreed, closed for now!

[2019-09-04 10:04] #142 closed

[2019-09-04 10:04] rabi-abdel commented on #141
There will be addressed under General (FAQ) prepared.

[2019-09-04 10:10] rabi-abdel commented on #141
we need to address it for the Panel

[2019-09-04 10:15] rabi-abdel commented on #215
@karinesevilla shall this issue be re-assigned to "Reference Architecture"?

[2019-09-04 10:23] rabi-abdel opened #249 "[RM - Ch07] Define Security Scope"
Define Security Scope in Chapter 7

[2019-09-04 10:24] rabi-abdel commented on #249
PR: https://github.com/cntt-n/CNTT/pull/238 Created

[2019-09-04 10:25] rabi-abdel commented on #249
@d-j-eagle

[2019-09-04 10:31] rabi-abdel opened #250 "[RM] Add Storage intensive Profile"
There might be a need to add storage intensive profile.

[2019-09-04 10:33] rabi-abdel opened #251 "[General] Create Kubernetes based Reference Architecture"
There is a need to start K8s based Reference Architecture

[2019-09-04 10:35] rabi-abdel opened #252 "[General] Create Vmware based Reference Architecture"
There is a need to create a new VMware VCD based Reference Architecture.

[2019-09-04 10:38] rabi-abdel commented on #205
This seems to me a generic question that we need to add to FAQ. not sure it impacts any of the documents we are writing at this stage.

[2019-09-04 10:50] rabi-abdel commented on #153
Fixed to Chapter 10

[2019-09-04 10:56] rabi-abdel commented on #188
I do think this is supplementary materials that needs to be created. Introducing Welcome Pack!

[2019-09-04 10:58] rabi-abdel commented on #200
PR addressed. closing for now

[2019-09-04 10:58] #200 closed

[2019-09-04 11:10] pgoyal01 commented on #240
@karinesevilla Since it has been added as req.vim.09, can you close this issue? Thanks

[2019-09-04 11:14] pgoyal01 commented on #242
@rabi-abdel Incorporated -- see #246 ("Issue #240: Added the following "req.vim.09 | General | The Architecture must support horizontal scaling.").

Can we close #242.

[2019-09-04 11:18] #198 closed

[2019-09-04 11:22] rabi-abdel commented on #169
addressed in previous PR

[2019-09-04 11:22] #169 closed

[2019-09-04 11:22] rabi-abdel commented on #215
Addressed in a previous PR

[2019-09-04 11:22] #215 closed

[2019-09-04 11:27] rabi-abdel commented on #231
PR to be created for this issue.

[2019-09-04 11:35] #240 closed

[2019-09-04 12:28] karinesevilla commented on #170
Done: VIM section and content have been added in chapter 4 , PR #226

[2019-09-04 12:28] #170 closed

[2019-09-04 14:44] markshostak commented on #173
From 4/9/2019 mtg:
#1 (CH5) - Already addressed in H/W Profile (Table 5-16, "NIC Configuration") (**ACTION**: Change "Platform" to "Host").
#7, #9 & #16 (CH4) - Replace Table 4-15 with a single table of aggregate (logical) bandwidth choices
#5 & #17 (CH4) Number of vNICs is based on the number of extensions, and is not part of the Flavor (**ACTION**: Clarify language in paragraph 4.2.2)
#18 Discus

[2019-09-04 16:25] pgoyal01 commented on #204
Chapter 1: Tenant: represents an independently manageable pool of virtual compute, storage and network resources.

Chapter 3: Tenants: represent an isolated and independently manageable elastic pool of compute, storage and network resources

@bfcohen Could you align with Chapter 3 as it captures certain essential elements such as "isolated" and "elastic pool"? Thanks.

[2019-09-04 16:29] pgoyal01 commented on #203
Removing Chapter03 Label for this issue as it pertains only to text in RM Chapter 01.

[2019-09-04 16:43] pgoyal01 commented on #195
@BernardTsai-DT May I suggest that to address this issue #195 and Issue #196, more clarity could be provided in 3.2.1 (maybe with the add of another Table on "External Networks" and relabel 3.2.4 as "Tenant Networks."

[2019-09-04 16:43] pgoyal01 commented on #196
@BernardTsai-DT May I suggest that to address this issue #196 and Issue #195, more clarity could be provided in 3.2.1 (maybe with the add of another Table on "External Networks" and relabel 3.2.4 as "Tenant Networks."

[2019-09-04 16:47] pgoyal01 commented on #184
@BernardTsai-DT @rabi-abdel Don't believe that this belongs in the RM Chapter 03. Suggest we close as duplicates of this issue per @markshostak are assigned for handling in other chapters.

[2019-09-04 16:48] pgoyal01 commented on #180
Closing Issue #180 as already taken care of.

[2019-09-04 16:48] #180 closed

[2019-09-04 16:50] pgoyal01 commented on #156
Closing #156 as the issue is addressed in the content.

[2019-09-04 16:50] #156 closed

[2019-09-04 16:51] pgoyal01 commented on #151
Closing #151 as already addressed in the Content (see also comments above).

[2019-09-04 16:51] #151 closed

[2019-09-04 16:52] pgoyal01 commented on #167
Closing #167 as addressed in Section 3.3

[2019-09-04 16:52] #167 closed

[2019-09-04 16:55] markshostak opened #255 "[RM Ch10] Gap: Need Artifact to Deliver CNTT Parms"
CNTT needs a conduit to deliver VNF-specific configuration parameters such as Compute Flavor (B, N, C) to orchestration. Currently, this data cannot be captured in the VNFD, Heat template, etc., as the parser does not understand CNTT options. This will require changes to the upstream, or some alternative (e.g., CNTT pre-processor/mediation) to resolve.

[2019-09-04 17:21] xavier-grall opened #256 "[RM Chapter 2 - section 2.3 ] NFVI profiles figure update"
For alignment with commited PR #235, section 2.3 figures must be updated as proposed here:
https://github.com/xavier-grall/CNTT/commit/da7711c2fd8a00e7eae632462a330f054ae2fb17
ie, with this diagram:
https://github.com/xavier-grall/CNTT/commit/d1b494d463bdcb69dc977a7051260288fd28bd84?short_path=7b203a6#diff-7b203a67fe864b84c1d0b7c68ffcc645
NB:Minor typos are also fixed by the way.

It should be not

[2019-09-05 08:30] rabi-abdel commented on #206
PR created: https://github.com/cntt-n/CNTT/pull/257

[2019-09-05 15:09] markshostak commented on #172
From 4/9/2019 mtg:
#1 (CH5) - Already addressed in H/W Profile (Table 5-16, "NIC Configuration") (ACTION: Change "Platform" to "Host").
#7, #9 & #16 (CH4) - Replace Table 4-15 with a single table of aggregate (logical) bandwidth choices
#5 & #17 (CH4) Number of vNICs is based on the number of extensions, and is not part of the Flavor (ACTION: Clarify language in paragraph 4.2.2)
#18 Discuss w/ Rab

[2019-09-05 15:22] markshostak commented on #174
After working these issues, there were no content updates for RA. Closing MXS/KS

[2019-09-05 15:22] #174 closed

[2019-09-05 17:42] markshostak opened #259 "[RM Ch08] Identify and Codify Clear Test Objectives"
Need succinct objectives and scope clearly identified at beginning of test chapter.
Should be short and sweet :-)

[2019-09-06 13:38] CsatariGergely opened #260 "[RA-1 Ch01 - Section 1.5]: Different Level of CNTT Artefacts Figure issues"
The figure in section 1.5 of Chapter 1 in the OpenStack based Reference Architecture contains some bugs:
- The figure does not highliht the Reference Architecture part
- The figure contains redundant content in L2 and L3 sections
- The source of the figure is not available

[2019-09-06 13:44] CsatariGergely opened #261 "[RA Chapter 2 - Section 2.3.1]: req.gen.cnt.01 and req.gen.cnt.03 are the same"
req.gen.cnt.01 and req.gen.cnt.03 are the same

[2019-09-06 13:58] pgoyal01 commented on #261
Gergely,

Please review the latest Pull Request (#246) – there are changes including deletion of the duplicate. Thanks.

Best regards,
Pankaj
--------
pg683k@att.com | w  720.475.4530  |  m 720.327.0104

From: Gergely Csatari <notifications@github.com>
Sent: Friday, September 6, 2019 7:44 AM
To: cntt-n/CNTT <CNTT@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [cntt-n/C

[2019-09-06 18:31] markshostak opened #262 "[RM Chapter 5] Clarify Config Description Language"
Paris followup: Tracking PR to resolve note JB-1 from Ch3 epad.

[2019-09-06 18:46] markshostak commented on #262
Committed PR #263 to resolve. Pending review.

[2019-09-07 02:58] markshostak opened #264 "[RM Chapter 4] Clarify Network Interface Specifications (Table 4-15)"
Paris followup: Tracking PR to resolve note JB-7, 9 and 16 from Ch3 epad.

[2019-09-07 03:09] markshostak commented on #264
Committed PR #265 to resolve. Pending review.

[2019-09-07 03:37] markshostak commented on #172
Committed PR #265 to resolve JB-5 & JB-17. Pending review.

[2019-09-08 21:49] mf4716 commented on #217
Closing.  Complete.

As discussed with Ch 8 contributors on 9/4, the following changes were made to address the issue.

**Added to Synopsis:**
For the purposes of this chapter, NFVI+VNF testing will be performed for **Verification** and **Validations** purpose.  **Certifications**, which are Out of Scope, include a measured performance of the adherence to, and demonstrated proficiency with, all as

[2019-09-08 21:49] #217 closed

[2019-09-08 22:27] mf4716 commented on #236
Addressed.  Content updated and Closed.

8.7.3 Exit Criteria - inserted the following under "OPERATIONAL CONSIDERATIONS (TELCO PERSPECTIVE)"

Passing Interoperability Validations: a) Compatibility Checks (e.g. documented s/w, driver rev levels, etc, in use and confirmed compatible between Platform and VNF); b) Integration Checks (e.g. empirical validation confirming positive performance and stabil

[2019-09-08 22:27] #236 closed

[2019-09-08 22:39] mf4716 commented on #207
Addressed.  Closed.

**8.2.1 Overarching Objectives and Goal** - inserted the following:

4. Test Harnesses will be portable, or compatible, across all RAs/Distributions which already conform to standard interfaces and services.

[2019-09-08 22:39] #207 closed

[2019-09-08 22:41] mf4716 commented on #207
To add, RA/Distribution will use a core set of components and functionality.  Therefore, as a guiding expectation/principle, we anticipate, and require, test harnesses to be compatible with any/all RAs/Distributions.

[2019-09-08 23:03] mf4716 commented on #159
See my comments below.  Please confirm a) your assistance on this item, b) status, and c) next steps.

@rabi-abdel @rabiabdel - are you still reviewing/analyzing?

@kagreenwell - are you assisting, or working on this in parallel?

**The Action:** "Verification will show which validation it passed..clean up relationship between CNTT, ONAP, etc." **--> @mf4716 comment:** Dovetail test results will s

[2019-09-09 00:06] mf4716 commented on #259
@markshostak

8.1 Introduction Updated to more clearly articulate the scope early on in the documentation.

Review for comments, or closure.

Added: Objective, Scope, Repeat statement, and Not In Scope comment

[2019-09-09 00:56] d-j-eagle opened #266 "[RA-1 Ch02] Appropriate security standards compliance in req.sec.ntw.01 and req.sec.ntw.02"
Need to modify wording such that there is compliance to an appropriate standard - which may, or may not be, ISO27001 - depending upon level of security required, region, function/applicability, and etc.

[2019-09-09 08:51] markshostak commented on #259
Hi Mike, Looks like a good start. Here are a few thoughts, per your request:
1) Please provide a link to your changes. It took some digging to find them; had almost given up...
2) Need to define new terms (verification, validation, compliance, scenario, harness, compatibility, etc.)
2b) Might also want to explicitly state your intention is to align the terms w/ CVC definitions
2c) While some TLAs

[2019-09-09 09:55] CsatariGergely commented on #261
Yes #246 fixes this issues.

[2019-09-09 12:08] kagreenwell commented on #159
I see LF/CVC project "VNFSDK" as an input for us. We rely on VNFSDK to provide an ONAP certified package. We take that package and test using OVP. In this way a VNF will earn two badges (ONAP + OPNFV VNF).

Agree that test cases should reside in existing OPNFV test suites. CNTT should not own any test cases/suites. We should be making recommendations to other OPNFV test projects. If desired, CNTT

[2019-09-09 14:24] bfcohen commented on #196
Yes it belongs in the RM, because it is common to all reference architectures.

[2019-09-09 14:24] #196 closed

[2019-09-09 14:27] bfcohen commented on #195
Bernard could you clarify how detailed you think it needs to be in Chapter 3.

[2019-09-09 14:50] markshostak commented on #195
The RM already describes "Networks", which covers L2, as well as L3 v4 and v6 networking. What a network is used for (e.g., OA&M, inter, intra, etc.), is a function of what's attached to the network, and how said attached hosts employ the network. In other words, from a networking perspective, the subnet is agnostic to its use. Given the RM already describes the required "generic" network attribut

[2019-09-09 15:28] karinesevilla commented on #262
Solved by PR 3263

[2019-09-09 15:28] #262 closed

[2019-09-09 15:29] karinesevilla commented on #262
Solved by PR#263 not PR 3263

[2019-09-09 20:33] mbustame commented on #239
I updated these sections today and will put in this week's pull request

[2019-09-09 23:02] mf4716 commented on #259
Appreciate the feedback Mark S.
Will incorporate needed changes ASAP.

From: Mark Shostak (AT&T) <notifications@github.com>
Sent: Monday, September 09, 2019 3:51 AM
To: cntt-n/CNTT <CNTT@noreply.github.com>
Cc: FIX, MICHAEL A <mf4716@att.com>; Assign <assign@noreply.github.com>
Subject: Re: [cntt-n/CNTT] [RM Chapter 8] Identify and Codify Clear Test Objectives (#259)

Hi Mike, Looks like a good st

[2019-09-10 00:42] mf4716 commented on #159
@kagreenwell - can you work to close this out with Rabi?  Also, identify where in our document(s) we need to make updates/modifications (Please)?  FYI --- VNFSDK is Tosca validations, for which we are subscribing we will perform, but not a prereq, or input, to provide an ONAP certified package.  At least not from an NFVI perspective.

[2019-09-10 00:45] mf4716 commented on #161
@mk721p - MK, please review, comment, and close.  See separate email sent with additional info.

[2019-09-10 00:52] mf4716 commented on #164
Emailed Bin Hu for clarification to questions.  Then, will need to insert this info into the Ch 8 Annex to ensure we have a location to retain the info.

[2019-09-10 01:06] mf4716 opened #269 "[RM Chapter 8] Clarify if verification of VNF upgrades is in scope for test and certification"
Question was asked if CNTT verification includes validating the VNF’s ability to be upgraded.

[2019-09-10 01:11] mf4716 commented on #269
@markshostak
- review for comment & closure (please)
- if further edits are needed, please do so directly in the Ch 8 material and update this issue accordingly

@mbustame - fyi

Section 8.1 Introduction - **Not in Scope** updated to read:

_Upgrades to VNFs, and the respective processes of verifying upgrade procedures and validating (testing) the success and compatibility of upgrades is **not** i

[2019-09-10 02:48] pgoyal01 commented on #261
Closing this issue as per @CsatariGergely issue #261 is fixed by #246.

[2019-09-10 02:48] #261 closed

[2019-09-10 08:57] rabiabdel opened #270 "[RM Ch08] Cleanup Chapter 8 content and remove duplicates"
@mf4716 there are still some cleanup needed for Chapter 8 to:

- remove duplicates (such as profile details, Terms, etc)
- remove references to SR-IOV
- move any OpenStack references to annex
- move any OPNFV/CVC/ONAP references to CNTT-RI area.
  - this need to relate to container when you read it.

[2019-09-10 09:44] rabi-abdel commented on #159
@mf4716 @kagreenwell yes I am happy to take this item. once the overall lifecycle is agreed on, I am happy to add the diagram to the chapter.

[2019-09-10 09:45] rabi-abdel commented on #159
PR will be created for next Thursday Meeting

[2019-09-10 10:19] rabi-abdel commented on #270
@mf4716 @kagreenwell I am happy to have a stab at this and create a PR for this? let me know!

[2019-09-10 12:01] CsatariGergely opened #273 "[Rm Ch8]: Annex for Chapter 8 link is incorrect"
The link behind the text "Annex for Chapter 8" links to a 404.

[2019-09-10 12:20] mf4716 commented on #273
Fixed.  Was broken after the PR.  Corrected and new PR generated.  Closed.

[2019-09-10 12:20] #273 closed

[2019-09-10 12:42] mf4716 commented on #270
@rabiabdel - yes, please do Rabi, this will be a great time saver and help.

[2019-09-10 12:58] markshostak commented on #234
Karine created PR #245 to create a new home in RMCH-7 for content. [Merged]
Created PR #272 to add tables to RMCH-7, and PR #275 to remove tables from RMCH-4. [Approved]
Transaction is now complete. Closing Issue.

[2019-09-10 12:58] #234 closed

[2019-09-10 14:44] mbustame commented on #239
Closing issue, sections updated and reviewed during Chapter meeting

[2019-09-10 14:44] #239 closed

[2019-09-10 16:20] mbustame commented on #269
I agree that software upgrades should not be in scope other than to say the upgraded software should be verified in the same manner, and probably to the same extent, as the original software.

[2019-09-10 18:25] hubenjamin commented on #164
1) Who is responsible for setup/maintenance of labs?

In the past, individual companies that donated a lab would be responsible for setup and maintenance of the lab. e.g. Intel is responsible for setting up and maintaining Intel's community lab. They would then share the lab information in the wiki https://wiki.opnfv.org/display/pharos/Community+Labs, including:
- where the lab is
- how many physi

[2019-09-10 20:10] mf4716 opened #277 "[RM Chapter 8 Annex] Provide Clarification of Test Suites"
(From Pankaj Goyal - observations and comments)

•	SR-IOV may not be required in many flavor types
•	Numa – Each server should configure with two numa boundaries
o	ODD CPU/Core number is assigned to numa 1                    [May I suggest: ODD numbered CPU/Cores are assigned to numa 1 ]
o	EVEN CPU/Core number is assigned to numa 0                   [May I suggest: EVEN numbered CPU/Cores are assi

[2019-09-10 20:13] mf4716 commented on #277
All items added/inserted into the Annex with exception of following:

"Same for AZ’s – since hosts not assigned to AZs, how can you verify?"

Collecting more info.  MK assigned and will reply.

[2019-09-11 00:52] mk721p commented on #277
Host is assigned while you are creating a Host Aggregate. Please let me know if you still have any question.

[2019-09-11 00:52] #277 closed

[2019-09-11 08:01] karinesevilla commented on #146
My opinion on these points:
-	For CPU architecture: I think the reference model document isn’t the right place for that
-	For CPU frequency: It can be added in table 5.13 Compute resources, but doing so we will need to add minimum values for each profiles

[2019-09-11 08:39] xavier-grall opened #279 "[RM Chapter 8 - section 8.6.2] VNF categories duplicated"
The text  & figure about "VNF categories" is redundant with chapter 2, and even it is a copy that may become divergent if some changes occur.
So, it should be removed, or replaced by a reference to chapter 2.

[2019-09-11 08:45] xavier-grall opened #280 "[RM Chapter 8 - section 8.7.1] Compute flavors duplicated"
The table about compute flavors is redundant with section 4.2.1.1, and even different.
So, that table should be removed or replaced by a reference to chapter 4.

[2019-09-11 09:03] xavier-grall opened #281 "[RM Chapter 8 - section 8.7.1] Performance profiles duplicated"
The table about performance profiles is redundant with chapters 2 (for NFVI profiles needs/requirements) and 4 (for metrics).
So, that table should be removed or replaced by references to chapter 2 & 4.

[2019-09-11 09:17] xavier-grall opened #282 "[RM Chapter 8 annex - section 8.3.1] Avoid reference to specific vendors"
Even (resp. odd) cpu number for numa 0 (resp. 1) is specific to Dell computer (eg on HPE or Huawei computer, the cpu numbering is different).
I40e is specific to Intel NIC.
Such vendor specific reference should be avoided, and thus removed.

[2019-09-11 09:21] collivier opened #283 "[RM Chapter 8 Annex] Test suite selection is inappropriate (too generic and reinvent the wheel)"
I don’t think that listing single create operations which are common to all OpenStack deployment (tenant, user, vm, images, etc…) is the best approach.

It will grow exponentially depending on:
- the service list
- all possible operations (create/update/delete) and all related attributes available
- negative testing

Tempest and its plugins as integrated in Functest offer more that ~2000 functiona

[2019-09-11 10:38] rabi-abdel commented on #159
Hello All, I have added few diagrams to the CNTT-RI repository:
https://github.com/cntt-n/CNTT/blob/master/doc/ref_impl/cntt-ri/chapters/chapter01.md

which sets some of the framework for this content. I don't think it belongs to Chapter 8 in RM.
if you are OK whit the above, we can close this issue.
@mf4716 @kagreenwell

[2019-09-11 11:16] rabiabdel commented on #143
lack of contribution.

[2019-09-11 11:38] CsatariGergely opened #287 "[RM Chapter 8]: Typos"
There are some small typos in Chapter 8 what should be corrected:

- "reference architecture which **satisifes** infrastructure"

- "OPNFV Releases including the successful adoption and implementaiton of Installer, Feature, and Test Projects to perform release level verification, compliance, and certification." - The whole sentence is unclear.

- "**Dovtail**"

[2019-09-11 11:45] kagreenwell commented on #159
Between this additional content and the various mentions of how we interoperate with other organizations already mentioned in the chapter, I am satisfied.

[2019-09-11 12:01] collivier opened #288 "[RM Chapter 8 Annex] describe and select test frameworks prior to the review process"
CVC and Dovetail are currently well described compared to the OPNFV test frameworks which implement or aggregate the tests. We could add sections about the OpenStack gates, the main upstream frameworks (Rally, Tempest, etc.) and OPNFV Functest for instance.

I also consider that it should be written somewhere that our reference implementation should meet the upstream verification criteria (see Ope

[2019-09-11 12:41] BernardTsai-DT commented on #204
This issue has already been addressed in issues: #194 and #197.

[2019-09-11 12:41] #204 closed

[2019-09-11 12:56] CsatariGergely opened #289 "[RM Chapter 8]: Testing should be OPNFV installer agnostic"
Chapter 8.5.2 should state, that CNTT testing in agnostic to the used installer and does not prescribe any of the OPNFV installers.

[2019-09-11 13:00] CsatariGergely opened #290 "[RM Ch08 - Annex]: Testing should be technology agnostic"
- Current description of RM Chapter 8 Annex refers to OpenStack and Kubernetes specific testing. These should not be visible in Reference Architecture level, but they should be moved to the Refernce Models.

- Current description of RM Chapter 8 Annex refers to NUMA testing, however NUMA is not required for all profiles. The test cases and their expected result should be differentiated based on th

[2019-09-11 13:36] CsatariGergely commented on #290
It is okay to be technology specific, but I'm not sure if the RM is the right place for this.

[2019-09-11 13:38] mf4716 commented on #288
@collivier - agree with the issue.  Please generate a PR, and make recommended changes.  We'll review / discuss at the next chapter meeting.

[2019-09-11 13:47] mf4716 commented on #283
@collivier @xavier-grall @mk721p

Xavier, Cedric,

We can call out a pre-requisite to run FuncTest suites as part of the validations.  Agree that the Annex is intended to be organic, and grow over time, so in our same FuncTest mention, we can be abstract and say "refer to FuncTest details for complete test case list, including Negative Testing".

Will assign to Murtuza Khan (MK) to make these chan

[2019-09-11 13:55] mf4716 commented on #269
Consensus reached.  CNTT verification does NOT include validating the VNF’s ability to be upgraded.  Closing.

[2019-09-11 13:55] #269 closed

[2019-09-11 14:05] mf4716 commented on #164
@mf4716 - put in RI.  Generate PR and close.

[2019-09-11 14:06] mf4716 commented on #161
Changes made to Annex.  Pending merge.  Closing issue.

[2019-09-11 14:06] #161 closed

[2019-09-11 14:54] mf4716 commented on #283
@collivier - review for closure

Annex updated.  Section 8.2 Generic includes the following now:

_The following test projects, and their respective test cases, will be executed with each RI implementation. More targeted, or specific test cases, are listed below which may be a subset of test cases run within these test suites listed._

**_FuncTest_**

_FuncTest test suites will be run as part of t

[2019-09-11 15:01] kedmison opened #291 "[RM Chapter 5] Remove direct reference to Hyperthreading"
In section 5.4.1 the reference to Hyperthreads should be changed to the more industry-neutral term of SMT (Simultaneous Multi-threading).

[2019-09-11 15:04] kagreenwell commented on #289
Updated section 8.5.2 to read  "Installer oriented release. CNTT does not recommended any specific installer. An agnostic approach is taken that allows for an implementation to determine their own installer."

[2019-09-11 15:04] #289 closed

[2019-09-11 15:13] kagreenwell commented on #281
Tables have been removed for compute flavors and performance profiles. They have been replaced with references to chapter 2 & 4 where these items are defined.

[2019-09-11 15:13] #281 closed

[2019-09-11 15:14] kagreenwell commented on #280
Compute flavor table has been removed from ch8. Replaced with reference to chapter 4.2.1

[2019-09-11 15:14] #280 closed

[2019-09-11 16:09] mf4716 commented on #287
@CsatariGergely

All items addressed.  Updated.  Closed.

[2019-09-11 16:09] #287 closed

[2019-09-12 01:23] mf4716 commented on #164
Updated CNTT-RI Ch2 - created section 2.5 Lab Use Guidelines, and inserted content from the issue log re: considerations for lab use, support, and needing N+1 labs; created a PR, requesting approval and merge

[2019-09-12 01:23] #164 closed

[2019-09-12 02:07] mf4716 commented on #259
@markshostak - please review for closure.  I have made updates, where applicable.

1.	All updates / changes are here until merged: https://github.com/cntt-n/CNTT/edit/ch08-cleanup/doc/ref_model/chapters/chapter08.md
2.	8.3.1 updated w/ new terms of verification, validation, compliance, scenario, harness, compatibility
a.	2b) 8.3 updated to explicitly state intention is to align the terms w/ CVC de

[2019-09-12 15:28] rabi-abdel opened #294 "[RM - Appendix A] Adding VNF Design Guidelines content"
Petar of intel has an action item to provide initial content.
https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/appendix-a.md

[2019-09-12 16:01] karinesevilla opened #295 "[RM Chapter 5] Remove CPU partitionning, tab 5-1 and 5-7"
CPU partitionning (or CPU host reservation)  is related to Infrastructure internal capabilities and already defined in Chapter 4.
As agreed during the discussions about PR #276 (09/11 and 09/12), proposal to remove this feature from tables 5-1 and 5-7

[2019-09-12 16:08] karinesevilla opened #296 "[RM Chapter 5] NUMA description, tab 5-13"
As agreed during Chapter 5 meeting (09/11), remove reference to BIOS on table 5-13 related to NUMA description
New proposal: "NUMA supported and enabled"

[2019-09-12 19:24] pgoyal01 opened #297 "RA Ch 02 Typos"
Correct 2 Typos in RA Ch 02.

[2019-09-13 08:20] xavier-grall commented on #256
@pgoyal01 @ASawwaf
The idea is to show a standardized or well-known VNF related to management plane.
I agree that BSS functions are not really NF, dispite they are telco-specific.
So we can replace it by:
- either an other management-related VNF (in addition to NMS): which one ?
 - or an other control-related VNF without specific performance requirement (in addition to PCRF): NSSF (5G core) ?

[2019-09-13 14:11] xavier-grall commented on #279
@mf4716
the figure and the text until the end of the section should also be removed (there is quite the same in chapter 2)

[2019-09-13 14:17] mf4716 commented on #283
Closed.  No further comments/edits received.

[2019-09-13 14:17] #283 closed

[2019-09-13 14:19] mf4716 commented on #159
@rabiabdel - status?  and, did you mean to change the label from Ch 8 to Ch 1?  If Ch 1, we can edit the title and change to ch 1

[2019-09-13 14:20] mf4716 commented on #270
@rabiabdel - status?

[2019-09-13 14:26] mf4716 commented on #259
@markshostak - no feedback/edits in the past 48 hours.  As such, removing self as assignee, and removing Botrange label, considering Ch 8 will be reworked post-Botrange regardless

[2019-09-13 14:40] mf4716 commented on #279
@kagreenwell - kyle, please address

[2019-09-13 15:08] pgoyal01 commented on #256
@ASawwaf I read through Chapter 2 a bit more carefully this time. A couple of the acronyms are not defined; also within EPC Nodes, on the MME (Mobility Management Entity), EPS (Evolved Packet System) is used.

Under Profile One, it states, "Control plane functions without specific need and management plane functions" -- I think some words are missing after "without specific"; should it state "with

[2019-09-13 16:19] xavier-grall commented on #256
@pgoyal01 @ASawwaf
I am the author of those statements, so they are written with my wording, and my english may not be accurate enough...

At this point of the document, we should only speak of the VNF needs regarding NFVI, and not how they could be technically fullfilled, so I chose to use the following wording to distinguished 2 types of control plane function (aiming at being hosted either on b

[2019-09-13 17:05] pgoyal01 commented on #256
@xavier-grall Thanks (BTW you may have noticed all sorts of errors in my writing including missing words/phrases).

I am OK with keeping NMS but we need to define it within Chapter 2 text (it may be there and I missed it).

[2019-09-13 20:06] kagreenwell commented on #279
removed the vnf families and reference chapter 2.2. I left the image in because I believe it is useful to reinforce the three performance profiles within the testing chapter. We will make note that we need to ensure we are in alignment with chapter 2 changes over time.

[2019-09-15 08:32] ASawwaf commented on #256
@xavier-grall sorry i got confused :(

[2019-09-15 09:08] collivier opened #300 "[General] Flavor or Flavour? en_US or en_GB?"
What's the locale selected? en_US or en_GB? At least OpenStack selects flavor.
https://docs.openstack.org/nova/latest/user/flavors.html

$ grep -r flavour |wc -l
30
$ grep -r flavor |wc -l
9

[2019-09-15 09:25] collivier commented on #300
behavior or behaviour?

[2019-09-15 10:06] collivier opened #301 "[RM Ch08] Use Markdown instead of HTML"
See 8.2.2, 8.3.1, 8.5.1, 8.5.2 etc.
https://raw.githubusercontent.com/cntt-n/CNTT/master/doc/ref_model/chapters/chapter08.md

[2019-09-15 10:36] collivier opened #303 "[General] Fix markdown errors (currently 1272 errors)"
[markdownlint](https://github.com/jorisroovers/pymarkdownlint) currently highlights 1272 markdown issues in CNTT tree.

- R1 Line exceeds max length
- R2 Line has trailing whitespace
- R3 Line contains hard tab characters

[code]

[2019-09-15 10:43] rabi-abdel commented on #303
@collivier will it be so easy to fix them? If so, can you do that and submit a PR for the fix? I can automatically approve and merge since it is a fix and not content addition.

[2019-09-15 12:06] collivier commented on #303
They have to be fixed for lots of technical reasons (e.g. git history).
I already published 2 commits in the PR (I do admit that I prefer Gerrit regarding the review dependencies) fixing 2 error types out of 3. Fixing the last one is quite boring but very easy.

The usual process (see [OPNFV Functest](http://testresults.opnfv.org/functest/gates/)) is first to fix them and then to enforce the autom

[2019-09-15 18:11] mf4716 commented on #301
@collivier - please make the recommended edits/updates

[2019-09-16 05:56] bfcohen commented on #243
Fixed in new pull request.

[2019-09-16 05:56] #243 closed

[2019-09-16 06:03] bfcohen commented on #232
I added it to chapter 01 to make it explicit in the introduction.

[2019-09-16 06:03] #232 closed

[2019-09-16 06:12] bfcohen commented on #203
Added a roadmap item in Chapter 01 that explicitly demonstrates that Containerization will be started at least in Release 2.

[2019-09-16 06:12] #203 closed

[2019-09-16 06:17] bfcohen commented on #122
Added a bit of wording to cover this.  Chapter 01 is high level enough that all this detail belongs in the upcoming container architecture document.

[2019-09-16 06:18] bfcohen commented on #136
Added to Chapter 01.

[2019-09-16 06:18] #136 closed

[2019-09-16 06:18] #303 closed

[2019-09-16 06:23] bfcohen commented on #220
Added to Chapter 01.

[2019-09-16 06:23] #220 closed

[2019-09-16 06:26] bfcohen commented on #221
Added to Chapter 01 road map.

[2019-09-16 06:27] bfcohen commented on #139
Discussed endlessly in other Issues.  Taken care of in the Chapter 01 rewrite.

[2019-09-16 06:27] #139 closed

[2019-09-16 06:30] bfcohen commented on #154
Updated Chapter 01 to cover all these issues.

[2019-09-16 06:36] #221 closed

[2019-09-16 06:36] bfcohen commented on #221
Rolled into Chapter 01.

[2019-09-16 06:37] #154 closed

[2019-09-16 06:38] bfcohen commented on #154
Extensive rewrite of Chapter 01 captured all these issues.

[2019-09-16 07:12] markshostak commented on #300
CNTT has standardized on en_GB. If you can provide your stdout, we can address.
Also, you may catch more fish with -i :-)

[2019-09-16 07:16] markshostak commented on #300
Extra credit if you save us all the trouble and use sed s/...

[2019-09-16 07:29] markshostak commented on #259
Mike, If you can speak to your objective, that's the most important thing. As discussed, probably best to discuss the objective with the group. I'd suggest you add it to the agenda for the Chapter 8 weekly mtg. We can discuss Issue assignment. Thx, -Mark

[2019-09-16 07:41] markshostak commented on #264
Update approved and merged. Closing.
Note: More refinements will be done to the networking virtual interface specification, post-Antwerp.

[2019-09-16 07:41] #264 closed

[2019-09-16 09:34] collivier commented on #300
Yes. Be free to send me the full list. I can easily fix them in a few sed calls. .
It's worth mentioning that flavour is quite tricky when listing OpenStack resources.

[2019-09-16 11:22] markshostak opened #308 "[RM Ch04] Disaggregate the Storage Extensions Matrix"
This Issue is a child of Issue #187, specifically to address sub-issue JB-26.
**From Issue #187:**
JB-26: Storage extension can be separate from the profiles
JB-26: Currently we utilize a matrix of [performance profile x size] to specify the Storage Extension. This is sufficient for the current dimensions, but as storage options grow, and to your point, we will need to move to a discrete approach.

[2019-09-16 11:23] markshostak commented on #187
JB-26: Currently we utilize a matrix of [performance profile x size] to specify the Storage Extension. This is sufficient for the current dimensions, but as storage options grow, and to your point, we will need to move to a discrete approach. **ACTION**: Open Futurework issue to disaggregate size and performance. **Issue #308** opened to address this enhancement.
JB-27: The Storage Extension must

[2019-09-16 11:23] #187 closed

[2019-09-16 11:36] markshostak commented on #183
Note: This is not a gating issue for Botrange, therefore I'm removing the BotR label.
As of now, there are no instances of Bonding or ACP in RM CH-3, 4 or 5. There are 2 instances of redundancy, briefly used in RM CH-3. Handing to Bernard/RM CH-3, to triage and determine if further action is required.

[2019-09-16 12:18] mf4716 commented on #259
@markshostak - added to Wednesday's weekly Ch 8 agenda.  Until that time, please feel free to edit/update documentation accordingly of work offline as a final PR will be done Wed, no later than Thurs this week.

[2019-09-16 12:27] tomkivlin commented on #104
This can be closed as the re-structure of chapters 3 and 4 has completed this by another method.

[2019-09-16 12:27] #104 closed

[2019-09-16 12:48] markshostak commented on #177
The attributes defined in the Flavor table entries are quantity of vCPUs, RAM and local disk (ephemeral), and management interface bandwidth. The Flavors are used as a sizing construct in this context, so this does not appear to be an issue. Hence, I'm going to close this as design intent, but if you still have concerns, feel free to contact @markshostak to discuss further. Thanks, -Mark

[2019-09-16 12:48] #177 closed

[2019-09-16 13:03] markshostak commented on #183
Corrected Issue title and JB reference number...

[2019-09-16 13:07] markshostak commented on #182
Corrected Issue title and JB reference number...

[2019-09-16 15:41] karinesevilla commented on #173
Addressed with PR #263 approved the 09/12

[2019-09-16 15:41] #173 closed

[2019-09-16 17:34] xavier-grall commented on #256
@pgoyal01 @ASawwaf
Here is a new change proposal for chapter 2 (considering our discussion, I hope ;-)
https://github.com/xavier-grall/CNTT/commit/fd3ed20e6a01d1ac984d260f78b33aa7153dfebd
It includes a new figure and also some text changes including a review of section 2.1.
The figure is here:
https://github.com/xavier-grall/CNTT/commit/d3e5c3b77cacd207575ac6de98b454dabc9adb3d?short_path=7b203a6#d

[2019-09-17 00:07] pgoyal01 commented on #227
@rabi-abdel Issue #227  RA Chapters 03 TOC please see #312 and for RA Chapter 04 please see #313.

[2019-09-17 02:29] kedmison opened #314 "[RA-1 Ch02] multiple comments on infrastructure section"
- req.inf.com.06 should highlight that the CPU pinning is for pinning the CPUs of VM Instances.  A new item should be added to highlight the need to isolate/dedicate certain threads or CPUs to be used only for host purposes (e.g. administration, openstack services, etc)
- req.inf.stg.01: Is shared the right term here?  The block storage is not shared by multiple VMs (i.e. the same block volume is

[2019-09-17 11:10] mbustame commented on #249
This change has been merged and can be closed

[2019-09-17 12:16] markshostak commented on #182
Resolved by PR #317. Closing Issue.

[2019-09-17 12:16] #182 closed

[2019-09-17 12:25] rabiabdel opened #318 "[RA Ch03] Cleanup diagram and clarify mandatory vs example"

[2019-09-17 12:26] rabiabdel opened #319 "[RA1 Ch03] Move APIs to Ch5 and add reference (link) in ch3."

[2019-09-17 16:58] xavier-grall commented on #279
@kagreenwell @rabi-abdel
Indeed, the image is already different from chapter 2, and it will probably be still more different (if my latest proposal is accepted: xavier-grall@fd3ed20).
Moreover, this chap8 image also includes elements from chapter 4 and/or 5 (throughput, cpu pinning...), so I'm afraid that it will not be possible to keep it in alignment with all those chapters over time...
I really

[2019-09-17 18:04] rabiabdel commented on #256
@xavier-grall please go ahead and submit the PR for Thursday meeting.
Rabi

[2019-09-17 18:05] rabiabdel commented on #296
PR was created: https://github.com/cntt-n/CNTT/pull/310

[2019-09-17 18:21] rabiabdel opened #322 "[RA Ch04] Re-visit to address comments and feedback in a previous PR"
Few comments were made by: @CsatariGergely which still needs resolving.
see here:
https://github.com/cntt-n/CNTT/pull/313

[2019-09-17 18:26] rabiabdel opened #323 "[RA1 Ch03 ] Create initial content representing Levels L2."
Currently there is no clear split between Ch03 and Ch04. we might need to stick to L2 and L3 definitions and follow them.

[2019-09-17 19:26] bfcohen opened #324 "Need for a couple new Bogo Meter graphics."
Rabi - We need the last two Bogo Meters, Complete and Arguing about the Details.

[2019-09-17 20:48] pgoyal01 commented on #323
Previous L2 and L3 divisions had overlaps and, hence, at least I found it difficult to present a coherent view. It also didn't have topics to cover certain relationships between components and design choices.

[2019-09-17 21:01] mf4716 commented on #270
Confirmed w/ Rabi, not required for Botrange.  Removed the Botrange label.

[2019-09-17 21:01] mf4716 commented on #159
Confirmed w/ Rabi, not required for Botrange, and should be Ch 1.  Removed the Botrange label and updated the title from Ch 8 to Ch 1.

[2019-09-17 22:34] pgoyal01 commented on #318
@rabiabdel can you specify which Diagram? If Figure 3-1 (Services) then that has been changed and the text modified to indicate the optional services.

[2019-09-18 08:14] markshostak commented on #181
To the originator's point, we acknowledge there is initially, a potential loss of efficiency, yet it is design intent to constrain the number of cores available in the manner described in the RM, as it relates to incentivizing development of Cloud-Native NFs. Following this approach, expect the number of available cores for a give NF to become further constrained in future CNTT releases. New NFs s

[2019-09-18 08:14] #181 closed

[2019-09-18 08:18] karinesevilla commented on #144
PR #276 approved and modifications merged the 09/12

[2019-09-18 08:18] #144 closed

[2019-09-18 08:21] karinesevilla commented on #296
Approved, modifications merged 09/17

[2019-09-18 08:21] #296 closed

[2019-09-18 08:31] markshostak commented on #172
Closing Summary:
- JB-1 is resolved w/ PR #263
- JB-7, 9 & 16 are resolved w/ PR #265 (1/2)
- JB-5, 17 & 18 are resolved w/ PR #265 (2/2)
- JB-19 will be addressed in a Networking section, to be added to RM CH-4 (post-Antwerp)
- JB-20 requires clarification from the originator. Please step forward, and we can clarify/address.

[2019-09-18 08:31] #172 closed

[2019-09-18 08:37] markshostak commented on #189
Update PR #265 incorporates discrete vNIC extensions, allowing up to 5 additional/optional virtual interfaces, in addition to the OA&M interface, to be associated with a VNF. As stated, each extension is discrete, describing the individual interface and unrelated to any other vNIC extensions.

[2019-09-18 08:37] #189 closed

[2019-09-18 09:35] rabi-abdel commented on #324
@bfcohen yes I will get this done. Thanks Beth.

[2019-09-18 09:49] rabi-abdel commented on #324
PR created: https://github.com/cntt-n/CNTT/pull/331

[2019-09-18 10:04] rabiabdel opened #332 "Overall Cleanup for Botrange Release (RM + RA)"
This is to create an overall cleanup for both RM and RM prior Botrange Release. This PR will be discussed Friday prior to releasing Botrange.

[2019-09-18 11:13] #184 closed

[2019-09-18 11:13] bfcohen opened #333 "[Chapter 01] Create Glossary File from Terminology in Chap 01"
Move content of the terminology section in Chapter 01 to Glossary separate file.

[2019-09-18 11:24] #297 closed

[2019-09-18 11:25] #244 closed

[2019-09-18 11:26] #227 closed

[2019-09-18 12:09] markshostak opened #338 "[RM Chapter 8] Aspects for Empirical Validation of Storage Infra"
This is a descendant of Issue #176, and addresses the following feedback items from the Paris Etherpad regarding some of the needed aspects of the empirical testing:

- JB-22: Validate IOPS for Storage Extensions
- JB-23: Read/Write ratio validations also needed

[2019-09-18 13:15] CsatariGergely opened #339 "[RA-1 Ch04]: Unhandled comments of pr #313"
Pr #313 have some unhanded comments:

- req.inf.ntw.10 should be reformulated to contain infrastructure requirements and not workload requirements.
- Figure_4_3_Select_host_instance_launch.png: I think this figure is irrelevant here. This chapter should describe what is running on a compute host and not how it is selected.
- 4.5 Cloud Workload Services: I think this description is irrelevant here.

[2019-09-18 14:55] CsatariGergely commented on #322
I've collected my issues to #339

[2019-09-18 15:25] rabiabdel commented on #339
Agree with all comments below. will get them addressed prior this Friday. (when we will release this out).

[2019-09-18 19:14] pgoyal01 commented on #339
@CsatariGergely

- req.inf.ntw.10 we cannot make change to the requirement except if it is changed in Chapter 02. We can delete from Chapter 04 if there is agreement.
- 4.5 is no longer "Cloud Workload Services."

- 4.4.1. the intent is not to be prescriptive about what the operators choose w.r.t. supporting multiple profiles or a common profile; discussion on profiles is in RM Chapter 5.

[2019-09-18 20:13] kagreenwell commented on #279
updated 8.6.2 figure to reference figure from ch2 per discussion on today's chapter call.

[2019-09-18 20:13] #279 closed

[2019-09-18 21:22] bfcohen commented on #248
Added.

[2019-09-18 21:22] #248 closed

[2019-09-18 22:11] mf4716 commented on #338
@markshostak - review section 8.8.1 of the [ch 8 clean up branch](https://github.com/cntt-n/CNTT/tree-save/ch08-cleanup/doc/ref_model/chapters/chapter08.md) for details inserted into the chapter 8 to address this issue.  Please comment, or confirm to close.

[2019-09-19 06:50] markshostak commented on #338
@mf4716 What is the PR # that resolves this issue?
Hi Mike, The 2 test areas mentioned in this Issue are now captured in 8.8.1, so I'm ok with closing it. We should think about the section this test area, and others like it, are captured in. Generally, I'm not sure I'd look for a list of test areas (aka scenarios?) in the test results section. I would first look for a summary of tests, but the imp

[2019-09-19 06:50] #338 closed

[2019-09-19 07:56] iangardner22 commented on #300
Personally I believe we should stick with "flavor" or any other US spelling when it is the default used in the commands or community.

[2019-09-19 11:56] markshostak commented on #176
JB-3: Resolved with PR #341
JB-10: Plan is to add 400GB and 500GB options, in conjunction with size/performance table decoupling. Larger effective sizes can be realized by using addition storage extensions
JB-11: We agree. To your point, the dependence on the data structures, r/w ratio, etc. makes performance specification beyond a certain degree, application-specific. To further satisfy the need,

[2019-09-19 11:56] #176 closed

[2019-09-19 12:32] mf4716 commented on #338
@markshostak - PR with the change is https://github.com/cntt-n/CNTT/pull/299.  Thanks.

[2019-09-19 15:27] karinesevilla commented on #146
PR #309 approved the 09/19

[2019-09-19 15:27] #146 closed

[2019-09-19 15:28] karinesevilla commented on #291
PR #309 approved 09/19

[2019-09-19 15:28] #291 closed

[2019-09-19 15:29] karinesevilla commented on #295
PR #311 approved 09/19

[2019-09-19 15:29] #295 closed

[2019-09-19 18:43] rabi-abdel opened #343 "[RM Ch01] Use Cases needs cleaning up"
I think there is some cleanup to use cases section. (currently doesn't flow). The content has been commented out and needs re-working.

[2019-09-19 18:47] bfcohen commented on #343
That was the piece that I knew needed work.  Next release.

[2019-09-19 18:59] rabi-abdel opened #344 "[RM Ch02] Figure 2-1 (need to swap CI with NI)"
to be consistent with the text, The figure needs to show Basic, NI, CI (in this order) since the entire document follow this order.

[2019-09-20 15:58] bfcohen commented on #122
Should be closed.

[2019-09-20 15:58] #122 closed

[2019-09-22 13:22] CsatariGergely commented on #339
- req.inf.ntw.10: No, let's not delete it from Chapter 4, but I have two problems now :)

  - My original comment applies to the requirements in Chapter 2
  - I think we should mention in Chapter 4.5.1, that these are copied from Chapter 2.3.2

- 4.5 is no longer Cloud Workload Services.", but my original comment about it still applies to the current "4.4.1 Compute Nodes Specifications"
- 4.4.1 I

[2019-09-24 23:02] markshostak opened #351 "[TSC] Update Font Used on CNTT_diagrams.pptx"
The font used in CNTT_diagrams.pptx needs to be updated. Currently, if fonts are not embedded, most people are unable to display or update the deck.  If fonts are embedded, the file size goes from 0.5MB, to 3MB. This activity consists of 2 parts:
1) Select a new font (must be a widely available font)
2) Update font throughout document

[2019-09-25 06:09] hdamker commented on #332
Done?

[2019-09-25 11:59] markshostak opened #353 "[RA1 Ch04] Figure 4-1 Erroneously Specifies Guest OS; should be Host OS"
Figure 4-1 Architecture Diagram shows compute node s/w stack running on top of the "Guest OS". It should show the compute node s/w running on the "Host OS".

[2019-10-01 19:24] rabi-abdel commented on #332
Close now

[2019-10-01 19:24] #332 closed

[2019-10-01 19:28] rabi-abdel commented on #322
Close as duplicate to existing Issue #339

[2019-10-01 19:28] #322 closed

[2019-10-01 19:29] rabi-abdel commented on #318
Resolved. Thanks @pgoyal01

[2019-10-01 19:29] #318 closed

[2019-10-01 19:34] rabi-abdel commented on #290
Let us discuss this further in the technical steering meeting.

[2019-10-01 19:35] rabi-abdel commented on #288
seems resolved since a PR was pushed for it.

[2019-10-01 19:35] #288 closed

[2019-10-01 19:58] rabi-abdel commented on #256
PR merged for issue merged.

[2019-10-01 19:58] #256 closed

[2019-10-01 20:00] #249 closed

[2019-10-01 20:01] #213 closed

[2019-10-01 20:03] rabi-abdel commented on #205
Not sure an action needed here. closing for now

[2019-10-01 20:03] #205 closed

[2019-10-01 20:06] rabi-abdel commented on #188
No Action needed.

[2019-10-01 20:06] #188 closed

[2019-10-01 20:09] rabi-abdel commented on #185
duplicate with similar issue

[2019-10-01 20:09] #185 closed

[2019-10-01 20:12] rabi-abdel commented on #179
Not sure what to do with it.

[2019-10-01 20:12] #179 closed

[2019-10-01 20:15] rabi-abdel commented on #175
More Text is needed to explain how instances can be extended with HW Accel, storage, etc.

[2019-10-01 20:23] rabi-abdel commented on #153
Not sure what that issue is :) will close

[2019-10-01 20:23] #153 closed

[2019-10-01 20:26] rabi-abdel commented on #141
close as being address in FAQ

[2019-10-01 20:26] #141 closed

[2019-10-01 20:30] rabi-abdel commented on #231
Addressed in https://github.com/cntt-n/CNTT/pull/342

[2019-10-01 20:30] rabi-abdel commented on #231
can be closed now

[2019-10-01 20:30] #231 closed

[2019-10-01 21:06] rabi-abdel opened #355 "[RA2 Ch01] Initial Content for K8s Based Reference Architecture"
Based on discussion on Antwerp, the decision was to start a PR to initiate the content for Chapter 1 to talk about the introduction and to start thinking about what is needed from platform prospectives to deliver on the cloud native definition.

[2019-10-01 21:24] rabi-abdel opened #356 "[RA1 Ch04] Topology, Define Core Services"
Feedback from Antwerp:
Topology, Define Core Services -- [ Ian G ] as per Kelvin please include the east / west traffic traffic profiles

[2019-10-01 21:40] rabi-abdel opened #357 "[RM Ch02] Profile Image update"
PR is created for it.
https://github.com/cntt-n/CNTT/pull/350

[2019-10-02 09:29] rabi-abdel commented on #300
@collivier please feel free to introduce a PR to resolve it. I will assign to you :)

[2019-10-02 09:56] rabi-abdel opened #358 "test"

[2019-10-02 09:56] #358 closed

[2019-10-02 10:05] rabi-abdel opened #359 "[RM Ch01-Ch05] Supporting Containers"
Based on Feedback from Antwerp, we need a PR that will make RM Container supported (this could be either by neutralise RM or adding explicit support to containers)

[2019-10-02 12:13] mf4716 commented on #301
@collivier - at your convenience, please provide status.  Thanks

[2019-10-02 12:37] mf4716 commented on #159
@rabi-abdel - please confirm status for this item.  Thanks

[2019-10-02 12:50] rabi-abdel opened #360 "[General] Need to create Chapter placeholders for all WS"
Based on the discussion we had regarding project structuring, there is a need to create chapter placeholders for all parts as discussed in the meeting today.

[2019-10-02 14:32] rabi-abdel commented on #360
resolved

[2019-10-02 15:37] mf4716 opened #363 "[RM Ch08] Compare / Align with OVP and CVC Compliance Definitions"
Per 10/2 RM Ch 8 call, purpose of the issue is to close on definitions and terms of Compliance, Verification, and Validation, by comparing CNTT and CVC/OVP documentation.

[2019-10-02 15:53] mf4716 commented on #363
Will assign to Trevor Cooper upon receipt of his GitHub ID.

[2019-10-02 15:55] mf4716 commented on #363
@trevgc - please review/comment.

[2019-10-02 16:47] richardboswell opened #364 "Reference Model Terminology leads to 404"
The link to Reference Model Terminology under section 1.2 in document https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter01.md leads to a 404. The existing link is https://github.com/cntt-n/CNTT/blob/master/ref_model/chapters/glossary.md#1.1, I believe you are trying to link to https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/glossary.md or possibly https://g

[2019-10-02 17:20] rabiabdel commented on #364
Thank you @richardboswell will fix.

[2019-10-02 17:22] rabiabdel opened #365 "[RM Ch09] More Operation and LCM Requirement"
Need to add more operation & LCM Requirements

[2019-10-02 17:23] rabiabdel opened #366 "[RM Ch07] More Security requirements"
Need to separate platform security from VNF security requirements.

[2019-10-02 17:29] rabiabdel opened #367 "[RA1 Ch04] Next Level of Details"
There is a need to start looking at the next level of details for the OpenStack Based Reference Architecture

[2019-10-02 17:32] rabiabdel opened #368 "[RA-1 Ch04] HW Acceleration Support for NFVI"
Acceleration to be used by NFVI (for example SmartNIC to offload ovs). This is not to provide acceleration to VNF. (no SR-IOV).

[2019-10-02 17:36] rabiabdel opened #369 "[RA1 Ch07] Operation and LCM content creation"
We need to create initial content for Ch07 about LCM.

[2019-10-02 17:37] rabiabdel opened #370 "[RA1 Ch06] Initial content for Security"
We need to create initial content for security chapter in OS based RA

[2019-10-02 17:39] rabiabdel opened #371 "[RA1 Ch05] initial content for API (interfaces)"
Need to create the initial content for Ch05 about APIs (with minimum ver) and interfaces (standardise on things like swift api, etc) As per Antwerp Feedback

[2019-10-02 17:43] rabiabdel opened #372 "[RA1 Ch08] Perform GAP analysis into existing technologies based on openstack"
There is a need to document and understand where the gaps are within OpenStack projects and others.
example would be the need for standard interfaces for acceleration.

[2019-10-02 17:46] rabiabdel opened #373 "[RA1 Ch08] Develop a standard hw acceleration interface"
There is a need to start developing standard hardware interfaces for acceleration such as crypto, ipsec, and get it upstreams into the right projects.

[2019-10-02 18:09] rabiabdel commented on #371
assigned to @pgoyal01 Thank you @pgoyal01

[2019-10-02 18:10] rabiabdel commented on #371
@pgoyal01 please make sure you reference this issue when creating a PR.

[2019-10-02 18:10] pgoyal01 commented on #371
@rabiabdel will do. Thanks

[2019-10-02 18:15] pgoyal01 commented on #371
@rabiabdel please see https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter05.md -- initial content already exists. Are you asking for changes (adds)?

[2019-10-02 18:15] rabi-abdel commented on #357
Resolved

[2019-10-02 18:15] #357 closed

[2019-10-02 18:22] rabiabdel commented on #371
oh i didn't realise :) i think what is needed is:

- adding the minimum required version (at the moment it doesn't say minimum).
- leave The PR open for some time to get general agreement on the content, min version, etc.

[2019-10-02 18:54] pgoyal01 commented on #371
PR #374 created.
Modified "Baseline" to "Minimum (Baseline)" for the version Information.

[2019-10-02 20:13] ASawwaf commented on #372
Yes  , i believe in this, there is a lot of gaps in current NFV implementation not only for acceleration

[2019-10-03 00:00] mf4716 opened #375 "[RM Ch08] Clarify Certification in Document"
Clarify that Certification is not possible as the open source team cannot "commercialize" a product

[2019-10-03 00:03] mf4716 opened #376 "[RM Ch08] Update Methodology with demarcation of CNTT & Community test responsibilities"
Update Methodology with clear demarcation of CNTT vs. Community/Supplier Test Responsibilities

[2019-10-03 19:32] markshostak opened #377 "[RM Ch04] Replace Metric with Measurement, and Define"
Per analysis and agreement in 2/10/2019 RMCH-4 weekly meeting, replace the term Metric with Measurement, and provide a definition of the term relevant to the RMCH-4 context. See meeting minutes for further details.

[2019-10-04 05:20] markshostak opened #378 "[RM Ch04] Remove Measurements Taken by External Instruments"
Per analysis and agreement in 2/10/2019 RMCH-4 weekly meeting, remove all measurements (currently identified as metrics), that are taken by external test instrumentation. These measurements are to be inserted into chapter 8 (V&V) by Issue #379. See meeting minutes for further details.

[2019-10-04 05:29] markshostak opened #379 "[RM Ch08] Insert Measurements Taken by External Instrumentation"
Per analysis and agreement in 2/10/2019 RMCH-4 weekly meeting, insert all measurements (currently identified as metrics), that are taken by external test instrumentation and were removed from RMCH-4 under Issue #378. Note, this is not intended to preclude the inclusion of additional measurements not originally identified in RMCH-4. These measurements are re-targeted to RMCH-8, b/c infra performanc

[2019-10-04 05:38] markshostak opened #380 "[RM Ch04] Replace Monitoring with Performance Measurement, and Define"
Per analysis and agreement in 2/10/2019 RMCH-4 weekly meeting, replace the term Monitoring with Performance Measurement, and provide a definition of the term relevant to the RMCH-4 context. See meeting minutes for further details.

[2019-10-04 05:46] markshostak opened #381 "[RM Ch04] Apply (New) Term "Monitoring", and Define"
Per analysis and agreement in 2/10/2019 RMCH-4 weekly meeting, define a "new" term called "Monitoring", which is to represent a function for passive observation of traffic, and apply as appropriate within RMCH-4. See meeting minutes for further details.

[2019-10-04 09:55] karinesevilla opened #382 "[RM Chap01] Numbering of figures has to be reviewed"
Changes needed:
figure 1.6 -> 1.1
figure 1.4 -> 1.2
figure 1.5 -> 1.3
figure 1.7 -> 1.4

[2019-10-04 10:25] rabi-abdel commented on #355
As a greed on Antwerp, I will go a head and create the initial PR for the discussion on Tuesday next week.

[2019-10-04 13:07] mf4716 commented on #376
Reassigning to Kyle (ch 8 co lead)

[2019-10-08 02:14] trevgc commented on #363
- Latest OVP documentation links are on the OVP portal https://nfvi-verified.lfnetworking.org/#/
- OVP home on LFN site is here https://www.lfnetworking.org/OVP/
- Some definitions can be found on Wiki e.g. Testing Evolution & Strategy https://wiki.lfnetworking.org/pages/viewpage.action?pageId=10551934

- The OVP program envisages 3 types of testing:

1. **Compliance**: A "device" is compliant if

[2019-10-08 15:35] karinesevilla opened #385 "[RM Chap04] Section 4.2.5 Incorrect values on table 4-24"
Table 4-24 "Mapping of NFVI capabilities", some values are wrong:
For C instance, NUMA support and Huge Pages must be "Yes"

[2019-10-09 11:28] markshostak commented on #377
PR #386 addresses this issue.

[2019-10-09 12:03] markshostak commented on #381
This issue is addressed by PR #386 (2nd commit).

[2019-10-09 12:54] markshostak commented on #380
PR #386, Commit #3 addresses this issue.

[2019-10-09 12:56] markshostak commented on #380
NOTE: Need to replace x.y.**mon**.idx with x.y.**pm**.idx, as appropriate.

[2019-10-09 14:07] ashokkumarprajapati opened #387 "[RM Appendix-A] Add VNF Monitoring Capabilities Use Case"
We should add a UseCase for Exposed Monitoring capabilities so that we all are on same page for the same. Use Case to be added to RM VNF Design Guidelines supplement (RM Appendix-A).

[2019-10-09 14:13] markshostak commented on #385
Per weekly RMCH-4 review meeting, the following changes have been proactively approved by the review team, and will be implemented by a forthcoming update by Karine:
- Table 4-24: For Instance Type C, NUMA (e.nfvi.per.cap.002) is changed from NO -> YES
- Table 4-24: For Instance Type C, Huge Page Support (i.nfvi.per.cap.001) is changed from NO -> YES
- Table 4-24: Row i.nfvi.mon.cap.005 (External

[2019-10-09 14:14] markshostak commented on #385
Reassigned to Karine, per agreement in chapter review mtg.

[2019-10-09 15:12] markshostak commented on #387
Arif and Ashok, Thanks for taking this on! -Mark

[2019-10-09 15:16] markshostak commented on #379
Per today's weekly chapter review meeting, Al Morton has taken an action to extract the relevant PMs from ETSI NFV TST009, and the team will be bringing their favorite PMs to include, as well.

[2019-10-09 20:21] mf4716 commented on #379
@markshostak - RMCH-8 PR #389  generated with changes added to CH 8 - https://github.com/cntt-n/CNTT/pull/389.  Please review/approve/comment if Issue can be closed.

[2019-10-10 00:41] markshostak commented on #379
Fixed by PR #389 from Mike F. Closing.

[2019-10-10 00:41] #379 closed

[2019-10-10 01:12] markshostak commented on #385
Hi Karine (and Mike and Kelvin), I agree those caps have been relocated. However, the purpose in having them in the mapping table is so VNF developers can determine what kind of protection a given Instance Type (IT) will be afforded. As it happens, the flags are the same for all ITs, but I think we should get some more input before we rip them out. RMCH-7 does not provide mapping or indication of

[2019-10-10 01:31] markshostak opened #390 "[RM Ch04] Add PM Reference ID Schema & Normalize Existing IDs"
There is no description of the existing format and everyone assumes they map to ETSI IDs, which they don't. Also, the IDs that are currently assigned need to be normalized and aligned w/ the changes implemented by PR# 386.

[2019-10-10 01:32] markshostak commented on #377
Fix approved during weekly chapter meeting on 9/10/2019. Closing.

[2019-10-10 01:32] #377 closed

[2019-10-10 01:34] markshostak commented on #380
Fix approved during weekly chapter meeting on 9/10/2019. Closing.

Note: PM reference ID normalization from comment above is being addressed by Issue# 390.

[2019-10-10 01:34] #380 closed

[2019-10-10 01:35] markshostak commented on #381
Fix approved during weekly chapter meeting on 9/10/2019. Closing.

[2019-10-10 01:35] #381 closed

[2019-10-10 03:43] kedmison commented on #385
In thinking about this, I've actually come around to the perspective of leaving these in the model.

We should assume that every OpenStack Reference Architecture would have the same answer for all 3 of these items, regardless of flavour,  and when considering Openstack I can see the argument for how it's so intrinsic as to be known implicitly.
However, I am not sure we can say the same when it com

[2019-10-11 10:34] rabi-abdel opened #392 "[CNTT] Restructure repository based on Governance and Technical Steering discussions"
Approved and agreed on during Thursday 10th Oct Technical Steering discussion

[2019-10-11 10:35] rabi-abdel commented on #392
Merged

[2019-10-11 10:35] #392 closed

[2019-10-15 18:37] pgoyal01 opened #393 "[RA-1 Ch 04] Issues with Figure 4-1 OpenStack Core Services"
Issues raised during Antwerp F2F included the following (not complete list):
[AN] Do we need to explicity specify librariues, why do we care about Python, RabbitMQ
Deleted from Diagram

[AN] you are menitoning KVM, is this applicable to other hypervisors such as ESXI?
[BFC] THere are differences within OS on how the different hypervisors work. How much can we disaggregate this by using APIs?  Spec

[2019-10-16 04:58] rabi-abdel opened #395 "[RM Ch08] Certification and Badging Requirements"
This needs to be included into Chapter 8:

- What the the level of certification needed
-- what the certification should look like (Categories within the certificate)
- What is the badging requirement
-- how many badge do we require.

[2019-10-16 05:09] markshostak opened #396 "[RM Ch07] Typo Corrections in Sect. 7.10.5"
Tables 1 and 2 in Chapter 7 are labeled as Tables 5-1 and 5-2; should be 7-1 and 7-2.
Mike, if you want me to fix this, just assign it to me. Thx, -Mark

[2019-10-16 05:10] rabi-abdel opened #397 "[RA2 Ch08] Gap analysis"
There is a need to perform GAP analysis within K8s technology for telco workloads.

[2019-10-16 05:12] rabi-abdel opened #398 "[RA2 Ch08] GAP: Standard Container Interfaces"
This is to start looking at the gap of standard container interfaces gap and propose solutions and a way forward.

[2019-10-16 05:14] rabi-abdel opened #399 "[RA2 Ch08] GAP: Multi-Tenancy"
This issue is to look at the Multi-Tenancy GAP within K8s World and try to recommend a way forward to address it.

[2019-10-16 05:16] rabi-abdel opened #400 "[RA2 Ch08] GAP: Operating Model"
This issue is to tackle the operating model gap exist within K8s and try to propose solutions and next steps.

[2019-10-16 05:22] rabi-abdel opened #401 "[RI1 Ch02] RI Requirement Initial Content"
Providing initial content for Ch02 which is the requirement of Reference Implementation. (based on open source, comply to reference architectures, etc)

[2019-10-16 05:24] rabi-abdel opened #402 "[RI1 Ch03] NFVI State initial content"
This is to provide initial content into Ch03 of RI 1 to identify the required state of NFVI (what configuration needed for each of provided profiles) etc.

[2019-10-16 05:27] rabi-abdel opened #403 "[RI1 Ch04] Lab Requirements"
This issue to start initial content for Lab Requirements (specify in details the minimum specs of hardware needed for lab - including compute nodes, network, storage - for each of the profiles. this also should specify the topology of the lab expected.

[2019-10-16 05:30] rabi-abdel opened #404 "[RI1 Ch05] Initial content for Installer requirement"
This issue is to start the initial content for installers requirements.

[2019-10-16 05:33] rabi-abdel opened #405 "[RI1 Ch06] Initial content for Lab Models"
This issue is to start the initial content for the lab models supported (Community Lab, Third part lab (LaaS) and send hosted lab.

[2019-10-16 05:36] rabi-abdel opened #406 "[RI1 Ch06] Current Existing Labs details"
This issue is to include what labs are available currently (community, approved lab schemes, etc)

[2019-10-16 09:00] rabi-abdel opened #407 "[RI1 Ch08] Installer Integration initial content"
This issue is to start content for Installer Integration (what installer to use, what version) and map the choice to the requirement set in RI1 Core.

[2019-10-16 09:03] rabi-abdel opened #408 "[RI1 Ch07] User Manual initial content"
This issue is to create content to explain in details (how to install NFVI) using the installer chosen.

whoever reads this section, should know how to install Common NFVI on their own labs.

[2019-10-16 09:06] rabi-abdel opened #409 "[RI1 Ch09] Initial Gap analysis"
This issue to initiate the content around what gaps exists in the industry for installers and other tools needed to install the NFVI.

[2019-10-16 09:12] rabi-abdel opened #410 "[RC1 Ch02] E2E C&V NFVI Framework Req"
This issue is to create content for E2E C&V NFVI Framework requirement. (tools needed, tools specs, how many tools, output format, etc)

[2019-10-16 09:13] rabi-abdel opened #411 "[RC1 Ch03] NFVI Test Case Requirements"
This issue is to create test cases requirements for NFVI testing.

[2019-10-16 09:14] rabi-abdel opened #412 "[RC1 Ch04] Traceability of NFVI Test Cases to RA Req"
This issue is to create initial content for traceability of test cases to RA Req.

[2019-10-16 09:18] rabi-abdel opened #413 "[RC1 Ch05] E2E C&V VNF Framework Req"
This issue is to create content for E2E C&V VNF Framework requirement. (tools needed, tools specs, how many tools, etc)

[2019-10-16 09:19] rabi-abdel opened #414 "[RC1 Ch06] VNF Test Cases Requirements"
This issue is to create test cases requirements for VNF testing.

[2019-10-16 09:20] rabi-abdel opened #415 "[RC1 Ch07] Traceability of VNF Test Cases to RM Req"
This issue is to create initial content for traceability of test cases to RM Req.

[2019-10-16 09:26] rabi-abdel opened #416 "[RC1 Ch08] E2E NFVI Testing Framework Integration"
This issue is to create content for the integration of E2E Framework (choices, exact releases, etc)

[2019-10-16 09:29] rabi-abdel opened #417 "[RC1 Ch08] NFVI E2E Framework User Manual"
This issue is to create content for the user manual of E2E Framework for NFVI Testing. (how to install, and use).

anyone who reads this content should be able to understand exactly what is needed to run those tools and get the results out.

[2019-10-16 09:35] rabi-abdel opened #418 "[RC1 Ch09] Available NFVI Tests and their traceability to TC Req"
This issue is to provide a list of available NFVI test cases exist in the open source communities and trace them back into TC Req set in Ch03

[2019-10-16 09:38] rabi-abdel opened #419 "[RC1 Ch11] Gap analysis for NFVI Testing"
This issue is to create content to identify GAPS in the open source communities for tools, test scripts, etc concerning NFVI testing.

[2019-10-16 09:40] rabi-abdel opened #420 "[RC1 Ch08] E2E VNF Testing Framework Integration"
This issue is to create content for the integration of E2E Framework (choices, exact releases, etc)

[2019-10-16 09:41] rabi-abdel opened #421 "[RC1 Ch08] VNF E2E Framework User Manual"
This issue is to create content for the user manual of E2E Framework for VNF Testing. (how to install, and use).

anyone who reads this content should be able to understand exactly what is needed to run those tools and get the results out.

[2019-10-16 09:43] rabi-abdel opened #422 "[RC1 Ch10] Available VNF Tests and their traceability to TC Req"
This issue is to provide a list of available VNF test cases exist in the open source communities and trace them back into TC Req set in Ch06

[2019-10-16 09:44] rabi-abdel opened #423 "[RC1 Ch11] Gap analysis for VNF Testing"
This issue is to create content to identify GAPS in the open source communities for tools, test scripts, etc concerning VNF testing.

[2019-10-16 12:49] pgoyal01 commented on #400
@rabi-abdel What about an alternate view. Instead of trying to make k8s what it is not, let us think of a  CIM (Containerised Infrastructure Manager) that performs functions similar to the VIM. The CIM would then consist of kubernetes plus other software components for inventory, access management etc.

[2019-10-16 18:47] ASawwaf commented on #400
Yes, I am favour of CIM terminology, I added before in termonologies brainstorming "PR#Initial Content for K8s RA #383"

So let agree on this and start put a definition

_As initial definition_: it is software responsible  for controlling and managing the Container infrastructure which host Container Network Function ( Cloud Native Function ) by consuming the compute resources, storage resources a

[2019-10-16 18:57] pgoyal01 commented on #400
@ASawwaf Thanks. Let use see if we can keep it aligned with the way ETSI GS NFV 003 V1.3.1 (2018-01) defines VIM.
Virtualised Infrastructure Manager (VIM): functional block that is responsible for controlling and managing the NFVI compute, storage and network resources, usually within one operator's Infrastructure Domain (e.g. NFVI-PoP).

Containerised Infrastructure Manager (CIM): functional bloc

[2019-10-16 19:00] ASawwaf commented on #400
@pgoyal01 I used to refer to it and add my touch :)

[2019-10-16 19:29] markshostak commented on #390
The current reference ID schema, which is used almost everywhere, is as follows:
a.b.c.d.e (Ex. "e.nfvi.per.met.001")
a = Scope <(e)xternal | (i)nternal | (t)hird_party>
b = Subsystem <nfvi | vim>
c = Type <(res)ouce | (mon)itor | (per)formance | (sla)Service Level Agreement | (arl)Availability/ReLiability measurements>
d = Sub-Type <(cap)ability | (met)ric>
e = Serial Number

The format was discu

[2019-10-17 01:34] sukhdevkapur commented on #400
This proposed terminology makes sense to me and seem consistent with other objects.

Sukhdev

Sent from my iPhone

[2019-10-17 06:36] CsatariGergely opened #424 "[RM Ch1]: Definition of "standard and open APIs""
The Reference Model principles mention "standard and open APIs" in several places, however it is not explained what are these.
A note should be added do define these API-s as: API-s implemented and released by "de-facto standard" open source projects.

It is still unclear if the API should be declared to be stable and who decides if an open source project is de-fact standard or not.

[2019-10-17 23:21] sukhdevkapur commented on #424
Gregely,

I had similar thought when I first read the RM and RA documentation. Upon
further email exchange, I realized that the reference was to OpenStack
APIs. However, you make a good point that this should be clarified in the
document itself. We can't expect the readers to be coming up with multiple
interpretations.

Furthermore, I am not sure OpenStack API is sufficient to address all the
inte

[2019-10-17 23:33] pgoyal01 commented on #424
@sukhdevkapur raised tow issues. Let me address second issue about meeting times first.  My mistake with the initial Doodle poll but it was corrected and other entries more suited to Pacific time were proposed and except for one person no on else voted . Irrespective of that, themeeting invite state, "The meeting times may be adjusted if agreed to by participants."  Let us hold the first meeting a

[2019-10-18 06:56] CsatariGergely commented on #424
@sukhdevkapur I agree that the current CNTT mechanics rely too match on online meetings and put a too big administrative overhead to the WSL-s, but let's fix things in iterations.  I think the WS-es where we have participation from all around the world we need to operate with alternate meeting times. I will propose this to RA2 Core, but it is the participants of the WS-es to decide. These issues w

[2019-10-18 09:03] hdamker commented on #424
Regarding "open and standard APIs: ... we indeed need a common understanding about which kind of "standard" APIs can be included (as mandatory) into Reference Architectures. "De-facto" or "industry standard" means in my understanding "widely accepted and in production within the industry, with broad support by different products/vendors". But again, I'm aware that all words in such sentence can be

[2019-10-18 09:05] markshostak commented on #424
@sukhdevkapur The RM mtg is currently scheduled for 6AM PDT on Wednesday. I left it at that time b/c it was a pretty good slot, all things considered. Does 6am in your local timezone work for you? Most of us in Dallas attend mtgs at 6am in our local tz. One of the initial topics is what sub-stream mtgs will be required. Once we know what mtgs we need, we can find timeslots for them.

[2019-10-18 09:26] markshostak commented on #424
Hi @CsatariGergely, The original intent behind the language "Standard and Open", was to clearly differentiate it from closed/proprietary APIs, so as **to ensure the ability to substitute components from multiple sources and thereby prevent lock-in**. There was quite a bit of discussion at the time, and what you see is where we landed. There was never any intent to imply stable vs. beta.

Other wor

[2019-10-18 10:46] CsatariGergely opened #426 "[RM Ch4]: Clarifications to the attributes"
-	e.nfvi.res.cap.001, 002 and 003: I do not see a meaning in defining a minimum value for these. It is true that there is a minimum value for these but I see it more like an implementation details than an NFVI capability

[2019-10-18 10:50] CsatariGergely opened #427 "[RM Ch4]: Remove monitoring attributes added to Ch8"
#389 added several monitoring related attributes from Chapter 4 to Chapter 8. These should be deleted from Chapter 4.

[2019-10-18 10:57] hdamker commented on #426
e.nfvi.per.met.001, 002 and 003 ... should be a seperate issue against chapter 8 then.

[2019-10-18 10:59] hdamker commented on #427
@markshostak @CsatariGergely Isn't that a duplicate to #378 ?

[2019-10-18 12:00] CsatariGergely commented on #427
Now as I read it now more carefully, yes. Let me close this then.

[2019-10-18 12:00] #427 closed

[2019-10-18 12:02] CsatariGergely commented on #426
I'm happy to work on this.

[2019-10-18 12:04] CsatariGergely opened #428 "[RM Ch8]: Test setup clarification is needed"
e.nfvi.per.met.001, 002 and 003: TST009 defines a set of test setups on which the different benchmarks are measured. It should be stated in the definition if these are for p2p, pvp or pvvp. (And in case of containers pcp, pvcvp, pvvcp or pvcvcp).

[2019-10-18 12:06] CsatariGergely commented on #426
Agreed. I've created #428 and deleted e.nfvi.per.met.001, 002 and 003 from here.

[2019-10-18 12:07] CsatariGergely opened #429 "[RM Ch8]: Definitions of attributes are not correct"
Definitions of i.nfvi.mon.cap.005 and 006 are not correct, and in case of i.nfvi.mon.cap.002 I do not see how „QoS enablement” is connected to „Virtual compute resource CPU usage” monitoring.

[2019-10-18 12:09] CsatariGergely commented on #426
Also I've created #429 and removed i.nfvi.mon.cap.005 and 006 from here.

[2019-10-18 12:11] CsatariGergely commented on #429
I'm happy to fix this.

[2019-10-18 12:30] rabi-abdel commented on #429
@yangyanyj is WSL for this WS, but she has not accepted the GitHub invitation yet. therefore, I will assign it to you @CsatariGergely on her behalf to fix.

[2019-10-18 12:34] rabi-abdel commented on #428
@yangyanyj is WSL for this WS, but she has not accepted the GitHub invitation yet. therefore, I will assign it to you @CsatariGergely on her behalf to fix.

[2019-10-18 13:03] rabiabdel commented on #424
@sukhdevkapur there is already an issue created for the gap analysis in RA1 Dev WS which you are the lead of. https://github.com/cntt-n/CNTT/issues/372.

[2019-10-18 13:05] rabiabdel commented on #372
@sukhdevkapur since you are the lead of this WS, please identify someone (or you :) ) to create a PR to address it.

[2019-10-18 13:12] rabiabdel opened #430 "[General] Create Contribution Guidelines as a code"
Based on @CsatariGergely feedback, we can add contribution guidelines into https://github.com/cntt-n/CNTT/blob/master/CONTRIBUTING.md

[2019-10-18 13:15] rabi-abdel commented on #430
I will create a PR and edit the standard https://github.com/cntt-n/CNTT/blob/master/CONTRIBUTING.md file on GitHub.

[2019-10-18 13:43] karinesevilla opened #431 "[RM Ch07] Modifications needed for section 7.10.5"
Following discussion we had during RM chapter 4 meeting the 16th of October,
the content of section 7.10.5 needs to be modified for a better integration in the Security Chapter.
The 2 tables were initially moved from chapter 4: text must be rephrased, especially to capture what is expected at a model level.

@ASawwaf I can create a PR for that

[2019-10-18 14:09] karinesevilla opened #432 "[RA1 Ch06] Develop Security Content"
Following the discussion we had during RM chapter 4 meeting the 16th of October,
describe the mechanisms enabled to ensure security isolation per requirements expressed in RM Chapter 07

[2019-10-18 14:14] karinesevilla opened #433 "[RA2 Ch06] Security isolation"
Following the discussion we had during RM chapter 4 meeting the 16th of October about security isolation, describe the mechanisms enabled to ensure security isolation per requirements expressed in RM Chapter 07 (section 7.10.5)

[2019-10-18 17:00] pgoyal01 commented on #294
@rabi-abdel As you know, ONAP has published VNF Requirements including VNF design. ONAP has to orchestrate and manage the VNFs. May I suggest that if we idnetify any gaps in their requirements That we work with ONAP to avoid inconsistencies.

Ref: https://onap.readthedocs.io/en/latest/submodules/vnfrqts/requirements.git/docs/index.html Please see Chapter 4 for VNF Design.

[2019-10-18 17:02] pgoyal01 commented on #353
Covered in Issue #393. Closing Issue.

[2019-10-18 17:02] #353 closed

[2019-10-18 17:07] pgoyal01 commented on #319
@rabi-abdel The APIs had been consolidated and moved to RA-1 CH 05 prior to Antwerp and there is a reference to Chapter 5 in Chapter 4 ("The APIs for these OpenStack services are listed in Chapter 5: Inetrafces and APIs.").

Can this issue be closed?

[2019-10-18 17:18] pgoyal01 commented on #371
@rabiabdel Can we close this issue now?

[2019-10-18 21:17] ASawwaf commented on #431
Yes , agreed , please do
thx

[2019-10-19 09:04] collivier commented on #371
It's a very good first step but I think key data are missing.
About that bug, I strongly believe that we must precise the micro versions too (nova, cinder).

I'm not clear about Ironic here. From my understanding, it's not exposed to the VNFs or more generally the clients.

Regarding the overall target, we can complete here or in other bugs (I can open new bugs if needed) the capabilities per serv

[2019-10-19 09:26] collivier commented on #371
I could have precised that OPNFV Functest already has the logic to allow skipping tests or not.

The new containers will simply override the default configs to forbid skipping any subtests (here we do know exactly the reference as opposed to our leitmotiv: tested as much as possible)

All CNTT users could also run the classical OPNFV Functest containers to validate any optional service (Barbican?)

[2019-10-19 09:46] collivier commented on #371
\+ Neutron extensions and overlays supported:
http://artifacts.opnfv.org/functest/functest-opnfv-functest-smoke-latest-neutron-tempest-plugin-api-run-497/results/neutron-tempest-plugin-api/tempest-report.html

Here are a few examples:
- qos
- l3-conntrack-helper
- bgpvpn
- sfc
- VXLAN
- etc.

It's worth mentioning that all that capabilities are exposed by the API.

[2019-10-19 15:20] pgoyal01 commented on #371
@collivier Thanks for great input and pointing to the gaps between the RA-1 and RI. Action Items - Open Issues to:
1. Update RA-1 Chapter 2 Requirements
2. Update RA-1 Chapter 3/4 (expand to include items suggested by you)
3. Update RA-1 Chapter 5.
[I will copy most of you comments onto these issues sometime today Saturday 2019-10-19]

I hope you be able to contribute content -- I can then assign

[2019-10-19 16:32] pgoyal01 commented on #432
@karinesevilla since there is no content in RA-1 Ch6 changing the issue to Develop Security Content.

[2019-10-19 16:40] pgoyal01 opened #435 "[RA-1 Ch02] Evaluate Requirements for coverage of volume issues"
@collivier raised issues under Issue #371. Evaluate functest to identify missing requirements including the following identified by @collivier:
-    Swapping volumes
-     Shelve
-     Encrypted volume
-     Cold migration
-     Cinder multi-backend
-     etc.

Source:
-  [http://artifacts.opnfv.org/functest/functest-opnfv-functest-smoke-latest-tempest_full-run-440/results/tempest_full/tempest-rep

[2019-10-19 16:51] pgoyal01 opened #436 "[RA-1 Ch04] Enhance Volume functionality"
Issue #435 raised to address @collivier identified gaps related to Volumes in Requirements. This issue is to address the requirement changes.

For reference, here are @collivier raised issues under Issue #371. Evaluate functest to identify missing requirements including the following identified by @collivier:
    Swapping volumes
    Shelve
    Encrypted volume
    Cold migration
    Cinder multi-

[2019-10-19 16:54] pgoyal01 opened #437 "[RA-1 Ch05] Add APIs related to Volume functionality changes"
Issue #435 and #436 raised to address @collivier identified gaps related to Volumes in Requirements and Architecture chapters. This issue is to address the changes to APIs.

For reference, here are @collivier raised issues under Issue #371. Evaluate functest to identify missing requirements including the following identified by @collivier:
Swapping volumes
Shelve
Encrypted volume
Cold migration
Ci

[2019-10-19 17:01] pgoyal01 opened #438 "[RA-1 Ch04] Neutron extensions"
Currently, Ch04 incorporates the ML-2 plugin. Per @collivier, OPNFV functest supports a few other plugins.

Source:
[http://artifacts.opnfv.org/functest/functest-opnfv-functest-smoke-latest-neutron-tempest-plugin-api-run-497/results/neutron-tempest-plugin-api/tempest-report.html](http://artifacts.opnfv.org/functest/functest-opnfv-functest-smoke-latest-neutron-tempest-plugin-api-run-497/results/neu

[2019-10-20 18:49] sukhdevkapur commented on #438
The default should be ML2 and all Service Plugins. However, RA1 should support monolithic plugins as well - there are many deployments that use monolithic plugins (such as Contrail/Tungsten Fabric). Additionally, ONAP and OPNFV both have hooks to support it. We should discuss as to which other monolithic plugins should be included.
Please include me in the discussion - as the meeting times are ver

[2019-10-20 19:57] collivier commented on #438
At least, we should write the default set of API (here Neutron): versions, service plugins, networking features, etc. We could also consider the type drivers supported (e.g. overlays) indirectly exposed (see tempest, patrole, etc.).

From my understanding, the API is agnostic about the Neutron design (ML2 or monolithic plugin).
It's true they are a few Tempest tests about agent (ref impl).

It's w

[2019-10-20 20:14] pgoyal01 commented on #438
@collivier @sukhdevkapur Can we have an asynchronous discussion here in Github -- if we need a meeting for closure, will arrange one.

W.r.t. "write the default set of API", a decision was made not to duplicate OpenStack documentation but provide a reference to the specific version (in case of Neutron Version 2). If the ask is instead to list APIs, I think that is a discussion for the Technical St

[2019-10-20 20:44] sukhdevkapur commented on #424
@Rabi, Abdel, Vodafone Group <abdel.rabi@vodafone.com>  - Thanks for
pointing to Issue number #372. I have assigned it to myself. I will be
adding the content to the chapter in the coming days.

@CsatariGergely <https://github.com/CsatariGergely> - I will be
highlighting the gaps in the PR in response to the above issue

@Herbert Damker - This email thread is an example of the good and bad of
asyn

[2019-10-20 20:54] sukhdevkapur commented on #438
@pgoyal01 - I think it is reasonable not to replicate the API - instead a reference is sufficient.

Agree on Discussion topic. We should have discussion on this. Should a new issue be opened for this?

[2019-10-20 21:47] collivier commented on #438
My point is not to duplicate the official documentation at all.
Regarding our target, we do go one step further than listing the versions. Then I think we should select the subset of Neutron API (see Neutron extensions / services) which has to implemented and then verified.

https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter05.md#5.2

We could also leverage on IRC f

[2019-10-20 22:54] sukhdevkapur commented on #438
@collivier - I get it. I think you make a good point. The question is how do we list what is included and what is not.
One suggestion will be to use Neutron tempest tests for this purpose. They allow an exclusion list. This list specifies which tests to run and which to skip. We can build an exclusion list. This is short and is not version dependent. Once we have this list, then we make it mandato

[2019-10-21 05:03] collivier commented on #438
@sukhdevkapur Yes that's exactly my point quickly explained in the parent topic.
https://github.com/cntt-n/CNTT/issues/371#issuecomment-544159188

Thanks to that section, we should be able to build a specific functest-cntt-smoke including all tempest-based testcases (tempest_full, tempest_slow, tempest_scenario, neutron-tempest-plugin-api, patrole, etc...) and possibly all rally-based testcases. A

[2019-10-21 05:15] collivier commented on #371
@pgoyal01 Thank you for the new issues. Regarding the testing capabilities in Functest, it seems that Gnocchi (tested via Rally scenarios) and Barbican are optional (tested via the Tempest plugin and Rally scenarios).
http://artifacts.opnfv.org/functest/functest-opnfv-functest-smoke-latest-barbican-run-498/results/barbican/tempest-report.html

[2019-10-21 12:25] pgoyal01 commented on #319
PR merged.

[2019-10-21 12:25] #319 closed

[2019-10-21 17:29] pgoyal01 commented on #432
Duplicate to issue #370

[2019-10-21 17:29] pgoyal01 commented on #432
Closing as duplicate

[2019-10-21 17:29] #432 closed

[2019-10-21 17:32] pgoyal01 commented on #370
Transferring an issue from #432 (#432 closed as there is no existing content0. As part of addressing Security, need to address the mechanisms that ensure security isolation per requirements expressed in RM Chapter 07

[2019-10-21 20:41] pgoyal01 opened #440 "[RA-1 Ch04] Update Section 4.3.2. Overview and Table"
At Antwerp F2F, Vincent Seet raised the following issue: "there should be an exercise done to map solutions to be considered on the RA to the functional modules defined in the management software in RM." In discussions with him, we agreed to modify RA-1 Section 4.3.2. Overview with some updated content and Table.

[2019-10-22 05:46] ASawwaf commented on #438
@pgoyal01  , Can you open PR for this "What are the criteria for including/excluding monolithic plugins?" or to more Generic "Neuton API vs other plugins"  i believe this one is important to be discussed as sperate topic as we need to agree if SDN should be part of our RA ( which i believe it should be "" after that we can figure on the GAP that SDN will solve and which approach"

[2019-10-22 05:48] ASawwaf commented on #438
@sukhdevkapur valid point, but as far as I know contrail only supporting Monoltic plugin, so we need to be careful when we covered this part in RA

[2019-10-22 06:52] CsatariGergely opened #442 "[RM Ch5]: Virtual Storage Acceleration features"
Table 5-4: Virtual Storage Acceleration features describes nfvi.stg.acc.cfg.001 for "Storage IOPS oriented" and nfvi.stg.acc.cfg.002 for "Storage capacity oriented". Can someone please explain what are these acceleration technologies? How can I accelerate in a storage capacity oriented way?

[2019-10-22 15:22] pgoyal01 opened #443 "[RA-1 Chapter 03] Change Title and Outline"
Align RA-1 Chapter 3 with the Reference Model Chapter 3.

[2019-10-22 18:53] pgoyal01 opened #445 "[RA2 - Ch2] Requirements"
Modify req.gen.ost.01 and req.gen.ost.02 to be req.gen.k8st.01 and req.gen.k8s.02 respectively. In same PR add an initial set of other requirements.

[2019-10-23 15:08] #370 closed

[2019-10-23 15:51] tomkivlin commented on #355
Can this be closed now @rabi-abdel ?

[2019-10-23 16:18] rabiabdel commented on #355
Yes

[2019-10-23 17:27] CsatariGergely opened #449 "[RA2 Core]: build a consensus on Kubernetes cluster management and document the result"
In the discussions of #383 there was a disagreement on two topics in the area of Kubernetes cluster management:

- Is CaaS Manager part of NFVO and if we care about the result in RA2
- Scope of one Kubernetes cluster. One VNF, group of VNF from the same vendor, group of VNF-s

The resolution of this issue shall clarify these and document the result.

[2019-10-23 17:31] CsatariGergely opened #450 "[RA2 Core]: Define the place of Kubernetes in the ETSI NFV MANO stack and document the result"
In the discussions or #383 there was no consensus about the place of Kubernetes in the ETSI NFV MANO stack. The resolution of this issue shall build a consensus on the functional areas Kubernetes covers in the ETSI NFV MANO stack and document the result.

[2019-10-23 17:34] CsatariGergely opened #451 "[RA2 Core]: Build a consensus about the usage of Helm and document the result"
In the discussions of #383 there was no consensus if Helm should be part of the Reference Architecture. The resolution of this issue shall build a consensus on it and document the result.

[2019-10-23 18:18] ASawwaf commented on #449
@CsatariGergely , I like the 3 issues that you opened but we repeat our self ( sorry for that )
we need to define first CaaS , CaaS manager and CIM and role of its function, its components to be able to define its position is part from NFVO, part of MANO

From my side, we can consider CIM part of ETSI MANO , for positioning of CaaS , CaaS manager , i see this is just a stack for a conceptual

...

[2019-10-24 07:40] CsatariGergely opened #453 "[RA2 Core]: Build a consensus on bare metal containerization"
Sub chapter [A note on bare metal containerisation](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter01.md#a-note-on-bare-metal-containerisation) were merged before a full consensus would have been reached in #383 .
The resolution of this issue should build a consensus on the bare metal containerization and document the result in a Chapter 02 of the Reference Arch

[2019-10-24 07:46] CsatariGergely opened #454 "[RA2 Core]: Embed Chapter 1 General thoughts chapter into the chapter/sub-chapter structure"
There is a [General thoughts](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter01.md#general-thoughts) sub-chapter in Chapter 1. The content of this sub-chapter should be added to different sub-chapters of Chapter 1 and Chapter 2.

[2019-10-24 07:49] TamasZsiros commented on #450
I thought there is already a definition about CISM in ETSI NFV MANO. I would prefer if we could refer to ETSI and not try to define things in parallel.

[2019-10-24 08:04] CsatariGergely commented on #450
I agree, that we should refer existing definitions if there are any, but I think it is more difficult than pointing to the CISM definition.

In my opinion it depends on what functionalities of Kubernetes are we looking at and in which context. The [IC]aaS functionalities are either NFVI/VIM or CISM depending on if we would like to model its relation to a possible other NFVI/VIM while the applicati

[2019-10-24 08:23] TamasZsiros commented on #450
I would like to make use of K8s' capabilities when it comes to scaling, LCM, operators, etc. so that we do not promote or suggest re-implementing all those in todays' VNFMs.

Would it be reasonable to say that when we map implementation to architecture then K8s/CaaS implements some of the functionality that is covered by VNFM? I know it's not as clean cut as if CaaS would only be CISM, but the int

[2019-10-24 12:46] pgoyal01 commented on #450
@TamasZsiros ETSI IFA029 V0.20.0 (2019-08) specifies 3 different models for CISM -- each with its own implications on VNFM and VIM. If the VNFM together with NFVO is already implementing, say, LCM operations, then changes would be required in these systems to accommodate k8s.

If we are going to adopt, the IFA029 recommendations then there are also implications in defining NFVI -- includes the CIS

[2019-10-24 15:01] karinesevilla opened #455 "[RA1 Ch06] Develop initial content for Security"
Content needed for Chapter 6

[2019-10-25 08:59] cntt-n commented on #403
@fuqiao1@outlook.com

[2019-10-25 09:44] gkunz commented on #411
I'd like to get this started by volunteering to prepare a first draft (a list) of test case requierements for discussion and alignment. So, if you like, assign this issue to me.

[2019-10-25 11:44] CsatariGergely opened #457 "[RA2 Core]: Chapter structure for RA2 core"
Propose a chapter structure for RA2.

[2019-10-25 12:26] rrajesh70 opened #459 "[RI 1 Labs]: Sridhar Rao to have a readout to CNTT RI1 members about Airship installation details and procedures on Intel POD 10 or 15"
Sridhar has suggested having the readout on Wednesday Oct 30th

[2019-10-25 12:52] gkunz opened #460 "Add chapter describing workflow of compliance program"
I am proposing to add a chapter describing the overall workflow of the LFN-based compliance program: testing -> result submission -> review -> granting of a compliance label.

This chapter should be based on and/or point to existing documentation of the LFN CVC where applicable.

[2019-10-25 13:46] mf4716 commented on #411
@gkunz - #411 RC1 Ch03 assigned to you Georg.  Note, we (Mark S., Kyle G., myself) did a lot of work in this space for NFVI test case/requirements.  Our work can be found in the Ref Model (RM) chapter 8 and chapter 8 annex.  Please review those two sections to see what can be moved to the RC1 Ch03.  Please include @markshostak (Mark) @kagreenwell (Kyle) and myself @mf4716 in all emails, or to disc

[2019-10-25 13:47] mf4716 commented on #411
For convenience, links to RM [Ch8 ](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter08.md) and RM [Ch8 Annex](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter08-annex.md).

[2019-10-25 14:11] mf4716 commented on #459
@rrajesh70 - can we do this earlier in the week?

[2019-10-25 14:31] gkunz commented on #411
@mf4716 thanks. Based on your comment, I feel there might be a slightly different interpretation of the term "test case requirements". So, just to avoid misunderstandings: I read "test case requirements" in the context of the Reference Compliance 1 document as requirements a test case must fulfill to be usable as a test case in a compliance program. This is a different perspective than "test scope

[2019-10-25 14:34] mf4716 commented on #411
perfect @gkunz - thank you

[2019-10-25 14:40] mf4716 commented on #460
Please see RM Ch8 sections 8.5-8.7 as this was captured, albeit may need some updates/edits as you see fit.  This can be moved/inserted into existing RC chapters, sub-sections, or new RC chapter as needed.  Please review and advise.  Thanks.  [Link to RM Ch8](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter08.md).

[2019-10-25 14:43] rrajesh70 commented on #459
The India based contributors are off for Diwali holiday. I will try to advance

[2019-10-25 16:33] xavier-grall opened #462 "[RM ch8] Updates for perf measurement (section 8.9.1.1)"
Perf metrics has been moved from chapter 4 to chapter 8 in a new perf measurement section which requires to be updated to detail how perf metrics can ne measured.
A commit is proposed for that purpose:
https://github.com/xavier-grall/CNTT/commit/f30e9de72115e83c644842fe494c1b2f8a22d7ae

[2019-10-25 21:30] mf4716 commented on #406
@rrajesh70 - please work with Jack Morgan, Jim Baker, and Bin Hu.  Include Mark Shostak and myself in the dialogue.  This will get the collective input of OPNFV projects and resources teams who can provide the requested lab info and it will align on the work Jim and team are already doing to assess current labs.

[2019-10-25 21:32] mf4716 commented on #405
@rrajesh70 - similar to RI Labs [406](https://github.com/cntt-n/CNTT/issues/406).  The same list of individuals there can be contacted to assist with this issue.

[2019-10-25 21:34] mf4716 commented on #401
@fuqiao123 - please assign to a contributing member.

[2019-10-25 21:36] mf4716 commented on #402
@fuqiao123 @trevgc - Trevor can you help with this issue?

[2019-10-25 21:39] mf4716 commented on #403
@rrajesh70 @fuqiao123 - we have initial requirements in Chapter 4 already.  This needs to be reviewed with our Infra WG, CNTT RA, and OPNFV teams to ensure we have sufficient requirements to meet the needs of each profile and we need a topology diagram as well.  @rrajesh70 - this is closely tied to RI Labs efforts.  Please assign as needed.

[2019-10-25 21:40] mf4716 commented on #404
@fuqiao123 - please confirm you can assign this to yourself, or Chen Liang.  If Chen Liang, then please get the GitHub ID so we can assign it accordingly.

[2019-10-25 21:42] mf4716 commented on #407
@lei-cloud @rexlee8776 - Lei, Rex, can you please own this issue and pull in Cedric Ollivier from Orange as needed?

[2019-10-25 21:44] mf4716 commented on #408
@rexlee8776 @lei-cloud - please work with Cedric Ollivier at Orange to work this chapter/issue.

[2019-10-25 21:45] mf4716 commented on #409
@fuqiao123 - please confirm you can accept this issue and update the chapter content accordingly, or if you can co-assign it to other contributors/leads for RI Dev.

[2019-10-25 21:48] markshostak commented on #462
Just to clarify, performance measurements that are taken with external instrumentation (e.g., Spirent, Ixia, etc.) and used to characterize the infra, were moved to RM CH-8. Performance measurements (PMs) that are generated by the infra itself on a day to day basis, remain in RM CH-4. Also, be aware that the measurements in RM CH-8 will likely move to RC NFVI.

[2019-10-28 02:18] lei-cloud commented on #407
OK. I'll try to contact with Rex and Cedric discussing what to do and how to deal with this issue.

[2019-10-28 05:56] CsatariGergely commented on #428
As it is discussed in #434 @xavier-grall will propose a pr for this, therefore I reassign the ticket. (I hope its okay @rabi-abdel )

[2019-10-28 08:11] xavier-grall commented on #462
@markshostak
OK thank you Mark for that clarification.

[2019-10-28 09:17] CsatariGergely commented on #449
With this isses I just list the topics where we had disagreements in the discussion in #383 . If you think you would like to work on any of them please volunteer in a comment.

[2019-10-28 13:19] tomkivlin commented on #450
Hi all - I've had a read through IFA029 and understand it a little better now.  Some terms have specific Kubernetes examples which is useful, but some don't.

Those with clear examples:
Container Infrastructure Service Instance: Kubernetes worker node (runtime, kubelet, kube-proxy)
Managed Container Infrastructure Object: Pods, services, deployments, etc.
Managed Container Infrastructure Object Pa

[2019-10-28 13:38] tomkivlin commented on #450
In terms of where CISM sits wrt MANO, section 7.1.1 has the three options @pgoyal01 mentions:
•	PaaS services are modelled as VNFs (e.g. the VNFM provides the CISM/Kubernetes capabilities)
•	PaaS services are modelled as a new type of NFVI resources (e.g. the VIM provides the CISM/Kubernetes capabilities)
•	PaaS services are modelled as a new type of object specific to the PaaS layer

My view is t

[2019-10-28 13:41] tomkivlin commented on #450
I'm also concerned that IFA029 seems to consider Kubernetes as a CISM, rather than a CIS? "Prominent CISM/COE implementations, at the time of writing the present document, are Kubernetes®, Apache Marathon with Mesos and DockerTM (Swarm)."

[2019-10-28 13:53] pgoyal01 commented on #450
@tomkivlin  IFA029  "CIS provides the container runtime environment  (e.g. Docker (TM))". also, IFA029 7.2.1.1.2, implies that the CIS is responsible for "infrastructure resources."

[2019-10-28 13:57] tomkivlin commented on #450
OK, in which case that therefore implies that a CIS is a subset of Container Infrastructure Service Instance as the example in the doc for CISI is "an instance providing runtime execution environment for container.
EXAMPLE 2: 	In Kubernetes® this is a node, which consists of three components: container runtime, kubelet and kube-proxy."??

It also implies there is no equivalent to the CaaS Manager

[2019-10-28 14:54] tomkivlin commented on #449
My thoughts...
The original CNTT scope was the interfaces/capabilities from the NFVI that are consumed by VNFs/applications, plus the interfaces/capabilities provided by VIM that are consumed by VNFMs/NFVOs. ([Link](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/figures/ch01_etsi_archi_mapping_v2.PNG))

Extending this to Kubernetes suggests, I think, the following:

1. The interfaces/cap

[2019-10-28 14:55] tomkivlin commented on #449
I will try and build a similar diagram to the one I linked to above, to see if we can get agreement on the scope of RA2 - I think that will address this issue then?

[2019-10-28 16:26] collivier commented on #422
I will first detail the VNF already integrated in Functest.
- Clearwater IMS: http://www.projectclearwater.org/
- Vyos vRouter: https://vyos.io/
- OpenAirInterface: https://www.openairinterface.org/

[2019-10-28 16:32] collivier commented on #416
I may split it into several smaller issues. I think it would be great to decouple the Test Frameworks (Functest, YardStick, etc.) and the way to define a common execution of them (e.g. Xtesting).

[2019-10-28 16:33] gkunz commented on #411
After detailing my list of test case requirements I believe that those requirements are more suited for RM Ch08. Currently, this chapter is missing a concrete list of requirements which every test case needs to meet in order to be selectable for RC Ch03. In addition, these requirements are generic and mostly independent of NVFI or VNF scope.

In conclusion, I think we should include those in RM Ch

[2019-10-28 19:47] mf4716 commented on #416
Good idea.  Rather than create separate issues though, create sub-sections within the Chapter to handle decoupling.  This will allow us to keep the Frameworks, Common Execution, Choices, Release, etc, contained within the same chapter.

[2019-10-28 20:03] mf4716 commented on #411
Agree @gkunz , as these are best suited for RM Ch08 as they're covering any RM for compliance.  Therefore, the RI-1 Ch03 requirements would be specific to the RI-1 specifications / requirements from RA-1.

[2019-10-28 20:40] mf4716 commented on #412
@ashokkumarprajapati - please review and confirm if you can assist with this issue.

[2019-10-28 20:42] mf4716 commented on #410
please review - confirm if you can assist with this issue @collivier

[2019-10-28 20:44] mf4716 commented on #412
@xudan16 - your assistance with this issue would be appreciated - until Ashok Kumar confirms acceptance.

[2019-10-28 20:48] mf4716 commented on #415
Kanagaraj (@mkr1481) Can you assist with this issue?

[2019-10-28 20:50] mf4716 commented on #414
@yangyan - can you assist with this issue?  (yangyanyj@chinamobile.com)

[2019-10-28 20:50] mf4716 commented on #414
@fuqiao123 - can you check if Yan Yang can help with this issue?

[2019-10-28 20:51] mf4716 commented on #413
@collivier - can you assist with this issue, or help assign to another?

[2019-10-28 20:53] mf4716 commented on #417
Kanagaraj, Cedric, can you assign this issue to someone to assist, or take ownership of the issue?

[2019-10-28 20:54] mf4716 commented on #419
Kanagaraj, Cedric, can you assign this issue to someone to assist, or take ownership of the issue?

[2019-10-28 20:55] mf4716 commented on #423
Kanagaraj, Cedric, can you assign this issue to someone to assist, or take ownership of the issue?

[2019-10-28 20:55] mf4716 commented on #421
Kanagaraj, Cedric, can you assign this issue to someone to assist, or take ownership of the issue?

[2019-10-28 20:56] mf4716 commented on #420
Kanagaraj, Cedric, can you assign this issue to someone to assist, or take ownership of the issue?

[2019-10-28 21:02] gkunz commented on #411
good, I'll create a corresponding issue and a PR for RM ch08.

[2019-10-28 22:50] jbeltranatl opened #468 "[CSO Ch01] Introduction - Write Introduction"
Write intro chapter to CNTT Structure.

[2019-10-29 05:37] ChilionChan commented on #404
Hi, my GitHub ID is chilionchan

[2019-10-29 06:41] fuqiao123 commented on #402
@mf4716 could you please help add jiaqiang-cmcc as assignees for this issue?

[2019-10-29 06:52] CsatariGergely commented on #450
CIS is the set or worker nodes while CISM is the set of controller nodes.

[2019-10-29 07:07] CsatariGergely commented on #450
I think we should not look into the PaaS part of IFA029, but rather to the "container part". The options there are listed in Chapter 7.2, but all of these should be read with caution as IFA029 is a study for what the normative work is just starting.

In my view in IFA029 Kubernetes is the CIS+CISM while in pre IFA029 it can be an NFVI+VIM (with some limitations on the hw management and multitenanc

[2019-10-29 07:08] CsatariGergely commented on #450
There is no equivalent of CaaS manager in IFA029. ETSI NFV does not cover the management of the infrastructure itself.

[2019-10-29 10:13] gkunz opened #470 "[RM Ch08] Requirements for test case selection and graduation"
We need to define a set of requirements and criteria which guide the evaluation and selection process of test cases beyond the pure scope of a test case. Such requirements include for instance availability in open source, documentation, maturity, etc. Having a list of formal requirements in place helps to guide discussions about suitability of test cases. The OpenStack Interop WG has made very goo

[2019-10-29 10:18] gkunz commented on #470
I couldn't find and assign this to the co-/leads yet. Happy to take this. For a preview of the content, see this #411 .

[2019-10-29 14:32] kedmison opened #472 "[RM CH06] duplicate figures with case-insensitive name collisions"
There are RM Chapter 6 figures that have names that differ only in case.  This creates warnings on case-insensitive filesystems, when sync-ing the repo.  One should be selected, and the other removed from the repo.

[code]

[2019-10-29 15:07] tomkivlin commented on #449
Here's my first stab - let me know what you think.  Don't worry about the interface names, we can change as needed.
https://github.com/cntt-n/CNTT/blob/tomkivlin-patch-2/doc/ref_arch/kubernetes/figures/ch01_cntt_scope_k8s.png

FYI if you want to modify, the PowerPoint is here: https://github.com/cntt-n/CNTT/blob/tomkivlin-patch-2/doc/ref_arch/kubernetes/figures/k8s-ref-arch-figures.pptx

[2019-10-29 15:17] jbeltranatl opened #473 "[CSO Ch02] Onboarding - Write Onboarding"

[2019-10-29 15:18] jbeltranatl opened #474 "[CSO Ch02] Identification and documentation of "Participants""
Identification & documentation of “Participants”:  The ToR provides for certain privileges to be given to “Participants” in CNTT.  Section 1.c states the following: “The CNTT is open to participation by any individual or organization that agrees to comply with these ToR (each such participant, a “Participant”). We need to identify the individuals and companies that “Agree” to comply with the ToR (

[2019-10-29 15:19] jbeltranatl opened #475 "[CSO Ch03] - Handling large org structure"
How do   we make sure that the number of different groups does not start to fragment   the activity too much? I'm slightly concerned that already the number of   groups create already a big amount of meetings per week, which may be   difficult to organize in the end.    (Note: to be defined in Overall Structure of CNTT)
--

[2019-10-29 15:20] jbeltranatl opened #476 "[CSO Ch03] Relationship between WSs and existing OPNFV and OVP activities"
I might   have missed this: What is the relationship of the WSLs to the already   existing OPNFV and OVP activities? (Note: to be defined in Community   Relationships and Alignments)
--

[2019-10-29 15:21] jbeltranatl opened #477 "[CSO Ch03] Relationship between WSs and sub-teams"
Re: Org structure - We probably need further explanation about the relationship between sub teams of dev/ops/compliance under RM/RA/RI, e.g. what is the relationship between RA dev and RI dev? (Note: To be defined in Development Process)

[2019-10-29 15:23] jbeltranatl opened #478 "[CSO Ch03] Preventing fragmentation due to large org structure"
Re: Org   structure - We are a little bit worried that this many groups may fragment   the community too much (number of meetings, etc.). One way could be to   combine RA1 Core and RA1 Ops, RA2 Core and RA2 Ops, RI1 Core and RI1 Dev.   Shouldn't RI and RC groups be represented in OPNFV directly, using the   already existing structures there instead of in CNTT? (Note: To be defined in   Overall Str

[2019-10-29 15:25] jbeltranatl opened #479 "[CSO Ch03] Assignment of roles and responsibilities"
Re: Gov structure - We agree, that the boxes at the bottom include the tasks for a governance structure. We are wondering if rather than splitting the responsibilities it wouldn't be better to have a Governance Steering team with joint responsibility of the tasks. (Note:  To be defined in Overall Structure of CNTT.)

[2019-10-29 15:26] jbeltranatl opened #480 "[CSO Ch03] Need to map org structure to decision-making approach #1"
Re: Gov WS scope - When we split the governance work into 6 pieces, we need to define how do we make decisions within the governance. Does that mean we will have the WS make decisions on the certain work listed, or we will have a larger "governance' team where people can 'vote'? We also need to define at what level should each different thing be reviewed and make decision. e.g., for a technical ch

[2019-10-29 15:27] jbeltranatl opened #481 "[CSO Ch03] Need to map org structure to decision-making approach #2"
Re: Gov WS scope - After read through the slides, I realize there is a decision process, which ends only at the TS level. Then how do we expect the TS to work with Governance? Probably the decision process between TS and Gov should also be defined? (Note: To be defined in Decision-Making Approach)

[2019-10-29 15:32] jbeltranatl opened #482 "[CSO Ch03] Org Structure mapping to other open-source project #1"
Re: Technical WS structure - For the RI team, I see logo for OPNFV there, and there are also logo for OpenStack and CNCF in the RA team. Then how should we define our relationship with these opensource projects? How should we work with there TSC? e.g., OPNFV is now having a different release cycle from CNTT, how should RI team follow this? (Note: To be defined in Community Relationships & Alignmen

[2019-10-29 16:26] collivier opened #483 "[RI 1 Dev] Add latest tempest plugins into Functest"
Functest could complete the API coverage already in place by adding the latest tempest plugins.
The tempest plugins may be prioritized in relation with the mandatory services/capabilities/extensions
https://docs.openstack.org/tempest/latest/plugin-registry.html

It's worth mentioning that the next plugins are already part of Functest:
- openstack/barbican-tempest-plugin
- openstack/neutron-tempest

[2019-10-29 16:32] collivier commented on #483
3 plugins were just merged in master (they had to be backported in older releases: Hunter?)
- keystone-tempest-plugin https://gerrit.opnfv.org/gerrit/c/functest/+/68698
- cinder-tempest-plugin https://gerrit.opnfv.org/gerrit/c/functest/+/68698
- horizon-tempest-plugin https://gerrit.opnfv.org/gerrit/c/functest/+/68696

[2019-10-29 16:34] collivier commented on #483
Additional comments:
- heat-tempest-plugin seems not working (additional upstream changes have to be considered)
- x/intel-nfv-ci-tests seemed unmaintained (pending changes from OPNFV members)

[2019-10-29 18:10] jbeltranatl opened #484 "[CSO Ch03] Org Structure mapping to other open-source project #2"
Re: technical WS structure - I think the logos were intended to show a OpenStack AND Kubernetes based RA. OPNFV will need to drive fixes upstream when required and should develop relationships with the TSCs of the key upstream projects when appropriate. OPNFV release cycle timing can be tuned at a later time, I do not think this is an immediate issue. (Note: To be defined in Development Process.)

[2019-10-29 18:11] jbeltranatl opened #485 "[CSO Ch03] Org Structure mapping to other open-source project #3"
Re: Technical Steering - creating parallel/overlapping technical steering bodies is a recipe for disaster. OPNFV and OVP (RI and RC respectively) have existing technical steering. CNTT technical steering should focus on the RM/RA ONLY - and then drive the LFN efforts through the existing structures. (Note: To be defined in Community Relationships and Alignments)

[2019-10-29 18:12] jbeltranatl opened #486 "[CSO Ch03] Org Structure mapping to other open-source project #4"
Re: Technical Steering - I understand that CNTT RI work-streams are a "mirror" for OPNFV CNTT-RI project but this may be confusing for new contributors and any overlap is likely to cause problems. It would be simpler to create clean distinction to say all RI work happens in OPNFV including RI technical oversight. RI requirements and priorities come from CNTT RAs and governance body. I think this i

[2019-10-29 18:13] jbeltranatl opened #487 "[CSO Ch03] Org Structure roadmap alignment with OPNFV and OVP"
Re: Technical Steering/Roadmap - Providing roadmap inputs to OPNFV and OVP is great - it's a contribution to the existing planning and commitment delivery process. (Note: To be defined in Community Relationships and Alignments)

[2019-10-29 18:14] jbeltranatl opened #488 "[CSO Ch03] Technical WS workload management"
Re: Contributions Process - Qiao Fu How many TSLs do we expect? If there is only one (or two, counting the co-lead), I would expect huge workload for TSL. I am worried it would be impossible for the TSL to go through all the details of each submission of PR in each different streams, which eventually will make the approval just a process...(Note: To be defined in Overall Structure of CNTT)

[2019-10-29 18:15] jbeltranatl opened #489 "[CSO Ch04] Technical Steering Nomination and Selection"
How is the technical steering selected? Is that comprised of the WSL leads? (Note: To be defined in Lead / Co-Lead Nomination and Selection Process)

[2019-10-29 18:15] jbeltranatl opened #490 "[CSO Ch04] Leadership Nomination and Selection"
What is the makeup of leadership bodies, and how is leadership selected?  This pertains to the CNTT Governance Committee, TSC, Workstream leads and co-leads, Chapter leads, etc.  (Note: to be defined partially in Lead/Co-Lead Nomination and Selection and Overall CNTT Structure)

[2019-10-29 18:16] jbeltranatl opened #491 "[CSO Ch04] Committee Structure"
Max & Min on each committee? (see Overall CNTT Structure)

[2019-10-29 18:17] jbeltranatl opened #492 "[CSO Ch04] Leadership Nomination and Selection - Length of Terms"
Length of term? – per release, annual, etc.(see Terms)

[2019-10-29 18:18] jbeltranatl opened #493 "[CSO Ch04] Leadership Nomination and Selection - Representation"
Are these limited to the “voting representative” of each organization or can others hold seats? (see Voting Rules)

[2019-10-29 18:19] jbeltranatl opened #494 "[CSO Ch04] Nomination and Selection Limits and Caps"
Are there any limits or caps of any kind?... seats held by the same company, etc.(see Voting Privileges)

[2019-10-29 18:20] jbeltranatl opened #495 "[CSO Ch05] Ownership Criteria for Decision-making"
What decisions do each of these bodies own? (see Voting Privileges)

[2019-10-29 18:21] jbeltranatl opened #496 "[CSO Ch04] Tracking contributions"
I would have strongly considered an open source model (see OPNFV) based on meritocracy instead of nominating people regarding the nature of their companies by laws. All contribution statistics (pull requests, bugs, and comments on pull/requests) are available from the beginning which eases selecting the best committers. (Note: to be defined in Overall Structure of CNTT)

[2019-10-29 18:22] jbeltranatl opened #497 "[CSO Ch04] Lead/Co-Lead Nomination and Selection"
Re: Gov   Lead/Co-Leads - how do we select Lead/co-Lead. If there is only one   candidate, that should be fine. But what will happen when we have multiple   candidates? What will happen in open-source community is we will have a vote.   Then we have to define who has the right to vote? And how long will the   lead/co-lead serve for one term? I can think of the complicated process in   OPNFV TSC ch

[2019-10-29 18:23] jbeltranatl opened #498 "[CSO Ch04] Lead/Co-Lead Nomination and Selection - Length of Terms"
Re: Gov Lead/Co-Leads - Just out of interest, what is the term limit for the different WSL positions. (Note: To be defined in Lead/Co-Lead Selection Process)

[2019-10-29 18:24] jbeltranatl opened #499 "[CSO Ch05] Voting Representation #1"
Identify and document Participant “Voting Representatives”, and any “related   companies”:  Section 2.a of the ToR states that a participating   organization can have as many representatives engaged in CNTT activities as   it wants but only 1 person from each organization can vote. (i.e. the “Voting   Representative”).  We need to ask each Participant who their voting   representative is and docum

[2019-10-29 18:24] jbeltranatl opened #500 "[CSO Ch05] Settling disagreements, ie. on a documents content"
How is each of the documents produced determined to be finished (Reference Models, Reference Architectures, Validation/Compliance test suites, etc.)?  How long is a comment period?, How are disagreements settled and documented? Who votes on the milestone being passed; all participants, or CNTT Governance Committee, or TSC, or …)?  I expect it may be different based on the document. (Notes: To be d

[2019-10-29 18:25] jbeltranatl opened #501 "[CSO Ch05] Approving a Reference Architecture"
How is the introduction and acceptance of a new Reference Architecture   accomplished?  What is the process by which some participants bring   forward a new RA for consideration?  What should they document as part   of the review/evaluation phase?  How long should other participants have   to review and comment on the new RA proposal?  Are resource commitments   involved?  Who votes to determine i

[2019-10-29 18:26] jbeltranatl opened #502 "[CSO Ch05] Approving policies and procedures"
Finally, if we decide that questions like the ones above need to be answered and   documented, what body votes/approves the resulting policy and process   document(s)? (Note: to be defined in Community Decision-Making Process)
--

[2019-10-29 18:27] jbeltranatl opened #503 "[CSO Ch05] Voting Representation #2"
I disagree with the current 2 operators + 2 vendors’ requirements to merge   changes even if I understand we can improve the process sometimes wrong   during Botrange. It seems falsy to ask for 4 committers to merge a pull   regarding the number of current active committers (ratio 1:1?). Then I   consider once again that selecting the nature of company is not right from a   meritocracy. (Note: To

[2019-10-29 18:28] jbeltranatl opened #504 "[CSO Ch04] Technical Steering membership and voting rights"
Re: Technical Steering - From my understanding, TS will be almost the same as TSC in OPNFV. If I understand this right, I would further think lots of future decision making effort will happen in TS level. If this is true, we need to be careful with the TS member. Who can be one of the member, who has the right to vote (or give +1 for git review)? OPNFV begin with one representative one company, th

[2019-10-29 18:29] jbeltranatl opened #505 "[CSO Ch05] Contribution Process vis-à-vis Decisions"
Re: Contribution Process/Decisions - Such decision process is different from the other open-source projects, such as OPNFV. So for CNTT-RI project, should we follow OPNFV's rule when developing codes in OPNFV, and follow CNTT rule when developing documents in CNTT? Same problem may occur in other communities as well. (Note: To be defined in Community Decision-Making Process)

[2019-10-29 18:30] jbeltranatl opened #506 "[CSO Ch06] Relationship to LNF Projects and GSMA"
What is the relationship of CNTT management structures (tech steering, gov steering)   to the LFN management structures like TSC, MAC, etc.?
--

[2019-10-29 18:44] jbeltranatl opened #507 "[CSO Ch06] Transformation (Smooth turnover to LFN / OPNFV long-term)"
Ensure direction of document points to turnover.

[2019-10-29 19:16] collivier opened #508 "[RI 1 Dev] Integrate KloudBuster in Functest"
KloudBuster is a tool that can load the data plane or storage infrastructure of any OpenStack cloud at massive scale and measure how well the cloud behaves under load where it matters: from the VMs standpoint, where cloud applications run.
https://opendev.org/x/kloudbuster

[2019-10-29 19:18] pgoyal01 commented on #449
@tomkivlin IMHO, the Container Infrastructure Service Instance (CISI), and the VM/BM, are part of the NFVI.  CISI are abstractions that host containers.

Container Infrastructure Service (CIS) provides the infrastructure resources managed by CISM; the resources being exposedusing APIs: CRI, CSI, CNI (for Kubernetes). See IFA029 Section 6.2.2.

Alternate Diagram:
![image](https://user-images.github

[2019-10-29 19:18] collivier commented on #508
The patch is mostly ready: https://gerrit.opnfv.org/gerrit/c/functest/+/68560
But it requires to port KloudBuster to python3 https://review.opendev.org/#/c/687399/

[2019-10-29 19:24] tomkivlin commented on #449
Hi Pankaj, CIS and CISI being part of NFVI yes I understand that, makes sense. I can't disagree enough about containers being part of NFVI though. The definition of container that we're currently using even specifies that it is a running instance of a piece of software with all dependencies. For me a container is part of the application, not the infrastructure. Would you be ok with NFVI including

[2019-10-29 19:34] collivier opened #509 "[RI 1 Dev] Port YardStick testcases to Xtesting"
Xtesting allows a smooth integration of sparsed testcases and ease building CI/CD toolchains via an Ansible role.
http://testresults.opnfv.org/functest/stockholm/

Here leveraging on Xtesting will ease building CI/CD toolchains in few commands mixing Functest and YardStick testcases. It also simplifies any validation process as it avoids extra logics per test frameworks (jenkins job templates, cer

[2019-10-29 19:39] pgoyal01 commented on #449
Tom, Thanks.  CISI, as you know, is a kubernetes node that hosts the pods and containers. My attempt was to keep the diagram consistent with the ETSiI where only the VNFs and VNFCs are shown separately even though the software is executing in the VM. But looking at it from the perspective where the workload software is shown separately form the machine it is executing on, I would have to agree wit

[2019-10-29 19:45] collivier opened #510 "[RI 1 Dev] Port Bottlenecks to Xtesting"
Xtesting allows a smooth integration of sparsed testcases and ease building CI/CD toolchains via an Ansible role.
http://testresults.opnfv.org/functest/stockholm/

Here leveraging on Xtesting will ease building CI/CD toolchains in few commands mixing Functest and Bottlenecks. It also simplifies any validation process as it avoids extra logics per test frameworks (jenkins job templates, certificati

[2019-10-29 19:46] CsatariGergely commented on #449
We have three options: pre IFA029, and the two selected alternatives of IFA029.
Here is the figure what I would use for the pre IFA029:
![image](https://user-images.githubusercontent.com/11458775/67803107-07d54800-fa95-11e9-986b-606e89576ef9.png)

And here are the two alternatives from IFA029:
7.2.4.2
![image](https://user-images.githubusercontent.com/11458775/67803173-20456280-fa95-11e9-8f51-d863

[2019-10-29 19:46] collivier opened #511 "[RI 1 Dev] Port VSPERF testcases to Xtesting"
Xtesting allows a smooth integration of sparsed testcases and ease building CI/CD toolchains via an Ansible role.
http://testresults.opnfv.org/functest/stockholm/

Here leveraging on Xtesting will ease building CI/CD toolchains in few commands mixing Functest and VSPERF testcases. It also simplifies any validation process as it avoids extra logics per test frameworks (jenkins job templates, certif

[2019-10-29 19:52] pgoyal01 commented on #449
@CsatariGergely There are 2 others: 7.2.4.3 and 7.2.4.5. Maybe we need a discussion session on choosing one for CNTT but keeping in mind the decision has impact on VNFM (e.g., ONAP).

7.2.4.3.
![image](https://user-images.githubusercontent.com/52107136/67803754-4d712100-fa53-11e9-8490-fcddb33b6eb1.png)

7.2.4.5
![image](https://user-images.githubusercontent.com/52107136/67803806-64177800-fa53-11e9

[2019-10-29 20:01] tomkivlin commented on #449
I don't think we should be trying to answer the question of if CISM is part of the VIM or not, that's a procurement decision not an architectural one, in my opinion. The capability is distinct, so let's draw it as such. We can then clearly delineate what is in scope or not.

[2019-10-29 20:04] collivier opened #512 "[RC 1 Dev] Archive all Xtesting logs/artifacts as last CI jobs"
Xtesting eases the whole verification/validation/process because it unifies the test execution and the artifacts/results publication.
It avoids a wrong model where one software decides to integrate any underlying test framework by proposing all interfaces to be part of the process (one for all or all for one).

The purpose here is to add the final step in the CI process to archive all artifacts.

[2019-10-29 20:07] CsatariGergely commented on #449
", Option 2 and 4 are determined to be excluded from the target architecture. " Option 2 if 7.2.4.3 and option 4 is 7.2.4.5

[2019-10-29 20:10] pgoyal01 commented on #449
@tomkivlin we all agree that the CISM functionality is distinct from say a VIM that manages only VMs as virtual resources. But, IMHO, it is a valid architectural discussion on the distribution of capabilities to components and if an existing component capabilities needs to be enhanced or the component needs to be replaced with another, etc.

[2019-10-29 20:25] collivier opened #513 "[RC 1 Dev] Create Functest CNTT-related containers"
Functest is driven by OpenStack and Kubernetes full verification (test as much as possible) but already supports compliance (comparison with reference architecture/implementation).

The new containers will simply override the default testcase descriptions to forbid any skip test and tune the test list (e.g. regex in case of Tempest) according to the API (mandatory services/microversions/extensions

[2019-10-29 20:26] collivier commented on #512
functest-smoke-cntt was just created. neutron-tempest-plugin-api is already conformed with the current API section.
https://gerrit.opnfv.org/gerrit/c/functest/+/68668

[2019-10-29 20:27] collivier commented on #513
functest-smoke-cntt was just created. neutron-tempest-plugin-api is already conformed with the current API section.
https://gerrit.opnfv.org/gerrit/c/functest/+/68668

[2019-10-29 20:44] collivier opened #514 "[RI-2] Add Clearwater Ims in Functest Kubernetes"
They are already 2 testcases deploying Clearwater Ims in Functest (via Cloudify and via Heat)
https://www.projectclearwater.org/

It would be great to also deploy Clearwater Ims in Kubernetes tested by the existing SIP tests
https://github.com/Metaswitch/clearwater-docker

@rabi-abdel is there a label for RI Kubernetes Dev?

[2019-10-29 20:55] collivier opened #515 "[RC 1 VNF] Describe VNF onboarding and testing via Xtesting"
Xtesting eases onboarding and testing any VNF with the minimal set of requirements.
It only defines the right interface for an easy integration in the CI/CD toolchain whatever the underlying process (proprietary VNFM, opensource orchestrator, application deployment tools, etc.).

It's already in place in Functest for the next 3 VNFs:
- VyOS https://vyos.io/
- Clearwater IMS https://www.projectclea

[2019-10-29 21:28] mf4716 commented on #402
@fuqiao123  - I've made the request to add jiaqiang-cmcc.  An invite will be sent to join the repo.

[2019-10-29 22:26] jbeltranatl opened #516 "[CSO Ch02] Test-Only Initial Chapter Isssue"
test

[2019-10-30 08:16] xudan16 commented on #412
@mf4716 - I am glad to do this. But as I am new here, so I am not clear about what should be done in this chapter. Any info or guide would be very appreciated.

[2019-10-30 09:34] msidana commented on #451
**Query:** A few months ago, [helm beta](https://helm.sh/blog/helm-v3-beta/) was released which involved removal of tiller due to security concerns as tiller requires cluster-role privileges. Is it preferable to wait for a stable HELM release or go ahead considering the beta if it is to be made a part of reference architecture ?

[2019-10-30 12:15] CsatariGergely commented on #451
In my opinion we should not use Tiller and have Helm 3 in the Reference Architecture.

[2019-10-30 12:46] msidana commented on #451
Yes, I agree with you. But since Helm 3 is still beta, should it be a part of Reference Architecture ?

[2019-10-30 13:16] mkr1481 commented on #415
HI @rabi-abdel Sure
Hi @mf4716 . I assume we need to check the avaialblity of test cases to meet the initial RM requirements, could you please share. I will help to check them from VTP (VNF Test Platform)

[2019-10-30 13:36] mf4716 commented on #401
Reviewed the change/PR.  No issues, or concerns.  Let's use the 10/30 recurring status call to review with the community and approve.  If we run out of time on the call to review I'll approve immediately.

[2019-10-30 13:53] tomkivlin commented on #449
@pgoyal01 good point.

I wonder if it would help to list the capabilities I think are in scope of RA2?  We can then draw them into a diagram.  I've deliberately used non-IFA029 terms in the table so we / others / (or just I) don't get confused as there seem to be others used in some of the diagrams you've provided above.

|Component/Interface|In Scope of RA2?|
|---|---|
|Virtual or physical comput

[2019-10-30 16:22] karinesevilla opened #521 "[RM Ch05] Clarification of CPU pinning definition"
Section 5.1.1 Virtual compute,
nfvi.com.cfg.003, CPU pinning capability
The definition "Binding of a process to a dedicated CPU" doesn't take into account cores and SMT.
It can be changed by:
"Binding a vCPU to either a physical core or a thread of a core with SMT"

[2019-10-30 16:32] CsatariGergely opened #522 "[RA2 Ch08]: Create chapter outline"
Create Chapter 08 outline.

[2019-10-30 16:35] CsatariGergely opened #523 "[RA2 Ch 06]: add user namespaces, or UID re-mapping gap"
As it is mentioned in the discussions of [452](https://github.com/cntt-n/CNTT/pull/452#discussion_r340125134) the feature to remap user namespace or UID. For more information see [here](https://github.com/kubernetes/enhancements/issues/127#issuecomment-520417588).

[2019-10-30 17:54] pgoyal01 opened #524 "[RM Ch05] Make object storage optional"
Section 5.2.2 Virtual Storage: I think "Object Storage"s should be optional

[2019-10-30 21:55] mf4716 commented on #412
@xudan16 - thanks Dan.  The goals/purpose of the chapter is to outline the strategy, approach, and criteria, resulting in the traceability of NFVI/VNF test cases to the Reference Architecture (RA1 OpenStack) requirements from CNTT.  Per our RC1 call today, Rajesh from Spirent has offered to assist in this area, so I'm adding @rrajesh70 as an Assigner.  Please reach out to Rajesh directly to discus