[2020-03-12 15:23] tomkivlin commented on #639
Agreed to close on weekly meeting.

[2020-03-12 15:23] #639 closed

[2020-03-12 15:42] tomkivlin commented on #1112
CNI specifics are visible in pod manifest. Ch4 needs to specify CNI/network solution/service mesh/etc. products/solutions to be used to conform to RA2.
Different networking requirements for multiple networking functions.
e.g. NFs that require SCTP.
Suggestion from @ramkri123:
1. List networking requirement for 5G core functions (next level down from VNF analysis in RM Chapter 2)
2. Update RA2 chap

[2020-03-12 15:58] mf4716 commented on #259
@kedmison , I think this issue was addressed.  Very old/obsolete.  @markshostak any comment?  If none, then I recommend we move to cancel this Issue and move (or add) any relevant changes to one/more of the 6-7 current open RM Ch 8 issues.

[2020-03-12 16:13] jeffsaelens commented on #1112
@jnummelin is capturing my concerns. The wording is a little too nebulous for me as architecture and requirements are being treated interchangeably. It sounds like the requirements are for CNI compliance and multiple interfaces. The architecture being proposed in RA2 is to meet these requirements via a CNI multiplexer.

A clear delineation of of requirements vs proposed architecture across the cha

[2020-03-12 16:25] ASawwaf commented on #1112
@tomkivlin , I hope this req. be defined in Networking Focus Group

[2020-03-12 16:27] xmulligan commented on #1242
https://wiki.lfnetworking.org/display/LN/Kubernetes+Installer+Comparison

First take at creating a comparision chart, would be great to have feedback on what other features we should consider or if there are other installers we should look into

[2020-03-12 17:11] pgoyal01 commented on #988
RA-1 edits made in Chapter 01 (PR #1298), Chapter 03 (PR #1299), Chapter 04 (PR #1300) and Chapter 05 (PR #1301). No edits required in other chapters.

[2020-03-12 19:54] ASawwaf commented on #1242
@xmulligan shall we include Cluster API

[2020-03-12 21:09] yeelinglam opened #1302 "[RA-1 Ch06] Security Audit Logging"

[2020-03-13 10:42] tomkivlin commented on #1056
Really good analysis, thanks @mf4716

[2020-03-13 11:39] xmulligan commented on #1242
@ASawwaf sure do you want to do the initial assessment? However, do you think it is an installer by itself or more just a node manager?

[2020-03-13 14:02] #1139 closed

[2020-03-13 14:07] #1029 closed

[2020-03-13 14:18] rabi-abdel opened #1304 "[MMA] Create Area in GitHub for Trials."
As discussed in MMA, we need an area in GitHub for the trials.

[2020-03-13 15:20] ASawwaf commented on #1242
@xmulligan , I think it is cluster installer and manager which  can be used for creation, configuration, and management of K8s Cluster

[2020-03-13 21:16] kedmison commented on #259
Thanks, @mf4716.  If I don't see any comments in the next 3 days, I'll close the issue.

[2020-03-13 22:23] pgoyal01 opened #1306 "[RM Appendix A] SR-IOV writeup"
Incomplete sentence
Typo
Claims: like DPDK offer similar performance are wrong
Service chaining mentioned but no rationale for why; it would depend if the Service-Chaining involves only East/West traffic but also North/South traffic

[2020-03-13 23:04] #1227 closed

[2020-03-14 00:53] kedmison commented on #1278
I did some more reading.  The tables here use a rowspan attribute, and there is no support for this in Github-flavored md notation.  So, a decision must be made: either the tables either stay in HTML format to preserve their rowspan usage, or are structurally altered and can then use markdown.

[2020-03-14 18:46] #1056 closed

[2020-03-15 15:30] pgoyal01 opened #1309 "[RA-1 Terminology] Create Terminology Chapter"
Relabel RA-1 Abbreviations to Terminology and capture content (terms and abbreviations).

[2020-03-16 06:58] SaadUllahSheikh commented on #1279
@CsatariGergely  @tomkivlin  sorry for late inputs as i was reviewing others docs in CNTT and also kubernetes so ensure requirement is clear , Do check below my inputs for your queries

1. Latency and IOPS requirements must be inherited from the RM.
**-->i will check corresponding items in RM and if needed will raise there****

2. Didn't we had some discussion about these already?
**-->in RA2  i c

[2020-03-16 08:45] petorre commented on #1279
New Edge-focused workstream is about to start, to check all existing documentation and more.

[2020-03-16 13:25] ASawwaf opened #1311 "[RA-1 Ch03]: 3.4.2.2. Network ( Network Diagram )"
3.4.2.2. Network
The recommended network architecture is spine and leaf topology; however, for small sites, a legacy topology (access/aggregation switches) can be set up.

my recommendation, to remove "however, for small sites, a legacy topology (access/aggregation switches) can be set up."

[2020-03-16 13:33] ASawwaf commented on #1309
@pgoyal01 , Is it different between glossary

[2020-03-16 14:45] rabi-abdel opened #1312 "[RC1] Types of test cases needed"
For each test case, we need to clearly specify if it a:

- Must (has to pass to get a badge)
- Should (supposed to pass, but a failure will be OK for this release - as it relates to an exception)
- May (Optional to meet this requirement).

we need to be very specific of how the test output should be as to reflect on CNTT requirements.

[2020-03-16 14:45] rabi-abdel commented on #1312
@lylavoie Please feel free to add more details

[2020-03-16 14:48] pgoyal01 opened #1313 "[RA-1 Ch02] Make Object Storage mandatory"
req.inf.stg.02 -- make this a "must" | Make Object Storage mandatory
Add a note that the some operators may choose not to implement.

Add conditional notes to some other requirements.

[2020-03-16 16:37] pgoyal01 opened #1314 "[RC-1 Ch03] Tests for earlier versions or deprecated APIs"
Test for deprecated or earlier versions APIs/services should be excluded in conformance tests.
The supported API versions are listed in RA-1 Chapter 05.

Examples of deprecated or earlier versions of APIs:
nova-network
3.3.4.1. Identity - Keystone:: Keystone API v2
3.3.4.2 Image - Glance API v1

[2020-03-16 21:52] pgoyal01 opened #1315 "[RC-1 Ch01] Issues with some statements"
Figures in the chapter need to be numbered

1.1. Introduction
     **Test Methodology**
    Will there be a verification if the OpenStack services have been deployed and configured correctly? (not listed in the bullets)
    "Manifest Verifications (Termed Compliance by CVC)" is there a reference to this use by CVC? What is a "manifest" in this context?
    "... NFVI is compliant, and delivered for

[2020-03-17 01:50] YuPengZTE opened #1316 "[RM-Appendix A]What does "vGPUs" mean?"
What does "vGPUs" mean, In ```A textbook example of a capability that transgresses this principle, is SR-IOV. Other, less notable, yet very important examples include vGPUs and other acceleration hardware, such as FPGA``` of [A.5 Hardware-Dependent Coding Policies](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/appendix-a.md#a5-hardware-dependent-coding-policies) and [7.1.2 Hard

[2020-03-17 02:32] deebhatia commented on #1313
If RM says it as [optional](https://github.com/cntt-n/CNTT/pull/1285), can we really make a requirement in RA mandatory with a footnote exception?

[2020-03-17 09:43] walterkozlowski commented on #1311
Hi Ahmed.  I agree we can remove "however, for small sites, a legacy topology (access/aggregation switches) can be set up." It does not add any value.  Is there plaything else you wantme to do with this?

[2020-03-17 13:24] ASawwaf commented on #1311
Thanks @walterkozlowski  , I will create PR to remove it
if no objection from our Colleagues
@pgoyal01  ?

[2020-03-17 21:25] pgoyal01 opened #1319 "[RA-1 Ch01] Reference to RM Terminology"
CNTT Reference Model Terminology refers to https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/glossary.md#1.1 but needs to point to https://github.com/cntt-n/CNTT/blob/master/doc/tech/glossary.md

This problem likely occurs in other documents too

[2020-03-17 21:30] ASawwaf opened #1321 "[Tech Approach]- Fix Figure 1-3: Network Layering"
@kedmison @rabi-abdel @TFredberg

Could you plz support to fix the link for "Figure 1-3: Network Layering"

[2020-03-17 22:00] ASawwaf commented on #1316
@YuPengZTE ,We Just refer to GPU as one of special requirements beside HW acceleration to be considered in our roadmap

[2020-03-17 22:03] ASawwaf commented on #1313
@pgoyal01 , I think , this subject is closed in RM and we decide to make should
am i right

[2020-03-17 22:48] pgoyal01 commented on #1309
@ASawwaf Some terms are not defined in the OpenStack Glossary and the Reference Model Glossary or require a mapping between the RM terms and OpenStack terms.

[2020-03-18 00:50] YuPengZTE commented on #1316
@ASawwaf, I see, and I fix it with https://github.com/cntt-n/CNTT/pull/1324 and https://github.com/cntt-n/CNTT/pull/1323.
Please check them, thanks.

[2020-03-18 02:38] mf4716 commented on #375
Closing.  This issue was addressed in [RC-1 Ch1](https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter01.md#1-introduction) recently, with removal of "Certification", replacing with "Conformance".   Recommend opening a new issue/PR against RC-1 (Ch1 most likely) for further discussion or clarification, if required.

[2020-03-18 02:38] #375 closed

[2020-03-18 08:59] rabi-abdel commented on #955
Here is more details of how RC-2 will fit within OVP Ph2 program.
https://wiki.lfnetworking.org/display/LN/OVP+2.0+Boot+Strap

[2020-03-18 09:35] collivier commented on #955
@rabi-abdel : The key part is to reuse the common part as already defined in RC1 (test case integration and verification, cookbooks, etc).

[2020-03-18 14:11] CsatariGergely opened #1329 "[RM]: Change NFVI to Cloud Infrastructure"
As it was agreed in [2020-03-11 TSC Meeting](https://wiki.lfnetworking.org/display/LN/2020-03-11+-+%5BCNTT+-+Technical+Steering%5D+-+Meeting+Agenda+and+Minutes) we should use 'NFVI' only in the cases when it is correct according to ETSI NFV terminology. In other cases we should use 'Cloud Infrastructure' instead.

[2020-03-18 14:25] CsatariGergely commented on #1329
Maybe this overlaps with #1168

[2020-03-18 14:42] rabi-abdel opened #1331 "[RM Ch08] Move content of CH08 to RC"
As discussed in TSM meeting, many/all content exist in RM Ch08 already covered by RC. @kedmison are you happy with the approach of moving the content away to RC-1?

[2020-03-18 15:18] tomkivlin commented on #1241
Need to identify requirements from RM/RA2 that impact on hardware provisioning and configuration.

[2020-03-18 15:22] tomkivlin commented on #1241
CNF Testbed team (Watson, Taylor, Michael, Denver) to look at this and update the spreadsheet with the info that we need to check against the installers.

[2020-03-18 15:31] tomkivlin opened #1332 "[RI2] Clarify chapter structure and ToC for each"

[2020-03-18 15:37] collivier commented on #1312
@rabi-abdel : I don't understand this topic which echoes with latest RI/RC meeting. It misleads between Iaas Verification and CNTT Compliance.

All tests have been selected and tuned according to RA1 and then are only covering MUST requirements (mostly RA1 chapter 5).
All single test covering an optional service (should or may) or an optional service capability has been removed in CNTT RC (see reg

[2020-03-18 15:46] #1302 closed

[2020-03-18 16:03] collivier commented on #514
@tomkivlin @rabi-abdel
Merged in Functest and already in Functest gates
https://build.opnfv.org/ci/job/functest-kubernetes-opnfv-functest-kubernetes-cnf-latest-k8s_vims-run/16/console

[2020-03-18 16:03] #514 closed

[2020-03-18 16:04] collivier commented on #510
@fuqiao123 @rabi-abdel @acmacm : No upstream activity for a while. I closed it.
Be free to reopen it if needed.

[2020-03-18 16:04] #510 closed

[2020-03-18 16:05] collivier commented on #509
@fuqiao123 @rabi-abdel @acmacm : No upstream activity for a while. I closed it.
Be free to reopen it if needed.

[2020-03-18 16:05] #509 closed

[2020-03-18 16:06] collivier commented on #828
@fuqiao123 @rabi-abdel @acmacm : No upstream activity for a while. I closed it.
Be free to reopen it if needed.

[2020-03-18 16:06] #828 closed

[2020-03-19 03:32] YuPengZTE opened #1333 "[TSC roadmap] Is RA-2 v3.0 or v2.0 in Sep 2020?"
RA-2 is v2.0 in Sep 2020 in [Figure 2: CNTT Technical Specification Roadmap](https://github.com/cntt-n/CNTT/raw/master/doc/tech/figures/cntt_roadmap.png),
but RA-2 is v3.0 in Sep 2020 in [Figure 3: CNTT Stable 3.0 Portrait](https://github.com/cntt-n/CNTT/raw/master/doc/tech/figures/CNTT_Stable_3.0.png)

P.S.
![Figure 2: CNTT Technical Specification Roadmap](https://github.com/cntt-n/CNTT/raw/maste

[2020-03-19 04:09] fuqiao123 commented on #916
Hi, Cedric, do you think we can finish this one for Baldy? or we can move this one to the next release?

[2020-03-19 07:18] YuPengZTE opened #1334 "Is it in scope of CNTT, Openstack dynamically provides node resources for Kubernetes cluster?"
The node is dynamically created by OpenStack when it is found that the node resources are insufficient.
@CsatariGergely  @ulikleber

P.S.
If it is in scope, the flow would be changed when creating pod by Kubernetes.

As shown in the following figure, when the pod is created, the node is found to be insufficient, in step "3. Req Node", the virtual machine node is created through "infrastructure man

[2020-03-19 07:29] CsatariGergely commented on #1334
The interaction between the Cloud Providers and the actual clouds is not described in RA2. Also I think that the supported Cloud Providers are not in the scupe of RA2 as they are not visible for the VNF-s.

[2020-03-19 08:03] YuPengZTE commented on #1334
@CsatariGergely, thanks.
yes,  they are not visible for the VNF-s,  they are integrated.

 ```Most prominently Kubernetes Cloud Provider collect various integrations towards a particular infrastructure platform e.g. to create volumes or additional worker nodes. The Kubernetes cluster api harmonizes some of the k8s cluster management related integrations with different infrastructure platforms unde

[2020-03-19 09:00] ASawwaf opened #1335 "[RM CH01 ] Introduction -1.3 Principles"
"if one member wanted to use Ceph, and another member wanted to use Swift "

https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter01.md

we are comparing CEPH with swift , which from my POV , misleading, we need to remove it

[2020-03-19 10:01] tomkivlin opened #1336 "[Tech] technologies.md - update PCI-PassThrough notes re. containerisation"
Section 8.1 is very focussed on the pros/cons as it relates to VMs, in particular with implicit assumptions that VMs will or will have the possibility to move (Live Migration, vMotion, etc.) between hypervisor hosts.

For containers, the implicit assumptions are subtly different, which changes the pros/cons.  For example, containers are immutable and are never "migrated" between worker nodes.  In

[2020-03-19 11:54] markshostak commented on #1336
@tomkivlin Hi Tom, Can you provide a link to the chapter you're referring to pls? Thx, -M

[2020-03-19 11:59] tomkivlin commented on #1336
https://github.com/cntt-n/CNTT/blob/master/doc/tech/technologies.md#8.1

[2020-03-19 12:38] rabi-abdel commented on #1312
Hi @collivier I have a feeling there is miss-understanding. I will send a calendar invite to talk about this. I hope early next week will be OK for it.

[2020-03-19 12:57] tomkivlin commented on #1112
Can I suggest the following overall approach - I am happy to go back over the chapters to ensure we follow this principle if all agree with it:

Ch02 - document requirements, avoid those that define a specific choice
Ch03 - describe functional capabilities and interfaces - maybe with examples such as CNI/NSM but avoid if possible
Ch04 - articulate the specifications - i.e. the specific choices and

[2020-03-19 13:01] ulikleber commented on #1168
If we want to be agnostic, that means, that our term for infrastructure needs to cover both, VMs and Containers, and our term for the infrastructure's manager also needs to be independent. This was the intend in ETSI from the beginning. Containerization is a Virtualization technology.
If we now splite between VIM and CIM, we work in the opposite direction than what we want to achieve. VIM and CIM

[2020-03-19 13:15] SaadUllahSheikh commented on #1336
@tomkivlin  based on latest industry trend specially coming from DIs-aggregated networks (Regional and Towars Edge DC's) we believe below two should be listed down in this list also .

4. P4
3. ASIC embedded on X-86 ( A direction which intel is supporting recently)

[2020-03-19 13:26] SaadUllahSheikh commented on #1335
@ASawwaf  my suggestion is to keep architecture language as vendor agnostic as possible  e.g Ceph is a represntative of SDS , Swift in Object storage , vSAN is an HCI Stroage .

Architecture should be also to fork to handle any thing that is strictly based on a specific vendor offering aligning in principle that is based on technologies and not vendors .

[2020-03-19 13:27] nickolaev commented on #1004
@tomkivlin yes, the bullets are the first place to be updated. Then, of course, this should flow through the document in the relevant sections. I would imagine that the major part to implement this requirement is in the CNF itself, yet I believe the infrastructure should provide means to implement CI/CD, various deployment models etc.
One of the impacts here may be in 4.7, as the service meshes ar

[2020-03-19 13:30] jnummelin commented on #950
Just out of pure curiosity, would you know any sources for these statements on any OS vendor docs? For me these make very little sense and as you said, kinda breaks the whole purpose of containers.

I've been using glibc and musl based containers on same glibc based hosts for years with very little issues. I know there are some "corner cases" where things might not work 100% interchangeably, but m

[2020-03-19 13:55] pgoyal01 commented on #1336
@tomkivlin Totally agree with your statement, "with a multi-AZ deployment architecture, there may be no need for the worker nodes to be able to "migrate" between hypervisor hosts either" but that applies equally to VMs and some operators do not support "live migration"

[2020-03-19 14:05] pgoyal01 commented on #1335
Not sure why I have been assigned this. For one, I would never write this. Secondly, RAs should discuss technology choices within the main body. In any case the example is wrong as we all know that Ceph supports Swift APIs.

[2020-03-19 14:14] markshostak commented on #1336
@tomkivlin Thanks, Tom.

I believe our intent was more about use cases that employ cascaded kernels, and hence incur a double penalty on data transfers that would, without optimization, be processed twice, once in each kernel, and options to recover/avoid the additional tax, some of which do and some of which don't, violate CNTT principles. Whereas Containers are typically perched atop a single ke

[2020-03-19 14:41] tomkivlin commented on #1018
I will create a PR.

[2020-03-19 14:44] tomkivlin commented on #1020
Following discussion:
This is about configuration management approach as it applies to deployments of all shapes and sizes - centralised, edge, air-gapped, etc.

@fkautz to highlight chapters/sections that refer to centralised config mgmt. and see if any wording suggestion can be made accordingly
Also - suggest you sign up to the Edge workstream, as some of the considerations can be driven through

[2020-03-19 15:47] CsatariGergely commented on #950
RM2 meeting on 2020.03.19 agreed to add a statement that the infrastructure should not require any specific OS in the container base image

[2020-03-19 15:56] CsatariGergely opened #1338 "[RA2 Ch02-04]: Separate requirements, functional capabilities and solutions"
RA2 meeting on 2020.03.19 agreed to implement @tomkivlin -s suggestion from [issue 1112](https://github.com/cntt-n/CNTT/issues/1112#issuecomment-601162790):
- Ch02 - document requirements, avoid those that define a specific choice
- Ch03 - describe functional capabilities and interfaces - maybe with examples such as CNI/NSM but avoid if possible
- Ch04 - articulate the specifications - i.e. the sp

[2020-03-19 15:58] CsatariGergely commented on #1112
RM2 meeting on 2020.03.19 agreed to implement the approach in the frame of #1338

[2020-03-19 16:02] CsatariGergely opened #1339 "[RA2 Ch02]: Add requirements from the table of Chapter 4.5"
[RM2 meeting on 2020.03.19](https://wiki.lfnetworking.org/display/LN/2020-03-19+-+%5BCNTT+-+RA2%5D+-+Meeting+Agenda+and+Minutes) agreed to add the missing requirements from the table of [Chapter 4.5](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter04.md#45-cni-plugins) as requirements in a new, clarified form.

[2020-03-19 16:03] CsatariGergely opened #1340 "[RA2]: Investigate if we would like to enforce Kubernetes Ingress and Egress Policies"

[2020-03-19 16:04] CsatariGergely opened #1341 "[RA2]: investigate if we would like to use Kubernetes Load Balancing"

[2020-03-19 16:12] tomkivlin commented on #1338
@CsatariGergely good stuff, thanks.  As you've self-assigned, are you working on a PR?  I will, if not.

[2020-03-19 16:42] jeffsaelens commented on #1112
@tomkivlin this approach looks a lot cleaner.

[2020-03-19 16:47] tomkivlin commented on #1207
Being addressed in #1247

[2020-03-19 19:11] pgoyal01 opened #1342 "[RI-1 Ch08] Duplicate content"
Ch08 includes a section [7.5.1.2 Deployment: Installer & Install Steps](https://github.com/cntt-n/CNTT/blob/master/doc/ref_impl/cntt-ri/chapters/chapter08.md#7512-deployment-installer--install-steps) and similar content in [8.5.1.2 Deployment: Installer & Install Steps](https://github.com/cntt-n/CNTT/blob/master/doc/ref_impl/cntt-ri/chapters/chapter08.md#8512-deployment-installer--install-steps).

[2020-03-19 22:55] trevgc commented on #1312
There are two types of NFV Infrastructure testing to consider. These comments do not pertain to VNF testing which is a third category of testing. Certain test-cases may be applicable to both types of tests however other test-cases may only be appropriate to one or the other test category.

**1) Testing to validate an RI (i.e. CNTT instantiation of an RA)**. The testing approach is similar to that

[2020-03-19 23:14] trevgc commented on #1312
@acmacm @LucProvoost @opensource-tnbt @lylavoie ... comments will be appreciated.

[2020-03-19 23:31] trevgc commented on #1312
**With respect to Testing for NFVI conformance**. By definition NFVI testing must be independent of using a real VNF as part of the SUT. The way an infrastructure is consumed will be different for each VNF e.g. many "small" VNFs or one very "large" VNF may in the end consume similar resources and provide similar performance/capacity (or not). What we are trying to do is test the overall capacity o

[2020-03-20 09:10] CsatariGergely opened #1345 "[Overall] Generated documentation contains mailformed tables"
The [generated documentation](https://cntt-n.github.io/CNTT/doc/ref_model/chapters/chapter05.html) contains mailformed tables in several places.

[2020-03-20 11:05] xmulligan commented on #955
I've updated the etherpad, but we still need additional people committed to the workstream

[2020-03-20 12:42] #616 closed

[2020-03-20 12:42] #1207 closed

[2020-03-20 12:44] #1304 closed

[2020-03-20 12:52] rabiabdel commented on #1345
Well spotted @CsatariGergely . i am happy to look at this.

[2020-03-20 13:51] pgoyal01 commented on #1312
@trevgc "We will need at least one golden VNF for each profile i.e. Network intensive, Compute intensive, …" or a VNF with VNFCs that require different profiles"

[2020-03-20 14:28] mf4716 commented on #1219
Removing @prabhubalan .  New RC-1 lead (@fuqiao123 ) to assess the need to keep open for tracking of RC-1 test run failures.  @fuqiao123 , please review.

[2020-03-20 14:32] #1222 closed

[2020-03-20 14:38] mf4716 commented on #829
@prabhubalan - as discussed with Prabhu, he will confirm with Cedric if we need to make a change, and then close.  Thanks in advance Prabhu.

[2020-03-20 14:47] mf4716 commented on #945
@prabhubalan - per conversation w/ Prabhu on 3/20, Prabhu will assume ownership and work with the other assigners to review what is needed to complete this issue. Prabhu to setup a call, or discuss at the next RIRC meeting, or email.

[2020-03-20 15:01] pgoyal01 opened #1348 "[RI Ch03] Delete References to Compute Intensive"
Reference to "C" and Compute intensive exists in both text and Tables -- need deletion.

[2020-03-20 15:50] pgoyal01 commented on #1311
@ASawwaf No objection. Thanks.

[2020-03-20 15:50] iangardner22 commented on #638
Please keep this open.  @kedmison is reviewing internally and once complete a PR will be raised to put this section out for wider review.

[2020-03-20 19:32] pgoyal01 opened #1350 "[RA-1 ch07] LCM Content"
Add New 7.1 Introduction, 7.2 NFVI + VIM Configuration Management and 7.3 NFVI + VIM Maintenance Content

[2020-03-20 20:15] pgoyal01 commented on #1309
Based on discussion in PR #1322 label changed to "won't address" (will not be worked on. @rabiabdel to identify where the RA_1 specific Terminology can be added.

[2020-03-20 20:34] pgoyal01 commented on #1313
@ASawwaf The RM doesn't take any position.  Object Storage is referenced in RM [5.1.5 Platform Services](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter05.md#515-platform-services) in Table 5-7.

|.conf | Feature | Type | Description |
|-- | -- | -- | --|
| nfvi.svc.stg.001 | Object Storage | Yes/No | Object Storage Service (e.g S3-compatible) |

For RA-1, we may need to

[2020-03-20 21:24] ASawwaf commented on #1313
@pgoyal01 , I like the proposed clause, However, as far as I know, there is no VNF request an Object storage

BTW , I am ok with the proposed one

[2020-03-21 01:50] YuPengZTE commented on #1316
In order to record more discussions, I reopened this issue.

For some previous discussions, please see https://github.com/cntt-n/CNTT/pull/1324

[2020-03-23 00:12] sukhdevkapur commented on #1080
@pgoyal01 - While I agree that this is not must for Baldy, it should be brought in as requirement for the Architecture @collivier - networking-sfc is not sufficient to support this. My understanding is that most (if not all) production deployments use this feature and is generally supported by SDN controllers - hence, SDN is MUST requirement for RM, RA, RI, and RC
@rabi-abdel  - Note that SDN is b

[2020-03-23 00:25] pgoyal01 commented on #1075
The current requirements listed by @collivier are stated as follows:

| req.inf.ntw.12 | Network | The SDN solution should be configurable via orchestration or VIM systems in an automated manner using openly published API definitions. |  
|-- | -- | -- |
| req.inf.ntw.13 | Network | The SDN solution should be able to support federated networks. |  
| req.inf.ntw.14 | Network | The SDN solution sho

[2020-03-23 00:26] pgoyal01 commented on #1082
Suggest that we move this issue to Backlog since we are unlikely to have time to make the necessary change if an when RM cleanup is completed.

[2020-03-23 00:49] sukhdevkapur commented on #1037
@ASawwaf @walterkozlowski @TFredberg @rabi-abdel @pgoyal01 - Folks, this is a great (and very long discussion). I am glad to see this discussion.
We can continue to theoretically keep discussing and expressing our views or take a pragmatic and practical approach and hit this issue head on, get this included and addressed. With that spirit in my mind, here is my proposal:

1) From the short term po

[2020-03-23 07:25] CsatariGergely commented on #1350
Wasn't it so, that the RA-s do not cover the LCM and FCAPS of the cloud infra?

[2020-03-23 07:28] #1345 closed

[2020-03-23 10:20] #1316 closed

[2020-03-23 10:24] #1294 closed

[2020-03-23 10:25] #1342 closed

[2020-03-23 10:28] collivier commented on #1076
@rabiabdel one additional change is needed for Barbican.

[2020-03-23 12:30] TFredberg commented on #1037
Unfortunately I believe we have to think through and discuss the RM networking model a bit more than to build it based on one or a few of its RA based components. I think it is important to understand the layering both when it comes to CNTT specifications and the Networking in CNTT.

The CNTT specification “layering” have RM to ensure that each RA can specify their SW Virtualization without having

[2020-03-23 14:42] rabi-abdel opened #1359 "[RM, RAs] Harmonisation of VNF & CNF in CNTT"
More work is still needed beyond what was done in: https://github.com/cntt-n/CNTT/pull/1328

Raised by @ulikleber

[2020-03-23 15:18] rabi-abdel commented on #1312
based on the discussion during the meeting on 23rd March 2020, this will be moved to backlog and it will be implemented when we start having exceptions. the technical approach of doing it can either be a tool to post-process or manually by reviewers.

[2020-03-23 17:13] #1116 closed

[2020-03-23 17:15] #1313 closed

[2020-03-23 19:48] ASawwaf commented on #1075
@pgoyal01 , I am fine with the above req. till we develop more in RM

@walterkozlowski to comment

[2020-03-23 20:22] pgoyal01 commented on #1075
@collivier Is it OK to assign this issue to Backlog?

[2020-03-23 21:12] pgoyal01 opened #1364 "[RA-1 TOC] Delete Terminology"
ALl Terminology to be in Tech Glossary

[2020-03-24 00:46] walterkozlowski commented on #1075
@pgoyal01 @ASawwaf @collivier I have asked @sukhdevkapur to propose a plan to  address his concerns regarding short term SDN related actions needed.  I will wait for @sukhdevkapur response.

[2020-03-24 03:17] kedmison commented on #1278
for the following reasons:
* the tables use rowspan to group rows together
* github supports (and whitelists table html markup, including rowspan and colspan)
* github markdown does not support rowspan

the usage of HTML tables  in chapter 9 is should be considered acceptable.

[2020-03-24 03:17] #1278 closed

[2020-03-24 07:49] ulikleber commented on #1359
Thanks, Rabi.
We need to bring back the explanation of a cloud native VNF, which should be the typical case, since it allows service provider to deploy cloud native network functions as part of a NFV NS. This needs to be possible with RA2.

Harmonization cannot be done by creating separate sets of terminology for containers and VMs, but by finding commonalities.

[2020-03-24 11:48] #1364 closed

[2020-03-24 13:39] #259 closed

[2020-03-24 18:56] SaadUllahSheikh commented on #1037
@sukhdevkapur do we think that instead of mapping and matching  networking with each component of RA is a wise idea ?

My suggestion is to define RM of Networking a separate Model that can fulfill both VIrtualized and containerized . Further it should include other initiatives which are coming in industry faster than expected e.g Dis-aggregated networks , Further we had a good discussion in ETSI N

[2020-03-24 20:53] hdamker commented on #1075
Can someone explain to me what is the issue about? The initial description is not quite descriptive:

Would be great if we can stick in RA1 close to the (OpenStack) community mainstream regarding networking.

[2020-03-24 21:03] pgoyal01 commented on #1075
@hdamker It was suggested that we remove these 3 requirements pending the networking work in RM.

I proposed that, at the point in time when the RM Networking proposal has been finalised,  we can revisit these requirements (and possibly some others) and to move this issue to Backlog till that time.

[2020-03-24 21:32] hdamker commented on #1075
@pgoyal01 Fine for me to move to backlog. These requirements are currently only recommendations.

[2020-03-25 05:05] walterkozlowski commented on #1075
@pgoyal01 @hdamker I agree that we should push these requirements to backlog. Networking in RM is work in progress. As we agreed previously, once we have a stable Networking in RM (for the planning purposes, I declared yesterday it would be by the end of May 2020, TBC) we will start re-visiting RAx and RIx.  As I mentioned above, @sukhdevkapur proposes some important SDN-related topics that in his

[2020-03-25 10:00] #1153 closed

[2020-03-25 10:03] #1309 closed

[2020-03-25 11:29] collivier commented on #1331
A few contents are fully duplicated:
RM 8.3.2 Quality Assurance <-> RC 1.7 Assumptions & Dependencies
RM 8.3.1 Entry/Exit Criteria <-> RC 2.6 Entry & Exit Criteria

@rabi-abdel @kedmison
About the first case, only one small sentence differs. Which one should I consider as base line? RC by default because we could consider it as a duplicate + very small updates of RM. No?

I would format the propos

[2020-03-25 13:10] #1329 closed

[2020-03-25 14:35] michaelspedersen commented on #1241
To my knowledge, BIOS and bootloader configuration will have to be done outside of the installer.

BIOS settings depend on the hardware in the system, and also what the purpose of the setup is (deterministic/max performance, power consumption etc.)

For SR-IOV, we will need VT-d enabled. I have noticed on some of the servers provided by Packet.com, that we use for the CNF Testbed, that in addition

[2020-03-25 16:12] CsatariGergely opened #1371 "[RM Ch04]: Attributes in Table 4-19 and other tables are inconsistent"
Table 4-19 contains a mapping of all properties to the Cloud infrastructure Profiles. This table and the other tables in the chapter are inconsistent.

- e.nfvi.cap.013 is used for both `SR-IOV` and `Monitoring of L2-7 data`
- SR-IOV is missing from Table 4-19

[2020-03-25 18:51] trevgc opened #1374 "[RI2] Create a table for RI-2 Installer features derived from RA-2 requirements"
Table will be a working document to list RA-2 requirements and map to features that we need from an installer for RI-2
- Flag which are MVP requirements (what is needed in N months to target next release)
- Link to the table on Wiki https://wiki.lfnetworking.org/display/LN/Table+for+RI-2+Installer+feature+list+derived+from+RA-2+requirements

An installer comparison chart will then show if an insta

[2020-03-26 05:51] fkautz commented on #1020
This is going to require a bit of time to read through and make some recommendations. I'll do this over the next week.

[2020-03-26 07:52] petorre commented on #790
Now moved to #1367 and #1376.

[2020-03-26 10:21] CsatariGergely opened #1378 "[RA2 Ch4]: Remove not open source CNI plugin"
#1370 was prematurely merged and added the not open source NSX Container Plugin to RA2. This should be removed.

[2020-03-26 11:28] rihabbanday commented on #1374
I have created a table & slowly started to add requirements (for now only the k8s installer one).

So far the only requirement that I have seen on the application provisioner is "The reference architecture must support the usage of a Kubernetes Application package manager using the Kubernetes API-s, like Helm v3." May be we should have separate tables for capturing the requirements for the node in

[2020-03-26 12:53] xmulligan commented on #1374
I think applicaiton provisioning is outside the scope of the RA and RI. The RA just says it should be supported, not that it is included.

[2020-03-26 13:24] #1031 closed

[2020-03-26 14:19] #1204 closed

[2020-03-26 15:18] CsatariGergely commented on #1340
The primary interface should use them, the question if we would like to enforce this for the secondary interfaces.
Scope are the protocols Kubernetes already supports on the primary interface (TCP, UDP, SCTP).

[2020-03-26 15:18] CsatariGergely commented on #1341
The primary interface should use them, the question if we would like to enforce this for the secondary interfaces.
Scope are the protocols Kubernetes already supports on the primary interface (TCP, UDP, SCTP).

[2020-03-26 18:21] trevgc commented on #1312
@rabi-abdel please clarify ... what is moved to the backlog? If the meeting referenced on 23rd was RA-1, the minutes don't clarify. AFAIK this issue is to discuss the types of test cases needed to guide RC and that is needed.

[2020-03-27 02:11] YuPengZTE commented on #1378
Yes, we have no way to evaluate the not open-source plugins from different dimensions, and we should evaluate more open-source plugins which are mentioned in [Networking and Network Policy](https://kubernetes.io/docs/concepts/cluster-administration/addons/#networking-and-network-policy)

[2020-03-27 10:38] rabi-abdel opened #1382 "[TSC] Define Technical Contribution Metrics"
For Fairer, More transparent method, we would like to collect the metrics of which the community feel reflective of the great work made by everybody.

[2020-03-27 12:46] rabi-abdel commented on #1321
@ASawwaf there is no figure in RM Ch01 called 1-3. was it the scope figure?

Rabi

[2020-03-27 12:50] ASawwaf commented on #1321
https://github.com/cntt-n/CNTT/blob/master/doc/tech/approach.md

it was in approach and it is fixed now ( Tomass Figure )

[2020-03-27 14:03] ASawwaf commented on #1321
@rabi-abdel, it fixed right now we can close it

[2020-03-27 21:28] petorre opened #1388 "[RA1 Ch4] 4.2.2.5 More precise on DPDK usage"
I checked with original member of DPDK team and we have more precise proposal for DPDK usage text in [4.2.2.5. Compute Nodes](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter04.md#4225-compute-nodes), separating what goes into Cloud infra vs Workload:

| Layer | Description |
|-------------|--|
| Cloud infrastructure | Important is placement of NICs to get to bala

[2020-03-27 22:17] pgoyal01 opened #1390 "[RA-1 Ch04] 4.3.1.5 Neutron"
Update with content on Network nodes and DVR

Update Figure 4-1

[2020-03-27 22:49] #1319 closed

[2020-03-28 14:56] rabi-abdel opened #1392 "test"
test

[2020-03-28 14:56] #1392 closed

[2020-03-28 15:17] rabi-abdel opened #1393 "[WSx Chxx] Test"
test

[2020-03-28 15:17] #1393 closed

[2020-03-28 15:17] rabi-abdel opened #1394 "[WSx Chxx] Test"
test

[2020-03-28 15:17] #1394 closed

[2020-03-28 18:51] yeelinglam opened #1395 "[RA-1 Ch06] Image Security"
OpenStack Reference - https://docs.openstack.org/security-guide/instance-management/security-services-for-instances.html#trusted-images/

[2020-03-28 19:00] yeelinglam commented on #1395
@rabi-abdel - I used the template and it assigned to you by default without option to re-assign.  Could that be changed?  Thanks!

[2020-03-28 19:01] rabiabdel commented on #1395
I need to figure out how to configure this since we moved to GITHUB teams. Let me try. I am assigning it to you for now.

[2020-03-28 19:13] rabi-abdel opened #1396 "test"
All labels will be automatically set.

[2020-03-28 19:13] #1396 closed

[2020-03-28 19:42] rabi-abdel opened #1398 "test"
test

[2020-03-28 19:43] #1398 closed

[2020-03-28 20:04] rabi-abdel commented on #1395
@yeelinglam it should be resolved now, please let me know if you still can not self-assign or add labels, etc

[2020-03-28 20:13] rabi-abdel opened #1400 "[TSC] Define Members Privileges and Permissions."
with the new GitHub Team, it is important to define, understand, and agree the different levels of permissions.

[2020-03-29 10:33] msidana commented on #1156
I'd be happy to work on this.

[2020-03-29 23:18] ASawwaf opened #1403 "[RA01 Ch03] Change NFVI to Cloud Infrastructure"
@pgoyal01 @rabi-abdel , Change the title of  Ch03 from "NFVI + VIM Architecture" to
" Cloud Infrastructure Architecture - OpenStack "

and add into the introduction,
This CNTT Reference Architecture (RA-1) aims to provide an OpenStack distribution agnostic reference architecture which include NFVi layer ( VIM + NFVi )

[2020-03-29 23:19] ASawwaf commented on #1403
i am ready to open PR for it

[2020-03-30 01:44] ASawwaf opened #1405 "[RA1 Ch02]: Changing NFVI to Cloud Infrastructure"

[2020-03-30 01:46] ASawwaf commented on #1405
https://github.com/cntt-n/CNTT/pull/1404

[2020-03-30 03:54] sukhdevkapur commented on #1037
@SaadUllahSheikh - Tungsten Fabric handles both OpenStack as well Containers. So, this fits well into the RM as well as both RA1 and RA2. If the team agrees, I will be happy to offer the support to get in into RI as well in the OPNFV Test bed so that it is included in RC as well.
@TFredberg - while I made my comment about OpenStack, it really applies to K8s as well.

While we are working on the de

[2020-03-30 08:15] #1311 closed

[2020-03-30 08:18] #1076 closed

[2020-03-30 09:15] fuqiao123 commented on #774
Does this issue mean we should also add the requirement in RM chp4 into the test case consideration? Can this covered by requirement in RA chp 05？

[2020-03-30 09:16] fuqiao123 commented on #865
@collivier could you please help see if we have any progress for this one, or if nothing happen in NFv bench, we probably can close this one first.

[2020-03-30 09:17] fuqiao123 commented on #916
@collivier could you see if we can accomplish this before Baldy? or we can move this to the backlog?

[2020-03-30 15:23] herrib opened #1406 "[RC1 Ch2.7.2.] Dead link to the "current test cases selected by CNTT""
https://cntt-n.github.io/CNTT/doc/ref_cert/lfn/chapters/chapter02.html#2.7.2

'2.7.2 Test case requirements:
It’s worth mentioning that current test cases selected by CNTT (https://cntt-n.github.io/CNTT/doc/ref_cert/lfn/chapters/chapter09.html) already leverages on Xtesting which is a simple framework to assemble sparse test cases and to accelerate the adoption of CI/CD best practices.'

The link

[2020-03-30 15:39] pgoyal01 commented on #1403
@ASawwaf Changed to include all changes to NFVI (all occurrences)

[2020-03-30 15:40] collivier commented on #1406
@herrib Thank you. Well catch! The content was moved by @rabi-abdel during a key refactoring and we forget a few links. Ideally CNTT should run linkcheck as for Xtesting and Functest.

[2020-03-30 15:51] pgoyal01 opened #1407 "[Tech Glossary] Cloud Infrastructure"
Cloud Infrastructure: A generic term covering NFVI and **CaaS** capabilities - essentially the infrastructure on which a Workload can be executed.

and later CaaS is defined as:
CaaS: Container-as-a-Service. A complete set of technologies to enable the management of containerised software, including a Kubernetes cluster, container networking, storage, routing, service mesh, etc.

The definition of

[2020-03-30 16:08] SaadUllahSheikh commented on #1037
@sukhdevkapur  agreed on this , I think first you should cascade working here to RI2 as per my understanding till now RC2 is not there to take K8S VNF requirements and for this it will make more sense to refer results from CNCF test bed instead of defining RC from ground up  .

[2020-03-30 16:10] pgoyal01 commented on #1406
Please change WSxx to the work stream name. Thanks

[2020-03-30 16:14] pgoyal01 commented on #1156
@msidana Thanks -- assigned to you.

[2020-03-30 21:07] pgoyal01 opened #1409 "[Tech Release notes] Delete Hallasan"
https://github.com/cntt-n/CNTT/tree/prabhubalan-patch-1/doc/tech/release_notes

Please delete Hallasan Release

[2020-03-31 09:13] karinesevilla opened #1411 "[RA1 Ch3, Ch4, Ch5] Remove Cyborg for Baldy"
Decision taken during RA1 meeting the 30th of March

Cyborg v2 API is not supported in Pike and Cyborg v1 API is obsolete. Cyborg is valuable to manage acceleration devices, but its usage must be recommended for OpenStack releases equal or upper to Train.

Rationale:
Cyborg v1 API was introduced with Pike release, with an initial API design. The changes coming with Stein release regarding new devi

[2020-03-31 09:49] #981 closed

[2020-03-31 09:51] #1152 closed

[2020-03-31 10:09] #1400 closed

[2020-03-31 16:04] yeelinglam commented on #1395
@rabi-abdel - thanks and will do!

[2020-03-31 21:09] ASawwaf opened #1415 "[Edge] Develop content under Edge use case section"
As agreed in Edge Kick -off meeting, we will start on define the following

•	Objective (High-level Objective )
•	Scope ( focus on Edge Scope, in/out the scope , Next Slide )
•	CNTT Edge Principle & Strategy
•	CNTT Edge roadmap
•	Use cases ( that CNTT Edge will focus )
•	Terminologies
•	SDO ( Engagement with other SDOs)

[2020-04-01 03:11] fuqiao123 commented on #774
No status for this one for a while. I would have the team review this one on Apr. 1st RC call and see if we should drop it.

[2020-04-01 03:16] fuqiao123 commented on #1036
I think this is just an issue RC need to make sure to accomplish. Don't think there are any obstacle for accomplishing this for the current framework of RC. Will confirm with the team on Apr.1st call and close this issue

[2020-04-01 03:20] fuqiao123 commented on #829
I am OK with all the comments and discussion above. However no exist PR related with this. Will check with the team and see if we already acomplish this one and we can close it.

[2020-04-01 03:25] fuqiao123 commented on #159
I will close this one since it is very old and all the subjects have been accomplished already.

[2020-04-01 03:25] #159 closed

[2020-04-01 03:34] fuqiao123 commented on #419
I think this issue can be accomplished by the current matrix that we are working for RA requirement and test cases in OPNFV? If so, shall we close this one once we get that matrix settle down and move that into RC chp?

[2020-04-01 03:42] fuqiao123 commented on #1281
@scottsteinbrueck we probably need a right person or process to take these working item for airship back, and we can close this one for now.

[2020-04-01 09:05] #1114 closed

[2020-04-01 09:14] #1371 closed

[2020-04-01 09:19] #1388 closed

[2020-04-01 09:21] shawnlee1976 opened #1417 "[RA1 Ch3] Change Horizon to optinal service"
Ch3.3.1.3 requires Horizon as a required service. However, most venders have built their own GUI to provide same functions of Horizon and more enhancements. I suggest that the architecture must provide a GUI for user(like required in Ch2) but Horizon should be an optianl choice. It's not a must-have service on control nodes.

[2020-04-01 09:22] #1409 closed

[2020-04-01 09:35] fuqiao123 commented on #1164
I am currently reviewing chp1 and will create a new PR for general cleanup of this chp

[2020-04-01 11:00] tomkivlin commented on #1241
Thanks for this information, very useful. I'm OK with them being kept separate from the installer comparison.  It feels like there are two approaches to this:
1. the infrastructure API has capabilities to include these settings when provisioning a machine (i.e. can the Packet API pass these settings in when provisioning a machine?)
1. if the infra API can't do it, is it something that needs to be

[2020-04-01 11:17] tomkivlin commented on #1241
Have done a diagram to help me understand/explain.  I agree that bootloader / BIOS settings will be managed elsewhere but I would like to understand the options there, and whether the installer can/should orchestrate the infra/imaging/etc. tooling.

<p><img src="https://wiki.lfnetworking.org/rest/gliffy/1.0/embeddedDiagrams/9f780d63-a3fc-4b14-b348-08cb3c508012.png"/></p>

[2020-04-01 12:23] pgoyal01 commented on #1417
@shawnlee1976 When you say "most vendors" can you specify the nature of the vendors? The Telco cloud operators all require Horizon. For various functions including operations, Tenants (or projects) utilise Horizon.

[2020-04-01 13:22] fuqiao123 commented on #774
close this since no PR created and no contributors

[2020-04-01 13:22] #774 closed

[2020-04-01 13:24] fuqiao123 commented on #1036
will close this one as it is a reminder and RC can natually support this.

[2020-04-01 13:24] #1036 closed

[2020-04-01 13:27] fuqiao123 commented on #917
I will check with Yang Yan on her plan to work on VTP in RC

[2020-04-01 13:50] #1405 closed

[2020-04-01 15:38] tomkivlin commented on #1241
@tomkivlin to update diagram based on meeting 01/04

[2020-04-01 19:46] tomkivlin opened #1420 "[TSC CONTRIBUTING] Remove requirement to always require an Issue when creating a PR"
Specifically referring to [L53-L55](https://github.com/cntt-n/CNTT/blame/master/CONTRIBUTING.md#L53-L55):

I would propose that for minor editorial changes such as typos, correcting table/figure numbers, correcting broken links etc. that a PR can and should be raised without an Issue being needed.  Proposed change being something like:

[2020-04-02 06:12] CsatariGergely commented on #1420
I like the idea.

[2020-04-02 08:55] #1350 closed

[2020-04-02 08:57] #1339 closed

[2020-04-02 09:22] shawnlee1976 commented on #1417
Umm.. yes， “most venders” are not accurate words, however some venders such as huawei and zte have their own GUIs which are not Horizon-based services. I do agree that a GUI service should be a required service in the architecture. It should  meet the requirements of operations, tenants, and etc. Just like the Horizon has provided. I just suggest that this GUI should not have to be the Horizon. An

[2020-04-02 13:33] pgoyal01 commented on #1417
@shawnlee1976 We are listing OpenStack services -- Horizon is an OpenStack service.  I hope that you can see that we in CNTT are not in a position to specify requirements for OpenStack services.  IMHO, Vendors with alternate GUIs should get their GUIs approved by OpenStack as a replacement for Horizon; make them part of OpenStack services.

The problem with listing alternate GUI is how RI and RC w

[2020-04-02 13:55] collivier commented on #1417
Horizon testing is not part yet of RC (see Functest tempest_horizon) but it's possibly a mistake.
If the results here is that Horizon is mandatory, I will push the appropriate changes in Functest CNTT containers and RC. If it's optional, it will be kept as part of IaaS verification which also runs on RI verification (RI is verified twice: IaaS verification + CNTT Conformance).

[2020-04-02 15:16] CsatariGergely opened #1421 "[RM Ch05] RM_chap5_fig_5_3_SW_profile.png is redundant"
RM_chap5_fig_5_3_SW_profile.png is in doc/ref_model instead of doc/ref_model/figures.

[2020-04-02 15:20] tomkivlin commented on #950
New issue for those mentioned in #1380 to be raised by @peterwoerndle.  Closing this issue.

[2020-04-02 15:20] #950 closed

[2020-04-02 15:23] tomkivlin commented on #1112
@tomkivlin to link PR that will fix #1338 to this issue also.

[2020-04-03 03:07] kedmison opened #1424 "[RM Ch04] Remove oversubscription from basic"
Issue #973 documented the intent to both park compute intensive flavour and to remove oversubscription from the Basic flavour.

The Parking of compute-intensive was done, but the removal of oversubscription was not.  This issue addresses the removal of over-subscription by setting CPU allocation ratio to 1:1 for Basic flavour.

[2020-04-03 03:30] kedmison commented on #1424
@pgoyal01 @karinesevilla @iangardner22 @CsatariGergely @tomkivlin @markshostak @ASawwaf

I'm raising this issue because the RM has not completed the action about setting cpu allocation ratio to 1:1 for basic, and that the RA1 now has a pull request that has both a basic flavour with 1:1 and a basic flavour with 4:1  cpu allocation ratios.

I would like to ensure we have agreement on going forward

[2020-04-03 03:56] kedmison commented on #462
closing this issue, as linked content appears to have been merged to other documents (RC) via other PRs ( #579 )

[2020-04-03 03:56] #462 closed

[2020-04-03 09:55] CsatariGergely commented on #1137
I'm okay with the suggestion of @tomkivlin in his previous [comment](https://github.com/cntt-n/CNTT/issues/1137#issuecomment-594482340).
Some additional questions:
* Do we really need to have an RA2 requirement to map the RM requirements? Can't we just use the RM requirements?
* I'm not sure how can we keep the consistency to the RM requirements. We have some options, but I'm not sure if they are

[2020-04-03 10:10] #1168 closed

[2020-04-03 10:16] #1411 closed

[2020-04-03 10:44] rabi-abdel opened #1432 "[TSC] Clarify WS relations plus relationship with other communities."
as requested by @fuqiao123 , there is a need to agree on relationship between different work streams, and with community bodies such as OPNFV, CVC, and document that.

[2020-04-03 12:47] ASawwaf commented on #1424
based on CH02 : Basic: for VNFCs that can tolerate resource over-subscription and variable latency, and we list an example of NMS , AAA , Which the performance does not matter
so to differentiate between basic and Network, i will go with 1:4 for basic

[2020-04-03 13:10] CsatariGergely opened #1436 "[WSRM Ch03]: Broken figures"

[2020-04-03 13:48] pgoyal01 commented on #1424
I wasn't in Prague when the decision, was made, and have not seen any reasonable justification for the decision, and so I will not vote on this. Please remember that is addition to some VNFs there are associated software (for example, services portals) that are perfectly OK with higher CPU Allocation Ratios.

May I suggest that the CNTT take the following position -- critique/alternate suggestions

[2020-04-03 13:51] pgoyal01 commented on #1424
PS Basic doesn't replace Compute Intensive. If I remember correctly, Compute Intensive had CPU Pinning, NUMA, huge pages and also some network throughput requirements.

[2020-04-03 13:57] CsatariGergely opened #1439 "[RM Ch08] Chapter 8 references and images are not consistent"
- There are some images just referred as url-s. There should be turned into proper links or images.
- The reference list does not always contain the link to the referenced documents
- The reference list does not contain the latest versions of the ETSI NFV documents
- The reference list contains 'raw' links in stead of linking from the title of the documents

[2020-04-03 17:30] markshostak commented on #1439
@CsatariGergely Hi Gergely, The majority (>90%) of the RMCH-8 content is about to be moved/removed. I'd suggest we close this Issue, and revisit after the dust settles, if required. Will that work for you? Have a safe weekend! -Mark

[2020-04-05 14:59] collivier opened #1441 "[RI1][RC1] Add heat-tempest-plugin in Functest"
Intergrating heat-tempest-plugin in Functest would be an added value for CNTT (RI1 and RC1).
It will help improving heat coverage.
https://github.com/openstack/heat-tempest-plugin

[2020-04-05 15:02] collivier opened #1442 "[RI1][RC1] Add swift testing in Functest"
Integrating swift testing in Functest would be an added value for CNTT (RI1 and RC1).
It will help improving swift coverage.
https://github.com/openstack/swift/tree/master/test

[2020-04-05 15:06] collivier commented on #1441
@rabi-abdel @acmacm  They are lots of similar open issues (adding test cases into Functest) related to CNTT. They are more precised than the ongoing contract between OPNFV and CNTT and would enhance the field trial. For the time being only one CNTT member is contributing here.

[2020-04-05 18:33] sukhdevkapur opened #1443 "[RA1 Ch3] Update SDN section and include Tungsten Fabric"
Update section 3.2.5 to clarify the use of OpenFlow and include Underlay/Overlay networking. Also, add a sub-section to include Tungsten Fabric

[2020-04-06 09:38] iangardner22 commented on #1424
Can we not define both.  Basic1 (1:1) and Basic4 (4:1)?   I don't recall the rationale for removing one of the key benefits of virtualisation unless predictable performance is an overarching mandate for CNTT RM for all use cases?  I get it for VNFs but not for supporting services that spend a lot of time idle.

[2020-04-06 12:14] collivier commented on #1441
https://gerrit.opnfv.org/gerrit/c/functest/+/69910

[2020-04-06 13:21] karinesevilla opened #1453 "[RA1 Ch03 Ch04] Add description of Barbican in Chap 3 and 4"
The Barbican OpenStack service described in Chapter5 is not described in Chapter 3 and 4.
Text to be added

[2020-04-06 14:32] iangardner22 opened #1454 "[RA-1 Ch3,4] Provide a table for the possible network flows"
Provide network flow diagram or table covering how traffic is managed depending on network type:
(we need a network guru to add the correct flows if I get any of this wrong)

Same Tenant Kernel OVS. Traffic uses gre/vxlan and flows from compute to compute and compute to controller
Neutron NAT. Traffic flows from the compute node to the controller and is NAT'd via Floating IP

Provider VLAN. Traffi

[2020-04-06 15:59] #1403 closed

[2020-04-06 20:49] #1378 closed

[2020-04-07 06:33] shawnlee1976 commented on #1417
I'd like to withdraw this issue. It's better to keep the status quo. Thank you all for joining this discussion.

[2020-04-07 10:23] CsatariGergely commented on #1439
Do we already know which part will be moved and which will be removed? It is still meaningfull to update the part what is not removed.

[2020-04-07 10:48] #1162 closed

[2020-04-07 10:49] #955 closed

[2020-04-07 12:40] pgoyal01 commented on #1417
@shawnlee1976 Thanks.

Closing Issue.

[2020-04-07 12:40] #1417 closed

[2020-04-07 12:49] collivier commented on #1417
@pgoyal01 It means that Horizon is mandatory then I do backport horizon testing in RC if doable, right?

[2020-04-07 12:53] pgoyal01 commented on #1417
@collivier Yes -- perform Horizon testing if doable. Thanks

[2020-04-07 22:09] kedmison commented on #1424
This is a good question.  I'll try to explain why I think it's a bad idea. I believe that this either strands resources or requires a definition of a new host-group with a different amount of physical memory.
1) I may be missing something, but the only way I know of, in Openstack, to apply an overcommit is at the compute host level (i.e. to all VMs).   Basic1 and Basic4 could thus not co-exist on

[2020-04-07 23:24] tomkivlin commented on #1424
I don't recall the discussion in Prague so apologies if I'm repeating what was already brought up. My concerns with this PR and associated issue are:
1. Should this even be in scope of CNTT? Meaning, is rigorous performance testing (e.g. comparing the performance of each cloud infrastructure or network application to a benchmark) an output of CNTT? I hadn't thought so, as we would need to be incre

[2020-04-08 06:42] CsatariGergely opened #1458 "[WSRM Ch8] Source of images is not available"

[2020-04-08 07:03] markshostak opened #1459 "[RM ChA] De-Dupe RM and Tech Content"
@rabi-abdel Per request, this Issue is to de-dupe RM Appendix A, Section 5, from Tech Section "Policies". Let me know if you want to align on what content should go to which document.

[2020-04-08 09:03] karinesevilla commented on #1424
Tom raised a good point and I think now that CPU allocation ratio should not be part of RM.
When we start writting the RM, we had OpenStack in mind and what's why the parameter was documented in RM. It may be not relevant regarding Containers on bare metal.
Configuring properly the CPU allocation ratio for an OpenStack infra is important to change the default ratio of 16:0 and It must remain in RA

[2020-04-08 09:09] markshostak commented on #1424
@kedmison

Kelvin, This was discussed ad nauseam between Prague and the RM mtgs, and then again discussed and approved by the TSC. It appears you created an issue to correct a defect (PR #1064 didn't update the 1:1 ratio), and you're attempting to use it to make a functional change (i.e add an over-subscription capability). If we want to reintroduce over-subscription, that's fine, but given the am

[2020-04-08 09:43] tomkivlin commented on #1424
Thanks Mark, I understand the background and sorry for coming in at the 11th hour.
I totally get why compute intensive was parked and fully support the simplification points. What I'm still not getting is why subscription ratios are part of the software profile as it would appear to me to mean that all implementations and deployments would need to use this ratio.  Perhaps we should add something t

[2020-04-08 12:23] markshostak commented on #1424
@tomkivlin Hi Tom,

I'm not sure why they were originally, but my impression of the intent in Issue 973 was to _remove_ over-subscription ratios, as I'm looking at it as we removed over-subscription. Full stop. As opposed to, we're specifying a 1:1 over-sub ratio. In other words, either you specify a 1:n over-sub ratio, or you turn the over-sub feature off (1:1). Granted, it's a fine line...

As f

[2020-04-08 12:27] markshostak commented on #1336
@tomkivlin Hi Tom, Just wanted to bump this one, so it doesn't go idle. Thx, -M

[2020-04-08 13:24] rabi-abdel opened #1461 "[TSC] Figures policy README"
As requested bt @kedmison , we beed a README file to explain where diagrams should be kept and include some pointers to how to use .svg files etc.

[2020-04-08 13:50] CsatariGergely commented on #1461
I can add the where the diagrams stored part, but I have no idea how to use .svg files.

[2020-04-08 13:59] #1420 closed

[2020-04-08 14:05] #1436 closed

[2020-04-08 15:07] rabi-abdel commented on #1242
by @Taylor : https://docs.google.com/spreadsheets/d/12EWZVvlumktXoywvmlYPR_DrU34e7Gk_rSED3VyCG4o/edit#gid=0

[2020-04-08 15:10] xmulligan commented on #1243
Step 1. create a list of the config parameters to go through
Step 2. choose which option to implement in the RI

[2020-04-08 15:13] pgoyal01 commented on #1242
Can we use Confluence? Google docs is inaccessible from some of the companies?

[2020-04-08 15:19] xmulligan commented on #1242
refer to #1374 for further discussion

[2020-04-08 15:19] #1242 closed

[2020-04-08 15:19] xmulligan commented on #1374
https://docs.google.com/spreadsheets/d/12EWZVvlumktXoywvmlYPR_DrU34e7Gk_rSED3VyCG4o/edit#gid=0

[2020-04-08 15:22] xmulligan commented on #1243
possibly convert to confluence?

https://docs.google.com/spreadsheets/d/12EWZVvlumktXoywvmlYPR_DrU34e7Gk_rSED3VyCG4o/edit#gid=0

[2020-04-08 16:43] pgoyal01 commented on #1374
@xmulligan The above Google docs is for RA-2 Requirements

[2020-04-09 08:21] tomkivlin commented on #1336
This makes sense and would be great it this was brought out more.  As you say, that might be sufficient along with wording in RA2.

[2020-04-09 12:52] #1390 closed

[2020-04-09 18:48] pgoyal01 opened #1463 "[RA-1 Ch04] Network Flow Diagram"
As per @iangardner22:

Can we have a network flow diagram or table covering how traffic is managed depending on network type:

(we need a network guru to add the correct flows if I get any of this wrong)
Tenant. Traffic uses gre/vxlan and flows from compute to compute and compute to controller
Provider VLAN. Traffic flows directly to/from the compute node hosting the VM via OVS
Provider VLAN DPDK.

[2020-04-09 19:35] pgoyal01 commented on #1463
Closing as duplicate of Issue #1454

[2020-04-09 19:35] #1463 closed

[2020-04-10 10:10] fuqiao123 commented on #945
According to discussion on Apr. 8 RC call, I suggest we close this issue for now and reopen it once we find necessity for adding troubleshooting

[2020-04-10 10:10] #945 closed

[2020-04-10 10:13] fuqiao123 commented on #419
I would close this issue since no activity for a long time

[2020-04-10 10:13] #419 closed

[2020-04-10 10:15] fuqiao123 commented on #1117
@trevgc according to our discussion on Apr.8, do you think you will proceed with this issue or we will continue this in RM? Would like to hear from your feedback

[2020-04-10 10:16] fuqiao123 commented on #1166
I would close this issue since no activity for this

[2020-04-10 10:16] #1166 closed

[2020-04-10 13:04] markshostak commented on #1336
@tomkivlin Hi Tom, While I have no objection to using examples in the docs, I _try_ to avoid it unless it's in an informative section. If you think any of the language above would help clarify the doc, please feel free to use them in a PR. There's a lot of material above, and you have a knack for identifying the most succinct and relevant portions. Thx, -Mark

[2020-04-10 13:50] SaadUllahSheikh commented on #1336
@tomkivlin portability may not be a necessary requirement for VM's while migration can be . I suggest in this section to reflect technologies on a high level only and reference to details form community where appropriate . For example all diagrams here shows a view of hyper visor.

Similarly i want to ask one fundamental question do this list includes all relevant technologies .I find EVS , P4 , A

[2020-04-10 16:20] #1453 closed

[2020-04-10 16:53] pgoyal01 commented on #1454
@iangardner22 is it more than what is described in [Open vSwitch: Self-service networks](https://docs.openstack.org/ocata/networking-guide/deploy-ovs-selfservice.html)

[2020-04-10 17:09] SaadUllahSheikh opened #1464 "[RM Ch3] Possible Typo/Logical error in 3.2 and 3.2.1"
3.2 The virtual infrastructure resources provided by the NFVI  -----> The virtual infrastructure resources provided by the Cloud Infrastructure

3.2.1 disc ----> disk

[2020-04-10 17:38] SaadUllahSheikh opened #1465 "[RM Ch05.1.5] Possible typo in the Title of table , also contents need update with below points"
Table 5-7: Virtual Networking Acceleration features ---->Table 5-7: Cloud Infrastructure Platform services.

Also suggest to add following in this table as minimum requirements
1. Database as a service e.g Cassandra
2. Queue e.g Rabbit MQ
3. LB and HA Proxy

[2020-04-10 17:44] SaadUllahSheikh opened #1466 "[RM Ch5] 5.2.1 Virtual compute metrics"
Suggest to consider following points

1.CPU allocation ratio of basic profile 1:4 seems very aggressive suggest to update it as per Real VNF/CNF requirements

2. Virtual RAM should be included

[2020-04-13 14:58] pgoyal01 opened #1467 "[RA-1 Ch06] Workload Security"
Develop RA-1 content for Workload Security specified in [RM 7.11.4](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter07.md#7114-workload-security)

[2020-04-14 07:12] prabhubalan commented on #1258
General clean-up done for the Chapter 01 in RC1, please refer #1451. Closing this issue after discussed with Rabi and Fu Qiao

[2020-04-14 07:12] #1258 closed

[2020-04-14 14:33] markshostak commented on #1336
@SaadUllahSheikh We should give it a title more reflective of what it is. Relevant Technologies is overly broad, and could include anything and everything. @rabi-abdel Would you be in agreement with opening an issue to find a name with a tighter scope? Thx, -Mark

P.S. P4? I'm not sure I understand the relevance to CNTT on that one.

[2020-04-14 14:35] tomkivlin commented on #1336
@markshostak I'm happy to craft a PR to attempt this, sure. Can change the title at the same time if we want?

[2020-04-14 14:52] markshostak commented on #1336
@tomkivlin @rabi-abdel I think we should revise the title. I need some insight from Rabi on what the intent of the section intrinsically is supposed to be. It's genesis was in the technology exception development, but it was forked off from Appendix A, so it may not be focused just on exceptions. Need some insight on the vision for the section... Rabi?

[2020-04-14 14:54] markshostak commented on #1336
@tomkivlin WRT to your other point, please do, and I'm happy to add any insight or provide any feedback, but I think you've got it. Thx, -Mark

[2020-04-14 15:19] pgoyal01 commented on #1156
@msidana What is the status of this? Please update. Thanks

[2020-04-14 15:42] iangardner22 commented on #1454
Yes this covers a lot of it I agree.  I guess that may be missing SRIOV / DPDK but I think the principles are the same.

[2020-04-14 16:04] #1331 closed

[2020-04-14 16:14] #1443 closed

[2020-04-14 16:15] #1458 closed

[2020-04-14 16:36] rabi-abdel commented on #1336
@markshostak the section was not intended to only focus on exception, the aim basically intended to clarify CNTT position in various technologies. so changing the title to reflect that better is OK with me. in the container questions, yes, I think adding more details about IO virtualisation and containers make sense and it is important though to clarify CNTT position in any of those approaches/tec

[2020-04-14 17:25] jayacha commented on #405
@rrajesh70 do you know if this is still open or can it be closed?

[2020-04-14 17:30] jayacha commented on #916
Recommendation to move to backlog

[2020-04-14 17:33] jayacha commented on #1035
Recommendation to move to backlog

[2020-04-14 17:42] jayacha commented on #1041
@fuqiao123 can we close this? we can further discusson the call tomorrow

[2020-04-14 17:44] jayacha commented on #591
@opensource-tnbt  any further status or can this issue be closed?

[2020-04-14 17:49] jayacha commented on #865
@acmacm can you please confirm this is done or backlog?

[2020-04-14 17:50] jayacha commented on #673
this is performance testing related, recommendation to move to backlog

[2020-04-14 17:52] jayacha commented on #511
Performance related, recommending to move to backlog

[2020-04-14 17:53] jayacha commented on #508
performance related, recommendation to move to backlog

[2020-04-14 17:56] jayacha commented on #409
@fuqiao123 Any further update please? can this be closed?

[2020-04-14 17:59] jayacha commented on #408
PR #568 already merged and closed this issue.

[2020-04-14 18:00] #408 closed

[2020-04-14 23:39] jayacha commented on #988
RI/RC were done via issue 1056 & PR 1283 (Both closed)

[2020-04-15 03:00] fuqiao123 commented on #1041
Hi, Raja. Yes. I actually spend some time go through chp0-chp4, making sure it allign with each other. And those PRs have been merged. If we can have someone help go through the rest of the doc, then we can certainly close this.

[2020-04-15 03:03] fuqiao123 commented on #409
I think we already have the initial content here. I am OK to close this. And if anyone detect further gaps to add, we can open new issue

[2020-04-15 03:04] kedmison commented on #1424
The intent was not to 'remove oversubscription' from the RM, (thus leaving it undefined and open to interpretation/customization) but to in effect ensure that oversubscription was not taking place.  From a Kubernetes/RA2 perspective, compliance should not be an issue here.  From a RA1/Openstack perspective, I think there wind up being bin-packing problems that I elaborated earlier that wind up red

[2020-04-15 08:41] collivier commented on #1441
done

[2020-04-15 08:41] #1441 closed

[2020-04-15 08:45] collivier opened #1472 "[RI1][RC1] Add tempest_horizon in CNTT"
Horizon is mandatory in CNTT and then must be covered by Functest tempest_horizon.
The test was backported to Hunter and then must be listed in RC and executed into RI.
https://gerrit.opnfv.org/gerrit/c/functest/+/69932

[2020-04-15 08:45] collivier commented on #1472
@pgoyal01 conforming with our previous discussions.

[2020-04-15 08:47] collivier opened #1473 "[RC1] Add tempest_heat in RC"
tempest_heat was added in Functest to cover Heat API.
https://gerrit.opnfv.org/gerrit/c/functest/+/69926

We do now tune it according to RA1 and add it in RC.

[2020-04-15 08:50] collivier opened #1474 "[RC1] Add swift-bench in Functest"
swift bench could enhance disk benchmarking via Functest.
https://tracker.ceph.com/projects/ceph/wiki/Benchmark_Ceph_Cluster_Performance

[2020-04-15 08:52] rabi-abdel opened #1475 "[TSC] What do we need from other communities and when"
https://wiki.opnfv.org/display/DEV/Working+Progress+Page
Basic topics includes project allocation, release management, issue tracking. I think currently CNTT may consider these as OPNFV’s things, however without figuring out what CNTT requires, OPNFV can hardly make any movement. Taking release management as an example. CNTT currently release documents 4 times a year, however RI and RC release can

[2020-04-15 08:53] collivier opened #1476 "[RI1][RC1] Add ceph bench and rbd bench into Functest"
Ceph-bench and rbd bench can enhance disk benchmarking testing
https://tracker.ceph.com/projects/ceph/wiki/Benchmark_Ceph_Cluster_Performance

[2020-04-15 08:54] collivier commented on #1476
@acmacm @rabi-abdel @fuqiao123 @scottsteinbrueck let me know if one new contributor can help here (not so difficult).

[2020-04-15 08:55] collivier opened #1477 "[RC1][RI1] Run fio or dd in Functest"
We could easily enhance cinder_test to execute a quick disk benchmark.
https://tracker.ceph.com/projects/ceph/wiki/Benchmark_Ceph_Cluster_Performance

[2020-04-15 08:56] collivier commented on #1477
@acmacm @rabi-abdel @fuqiao123 @scottsteinbrueck let me know if one new contributor can help here (not so difficult).

[2020-04-15 08:57] collivier commented on #1474
@acmacm @rabi-abdel @fuqiao123 @scottsteinbrueck let me know if one new contributor can help here (not so difficult).

[2020-04-15 08:58] tomkivlin commented on #1424
Thanks @kedmison.  My concern is that as things are worded/presented, it seems to me that an operator who chooses to over-subscribe, which is a valid design choice, would be non-conformant with CNTT?  Is that the intent?

If this is solely being stated with a view to allow the Reference Implementation to be used as a baseline for later performance testing, then that's fine, but I'd rather see a no

[2020-04-15 13:12] jayacha commented on #1041
Recommended to close based on the current review and we have general issue for cookbook which will be reviewed.

[2020-04-15 13:12] #1041 closed

[2020-04-15 13:14] jayacha commented on #591
Team Ok to close

[2020-04-15 13:14] #591 closed

[2020-04-15 13:17] jayacha commented on #405
Need to check Ch6 before closing, will follow up next week.

[2020-04-15 13:23] jayacha commented on #865
Cedric will close next week after adding test cases.

[2020-04-15 13:24] jayacha commented on #409
Ok to close from call

[2020-04-15 13:24] #409 closed

[2020-04-15 13:26] jayacha commented on #407
this was initial content, proposing to close this, but recommend to review the whole cookbook for Airship.

[2020-04-15 13:26] #407 closed

[2020-04-15 13:26] collivier commented on #865
Thank you. Alec and François-Régis for the update:
https://gerrit.opnfv.org/gerrit/c/nfvbench/+/69753

[2020-04-15 13:26] #865 closed

[2020-04-15 13:29] jayacha commented on #1165
assing to Rajesh and check for help

[2020-04-15 13:33] jayacha commented on #1281
Reviewed the open items and bring answers to the following calls

[2020-04-15 13:39] jayacha commented on #1442
waiting for help from CNTT (Requesting for resources),

[2020-04-15 13:40] jayacha commented on #1348
Assigned to @fuqiao123

[2020-04-15 13:42] jayacha commented on #1473
Tuning test cases in ch5 @collivier , to share implementation across CNTT

[2020-04-15 13:44] jayacha commented on #1472
@collivier work is completed, updting the section in RC

[2020-04-15 13:45] jayacha commented on #1474
Reviewd, requesting for volunteers to help

[2020-04-15 13:45] jayacha commented on #1477
Reviewed and requesting volunteers.

[2020-04-15 13:46] jayacha commented on #1476
Waiting for volunteers

[2020-04-15 13:53] tomkivlin commented on #1137
@CsatariGergely - I wonder whether we can massively simplify things, as per your question.

Chapter02 provides a link to the various RM chapters/sections that describe the RM requirements. Ideally, there is nothing or very little extra that needs adding here.  So, similar to the suggestion in #1338, we have:

- Chapter02: link to RM requirements, very few RA2-specific requirements
- Chapter03: des

[2020-04-16 13:22] xmulligan commented on #1374
@pgoyal01 yes the intent was to use that document to see which requirements need to be fulfilled by the installer

[2020-04-16 22:26] ASawwaf commented on #1037
@walterkozlowski @TFredberg @kedmison

Shall we close this based content developed under Approach ?

[2020-04-16 22:29] TFredberg commented on #1037
I think we can close i based on the substantial additions to approach and the lack of questions on this issue lately.

[2020-04-16 22:36] ASawwaf commented on #343
@rabi-abdel , there is no use cases in RM CH01 , so what is required here

if you mean the use cases section  5 , it is under developing for edge use cases

so please to close this issue

[2020-04-16 22:39] ASawwaf commented on #587
@kedmison shall we close this

[2020-04-16 22:40] ASawwaf commented on #716
@pgoyal01 could you please the update here

[2020-04-16 22:48] ASawwaf commented on #1028
@pgoyal01 @rabi-abdel , I think this PR not as CH08 is / will be moved

shall we close it

[2020-04-16 23:18] pgoyal01 commented on #716
@ASawwaf I made some changes. PR #1484

Not sure why this was assigned to me.

Ch03 still uses NFVI including where the Figure has been updated to "cloud Infrastructure" but the Figure legend still uses NFVI.

[2020-04-16 23:20] pgoyal01 commented on #1028
@ASawwaf I was trying to point out issues with some of the content. Now that the content has been moved, yes we can close this issue or edit and transfer to where the content has been moved.

[2020-04-16 23:32] ASawwaf commented on #1028
@pgoyal01 Thanks
@kedmison it is ready to close

[2020-04-17 01:47] walterkozlowski commented on #1037
@ASawwaf   I agree with @TFredberg that we can close this issue now.  I still have my contents which I am planing to use later on when we write more details about programmability.

[2020-04-17 02:52] zhouhuijing commented on #1454
I understand that your requirement is to add the packet processing of dpdk and sriov into the diagrams of  https://docs.openstack.org/ocata/networking-guide/deploy-ovs-selfservice.html . And, we also need DVR scenario, including SDN and non-sdn. If my understanding is correct, I think I can try.

[2020-04-17 10:09] #1209 closed

[2020-04-17 10:17] CsatariGergely opened #1486 "[WSRM Ch1-Ch6] VIM, SW and HW is still mentioned in RM"

[2020-04-17 14:37] #739 closed

[2020-04-17 14:37] #1335 closed

[2020-04-17 14:37] #1432 closed

[2020-04-17 14:39] #1217 closed

[2020-04-17 16:51] iangardner22 commented on #1454
Yes this would be cool.  Thanks!

[2020-04-20 15:26] kedmison commented on #1424
@tomkivlin The primary argument is that some workloads will require an expectation of performance from Basic, and cannot tolerate overbooking.  So, from an RM perspective, yes, I think that the operators must make available a non-over-subscribed basic, and if they want to have an additional, overbooked variant of Basic, I believe it should be outside of CNTT but an operator is not prevented from d

[2020-04-20 15:41] #1174 closed

[2020-04-22 11:30] tomkivlin commented on #1184
From VF2F: remove the specification re. deb/rpm. Review #1380 and #950 and pull out a list of what Container Host OS "things" will affect the exposing of infra capabilities to the workloads.

[2020-04-22 11:33] tomkivlin commented on #1279
From VF2F: @tomkivlin to update once PR for restructure is in place.

[2020-04-22 11:37] tomkivlin commented on #1341
From FV2V: created from a comment in weekly meeting.
@CsatariGergely to clarify requirement, possible solutions and/or gaps to include in chapter08.md

[2020-04-22 11:38] tomkivlin commented on #1340
as per #1341

[2020-04-22 11:47] tomkivlin commented on #1059
From VF2F: an appendix to be created with some guidance about the approach of sharing k8s clusters or not.  From that, we can start to identify potential gaps to include in chapter08.md.

[2020-04-22 11:48] tomkivlin commented on #1186
From VF2F: @tomkivlin to link to PR being drafted, review this issue once that is raised.

[2020-04-22 11:56] tomkivlin commented on #1205
VF2F: @CsatariGergely @tomkivlin @xmulligan to raise in TUG - maybe this should flow into the CNF Conformance program tests?  Need to consider that the Operator itself will be accessing the Kubernetes control plane and so the already-running Custom Resources will continue to run without issue, the Operator may through errors - e.g. do we need error handling tests in CNF Conformance?

[2020-04-22 12:03] tomkivlin opened #1492 "[RA2 Security] Renumber chapter06.md"
Any security specifications (to be implemented by RI2, tested by RC2) in chapter04.md, chapter05 is being removed so make Security guidance in now chapter05.md.

[2020-04-22 12:05] tomkivlin commented on #901
PR to be created after #1492 is complete.

[2020-04-22 12:09] tomkivlin commented on #900
as per #1059

[2020-04-22 12:12] tomkivlin commented on #899
@CsatariGergely to split into separate issues/PRs or not.

[2020-04-23 08:16] zhouhuijing commented on #1454
shawnlee1976 will help me draw these diagrams. Can you send me your email for our further discussion?

[2020-04-23 15:18] xmulligan opened #1495 "[TSC Glossary] Define test related terminology applicable across workstreams"
Notes from April virtual meeting:
Platform performance
We need a baseline/control implementation to use as the comparison that all other deployments of the RI compare against.
One principle is the RI is self-contained, so can't compare against each other.
RI1 performance test wasn't intended to compare to a control deploy, but to understand a potential BOM to get a particular performance.  To char

[2020-04-23 15:35] xmulligan opened #1496 "[RA2 Ch02] Specify Workload Requirements"
RA needs to specify CNF requirements to be tested in RC2

From April virtual meeting:

**CNF artefact compliance**
- is CNF Conformance looking to test CNF and the platform?  what's the scope and direction?
   - main scope is cloud native principles and capabilities of the platform/CNF - no functional testing of the CNF or platform otherwise
   - available now is the workload test - the framework

[2020-04-23 21:23] pgoyal01 commented on #1454
@zhouhuijing Thanks. Are you asking for @iangardner22 email?

[2020-04-24 12:27] #1467 closed

[2020-04-24 12:31] #716 closed

[2020-04-24 14:35] pgoyal01 opened #1498 "[TSC OSTK-Release] OpenStack Release Selection Criteria"
Create Criteria document based on the 22 April 2020 vF2F discussions

[2020-04-24 16:47] pgoyal01 opened #1499 "[RA-2 Ch04] 4.5 CNI Plugins"
[4.5 CNI Plugins](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter04.md#45-cni-plugins) refers to DANM for meta plugin in the text implicitly implying it to be the preferred meta plugin. I don't believe that to be the intent but we should correct any perceptions.

IMO, from a requirements perspective, we should only evaluate features that should be performed by a

[2020-04-26 10:30] licayun opened #1501 "[RA-1 Ch4] Change the sizing rules of control nodes"
For some edge cloud there are only a few of compute nodes. Three control nodes are a little wasteful for such an environment.
And For Large-scale cloud there more thhan 1000 compute nodes.Four control nodes are some shortcomings for such cloud
So I suggest that we set principles but not strict restrictions for numbers of control nodes

[2020-04-26 10:42] licayun opened #1502 "[RA-1 Ch4] Change the reservation cpus for os on compute nodes"
The reservation cpus for os withou DPDK is only 2. This seems a little bit, after all, there are other components running in addition to os, nova

[2020-04-26 11:18] tianliangma opened #1503 "[RM Ch07] Strong separation between tenants"
7.4.3 Platform security requirements "Strong separation between tenants - ensuring network, data, and runtime process isolation between tenants"

 In addition to the above, it should also contain   CPU running core isolation and memory isolation  between tenants

[2020-04-26 11:19] tianliangma opened #1504 "[RM Ch07] Enforce mandatory access control (MAC)"
7.5.1.1 The high-level functions of these different access controls

Enable mandatory access control, such as selinux, to prevent illegal access

[2020-04-26 11:19] tianliangma opened #1505 "[RM Ch07] NTP timing should be encrypted"
7.5.1.2 The following general security requirements apply to the platform:
Data Centre Operations staff and systems must use management protocols that limit security risk such as SNMPv3, SSH v2, ICMP, NTP, syslog, and TLS.

Obtaining NTP requires encrypted transmission to ensure the security of the clock

[2020-04-26 11:20] tianliangma opened #1506 "[RM Ch07] Prohibit root remote login"
7.5.1.2 The following general security requirements apply to the platform:
No login to root on any platform systems (platform systems are those that are associated with the platform and include systems that directly or indirectly affect the viability of the platform).  

Prohibit root remote login, or not allow root login? Does this local expression refer to the former?

[2020-04-26 11:21] tianliangma opened #1507 "[RM Ch07] NTP timing should be encrypted"
7.5.2 Platform ‘back-end’ access security
Data Centre Operations staff and systems must use management protocols that limit security risk such as SNMPv3, SSH v2, ICMP, NTP, syslog, and TLS.

Obtaining NTP requires encrypted transmission to ensure the security of the clock

[2020-04-26 11:22] tianliangma opened #1508 "[RM Ch07] Prohibit root remote login"
7.5.2 Platform ‘back-end’ access security
No login to root on any platform systems (platform systems are those that are associated with the platform and include systems that directly or indirectly affect the viability of the platform).

Prohibit root remote login, or not allow root login? Does this local expression refer to the former?

[2020-04-27 12:55] collivier opened #1510 "[RC1] Add telemetry-tempest-plugin in Functest"
It may enhance Aodh, Gnocchi and Ceilometer testing
https://github.com/openstack/telemetry-tempest-plugin

[2020-04-27 13:07] karinesevilla opened #1511 "[RA1 Ch06] System Hardening"
Initial content needed  for section 6.3.2
@yeelinglam This issue is assigned to you, let me know if it's  okay

[2020-04-27 13:09] karinesevilla opened #1512 "[RA1 Ch06] Security LCM"
Initial content needed for section 6.3.6

[2020-04-27 13:13] #1332 closed

[2020-04-27 13:20] #1348 closed

[2020-04-27 13:30] collivier opened #1513 "[RA1] Add Heat template_version in Chapter5"
Template_versions supported must be added in RA1 Chapter5
https://docs.openstack.org/heat/pike/template_guide/hot_spec.html#pike

[2020-04-27 14:13] iangardner22 commented on #1454
@zhouhuijing - I can be reached firstname<dot>lastname@vodafone.com  (I won't put my email address here :-) )

[2020-04-28 12:06] kedmison commented on #376
Closing as Chapter 8 content has now moved to RI and RC workstreams.

[2020-04-28 12:06] #376 closed

[2020-04-28 12:07] kedmison commented on #1027
Closing as Chapter 8 content has now moved to RI and RC workstreams.

[2020-04-28 12:07] #1027 closed

[2020-04-28 12:07] kedmison commented on #1028
Closing as Chapter 8 content has now moved to RI and RC workstreams.

[2020-04-28 12:07] #1028 closed

[2020-04-28 12:25] kedmison commented on #727
@tomkivlin, @TamasZsiros can you please take a look to see if anything else is needed?  If nothing is needed we could close this issue in time for the Baldy release.

[2020-04-28 12:27] tomkivlin commented on #727
Yes, all good for me.

[2020-04-28 12:29] kedmison commented on #727
Closing as this has been addressed through other PRs.

[2020-04-28 12:29] #727 closed

[2020-04-28 13:18] ASawwaf commented on #1475
@rabi-abdel , we need to cover all other communitieSS , with different coverage for CNTT

for sure CNTT-OPNFV mapping/dependency is huge but on the other side, we need to have a wide view on others as we start with TIP

So this PR is good to have a clear interlocking between all SDO ( Input -Output )

[2020-04-28 14:00] rabi-abdel commented on #1475
@ASawwaf Yes, I think we can tackling them one by one.

[2020-04-28 14:02] rabi-abdel commented on #1459
@markshostak Yes, will like to address this as soon as possible. Can this be discussed during RM meeting? or we can have a quick 1:1 to align on this.

[2020-04-28 14:18] ASawwaf commented on #343
@rabiabdel , any further comments here

[2020-04-28 15:50] pgoyal01 opened #1519 "[RA-1 Ch02] Incorporate RM Ch07 Consolidated Security Requriements"
Incorporate [RM 7.11 Consolidated Security Requirements](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter07.md#711-consolidated-security-requirements) in [RA-1 2.3.8 Security Requirements](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter02.md#2.3.8) and [RA-1 2.4.8 Security Recommendations](https://github.com/cntt-n/CNTT/blob/master/doc/re

[2020-04-28 19:37] #1513 closed

[2020-04-29 06:55] CsatariGergely commented on #1007
#1493 solves this on RM level with a proposal on the flavor names.
@rabi-abdel , @pgoyal01 please check the proposal from RA1 point of view
@rabi-abdel , @tomkivlin however flavors can not be interpreted on a Kubernetes environment, but maximum sizes of Pods and used capabilities can be. We should check the proposal and think about how to implement it to RA2.

[2020-04-29 07:49] CsatariGergely opened #1522 "[RA2 Ch4]: Fixing of mistyped values in CNI comparision table"
In #1379 I [mistyped the value of the last entry of the CNI comparision table](https://github.com/cntt-n/CNTT/pull/1379/files#diff-54288da3967ac685c0ef740b131abd0aL123). Also the number of these requirements and a title of the table is missing.

[2020-04-29 11:07] rabi-abdel commented on #1007
@CsatariGergely Yes, sounds good.

[2020-04-29 12:05] tomkivlin opened #1525 "[RA2 Ch04] Modify specifications into table with references"
As per suggestion in #1186:
https://github.com/cntt-n/CNTT/issues/1186#issuecomment-594448078

[2020-04-29 12:07] tomkivlin commented on #1020
@fkautz - could you advise if a PR is imminent? The Baldy deadline is this Friday, so if not we can move to the Backlog to deal with it as part of the next release.

[2020-04-29 12:07] tomkivlin commented on #982
@peterwoerndle could you advise if a PR is imminent please? The Baldy deadline is this Friday, so if not we can move to the Backlog to deal with it as part of the next release.

[2020-04-29 13:00] pgoyal01 commented on #1007
@CsatariGergely Flavor naming is flexible in  OSTK and so this proposal is OK

[2020-04-29 13:15] kedmison commented on #343
Closing this issue, per @rabi-abdel, as the use cases have moved to the Tech chapter.

[2020-04-29 13:15] #343 closed

[2020-04-29 13:17] kedmison commented on #395
Decision per meeting 2020-04-29: to leave this discussion to RI/RC meetings where OPNFV engagement is occuring.

[2020-04-29 13:17] #395 closed

[2020-04-29 13:19] jayacha commented on #405
Rajesh to share the content for this chapter and hope to review and close in the next call

[2020-04-29 13:25] #1069 closed

[2020-04-29 13:27] #988 closed

[2020-04-29 13:28] jayacha commented on #1043
Based on the discussion, suggesting to take this in to the weekly Technical discussion call.

[2020-04-29 13:30] tomkivlin opened #1526 "[RI2 Ch01] Initial Content"
As per action from April vF2F

[2020-04-29 13:31] tomkivlin opened #1527 "[RI2 Ch02] Initial Content"
As per action from April vF2F.

[2020-04-29 13:31] tomkivlin opened #1528 "[RI2 Ch03] Initial Content"
As per action from April vF2F

[2020-04-29 13:32] tomkivlin opened #1529 "[RI2 Ch04] Initial Content"
As per action from April vF2F

[2020-04-29 13:33] tomkivlin opened #1530 "[RI2 Ch05] Initial Content"
As per action from April vF2F.

[2020-04-29 13:34] tomkivlin commented on #1529
Notes from vF2F Etherpad:
- we don't think there will be many prerequisites
- for RI1 artefacts are stored in OPNVF repo, think they still are
- we may need to store them for now since OVP 2.0 isn't ready yet
- 4.4 should be removed since it is RC2
- OPNFV has it's own repos for airship and configuration inputs, but this is still under discussion for OPNFV 2.0
- Airship has a clone under OPNFV sep

[2020-04-29 13:35] jayacha commented on #1165
Based on the discussion, we could reference to Pharos and we may not need this in here.

[2020-04-29 13:35] tomkivlin commented on #1528
From Etherpad notes:

- try to describe general requirements rather than provider specific ones access and connectivity shouldn't be Azure specific
- What does the infrastructure need to provide for the installer(s)
- Should we have a bill of materials? Yes, but we should rely upon best practices already available in the Kubernetes community
- do we need to define a control lab that others can be

[2020-04-29 13:36] tomkivlin commented on #1527
From Etherpad notes:

- RI should support air gapped
- traffic generation should be requirement but maybe in chapter 3

[2020-04-29 13:46] jayacha commented on #1281
Team is reviewing the Airship gaps, James Gu reviwing the gaps and suggesting to start the issue with CIRV

[2020-04-29 14:17] kedmison commented on #175
Per RM meeting 2020-04-29, closing as duplicate of the following issues:
Extensions framework pull: #1354
VNF backward evolution: #1008
VNF forward evolution: #1009

[2020-04-29 14:17] #175 closed

[2020-04-29 15:19] tomkivlin commented on #1241
PR to be created once #1528 is complete.

[2020-04-29 15:20] tomkivlin commented on #1243
PR needed to add content to ch02 and ch04. After #1527 and #1529 are closed.

[2020-04-29 15:20] tomkivlin commented on #1244
PR to create content in ch04 after #1529 closed.

[2020-04-30 03:39] YuPengZTE opened #1534 "[RA-2] Remove containerised in RA-2"
It is better to replace "containerised" with "cloud native" in [RA-2](https://github.com/cntt-n/CNTT/search?q=Containerised&type=Code)?

[2020-04-30 07:41] CsatariGergely commented on #1499
The metaplugin has affect an almost all networking features, therefore a full analyzis of the requirements is needed. The table proposed in #1532  marks the non relevant features, like SFC as "Non relevant", there fore #1532 should close this issue.

[2020-04-30 08:36] #1160 closed

[2020-04-30 08:53] #1472 closed

[2020-04-30 08:54] #1473 closed

[2020-04-30 10:37] #1519 closed

[2020-04-30 10:46] rabi-abdel opened #1538 "[RA-2 Ch04] Shall requirements listed in Ch04 moved to Ch02?"
There are requirements listed as bullets points in Ch04 for each of the components, shall they be more structured (i.e. added into a table or moved to Ch02)?

@tomkivlin @CsatariGergely

[2020-04-30 10:56] tomkivlin commented on #1538
@rabi-abdel yes, but I think this is covered by #1525?

[2020-04-30 13:31] pgoyal01 opened #1542 "[RM Ch01] Language"
"open source implementations that have an open governance model"

I think the intent here is to say that the "open source implementations" should be from sources with an "open governance model" but that is not what it says.

[2020-04-30 13:35] pgoyal01 opened #1543 "[RM Appendix A] Change Name"
Appendix A - Guidelines For VNF Vendors

needs to be changed to

Appendix A - Guidelines For Application Vendors

[2020-04-30 14:43] karinesevilla opened #1545 "[RA1 Ch06] Minor: bogometer change + wording"

[2020-04-30 15:11] #1112 closed

[2020-04-30 15:43] #1137 closed

[2020-04-30 15:44] #1338 closed

[2020-04-30 15:51] tomkivlin commented on #1538
Confirmed it is.

[2020-04-30 15:51] #1538 closed

[2020-04-30 15:55] #1004 closed

[2020-04-30 16:34] #1545 closed

[2020-04-30 17:15] kedmison commented on #1424
@pgoyal01 @tomkivlin  I see in RA1 that Table 4.2 has already defined a B1 with no overbooking and a B4 with overbooking.  Can we align on the RM specifying no overbooking (to be consistent across RA1 and RA2) and then the RA1 allowing the use of overbooking by specifying an additional Basic4 flavour there that is not specified at the RM level?

[2020-04-30 17:23] tomkivlin commented on #1424
@kedmison - I agree there needs to be consistency.  For me, I would be happy with your proposed approach if we could add a note saying the purpose of this is for performance benchmarking purposes, meaning operators can choose different ratios if they accept the risk of an impact on performance.  I'll suggest a change in the PR.  Once that PR is merged, I'll do one to update RA2.

[2020-04-30 17:41] tomkivlin opened #1548 "[RA2 Ch01] Update credit for Cloud Native Principles"
From [#1483](https://github.com/cntt-n/CNTT/pull/1483#pullrequestreview-403736461):

The CNCF TUG (Telecom User Group) is also working on a set of Cloud Native Principles at more detail than the existing CNCF definition: Expanded Cloud Native Principles.

We might want to expand who is getting credit on contributing. We brought the principles to the TUG for review and collaboration, as well as oth

[2020-04-30 18:39] pgoyal01 commented on #1424
@kedmison RM specified a 4:1 allocation ratio (and it is also in RI-1) and when you started that there should be a no over allocation Basic, we decided to include both while a decision was made on which is it to be.

In RA-1 we can add a note about performance implications -- BTW not necessarily the case if the application really doesn't need the capacity. Any adds will now be in the next release.

[2020-04-30 19:22] #1424 closed

[2020-04-30 21:35] kedmison commented on #1007
Can we agree that this issue can be closed when the PRs for #1008 and #1009 are closed?

[2020-04-30 21:46] #1511 closed

[2020-04-30 22:19] sukhdevkapur commented on #1017
We will be discussing and addressing this in the Networking Focus Group. Based upon the outcome of decision, this issue will addressed appropriately.

[2020-04-30 22:19] sukhdevkapur commented on #1015
We will be discussing and addressing this in the Networking Focus Group. Based upon the outcome of decision, this issue will addressed appropriately.

[2020-04-30 22:20] sukhdevkapur commented on #1019
We will be discussing and addressing this in the Networking Focus Group. Based upon the outcome of decision, this issue will addressed appropriately.

[2020-05-01 02:13] kedmison commented on #875
RI1 is currently internally inconsistent; it has 20 cores (same as RM) in the [RI1 Chapter03 section 3.4](https://github.com/cntt-n/CNTT/blob/master/doc/ref_impl/cntt-ri/chapters/chapter03.md#34-nfvi-hardware-profile) but it has 24 cores in [RI1 Chapter 4 section 4.2.1](https://github.com/cntt-n/CNTT/blob/master/doc/ref_impl/cntt-ri/chapters/chapter04.md#421-physical-server-requirements).

Given t

[2020-05-01 08:24] #1009 closed

[2020-05-01 09:33] collivier commented on #1510
done

[2020-05-01 09:45] #1486 closed

[2020-05-01 09:45] #875 closed

[2020-05-01 09:49] collivier commented on #1510
@pgoyal01 @karinesevilla @iangardner22 Let me know if telemetry becomes mandatory in Chpt 5.

[2020-05-01 10:10] karinesevilla opened #1552 "[RM Ch07, RA1 Ch02] Alignement with ONAP security requirements"
Per discussion during CNTT-ONAP joint session, April's Virtual conference
References to ONAP securtity requirements, mainly about workloads can be added in chapter 6

[2020-05-01 13:24] pgoyal01 commented on #1156
Moved to Backlog as requires extensive review in coordination with RC-1

[2020-05-01 13:26] #829 closed

[2020-05-01 13:26] #1164 closed

[2020-05-01 13:26] pgoyal01 commented on #1454
Major effort required including coordination with Network FG work.

[2020-05-01 13:33] #1037 closed

[2020-05-01 13:35] #1395 closed

[2020-05-01 13:37] #1475 closed

[2020-05-01 14:41] #638 closed

[2020-05-01 14:44] #1512 closed

[2020-05-01 15:11] #1415 closed

[2020-05-01 16:31] trevgc commented on #1495
CNTT objectives with respect to RC workstream includes driving a conformance (badging) program for Cloud Native Infrastructure and CNFs. The conformance program (OVP2.0) specifies three classes of conformance testing.

1. CNCF has proposed a CNF conformance program in collaboration with OVP2.0. CNCF CNF conformance aims to provide criteria for "CNF cloud nativeness"
2. ONAP is evolving VNF conform

[2020-05-01 16:55] yeelinglam opened #1554 "[RA1 Ch06] Fix formatting and clean up HTML code"
Change any HTML to Markdown and clean up the table formats

[2020-05-01 17:02] #1499 closed

[2020-05-01 18:29] #1008 closed

[2020-05-01 19:07] tomkivlin opened #1555 "[RA2 Ch04] Review wording re. multiplexer"
See comments: https://github.com/cntt-n/CNTT/pull/1532#pullrequestreview-404261767

Also align with #1499.

[2020-05-04 09:40] collivier opened #1556 "[RA1][RC1] mismatch about IPv6"
I think there is a mismatch between RA and RC about IPv6.
A few IPv6 tests are currently skipped in RC and I think I do rather enable it in Functest (CNTT Compliance) and RC.

https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter02.md
| `req.inf.ntw.16` | Network | The Architecture **must** support dual stack IPv4 and IPv6 for tenant networks and workloads.| |

https:/

[2020-05-04 10:13] collivier commented on #1556
@rabi-abdel In fact it's even worse as it refers to Functest without any Functest contributor involved.
Commenting this tab doesn't fix the bug and more important doesn't match CNTT role and OPNFV meritocraty. No CNTT role allows speaking on behalf of Functest without contributing.

[2020-05-04 17:00] #1556 closed

[2020-05-05 15:17] tomkivlin commented on #1522
Fixed in #1532.

[2020-05-05 15:17] #1522 closed

[2020-05-06 13:09] jayacha commented on #405
@rrajesh70 , @jayacha ,@jgu17 will meet this week to address this

[2020-05-06 13:11] jayacha commented on #1043
@fuqiao123 , will check with her when she get back from vacation.

[2020-05-06 13:17] jayacha commented on #1165
Need to review, plan to have a small meeting to address this issue (Rajesh, Sridhar, Raja, James).

[2020-05-06 13:31] jayacha commented on #1281
@scottsteinbrueck suggesting to not breaking this out for now and track the progress and set resolution dates. may need to break the Airship gaps.

[2020-05-06 13:52] jayacha commented on #1442
@collivier requesting to add additional swift tests for additional coverage of the requirements to improve the test coverage (related to RA1 ch5 section5.2.4 swift). this issues not related to Airship 39/40/41. also Recommending to add functest to the agenda for the next cross community meetings and request for volunteers and developers.

[2020-05-06 13:54] jayacha commented on #1474
@collivier requesting to add additional swift tests (bench mark)for additional coverage of the requirements to improve the test coverage (related to RA1 ch5 section5.2.4 swift). this issues not related to Airship 39/40/41.

[2020-05-06 13:55] jayacha commented on #1477
@collivier requesting to add additional swift tests(Bench Mark) for additional coverage of the requirements to improve the test coverage (related to RA1 ch5 section5.2.4 swift). this issues not related to Airship 39/40/41.

[2020-05-06 13:56] jayacha commented on #1476
@collivier requesting to add additional swift tests for additional coverage of the requirements to improve the test coverage (related to RA1 ch5 section5.2.4 swift). this issues not related to Airship 39/40/41.

[2020-05-07 08:14] #1510 closed

[2020-05-07 16:48] jayacha commented on #1043
This issue has no interest and has been idle. recommendation is to close on the next call on May 13th.

[2020-05-07 17:08] jayacha commented on #405
@rrajesh70 will update this section on this chapter for review

[2020-05-08 13:08] visnyei opened #1566 "[TSC Glossary] Pcpu and multithreading terms used incorrectly"

[2020-05-10 10:36] ASawwaf opened #1569 "[Edge-RM CH02] New Profile for Edge ( vRAN ,..)"
Dears, this issue for more decision about how can we cover the vRAN or/and any workload required the same requirements ( FPGA ) at the edge, we agreed during Edge meeting that we need to have a new profile so

we have 2 options :
1- Re-activate the Compute intensive
2- Create a new profile

[2020-05-11 12:38] bfcohen opened #1571 "[WSall Chall] Tech Edit"
This Issue covers the need for a tech edit of the documents in the Baldy Release.

[2020-05-11 14:31] pgoyal01 opened #1572 "[RA-1 Ch03/Ch04] NFG Networking model implementation"
Incorporate NFG designs into CH03/Ch04

[2020-05-11 14:37] pgoyal01 commented on #1055
Closing as duplicate of Issue #1080

[2020-05-11 14:37] #1055 closed

[2020-05-11 14:41] pgoyal01 opened #1573 "[RA-1 Ch03/04] Network Edge"
Incorporate Network Edge

[2020-05-11 14:47] pgoyal01 opened #1574 "[RA-1 All] Consistency review of current chapters"
E2E review.

[2020-05-12 07:00] fuqiao1 commented on #917
Didn't receive positive answer from Yang Yan. Will discuss about this issue on May 12 meeting

[2020-05-12 15:58] kedmison commented on #1569
Compute-optimized was intended as a 'better' version of basic; either faster vCores, or more vCores.  FPGAs are an entirely different computational paradigm, using entirely different binaries (FPGA bitstreams), rather than x86 instruction sets.

For this reason, I would recommend introducing this as a FPGA profile.
This profile should also explore the required vCPU count, RAM, etc and also address

[2020-05-13 13:15] fuqiao123 commented on #917
According discussion on May 13, suggest to create new issue to comment out all VTP related content in the RC doc.

[2020-05-13 13:16] fuqiao123 commented on #917
We can remove the content and revert the change if needed later

[2020-05-13 13:26] fuqiao123 commented on #1314
According to discussion on May 13, the issue are covered in current version of RC.

[2020-05-13 13:26] #1314 closed

[2020-05-13 13:30] pgoyal01 commented on #1315
The following still needs to be addressed:
Verify if the OpenStack services have been deployed and configured correctly? (not listed in the bullets)

[2020-05-13 14:04] kedmison commented on #1569
RM meeting 2020-05-13: We are not opposed to a workload profile for FPGA, but need vendor-independent characterization of the  FPGA adapter card capabilities prior to defining the profile.

[2020-05-13 16:16] ASawwaf commented on #1569
thanks all for our discussion today, we will continue to cover this in edge meeting 2020-05-14
but it makes my life more complicated, i need big support from @petorre @trevgc if we can find some characterization, which I believe the FPGAs as Technologies by nature has independent characterization due to the Fact of the use case that it used for

[2020-05-13 17:26] tomkivlin commented on #646
chapter removed - closing

[2020-05-13 17:26] #646 closed

[2020-05-13 17:28] tomkivlin commented on #644
chapter this originally referred to is removed, closing issue.

[2020-05-13 17:28] #644 closed

[2020-05-14 04:16] mkr1481 commented on #917
Hi @fuqiao123 I believe this case is created to add adopter for VTP in xtesting and currently as VTP provides the result in OVP format, so this integration is observered as low priority. But this integration can be enabled which would help to trigger the on-boarding test cases from xtesting as part of other certification testing of VNF as mentioned in the issue details

And we are using VTP for VN

[2020-05-14 06:32] fuqiao1 commented on #917
Hi. I think according to yesterday's RI & RC call, the RC focus on infrastructure compliance right now, and VTP is more for VNF compliance, which is not currently in the scope of RC. I would also understand that all the RC testing are done according to requirements in RA, however currently in RA there is no requirement for VNF, therefore no compliance test cases of VNF in RC. I am not sure if I un

[2020-05-14 08:38] tomkivlin opened #1581 "[RA2 Ch5] Change wording from requirement style to guidance style"
As per agreement in the vF2F, this chapter is for security guidance only (i.e. wording should be e.g. "it is recommended that...") and not specifications, which will need to go in chapter04.md

[2020-05-14 10:23] ASawwaf opened #1582 "[RM Ch04] Section 4.2.6 Cloud Infrastructure Profile Performance Measurement Mapping"
4.2.6 Cloud Infrastructure Profile Performance Measurement Mapping

Comment: To be worked on.

This section is under development, can we figure out the purpose of this section

[2020-05-14 10:28] ASawwaf opened #1583 "[RM Ch05] 5.1.4 Security"
5.1.4 Security
Comment: To be worked on.

what is the content that should be there

[2020-05-14 11:32] rihabbanday opened #1584 "[RI2] Baremetal provisioner"
Following up on the discussion from yesterday's meeting, define the mentioned proposal of using former OPNFV BM engine based on Bifrost in RI-2 in the wiki,
mainly covering the scope, requirements & results of initial investigations in the OPNFV Lab related to the proposed baremetal installer.

[2020-05-14 12:23] peterwoerndle commented on #1059
@xmulligan Did you start to draft something related to this? Are you planning to look in general into handling of cluster-wide resources or will you mainly describe the shared vs. dedicated cluster implications?

[2020-05-14 12:36] xmulligan commented on #1059
@peterwoerndle I was mainly going to focus on shared vs dedicated. Do you want to do intra cluster?

[2020-05-14 14:46] pgoyal01 opened #1586 "[RA-1 Ch05] Change "Minimal microversion" to "Maximal""

[2020-05-14 14:58] trevgc commented on #1569
I was told that even today it is possible to design a very low capacity FlexRAN solution without FPGA. To be verified what this really means but I think highlights that we need to be careful about assuming a profile is dependent on any particular technology.

[2020-05-14 15:47] pgoyal01 opened #1588 "[RA-1] Update bogo-meters"

[2020-05-14 15:48] TFredberg commented on #1569
I agree with @trevgc that CNTT should not assume that it is impossible to run a specific workload without some special HW that might make the workload run more efficient or live up to hard characteristics requirements.

There is however a need in all cases to specify the characteristics needs from the workloads and the characteristics capabilities from the infrastructure resource instances in any

[2020-05-14 16:47] tomkivlin commented on #1495
From meeting 14th May:
- Agreement in April vF2F was to ensure RA2 includes all CNF requirements - e.g. cloud nativeness, which abstractions to use/expect, etc. - #1496 has been raised to address this.
- Consider ONAP as a method for deploying CNFs, rather than a source of requirements for RC2 (i.e. if OVP2.0 wants to take ONAP requirements they do so from ONAP, not from RC2).
- Re. Performance Te

[2020-05-15 07:32] walterkozlowski commented on #1574
@pgoyal01, I started reviewing and I have found quite a few issues with Chapter 1 Overview, that I think it is better if I document them here, before passing to the next chapters. I tried to pretend to be a newcomer without any prior knowledge about this document or other CNTT documents.
@rabi-abdel and @kedmison you may be interested in these observations as well, e.g. because of some unclear sta

[2020-05-15 10:39] EditKoselak opened #1590 "[RM Ch09] Rephrasing "total CPU used""

[2020-05-15 11:05] EditKoselak opened #1592 "[RI Ch06] Installer prerequisite improvement"

[2020-05-15 12:21] rabi-abdel commented on #1574
Really Great review @walterkozlowski
Added @bfcohen to the conversation to see if we can get some of those fixed for baldy as well.

[2020-05-15 15:30] pgoyal01 opened #1594 "[RA-1 Ch01] Fix links"
Section 1.3 links

[2020-05-15 15:48] #1007 closed

[2020-05-15 15:54] karinesevilla opened #1596 "[Tech OSTK-release] Addition for Triggering events 1.1"
The first triggering event is :
"Complete change in architecture: OpenStack or OpenStack Service"
Proposal to add a major change in API of a mandatory service
and replace the sentence by
"Complete change in architecture: OpenStack, OpenStack Service or major change in the API of a mandatory OpenStack service"

[2020-05-15 15:59] pgoyal01 commented on #1574
@walterkozlowski Great review and feedback. I have fixed the links issue although the Terminology file is currently empty.

Have fixed all of the identified issues in Ch01.

W.r.t. "Traceability to Reference Model" -- the requirements in RM need to be made consistent in terms of their numbering scheme, duplicates deleted, etc. There are issues open in both RM and RA-1 (for when RM fixes their requ

[2020-05-15 16:26] pgoyal01 commented on #1574
@rabi-abdel can the corrections - PR #1595 (and linked issue $1594) - during proof reading be included in the Baldy release? Proof reading updates can be made until midnight UTC

This Issue #1574 can continue to be used for the E2E review.

[2020-05-15 16:39] rabi-abdel opened #1598 "[RM Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:
- Go through all backlog issues in your Project (RM).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correct

[2020-05-15 16:42] rabi-abdel opened #1599 "[RA-1 Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:

Go through all backlog issues in your Project (RA-1).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correct

[2020-05-15 16:43] rabi-abdel opened #1600 "[RC-1 Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:

Go through all backlog issues in your Project (RC-1).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correct

[2020-05-15 16:45] rabi-abdel opened #1601 "[RI-1 Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:
- Go through all backlog issues in your Project (RI-1).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correc

[2020-05-15 16:46] #1554 closed

[2020-05-15 16:47] rabi-abdel opened #1602 "[RA-2 Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:
- Go through all backlog issues in your Project (RA-2).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correc

[2020-05-15 16:48] rabi-abdel opened #1603 "[RC-2 Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:
- Go through all backlog issues in your Project (RC-2).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correc

[2020-05-15 16:49] rabi-abdel opened #1604 "[RI-2 Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:
- Go through all backlog issues in your Project (RI-2).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correc

[2020-05-15 16:51] rabi-abdel opened #1605 "[Edge Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:
- Go through all backlog issues in your Project (Edge).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correc

[2020-05-15 16:53] rabi-abdel opened #1606 "[NFG Issues Logging] Logging issues for Baraque release"
Based on the roadmap discussed for Baraque release:
https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Please do the following:
- Go through all backlog issues RM (in particular).
- Identify the issues that are needed for Baraque release:
  - remove the 'backlog" label.
  - assign M3 Milestone to them.
- Create any additional issues that are needed for Baraque release and assign the correct pr

[2020-05-15 22:48] #1044 closed

[2020-05-15 22:48] #1571 closed

[2020-05-15 22:50] #1566 closed

[2020-05-15 22:53] #1315 closed

[2020-05-15 22:54] #1406 closed

[2020-05-15 22:56] #1588 closed

[2020-05-15 22:57] #1590 closed

[2020-05-15 22:57] #1592 closed

[2020-05-15 23:00] #1594 closed

[2020-05-16 08:20] collivier opened #1608 "[RA1 Ch05][RC1 Ch03] Make consistent Nova instance_password"
instance_password isn't listed is RA1 Chp5 features/capabilities which makes it defacto optional.
But the feature is currently verified by tempest_full_cntt via: tempest.api.compute.servers.test_servers.ServersTestJSON.test_create_server_with_admin_password
http://artifacts.opnfv.org/functest/ISDXBUL38CBM/functest-opnfv-functest-smoke-cntt-hunter-tempest_full_cntt-run-58/tempest_full_cntt/tempest-

[2020-05-16 22:08] lucisuciu commented on #1569
Dear All,

IMHO, I'll go for the creation of a new edge profile, and it should be techology-independent if possible...

Remember that we aim at several edge use-cases, and we can have FPGAs, GPUs, eASICs, etc. out there :)

This is not easy, I know...

Thanks.

[2020-05-16 22:18] Karimrabie commented on #1569
I do agree. We need to define the characteristics of the use cases and map that to technology independent aspects.

Let me group some initial characteristics of the use cases and post it for group review.

I prefer creating a new profile for the edge but we need to document the use cases characteristics as an initial step.

[2020-05-17 11:53] ASawwaf commented on #1569
@kedmison @petorre @trevgc @rabi-abdel @Karimrabie @lucisuciu @TFredberg
Thanks for the discussion, we agreed during last week Edge meeting that **we will create a new profile**
and we have an action point
1- @petorre , will define some content to cover 3 points in MoM, in terms of the abstraction required,...
2- It will not be called a FPGA profile as we are not sticking to certain Tech.
3- It ca

[2020-05-17 11:57] ASawwaf commented on #1605
Well Noted , Thanks

[2020-05-17 22:26] pgoyal01 opened #1609 "[RA-1 All] Rename Figures and populate artefacts with source diagrams"
Rename Figures and populate artefacts with source diagrams. Edit Figure urls with new renamed figure file urls.

[2020-05-18 03:10] fuqiao123 commented on #917
@mkr1481 Please see the comments above and see if it makes sense to you. According to our discussion on last RI & RC call, I would suggest we close this issue for now. If we do identify we need VTP for RC, and we do have dedicated contributors for that, we can open new issues for this.

[2020-05-18 03:11] fuqiao123 commented on #1117
@trevgc please check and see if we need to put this issue to Braque release?

[2020-05-18 07:16] walterkozlowski commented on #1574
E2E review - next installment.
Chapter 2 Architecture Requirements ( sec 2.1 - 2.3.1)
Comment #1
Section 2.1 Introduction
What does note “RFC2119” mean?
It is unclear what is the difference between Requirements using “may” (or “may not”) and Recommendations. Section 2.1 says:
may: Requirements that are marked as may are considered optional. The same applies to may not.
This chapter includes both "

[2020-05-18 14:19] xmulligan opened #1610 "[RC02 Ch01] Intial Content for Introduction"

[2020-05-18 14:20] xmulligan commented on #1610
Required for release planning for Baraque https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

[2020-05-19 06:08] collivier commented on #1156
@karinesevilla @pgoyal01
The following requirements are false because the service is a must requirement and the capabilities exposed is a should one (False from a Chapter 5 statepoint)
- req.inf.stg.06
- req.inf.stg.11
- req.inf.ntw.18

The mandatory services (core services as proposed could be improved) are not only about Cinder, Glance and Neutron. If we decouple the API and the capabilities, we

[2020-05-20 13:48] peterwoerndle commented on #1059
@xmulligan I thought of putting something together regarding "Kubernetes extensions". Something which can be installed/deployed on a Kubernetes cluster with a cluster-wide scope e.g. CRDs and how to handle those extensions.

[2020-05-20 22:30] petorre commented on #1569
Initial lines in:

Compared to other workloads and HW profiles:
Incremental requirements: Latency and Timing Accuracy, Edge-limited power envelope.
Acceleration for functionality like: Fronthaul IO and 5G Channel Coding (Forward Error Correction, FEC).
Acceleration implemented with: Programmable (like FPGA) or Fixed Function (for stable algorithms).

[2020-05-21 10:54] xmulligan opened #1614 "[RC02 Ch02] initial content of Kubernetes requirements"
For Baraque Release Planning https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Badging/Reporting Requirements.
Framework Requirements.
Categories of testing.

[2020-05-21 11:39] xmulligan opened #1615 "[RC02 Ch05] initial content of CNF requirements"
For Baraque Release Planning https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Badging/Reporting Requirements.
Framework Requirements.
Categories of testing.

[2020-05-21 11:45] xmulligan opened #1616 "[RC02 Ch03] initial content of Kubernetes Traceability Matrix"
For Baraque Release Planning https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Reference to CNTT Req (RM, RA-2).
Category (Conformance, Benchmarking).
Type: Performance, Functional, etc.
High Level Test Case Definition.
Criteria (May, Should, Must, Info).
Covered in the industry (Yes/No)
Reference to Test Project/Name covering it.

https://cntt-n.github.io/CNTT/doc/ref_cert/RC2/chapters/chapt

[2020-05-21 11:46] xmulligan opened #1617 "[RC02 Ch06] initial content of CNF Traceability Matrix"
For Baraque Release Planning https://wiki.lfnetworking.org/display/LN/CNTT+Baraque

Reference to CNTT Req (RM, RA-1).
Category (Conformance, Benchmarking).
Type: Performance, Functional, etc.
High Level Test Case Definition.
Criteria (May, Should, Must, Info).
Covered in the industry (Yes/No)
Reference to Test Project/Name covering it.

https://cntt-n.github.io/CNTT/doc/ref_cert/RC2/chapters/chapt

[2020-05-21 11:48] xmulligan commented on #1603
closed with
#1610
#1614
#1615
#1616
#1617

[2020-05-21 11:48] #1603 closed

[2020-05-21 14:55] pgoyal01 opened #1618 "[RA-1 Ch02] Move "should" and "may" requirements from 2.3 to 2.4"
Section 2.3 should only contain "must" requirements but it still contains 10 "should" and 2 "may" requirements

Change has to be made in both Baldy and Baraque releases

[2020-05-22 08:05] karinesevilla opened #1621 "[RA1- Ch02] APIs: requirements for all OpenStack Mandatory Services APIs"
In section 2.3.4 "Interfaces & APIs requirements", we should add a dedicated requirement for each OpenStack mandatory service. Currently, only "Horizon" and "Placement" have a dedicated requirement and req.int.api.01 is too generic to cover all the other services

[2020-05-22 09:06] karinesevilla commented on #1156
@collivier @pgoyal01
Proposal to address Cédric comment with PR #1622 which detail the mandatory services in API section.
As it is impossible to describe all the mandatory features in chapter 2, a reference is made for each mandatory service to chapter 5

[2020-05-22 11:28] xmulligan commented on #1059
@peterwoerndle check out my pull request and make a new one for the parts you think I don't address

[2020-05-25 08:12] #1608 closed

[2020-05-26 19:04] pgoyal01 commented on #1552
Collected ONAP Security Requirements and ONAP VNF Security Requirements. Will create a wiki page for common review before making changes to RM and RA_1 Security Requirements.

[2020-05-27 02:58] kedmison commented on #1543
this issue got fixed in #1487 and #1537.

[2020-05-27 02:58] #1543 closed

[2020-05-27 03:06] kedmison commented on #790
@petorre can this issue be closed, with both #1367 and #1376 being merged?

[2020-05-27 09:26] #1609 closed

[2020-05-27 11:27] #790 closed

[2020-05-27 13:21] xmulligan commented on #1495
in RC1 they define this in section 1.8 of the introduction (Results Collation & Presentation), this would be 1.7 for the proposed introduction in #1624

[2020-05-27 13:21] CsatariGergely commented on #1359
We should use terminology from the normative documents of ETSI NFV IFA, like IFA-040.

[2020-05-27 13:22] CsatariGergely commented on #1359
@walterkozlowski works on RM Ch03.

[2020-05-27 13:32] CsatariGergely commented on #178
The proposal in the issue is to use the AWS falvor naming what is not more logical than the scheme currently used in the RM.
RM meeting on 2020.05.27 decided to close this issue.

[2020-05-27 13:32] #178 closed

[2020-05-27 13:35] jayacha commented on #1035
@collivier  suggesting The number of CNTT releases supported by a given cloud should not be more than the latest 2 CNTT releases.

[2020-05-27 13:38] CsatariGergely commented on #166
Ch08 were removed. SLA requirements are defined in Ch03 and Ch04.
This is more like an RC1 and RC2 issue.

[2020-05-27 13:41] CsatariGergely commented on #143
Scope is Ch 5.4.2

[2020-05-27 13:44] CsatariGergely commented on #1583
5.1.4 is empty. Security if discussed in Ch7 of RM. All consolidated requirements are in 7.11. @ASawwaf can you clarify what should be changed in 5.1.4 or in 7.11?

[2020-05-27 13:48] CsatariGergely commented on #1582
We need to figure out if this chapter is needed at all and if yes what it should contain.

[2020-05-27 13:51] CsatariGergely opened #1625 "[RM ] Table numbers are inconsistent"

[2020-05-27 13:54] CsatariGergely commented on #962
There is no Table 4-24, but Table 4-16 mentions IPSec and Look Aside accelerations.
@jonnewton can you please explain what is missing from this table?

[2020-05-27 13:56] CsatariGergely commented on #958
Table 4-24 moved to Table 4-2.

[2020-05-27 13:58] CsatariGergely commented on #957
In this case we do not know where is table 4-24.
@jonnewton can you please clarify what kind of inconsistencies are you referring to?

[2020-05-27 14:02] CsatariGergely commented on #162
Ch8 content moved to RC-s. Moving this issue with them.

[2020-05-28 13:59] CsatariGergely commented on #1340
To fulfill this requirement upstream Kubernetes would need to support multiple pod interfaces.

[2020-05-28 14:00] CsatariGergely commented on #1341
To fulfill this requirement upstream Kubernetes would need to support multiple pod interfaces.

[2020-05-28 14:46] tomkivlin commented on #1340
So - is this a requirement we want to add (and if so, why?), and therefore document as a gap?

[2020-05-28 15:53] CsatariGergely opened #1634 "[RA2 Ch04] Define configuration parameters of Host OS"
As it was discussed in the [RA2 meeting on 2020.05.28](https://wiki.lfnetworking.org/display/LN/2020-05-28+-+%5BCNTT+-+RA2%5D+-+Meeting+Agenda+and+Minutes) RA2 should specify the host OS parameters what are mandatory to set for an RA2 compliant infrastructure.

[2020-05-28 15:55] CsatariGergely opened #1635 "[RA2 Ch04] Define configuration parameters of Kubernetes"
As it was discussed in the [RA2 meeting on 2020.05.28](https://wiki.lfnetworking.org/display/LN/2020-05-28+-+%5BCNTT+-+RA2%5D+-+Meeting+Agenda+and+Minutes) RA2 should specify the Kuberntes parameters what are mandatory to set for an RA2 compliant infrastructure.

[2020-05-28 15:55] CsatariGergely opened #1636 "[RA2 Ch04] Define configuration parameters of Container runtimes"
As it was discussed in the [RA2 meeting on 2020.05.28](https://wiki.lfnetworking.org/display/LN/2020-05-28+-+%5BCNTT+-+RA2%5D+-+Meeting+Agenda+and+Minutes) RA2 should specify the container runtime parameters what are mandatory to set for an RA2 compliant infrastructure.

[2020-05-28 15:56] CsatariGergely opened #1637 "[RA2 Ch04] Define configuration parameters of CNI plugins"
As it was discussed in the [RA2 meeting on 2020.05.28](https://wiki.lfnetworking.org/display/LN/2020-05-28+-+%5BCNTT+-+RA2%5D+-+Meeting+Agenda+and+Minutes) RA2 should specify the CNI plugin parameters what are mandatory to set for an RA2 compliant infrastructure.

[2020-05-28 15:57] CsatariGergely opened #1638 "[RA2 Ch04] Define configuration parameters of storage components"
As it was discussed in the [RA2 meeting on 2020.05.28](https://wiki.lfnetworking.org/display/LN/2020-05-28+-+%5BCNTT+-+RA2%5D+-+Meeting+Agenda+and+Minutes) RA2 should specify the storage component parameters what are mandatory to set for an RA2 compliant infrastructure.

[2020-05-28 18:57] pgoyal01 opened #1639 "[RA-2 Ch01] 1.2 Terminology"
Link to Glossary is broken

Link in document: https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/glossary.md#11.1.4

New link: https://github.com/cntt-n/CNTT/blob/master/doc/tech/glossary.md

Needs to be fixed in Baldy release and Master

[2020-05-28 19:00] pgoyal01 opened #1640 "[RA-2 Ch01] 1.3 Principles"
Broken link:

This Reference Architecture conform with the principles defined in [here](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/tech#2.0).

https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/tech#2.0 doesn't exist

Needs to be fixed in Baldy and MAster

[2020-05-28 19:47] pgoyal01 opened #1641 "[Tech ] 3.1 Functional Scope"
[3.1 Functional Scope](https://github.com/cntt-n/CNTT/tree/master/doc/tech#31-functional-scope) - Figure 2:: "Add-Ons such as Monitoring, Logging, Tracing, etc." are relevant to the IaaS Layer also (not just CaaS cluster).

[2020-05-29 07:55] #1548 closed

[2020-05-29 10:51] xmulligan commented on #900
Resolved with #1577

[2020-05-29 10:51] #900 closed

[2020-05-29 11:13] kedmison commented on #1598
In progress; 20 issues reviewed with RM team and moved to M3 as per https://wiki.lfnetworking.org/display/LN/2020-05-27+-+%5BCNTT+-+RM+Workstream+Master%5D+Agenda+and+Meeting+Minutes

Still remaining to review: issues proposed for outright closing, and issues proposed to not address in Baraque release.

[2020-05-29 18:36] pgoyal01 opened #1643 "[Tech] Figure 2"
In Section [3.1 Functional Scope](https://github.com/cntt-n/CNTT/tree/master/doc/tech#31-functional-scope), the Figure 2 the "CaaS Manger" box lists "kubespray, kubeone, kubeadm, .."

CaaS manager should list Kubernetes as the manager. kubespray is for deploying kubernetes. kubeone and kubeadm could probably be included but are in addition to kubernetes.

[2020-05-30 10:35] walterkozlowski opened #1644 "[RM Ch4.3] Update Sections 4.3"
Update Sections 4.3 with the Network Model details (concepts, layering, model) as agreed in Network Focus Group

[2020-05-30 10:43] walterkozlowski opened #1645 "[RM Ch03] Adjust RM 3.1 - 3.4"
Adjust RM sections 3.1 to 3.4 by recognition that Virtual Resources may be a combination of different types of virtualization, and that Management Software must be split between Virtual Infrastructure Manager and Hardware Infrastructure  Manager.

[2020-05-30 10:48] walterkozlowski opened #1646 "[Tech Glossary] Add carrier grade"
Add carrier grade definition to the Glossary

[2020-06-01 13:51] #1621 closed

[2020-06-02 07:00] tomkivlin commented on #1527
From Baraque planning:

[2020-06-02 07:01] tomkivlin commented on #1528
From Baraque planning:

[2020-06-02 07:01] tomkivlin commented on #1529
From Baraque planning:

[2020-06-02 07:02] tomkivlin commented on #1526
From Baraque planning:

[2020-06-02 22:09] petorre commented on #1646
Like `Carrier Grade is a system or a component that is extremely reliable, well tested and proven in its capabilities. Carrier grade systems are designed and tested to meet or exceed "five nines" high availability, and provide very fast fault recovery.` following https://en.wikipedia.org/wiki/Carrier_grade ?

[2020-06-03 08:38] tomkivlin commented on #1492
This was completed in https://github.com/cntt-n/CNTT/pull/1524/files#diff-a2ed6281a5d5b006444fb7335e5ed3c3

[2020-06-03 08:38] #1492 closed

[2020-06-03 10:36] tomkivlin commented on #1534
I am creating a PR for this.

[2020-06-04 12:53] gkunz commented on #1529
Shall we start to move content from [1] to this chapter, @rihabbanday?

https://wiki.lfnetworking.org/display/LN/Kubernetes+Bare-Metal+Install+and+Configuration

[2020-06-04 13:45] rihabbanday commented on #1529
@gkunz Agreed. I can start drafting content.

[2020-06-05 10:49] EditKoselak opened #1653 "[RI01 Ch06] Editorial changes in the Installer prerequisite"
This issue is to finish up the leftovers of #1593

[2020-06-08 12:15] #1534 closed

[2020-06-08 12:23] tomkivlin commented on #1602
This has been done.

[2020-06-08 12:23] #1602 closed

[2020-06-08 12:44] tomkivlin opened #1657 "[RA2] Pre-freeze check"
(To be done just before M3 date)
Check traceability, references and links between RM, RA2-Ch2 and RA2-Ch4.
Check bogometer in all chapters.
Check main README.md for correct chapter status.

[2020-06-08 14:19] pgoyal01 commented on #1052
Meeting of June 8, 2020, discussion to review requirements and also the mechanism for doing so. Assigned to @iangardner22

[2020-06-08 22:55] ASawwaf opened #1659 "[Edge RM CHs] Screening RM Chapter 3,4,.."
Screening RM chapters to adopt the new profile if needed

[2020-06-08 22:57] ASawwaf opened #1660 "[Edge RA01 ] Start to put some option on Openstack Arch at the edge"
Start to put some option on Openstack Arch at the edge

[2020-06-08 23:06] ASawwaf opened #1661 "[Edge RA02] Start to put some option on K8s Arch at the edge"
Start to put some option on K8s Arch at the edge

[2020-06-08 23:11] ASawwaf commented on #1569
@petorre , can you prepare some details for the next meeting

[2020-06-09 08:18] #1586 closed

[2020-06-09 08:23] tomkivlin commented on #1661
@ASawwaf in order to add something to RA2 we will need some requirements from the Edge workstream that are either:
- Added to the Reference Model to be dealt with by both OpenStack and Kubernetes streams, which we can then pull through into RA2 Chapter 2, or
- Added to RA2 Chapter 2 as requirements that are specific to Kubernetes

I'm not sure of the status of the edge workstream - have any requir

[2020-06-09 09:38] ASawwaf commented on #1661
@tomkivlin , Thanks Tom , I just strat to the log the issue and Yes we have initial content in

https://github.com/cntt-n/CNTT/blob/master/doc/tech/usecases.md

regarding the requirement, we agreed that we will have a new profile covering some of new tech. like FPGA  , GPU that mandated in the edge

https://github.com/cntt-n/CNTT/issues/1569

for the RM , I have an issue start to screeing all RM c

[2020-06-09 09:48] tomkivlin commented on #1661
Great, thanks.

[2020-06-09 10:04] tomkivlin commented on #1661
This bit makes less sense to me and will surely depend on what the new profile(s) require?  i.e. if the new profiles don't add any new infra resource requirements or abstraction requirements then there is no update to the RAs?  The 'dist, centralised, lightweight' part sounds to me more like deployment particulars (i.e. how many, what size, etc.), which I'm not sure is in scope?  Or rather, if it

[2020-06-09 10:24] ASawwaf commented on #1661
@tomkivlin , for first part, for sure the new profile will require/add new infra req. & abstraction req that we cover in RM

regarding the "Type of Deployment" from my POV it is into more architecture options due to the fact of the "edge" which should be covered in RA01 and RA02  under CNTT scope, as right now in RA01, we have the complete architecture of OpenStack and which is the core OS project

[2020-06-09 11:44] #983 closed

[2020-06-09 11:44] #1640 closed

[2020-06-09 13:10] pgoyal01 commented on #1661
Ahmed,

As Tom stated, RA-1 will need requirements in RM (to be incorporated in RA-1) and any OpenStack deployment specific requirements for RA-1.

Best regards,
Pankaj
--------
pg683k@att.com | w  720.475.4530  |  m 720.327.0104

From: Tom Kivlin <notifications@github.com>
Sent: Tuesday, June 9, 2020 2:24 AM
To: cntt-n/CNTT <CNTT@noreply.github.com>
Cc: GOYAL, PANKAJ <pg683k@att.com>; Assign <ass

[2020-06-09 13:49] pgoyal01 commented on #1661
Ahmed,

Are FPGA and GPU really mandated (or are they optional) for the Edge? I think we should consider all options before adding a new profile. For example, as you know,  in OpenStack it is possible to specify FPGA as a trait and it allows different types of FPGA to be incorporated. If the trait is specified to be required then Placement will only include resources that satisfy the required trai

[2020-06-09 13:50] ASawwaf commented on #1661
@pgoyal01 , Sure, as I mentioned all this should covered in RM first

[2020-06-09 13:59] ASawwaf commented on #1661
@pgoyal01 , for the first part of the question "Are FPGA and GPU really mandated (or are they optional) for the Edge?" , based on use cases that we already defined , but to have a short answer most probably of vRAN use case vDU required FGPA , as for other use cases ( edge and non edge ) heavy IPSEC offload need FPGA , and for GPU it cases by cases

for the available option, I would like to work t

[2020-06-09 15:55] #1639 closed

[2020-06-10 08:30] CsatariGergely commented on #1340
I would rather document this as a gap of Kubernetes. I also have doubts that Kubernetes community would be ever motivated to merge a change like this.

[2020-06-10 08:46] CsatariGergely commented on #899
Nope, these are small enough to keep them in one.

[2020-06-10 13:05] rabi-abdel opened #1667 "[RM Overall] GSMA feedback for cleaning up"
we received feedback from GSMA about RM which requires review and action.
[GMSA feedback](https://wiki.lfnetworking.org/download/attachments/38863167/rm_baldy_prd_draft.docx?api=v2)

In anticipation of the next steps in the process for the publication of the CNTT RM as a GSMA PRD being put in place, I have been looking into how to convert the baldy version of the RM into a document format that cou

[2020-06-10 13:39] ASawwaf opened #1669 "[RM CH05] 5.1.4 Security"
add link to CH07 in RM

[2020-06-10 14:38] pgoyal01 opened #1673 "[RM Ch05] Section 5.1.5"
Content below Table 5.7 is not formatted correctly and includes both a table and the Section 5.2 header as a paragraph.

Needs to be corrected both in the Master and Baldy release

[2020-06-11 09:41] ASawwaf opened #1676 "[RM Ch07] Security chapter Clean up & re-arrangement"
Work on Security chapter Clean up & re-arrangement

[2020-06-11 09:46] iangardner22 commented on #1052
@deebhatia would you kindly reach out to me to discuss this please.   You should already have my email address but if not let me know by commenting.

I was just wondering how we want to address this one.

Are we considering just the heat engine autoscaling which can be triggered by ceilometer (unreliable) or via an application (VNFM) calling the webhook (preferred)

Thanks a lot

[2020-06-11 13:00] walterkozlowski commented on #1667
I think we can fix most of these issues now in github.
During this process we can identify any ones that are candidates for the "bulk fix" at time of approval.
And yes, in parallel we need to discuss with the GSMA NG subgroup about their expectation regarding the way this material needs to be presented within GSMA documentation body.  @rabi-abdel, is Tom the right person to talk about organizing s

[2020-06-11 16:28] iangardner22 commented on #1574
**Here is my review of the intro and chapter 1**

- (Minor formatting) **Overall status** table doesn't reflect the individual chapter _Bogo-meters_
- **CNTT** - in the next release we may wish to start to move away from what is a 'short-term definition. Perhaps it will just be a global find/replace as I know it is convenient to use "CNTT" for now until we have a permanent name!  @rabi-abdel your

[2020-06-11 17:08] iangardner22 commented on #1574
**Here is my review of the intro and chapter 2**

- (minor formatting) I would get rid of the must and should and just use bold text in the main paragraph.
- Again minor but we should be clear with **_must not_** and **_should not_** that the same **(yet opposite)** applies in these cases - it doesn't quite read correctly currently being really picky here.
- There appears to be a floating RFC2119

[2020-06-11 21:40] pgoyal01 commented on #1676
For each Section change a PR will be opened.

Suggested Reorg:
•	[7.1 Introduction](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter07.md#7.1)                                                            rewrite
•	[7.2 Principles and Guidelines](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter07.md#7.2)                                         delete

[2020-06-14 11:47] ASawwaf commented on #1569
As per our the last Edge meeting  ( 11 of June ), we will go to define a new profile called **"Edge Profile"**
https://wiki.lfnetworking.org/display/LN/2020-06-11+-+%5BCNTT+EDGE%5D+-+Meeting+Agenda+and+Minutes

I will start the PR to cover it

[2020-06-14 12:54] walterkozlowski opened #1688 "[RM Ch10] Gaps - Discovery"
Update the gap statement and address the gap.

[2020-06-14 12:56] walterkozlowski opened #1689 "[RM Ch10] Gaps - Load balance"
Update the gap statement and address the gap.

[2020-06-14 12:57] walterkozlowski opened #1690 "[RM Ch10] Gaps - Service Function Chain"
Update the gap statement and address the gap.

[2020-06-14 12:58] walterkozlowski opened #1691 "[RM Ch10] Gaps - Packet Acceleration"
Packet Acceleration

[2020-06-14 21:27] pgoyal01 commented on #1019
Closing #1080 as a duplicate of  this issue.

[2020-06-14 21:28] pgoyal01 commented on #1080
Closing #1080 -- all SFC related work will be followed in #1019

[2020-06-14 21:28] #1080 closed

[2020-06-15 08:13] #1526 closed

[2020-06-15 08:19] #1669 closed

[2020-06-15 08:20] #1673 closed

[2020-06-15 09:37] CsatariGergely commented on #1667
I can help fix some of these in GitHub. I think for the typos and errors we should just file a pr while for the non-trivial changes we should create issues. By bulk, do you mean that we create pr-s with the scope of more WS-es?

[2020-06-15 10:21] rabi-abdel commented on #1667
@walterkozlowski yes, it will be tom (tpelt@gsma.com) . I suggest getting him to talk us though his feedback either in a TSM call or in smaller meeting.

[2020-06-15 11:56] deebhatia commented on #1052
Hi @iangardner22, it is open to discussion what should be the approach. It is okay from my side for the application (VNFm) to call such webhooks.
Some queries which should be addressed:
1. Is this to be generic VNFm or a specialised VNFm or can be anything?
2. How VNFm should register the webhooks?
3. What are the policies for triggering webhooks?
  The input of the policy can be either applicatio

[2020-06-15 12:30] EditKoselak opened #1699 "[RM Ch05] Removal of Hyperthreading"
As agreed, hyperthreading should not be used in the documentation, and SMT should be used instead.

[2020-06-15 12:49] EditKoselak opened #1701 "[RA01 Ch02] Clarifications to multi-threading"

[2020-06-15 14:22] pgoyal01 commented on #1454
Meeting of June 15, 2020, it was decided to wait until the networking model is finalised (Issues #1572 and 1573).

@walterkozlowski to raise it in the RM meeting

[2020-06-15 15:31] xmulligan commented on #1334
So you are basically asking if ClusterAPI or something similar should be part of CNTT?

[2020-06-15 15:32] xmulligan commented on #1059
@tomkivlin I think this can be closed since my PR is merged or is there anything else you think we should cover?

[2020-06-15 15:33] xmulligan commented on #975
@tomkivlin is this still something we are looking at doing this release? I would be interested in helping out if so

[2020-06-15 17:39] tomkivlin commented on #975
I think N it would be useful yes, to inform the requirements we need to meet. I think the stuff Trevor presented a couple of weeks back from OVP analysis would be a great start! You've been assigned Bill.

[2020-06-15 17:53] tomkivlin commented on #1059
The linked PR is the gap, was there another? I think the original point was to identify the resources that are cluster scoped and therefore may add to the need for separate clusters between "tenants".

[2020-06-16 01:44] YuPengZTE commented on #1334
Yes, similar to Kubernetes cloud provider, but this cloud is a private cloud, which is provided by OpenStack.

[2020-06-16 08:20] rabi-abdel opened #1703 "[TSC] Record Baraque release features."
After Issue logging is complete, a PR is needed to log in baroque release featreuset.

[2020-06-16 08:22] rabi-abdel opened #1704 "[TSC] RC1 & RC2 alignment"
@collivier : It has been mentioned multiple times from Prague about the test methodology, the test case execution requirements and the outputs (from Infra to [V,C]NF actors, OVP, etc.)
About it’s also true regarding the test principles or even common wordings across both streams as mentioned by Trevor.

It’s worth mentioning that it currently blocks the first test case integration in RC2.
Duplicat

[2020-06-16 08:24] #1596 closed

[2020-06-16 08:47] iangardner22 commented on #1052
Thanks @deebhatia

1. I think this can be *any* application.   Typically it would be a VNFM
2. When the initial heat stack is created then the webhook URLs can be defined as Outputs: and picked up from that by the application.   How they register would be application dependent I guess.   One option would be to recommend a standard resource name in heat that can be reliably queried by any applicati

[2020-06-16 08:49] iangardner22 commented on #1052
Once we agree I think a short paragraph is all that is needed to capture the approach.  Suggest this fits in Ch4.

[2020-06-16 09:38] #1653 closed

[2020-06-16 11:48] xmulligan commented on #986
8.2.4 Multiple network interfaces on Pods
with the updated chapter structure, this now refers to 6.2.4 and 6.2.5

[2020-06-16 12:15] #1599 closed

[2020-06-17 12:32] walterkozlowski commented on #1646
Fixed in PR # 1706

[2020-06-17 12:32] #1646 closed

[2020-06-17 12:36] rabi-abdel commented on #1407
@pgoyal01 please review and update

[2020-06-17 12:38] #351 closed

[2020-06-17 12:38] #590 closed

[2020-06-17 12:38] #965 closed

[2020-06-17 12:38] #964 closed

[2020-06-17 12:39] #1382 closed

[2020-06-17 15:36] tomkivlin commented on #1604
Done.

[2020-06-17 15:36] #1604 closed

[2020-06-18 09:46] #1528 closed

[2020-06-18 09:48] #899 closed

[2020-06-18 09:52] #1699 closed

[2020-06-18 09:53] #1701 closed

[2020-06-18 10:39] karinesevilla opened #1707 "[RA-1 Ch02] Security requirements: Add references to content"
For Security requirements section, add reference to the content matching the requirement.
For Sub-sections: 2.3.8.1, 2.3.8.5, 2.3.8.7

[2020-06-18 13:38] CsatariGergely commented on #1439
Oke, all of RM Ch08 is gone now. I think we can close this issue.

[2020-06-18 13:38] #1439 closed

[2020-06-18 13:38] pgoyal01 opened #1709 "[RM Ch06] Fix Table 6.3 Format"
Rendering of Table 6.3 has issues as md doesn't support merged cells
Also change bogometer

[2020-06-18 13:49] CsatariGergely commented on #1421
RM_chap5_fig_5_3_SW_profile.png is in its correct place (/doc/ref_model/figures/RM_chap5_fig_5_3_SW_profile.png). I think this issue can be closed.

[2020-06-18 13:49] #1421 closed

[2020-06-18 15:00] CsatariGergely commented on #898
@pgoyal01 Google tells me that "vulnerabilities" is correct. Can you please comment what kind of spelling should I use here?
"basic operations" are not clear for me what do you mean on this?

[2020-06-19 12:12] ASawwaf opened #1715 "[RM Ch02] Change the name on Profiles images"
Change the name on Profiles images  from VNF examples to workload examples

[2020-06-19 15:58] karinesevilla opened #1716 "[RA1 Ch06] System hardening"
Content to be developed for requirements sec.gen.002 to sec.gen.0013

[2020-06-19 15:59] karinesevilla opened #1717 "[RA1 Ch06] Image security"
Content to be developed for requirements sec.img.003 to sec.img.007

[2020-06-19 16:01] karinesevilla opened #1718 "[RA1 Ch06] Monitoring and Audit"
Content to be developed for requirements:
- sec.mon.002 to sec.mon.004
- sec.mon.006 to sec.mon.010
- sec.mon.012 to sec.mon.015

[2020-06-20 10:16] ASawwaf opened #1720 "[RM Ch05] backwards& Forward compatibility"
https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#4272-backwards-compatibility

move the backwards& Forward compatibility from RM CH04 to :
1- RM CH01 intro
2- RM new chapter
3- High level above RM , in ToC

[2020-06-20 10:20] ASawwaf opened #1721 "[RM Ch04] Working on RM CH04 to adopt the edge profile"
https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#424-cloud-infrastructure-profiles

Add Edge in Cloud Infrastructure Profiles

[2020-06-20 10:42] ASawwaf commented on #1676
@pgoyal01  , i belive 7.9 completely should be under 7.5

are you ok with this @pgoyal01 @karinesevilla

[2020-06-20 10:56] ASawwaf opened #1724 "[TSC] [Term of Reference](GSMA_CNTT_Terms_of_Reference.pdf)"
Need to change to in PDF CNTT "Cloud iNfrastruture ..."

[2020-06-22 07:23] CsatariGergely commented on #1720
@ASawwaf what is the problem with the current location?
Are 1, 2 and 3 different options?

[2020-06-22 10:22] ASawwaf commented on #1720
@CsatariGergely , yup different options
i belive it should be in higher level to be catchy

[2020-06-22 11:10] pgoyal01 commented on #1676
@ASawwaf As you can see most subsections move under 7.5 but the main section ans sub-sections remain in 7.5. The title of 7.5 will then need to be changed.

Please see my TOC in one of the above comments.

[2020-06-22 11:25] ASawwaf commented on #1676
@pgoyal01 Yes , this based on your TOC , but it is not reflected

Can you lead in this

[2020-06-22 12:18] EditKoselak opened #1727 "[RA1 Ch02, Ch03] Multithreading corrections"

[2020-06-22 12:40] EditKoselak opened #1729 "[RI01 Ch05] Removing Hyperthreading"

[2020-06-22 12:45] #1529 closed

[2020-06-22 12:47] #1461 closed

[2020-06-22 12:48] EditKoselak opened #1731 "[RA2 Ch02] Removing hyperthreading"

[2020-06-22 12:50] #1407 closed

[2020-06-22 21:22] #1727 closed

[2020-06-23 06:37] chetanchib commented on #1476
rbd bench - ceph performance tool templates with results for sample pool/image mapped, on storage cluster with  ceph version 12.2.12-101.el7cp luminous (stable):

rbd -p <pool_name> bench <image_name> –io-type <read | write> [–io-size size-in-B/K/M/G/T]   [–io-threads num-ios-in-flight] [–io-total size-in-B/K/M/G/T]  [–io-pattern <seq | rand>]

[rbd bench- ceph performance tool.pdf](https://github

[2020-06-23 10:30] xmulligan commented on #975
I've started the document below. Please feel free to add comments or additional questions

https://docs.google.com/document/d/1TpDyfg_Qyk7eWUuI78OX-QCRE-nhEKYsBzmUsvsUmqw/edit

[2020-06-25 00:11] taylor commented on #1616
Changed `Reference to CNTT Req (RM, RA-1)` to `Reference to CNTT Req (RM, RA-12)`

[2020-06-25 18:36] #1709 closed

[2020-06-25 18:36] #1707 closed

[2020-06-29 14:55] michaelspedersen opened #1734 "[RI2 Ch04] Kubernetes provisioning"
Add content to 4.3.2 following the work done in #1529

[2020-06-29 16:16] pgoyal01 opened #1735 "[RA-1 Ch02] Rename Traceability column for 2.4 Recommendations"
Rename Traceability column to Notes  for 2.4 Recommendations

RA-1 Meeting of June 19, 2020

[2020-06-29 16:33] pgoyal01 commented on #1465
@rabi-abdel PR #1558 fixed this issue and is already merged. This issue #1465 needs to be closed

[2020-06-29 16:48] pgoyal01 commented on #1466
@SaadUllahSheikh Ca you please review [5.2.1 Virtual Compute Metrics](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter05.md#521-virtual-compute) -- the CPU Allocation Ratio is now set to 1:1.

W.r.t. vRAM are you thinking that we need to specify an over-subscription of RAM?

[2020-06-29 16:53] pgoyal01 commented on #1583
@ASawwaf already addressed this. The current content of 5.14 currently has "Please see the [RM Security Chapter](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter07.md) and, in particular, the [Consolidated Requirements](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter07.md#711-consolidated-security-requirements) section."

@walterkozlowski I sugges

[2020-06-29 20:18] rabi-abdel commented on #1465
noted. thanks @pgoyal01

[2020-06-29 20:18] #1465 closed

[2020-06-29 20:20] #1731 closed

[2020-06-29 21:16] SaadUllahSheikh commented on #1466
@pgoyal01  agreed on CPU , for RAM your understanding is correct .  as we know in a VNF context this is always 1:1 however in a CNF world vRAM over subscription is applicable .

E.g in 5G Standalone for NE like NERF it is definitely a possible scnerio , the point i wanted to raise is that for High performance or NW intensive ratio is 1:1 while for other i t can be 1:N

[2020-06-29 21:17] SaadUllahSheikh commented on #1466
@pgoyal01  kindly note in VNF it should be 1:1 based on all our experience the 1:N should only applicable for a CNF case

[2020-06-29 21:40] pgoyal01 commented on #1466
@SaadUllahSheikh Thanks. Raises the question whether we should specify the values (for CPU, RAM and other allocations) in the RM as they will be different in the case of RA-1 and RA-2 or in some RA chapter(s). Moving to the RA chapters allows for different allocation ratios to be specified.

@walterkozlowski, @tomkivlin, @CsatariGergely, @karinesevilla, @cntt-n/ref-m Comments.

[2020-06-30 01:26] #1583 closed

[2020-06-30 01:27] walterkozlowski commented on #1583
@ASawwaf already addressed this. The current content of 5.14 currently has "Please see the RM Security Chapter and, in particular, the Consolidated Requirements section."

[2020-06-30 01:53] walterkozlowski commented on #1466
My suggestions to resolve this issue and close it:
1. Leave CPU allocation in Table 5-8 s the note in Notes column explains it is a guideline only for Basic profile.
2. Add RAM into the table for completeness but without values and in Notes explain that values will be different for different RAs and hence they will be defined there.
3. Raise Issues on RA-1 and RA-2 to specify the RAM over-subscrip

[2020-06-30 10:38] SaadUllahSheikh commented on #1466
Agreed on this

[2020-06-30 10:42] walterkozlowski commented on #1466
@SaadUllahSheikh, thanks for agreeing to this.  @pgoyal01, do you agree as well?  If yes, could you raise a PR and do the changes sow e could close this Issue?  Thanks.

[2020-06-30 12:35] pgoyal01 commented on #1466
@walterkozlowski Thanks. I think that more work would be required. We could clean-up the duplication in Chapters 4 and 5 (see below), or we can continue to maintain the status quo and make changes in multiple tables, for example,
-  add entry for RAM over-subscription in Tables 4.6, 4.19, 5-1 and 5-8; please note that in Chapter 4, the ref# for CPU Allocation Ratio is i.cap.006 while in Chapter 5

[2020-07-01 10:22] #1729 closed

[2020-07-01 10:23] #1735 closed

[2020-07-02 09:57] collivier opened #1743 "[RC2] Add a new testcase based on K8s e2e tests as mandatory"
The proposal is to include K8s e2e tests as integrated by Functest which already fulfills the test case integration requirements.
It's already in-used in OPNFV gating (see XCI verification and Functest gates).

For the time writing, the in-used regexes are the ones proposed by K8s conformance.
The test entry file will be simply adapted to match the ongoing work led by @taylor.

It's worth mentioni

[2020-07-02 10:00] collivier commented on #1743
I will put it on my agenda but of course any help is more than welcome to release my Baraque schedule.

[2020-07-02 10:05] collivier opened #1744 "[RC2] Include security testcases as mandatory"
The proposal is to run kube_bench and kube_hunter as integrated by Functest which already fulfill the test case integration requirements.
They are already in-used in OPNFV & ONAP gating (see Functest gates and ONAP integration work).

The test configurations will be simply adapted to match the security rules as highlighted by RA2.

[2020-07-02 10:06] collivier commented on #1744
I put it on my agenda but of course any help is more than welcome to release my Baraque schedule.

[2020-07-02 10:16] collivier opened #1745 "[RC2] Add API benchmarking conforming to RC1"
Functest includes xrally_kubernetes which allows benchmarking the API as CNTT asks vs OpenStack (RC1).
The model will conform to RC1. If there is no KPI defined in RA2, the default SLA (maximum failure rate of 0%) will be proposed.
https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter03.md

It's worth mentioning that the existing test case already fits the CNTT test case int

[2020-07-02 10:18] collivier commented on #1745
I put it on my agenda.
Of course any help (especially from Nokia which masters this test case via Functest and Akraino) is more than welcome to release my Baraque schedule.

[2020-07-02 10:24] collivier opened #1746 "[RC2] Add mandatory CNF-based test cases (see RC1)"
Conforming to [RC1](https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter03.md#3.3.8) the proposal is to onboard and test CNF as part of CNTT Conformance.

Running opensource CNFs is a key technical solution to ensure that the platforms meet Network Functions Virtualization/CNTT requirements. Functest already offers one VNF test case which automatically onboard and test an o

[2020-07-02 10:25] collivier commented on #1746
I put it on my agenda but of course any help is more than welcome to release my Baraque schedule.

[2020-07-02 12:43] rabi-abdel opened #1748 "[RM Ch04] Fix 4.2.5 Profile Capability Mapping"
Possibly remove it as there is similar chapter in Ch05

[2020-07-02 16:50] xmulligan commented on #1746
can we have a list of the test cases?

[2020-07-02 16:55] taylor commented on #1746
@collivier please update the description to communicate this is for testing a sample workload and what that entails.  Eg. "onboarding" and integration testing.

[2020-07-02 16:59] taylor commented on #1743
There are a large set of e2e tests.  We can either use a subset (eg. individual or groups) or run the entire e2e tests.

Whatever the case we need to map CNTT RA2 requirements to the tests to provide traceability on coverage.

At a high-level we are mapping what K8s builtin functionality meets different CNTT RA2 requirements.  The K8s e2e tests are validating the K8s functionality.

[2020-07-02 17:03] taylor commented on #1744
What are the specific CNTT RA2 requirements that kube_bench and kube_hunter cover?

To help break down the very large CNTT RA2 - RC2 traceability effort, someone could help map the CNTT RA2 requirements to what kube_bench covers. The same can happen for kube_hunter.

[2020-07-02 17:12] taylor commented on #1745
@collivier I'm not sure of what is being suggested here.  Do we create a RC2 chapter similar to https://github.com/cntt-n/CNTT/blob/master/doc/ref_cert/lfn/chapters/chapter03.md but which lists K8s APIs instead of OpenStack APIs?

Also, where are the tests cases and what are the requirements mentioned in:

"It's worth mentioning that the existing test case already fits the CNTT test case integrati

[2020-07-03 15:11] karinesevilla commented on #1466
@walterkozlowski @pgoyal01 @SaadUllahSheikh
In my opinion, we should first cleanup the duplicated tables in chapters 4 and 5 rather than start to modify the capabilties in multiple tables we will have to move at the end

[2020-07-03 23:12] walterkozlowski commented on #1466
Absolutely!

________________________________
From: karinesevilla <notifications@github.com>
Sent: Saturday, July 4, 2020 1:11:37 AM
To: cntt-n/CNTT <CNTT@noreply.github.com>
Cc: Kozlowski, Walter <Walter.Kozlowski@team.telstra.com>; Mention <mention@noreply.github.com>
Subject: Re: [cntt-n/CNTT] [RM Ch5] 5.2.1 Virtual compute metrics (#1466)

[External Email] This email was sent from outside the

[2020-07-06 03:00] walterkozlowski commented on #1542
@pgoyal01 can you point to the offending sentence please?  I cannot find it.

[2020-07-06 03:04] walterkozlowski commented on #1321
Closing the issue as it has been fixed

[2020-07-06 03:04] #1321 closed

[2020-07-06 05:05] walterkozlowski opened #1751 "[RM Ch02.] Add use cases to sec 2.2"

[2020-07-06 14:20] pgoyal01 commented on #1502
Closing as per meeting on July 6, 2020. If we decide that we need to specify a minimum # of reserved CPUs then a new Issue swill be opened.

[2020-07-06 14:20] #1502 closed

[2020-07-06 15:09] pgoyal01 commented on #1542
@walterkozlowski Sorry about that but there is a merge since I opened the issue and maybe the sentence was deleted. Closing the issue.

[2020-07-06 15:09] #1542 closed

[2020-07-06 16:32] karinesevilla commented on #366
Per ONAP security requirements analysis, add the requirements relevant for CNTT

[2020-07-06 16:45] karinesevilla commented on #1503
Now in section 7.3.3
Enhance the description (7.3.3) per @tianliangma comment and add a link to requirements in 7.11.3.
Rephrase or improve requirements in 7.11.3 and 7.11.4 if necessary

[2020-07-06 17:00] karinesevilla commented on #1504
@tianliangma
Yes It's interesting. We can add it into recommendations rather than requirements.
For me, at the moment, there is not enough adaption to place it as mandatory.

[2020-07-06 17:03] karinesevilla commented on #1505
@tianliangma
Yes it can be added into recommendations

[2020-07-06 17:14] karinesevilla commented on #1507
@tianliangma
Yes it can be added into recommendations

[2020-07-06 17:24] karinesevilla commented on #1552
RM security requirements must be reviewed first.
ONAP security requirements analysis has been identified to enhance security requirements. Refer to issue#366

[2020-07-06 17:32] karinesevilla opened #1754 "[RM Ch07] Security: rewrite requirements too generic"
Section 7.11, the requirements too generic must be rewrite and precise

[2020-07-06 17:38] karinesevilla opened #1755 "[RM Ch07] Security: requirements unverifiable"
Add a note when requirements unverifiable into CNTT context
sec.gen.012, sec.wl.005, sec.wl.006

[2020-07-06 18:00] pgoyal01 commented on #366
@ASawwaf @samuelhellec @cntt-n/ref-m @cntt-n/ref-a1 @cntt-n/ref-a2

ONAP Security Requirements are captured in [Table](https://wiki.lfnetworking.org/display/LN/RM+and+RA-1%3A+ONAP+Security+Requirements) and the ONAP VNF (workload) Security Requirements in [Table](https://wiki.lfnetworking.org/pages/viewpage.action?pageId=34607866).

The Table has entries to specify if the requirement is relevant f

[2020-07-06 18:02] pgoyal01 commented on #1052
@deebhatia Can you let us know if you will be working this issue and when. This is important to take a decision on next steps. Thanks.

[2020-07-06 18:35] deebhatia commented on #1052
Hi @pgoyal01, I won't able to pick it up at the moment. I will remove myself from the assignees.
Thanks

[2020-07-06 19:17] kedmison commented on #366
While I haven't been in RM discussions of late, I recall having similar discussions a few months ago regarding VNF requirements and their place in CNTT.  I think we have to be careful about assuming that CNTT is the right place to specify the workload's security requirements.    In previous discussions (and github issues), workload security requirements were identified as VNF design guidelines, an

[2020-07-06 19:42] pgoyal01 commented on #143
@samuelhellec would you like to pursue this Issue further and create a PR to make the changes. Thanks

[2020-07-07 04:08] walterkozlowski commented on #366
@kedmison, The analysis was done to identify which ONAP requirements are relevant to CNTT, keeping in mind that workload requirements are only relevant for CNTT if they are platform-related.  I do not think that our approach has changed.

[2020-07-07 13:33] karinesevilla opened #1758 "[RM Ch07] Modification of tables for security requirements + Ref with prefix"
Section 7.11 Consolidated Security Requirements
1- Following the model of capabilities tables, the requirements tables are composed of 4 columns:
"Ref", "Requirement", "Unit", "Definition"
In the case of requirements the columns "Unit" and "Definition" have no interest.
My proposal is to remove the "Unit" column and change "Definition" by "Note" :
"Ref", "Requirement", "Note"

2- In RA#1, for refe

[2020-07-07 14:39] #1618 closed

[2020-07-07 17:10] pgoyal01 commented on #366
@kedmison Would welcome your input as we adapt the ONAP requirements for use within CNTT.  The links were provided t the two tables in a previous comment and as you can see it conforms to what @walterkozlowski stated; the analysis is still in progress.

[2020-07-07 21:03] pgoyal01 commented on #1625
@CsatariGergely As part of fixing Issue #816 - Consistency, PR #1756 corrects the following Table issues in Chapter 04:

Duplicate Table number 4-12: Renumbered second Table 4-12 "Predefined Compute Flavours" to Table 4-13; existing Table 4-13 and 4-14 renumbered as Table 4-14 and 4-15, respectively'; there was no Table 4-15.

Renumbered Table 4-19 to 4-17.

[2020-07-08 08:38] CsatariGergely opened #1759 "[TECH] Networking and Fabric Approach does not discuss dimensioning guidelines"
There are lots of considerations in the Networking and Fabric Approach chapter, but there are no dimensioning guidelines.

[2020-07-08 11:21] CsatariGergely opened #1761 "[RA2 Ch4] Define which Well-Known Labels, Annotations and Taints should RA2 mandate"
Kubernetes have a list of [Well-Known Labels, Annotations and Taints](https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/). RA2 should discuss which one of these are mandatory and which one is optional.

List of non deprecated Well-Known Labels, Annotations and Taints:
- kubernetes.io/arch
- kubernetes.io/os
- kubernetes.io/hostname
- node.kubernetes.io/instance-type
- t

[2020-07-08 11:25] CsatariGergely opened #1762 "[RA2 Ch4] Is there a need for different node labels for the different Cloud Infrastructure Profiles?"
RA2 should describe if a Kubernetes cluster should have different node labels for the different hosts supporting different CNTT Cloud Infrastructure Profiles.

[2020-07-08 13:43] CsatariGergely opened #1764 "[RM Ch4, Appendix] Missing exception for GPU/NPU"
`e.cap.014` refers to the usage of GPU/NPU while their usage needs HW specific drivers in the workload. `e.cap.014` should be either removed or an exception should be added for them.

[2020-07-08 13:45] CsatariGergely opened #1765 "[RM Ch4, Appendix] Missing exception for FPGA-s or other accelerators"
e.cap.016 refers to the usage of FPGA-s or other accelerators while their usage needs HW specific drivers in the workload. e.cap.016 should be either removed or an exception should be added for them.

[2020-07-08 18:05] pgoyal01 opened #1768 "[RA-1 Ch08] Remove Gaps (8.2) that were moved to RM Ch 10"
4 [RA-1 Section 8.2](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter08.md#82-the-gaps) Gaps were moved to [RM Ch 10.3](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter10.md#103-gaps) -- this requires deletion of these 4 moved Gaps from RA-1 Ch 8.2

[2020-07-08 19:55] pgoyal01 commented on #1689
Fixed in PR #1769
Issue captured in #1768
@walterkozlowski Suggest this Issue #1689 be closed

[2020-07-08 19:55] pgoyal01 commented on #1688
Fixed in PR #1769
Issue captured in #1768
@walterkozlowski Suggest this Issue #1688 be closed

[2020-07-08 19:56] pgoyal01 commented on #1690
Fixed in PR #1769
Issue captured in #1768
@walterkozlowski Suggest this Issue #1690 be closed

[2020-07-08 19:56] pgoyal01 commented on #1691
Fixed in PR #1769
Issue captured in #1768
@walterkozlowski Suggest this Issue #1691 be closed

[2020-07-09 00:47] walterkozlowski commented on #1768
Fixed in PR #1769

[2020-07-09 00:47] #1768 closed

[2020-07-09 00:57] walterkozlowski commented on #1758
Closed by PR #1766

[2020-07-09 00:57] #1758 closed

[2020-07-09 12:19] #816 closed

[2020-07-13 10:59] collivier commented on #1075
@hdamker @pgoyal01 @walterkozlowski @rabi-abdel @rabiabdel
Yes I second removing this 3 requirements which I would consider as quite imprecise (possibly due to CNTT RM/RA1 model).
It works only in RA1 if we consider the neutron implementation to be compatible to the SDN paradigm.

I know there is already a requirement which forces the use of Neutron API  but "The SDN solution **should** be able to

[2020-07-13 12:15] #1464 closed

[2020-07-13 12:16] walterkozlowski commented on #1464
Closed by PR #1787

[2020-07-13 13:35] #1644 closed

[2020-07-13 13:35] walterkozlowski commented on #1644
Closed by PRs:
-	Intro PR#1771
-	Layering and Concepts PR#1772, PR#1773, PR#1774 and PR#1775
-	Networking RM PR#1776 which also include the updated png file in the /figure
-	3 Example deployments PR#1777, PR#1778 and PR#1779

[2020-07-13 13:36] #1645 closed

[2020-07-13 13:36] walterkozlowski commented on #1645
Closed by PRs: 1780, 1781, 1787

[2020-07-13 13:58] walterkozlowski commented on #216
This issue is not in RM as there is no section to deal with such topics

[2020-07-13 15:40] pgoyal01 opened #1790 "[RA-2 Ch06] 6.2.2 Multi-tenancy and workload isolation with Kubernetes"
In [6.2.2 Multi-tenancy and workload isolation with Kubernetes](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter06.md#622-multi-tenancy-and-workload-isolation-with-kubernetes), why is req.inf.ntw.03 listed as a related requirement?

req.inf.ntw.03 | Infrastructure | Network | The networking solution should be able to be centrally administrated and configured.
--

[2020-07-14 06:22] #898 closed

[2020-07-14 08:06] gkunz opened #1791 "[RI-2 Ch1] Add section about host provisioning"
Add a high-level description of the role of host provisioning  in RI-2: bare-metal provisioning, bare-metal cloud infra provider, IaaS provider.

[2020-07-14 10:01] EditKoselak opened #1792 "[Glossary] is not in alphabetical order"

[2020-07-14 12:43] pgoyal01 opened #1794 "[RI01 Ch05] "5.2 Requirements" - language/typo correction"
[5.2 Requirements](https://github.com/nokia/CNTT/blob/rich05-typo/doc/ref_impl/cntt-ri/chapters/chapter05.md#52-requirements): language and typo corrections

[2020-07-14 16:33] #1525 closed

[2020-07-14 18:45] pgoyal01 opened #1795 "[RA2 Ch02] Pull through RM requirement corrections"
These have already been corrected in RM.

| Reference | Description | Requirement for Basic Profile | Requirement for Network Intensive Profile | Issue |
|---------------|--------------------------|--------------------------------|--------------------------------------------|--------|
| e.cap.006 | CPU pinning support | Not required | Must support    | Inconsistent with next   |
| infra.com.cfg.00

[2020-07-15 10:00] #1703 closed

[2020-07-15 10:12] #1598 closed

[2020-07-15 10:12] #1600 closed

[2020-07-15 10:12] #1601 closed

[2020-07-15 10:12] #1605 closed

[2020-07-15 10:12] #1606 closed

[2020-07-15 18:48] pgoyal01 opened #1803 "[TSC Common] Common Abbreviations"
Add common abbreviations

[2020-07-16 14:17] #1059 closed

[2020-07-16 14:19] xmulligan commented on #1617
on hold until there is progress on #1496

[2020-07-16 14:19] xmulligan commented on #1615
on hold until there is progress on #1496

[2020-07-17 10:10] collivier opened #1806 "[RC1] Integrate Ironic testing into Functest"
At the time of writing Ironic is an optional service but it makes sens to integrate cyborg-tempest-plugin into the classical IaaS verification (see Barbican, Octavia and Cyborg testings)
https://github.com/openstack/cyborg-tempest-plugin

[2020-07-17 10:18] collivier opened #1807 "[RC1] run OpenStack SDK functional tests in Functest"
OpenStack SDK functional testing now runs in Nova gates:
https://docs.openstack.org/openstacksdk/latest/contributor/testing.html
https://ae6ddd0800fb5671ff11-9d822a96c58fccb739d55f79e396b06d.ssl.cf2.rackcdn.com/740447/2/check/openstacksdk-functional-devstack/44c8738/testr_results.html

[2020-07-17 10:23] collivier opened #1808 "[RC1] run the neutron-tempest-plugin scenarios in Functest"
Functest only runs the API testing proposed by neutron-tempest-plugin.
Running the scenarios as well would complete CNTT RC1 (see tempest_scenario)
https://f6e1543bc2d25a07e147-e6ce8e54d026b827dc95e0507d541939.ssl.cf5.rackcdn.com/740214/1/check/neutron-tempest-plugin-scenario-ovn-ussuri/f2fec03/testr_results.html

[2020-07-17 12:47] #1803 closed

[2020-07-18 14:40] tomkivlin commented on #1637
Some suggested write-up for networking:
[RA2-Ch4-Networking-Specs-2020-07-17.docx](https://github.com/cntt-n/CNTT/files/4938945/RA2-Ch4-Networking-Specs-2020-07-17.docx)

_Originally posted by @pgoyal01 in https://github.com/cntt-n/CNTT/pull/1805#issuecomment-660207366_

[2020-07-19 18:27] ASawwaf commented on #1659
based on , no need for edge profile I will close this issue

[2020-07-19 18:27] #1659 closed

[2020-07-20 10:23] tomkivlin opened #1812 "[RA2 Ch1] Content / grammar check"
Line 19, "This Reference Architecture for Kubernetes will describe the high level system components and their interactions, taking the goals and requirements of the Reference Model and mapping them to real-world Kubernetes (and related) components."

RM Chapter 1 doesn't have any goals and requirements.

_Originally posted by @pgoyal01 in https://github.com/cntt-n/CNTT/pull/1740#issuecomment-65942

[2020-07-20 10:23] tomkivlin commented on #1812
Line 21: "To set this in context, it makes sense to start with the high level definition and understanding of Kubernates itself as it stands."

Suggest delete "itself as it stands"

_Originally posted by @pgoyal01 in https://github.com/cntt-n/CNTT/pull/1740#issuecomment-659422196_

[2020-07-20 10:23] tomkivlin commented on #1812
Typo:
Current content:
"1.2 Terminology
For terminology used in this document refer to the glossary"

Missing "." after glossary

_Originally posted by @pgoyal01 in https://github.com/cntt-n/CNTT/pull/1740#issuecomment-659423284_

[2020-07-20 10:24] tomkivlin commented on #1812
Typo:
Current content:
1.3.1 Cloud Native Principles
the sentence, "The Cloud Native Computing Foundation seeks to drive adoption of this paradigm by fostering and sustaining an ecosystem of open source, vendor-neutral projects. We democratize state-of-the-art patterns to make these innovations accessible for everyone”

is missing a "." at the end after "everyone"

_Originally posted by @pgoyal01

[2020-07-20 10:24] tomkivlin commented on #1812
Typo: extra close parentheses
current content:
"3.2.1 Container Compute Services
An example and more details of this concept can be found in chapter 6)."

_Originally posted by @pgoyal01 in https://github.com/cntt-n/CNTT/pull/1740#issuecomment-659425590_

[2020-07-20 10:24] tomkivlin commented on #1812
Typos -- missing new lines
Current content:
"6.2.2 Multi-tenancy and workload isolation with Kubernetes"

Related Requirements, Baseline Project and Gap Description should all be on separate lines as in previous sections

_Originally posted by @pgoyal01 in https://github.com/cntt-n/CNTT/pull/1740#issuecomment-659426507_

[2020-07-20 12:40] iangardner22 commented on #1052
@pgoyal01 is this something we can just update ourselves?  I am struggling for time but will try to join the call today.

[2020-07-20 14:17] pgoyal01 commented on #1052
@tomkivlin @CsatariGergely @peterwoerndle can you guys suggest how to handle the issue of auto-scaling in an OSTK environment. Please see questions and comments in the above discussions.

[2020-07-20 14:39] pgoyal01 opened #1814 "[Gov Ch09] Broken Link"
[9.5.1.4 Expectations of Trials Participants](https://github.com/cntt-n/CNTT/blob/master/doc/gov/chapters/chapter09.md#9514-expectations-of-trials-participants)

The link to RI-1 Chapter 3 in
"CNTT RI-1 Chapter 3 documentation provides the matching RI-1 requirements for the build."

is wrong. The current link is: https://github.com/cntt-n/CNTT/blob/master/doc/gov/ref-impl/cntt-ri/chapters/chapter0

[2020-07-20 16:37] tomkivlin commented on #1052
@pgoyal01 I thought the ETSI MANO architecture dealt with this through the direct/indirect mode where NFVO controls the scaling of nodes either directly with the VIM (i.e. asks for a different replica count or new machines), or indirectly via the VNFM, where the VNFM asks for a grant to change the replica count/create new machines and then instructs the VIM to make it so?

Or have I misunderstood

[2020-07-20 18:13] pgoyal01 opened #1815 "[RA1 All Ch] Update to Train"
RA-1 1.5 CNTT OpenStack Reference Release https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/openstack/chapters/chapter01.md#15-cntt-openstack-reference-release
"This Reference Architecture document in its current version conforms to the OpenStack Pike release. While many features and capabilities are conformant with many OpenStack releases, this document will refer to features, capabilities

[2020-07-20 18:17] pgoyal01 commented on #1815
moved from PR#1783

[2020-07-21 17:58] ASawwaf commented on #1660
covered in #1573

[2020-07-21 17:58] #1660 closed

[2020-07-22 08:11] rabiabdel opened #1819 "[TSC] Discuss what more can be gone to GSMA."
Requested by @cedric

[2020-07-22 08:11] rabiabdel opened #1820 "[TSC] CNTT Test Cases list to be selected/decided on by CNTT and consumed by OVP."
Raised by @cedric

[2020-07-22 08:12] rabiabdel opened #1821 "[TSC] Reference Implementation for VNFs. (2 would be better)"
Do we need to find a reference VNF?

[2020-07-22 08:13] rabiabdel opened #1822 "[TSC] Finalise, Confirm, Transition plans and Guidelines."
Open Discussion:

[2020-07-22 08:13] rabiabdel opened #1823 "Clarify validation vs verification vs conformance and relation to RI/RC."
Update from OPNfV

[2020-07-22 09:28] #1748 closed

[2020-07-22 09:33] #1815 closed

[2020-07-22 11:37] herrib opened #1824 "Dead link"
Hello,

When browsing the documentation (https://cntt-n.github.io/CNTT/doc/ref_cert/) the link towards the "test cases selected by CNTT" (https://cntt-n.github.io/CNTT/doc/ref_cert/chapter03.md) is dead (it drives to a 404 error).

Could you please fix this bug (or alternatively, indicate the proper link to access the test cases)?

Thank you in advance,

[2020-07-22 11:41] rabi-abdel commented on #1824
Thank you @herrib will fix them

[2020-07-22 12:27] #1704 closed

[2020-07-22 12:36] rabiabdel commented on #1821
OPNFV is already working on projects to mimic workloads (net, storage, etc)
CNTT: For each profile, it will be good to have workload expectation. (Networking Heavy, Compute Heavy, Storage Heavy)
to be considered for **beyond Baraque** releases.

This is to be added to RI-1 and RI-2.

[2020-07-22 12:38] rabiabdel commented on #1333
@tomkivlin  to assign to others when needed.

[2020-07-22 12:46] tomkivlin commented on #1333
@rabi-abdel @YuPengZTE - I thought decision was to make RA2 follow the RM release number?  The links above don't work, but if RM is 3.0 in September, then RA2 will be 3.0.

[2020-07-22 13:18] tomkivlin opened #1826 "REQUEST FOR INPUT: CNF Testbed"
In order to help with the creation of Community Implementations that are looking to conform with RA2, we need people to help input into CNF Testbed.  End result being understanding the RA2 specs, gaps, and also what we will choose to use as the RI2.

https://github.com/cncf/cnf-testbed

[2020-07-22 13:29] tomkivlin opened #1827 "REQUEST FOR INPUT: BMRA Community Implementation"
In order to help with the creation of Community Implementations that are looking to conform with RA2, we need people to help input into the BMRA-based Community Implementation. End result being understanding the RA2 specs, gaps, and also what we will choose to use as the RI2.

BMRA-based CI currently being tracked in JIra: https://jira.opnfv.org/projects/KUB/issues/KUB-1?filter=allopenissues&order

[2020-07-22 13:30] tomkivlin opened #1828 "REQUEST FOR INPUT: Kuberef"
In order to help with the creation of Community Implementations that are looking to conform with RA2, we need people to help with the Kuberef project in OPNFV: https://wiki.opnfv.org/spaces/viewspace.action?key=KUB

[2020-07-22 13:45] walterkozlowski commented on #1691
Closed by PR#1798

[2020-07-22 13:45] #1691 closed

[2020-07-22 13:48] #1690 closed

[2020-07-22 13:48] walterkozlowski commented on #1690
Fixed in PR #1769

[2020-07-22 14:03] walterkozlowski commented on #1466
Closed as per actions in the rm CLEANUP

[2020-07-22 14:03] #1466 closed

[2020-07-22 14:05] #166 closed

[2020-07-22 14:05] walterkozlowski commented on #166
Resolved by the previous actions

[2020-07-22 14:06] #163 closed

[2020-07-22 14:06] walterkozlowski commented on #163
Chapter 8 removed from RM

[2020-07-22 14:07] #143 closed

[2020-07-22 14:07] walterkozlowski commented on #143
Closed as part of the RM cleanup

[2020-07-22 14:12] collivier commented on #1821
They are 3 opensource VNFs already included into RC1. We could leverage them much more that we are doing today.

[2020-07-22 14:30] walterkozlowski opened #1829 "[RA-2 Ch02.2.1] Errors in Table 2-1"
@tomkivlin, there are some errors in this table which were caused by errors in RM requirements table.  These errors in RM have been now fixed (mainly by @pgoyal01), look in
https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md
See Table 4-17 there.

Please correct in RA by aligning to the corrected Table 4-17 in RM

[2020-07-22 15:03] tomkivlin opened #1831 "Describe interdependencies with other communities and their efforts (e.g. Kuberef, CNCF TUG, TIP, etc.)"
Including visual representation.

[2020-07-22 18:26] tomkivlin commented on #1829
Thanks @walterkozlowski, @pgoyal01 - were these corrections in the RM applied to the stable/baldy branch as well, or just master?

[2020-07-22 18:32] pgoyal01 commented on #1829
@tomkivlin I think it was decided that Cedric will roll applicable changes to the Baldy version also.

@collivier Can PR #1756 be rolled into the Baldy version? Thanks

[2020-07-23 06:37] tomkivlin commented on #1829
@pgoyal01 thanks - I'll prepare a PR to do so for RA2 as well then.

[2020-07-24 05:55] #1751 closed

[2020-07-24 05:55] walterkozlowski commented on #1751
Closed by PR# 1810

[2020-07-27 01:41] sukhdevkapur opened #1836 "[RA1-Ch8] Update Chapter 8"
@sukhdevkapur is the following description acceptable -- please edit as appropriate and this problem description should drive the write-up in PR #1837 :

OpenStack support for multi-cloud deployments beyond regions: Currently OpenStack supports independent multiple deployments (regions), for example, as in Region A, Region B and Region C where each of the three deployments are independent except f

[2020-07-27 02:16] #1504 closed

[2020-07-27 02:17] #1506 closed

[2020-07-27 02:21] #1508 closed

[2020-07-27 02:21] walterkozlowski commented on #1508
Resolved in PR #1834

[2020-07-27 02:24] walterkozlowski commented on #1688
PR #

[2020-07-27 02:25] walterkozlowski commented on #1688
Waiting for PR #1811 to be approved and merged

[2020-07-27 09:36] karinesevilla commented on #1507
@tianliangma , @walterkozlowski  After the review of requirements, I think the issue is already covered by:

req.sec.gen.007 : All servers part of Cloud Infrastructure must be Time synchronized with authenticated Time service

req.sec.sys.003 : The Platform must support Secure and encrypted communications, and confidentiality and integrity of network traffic

There is no need to add another requir

[2020-07-27 09:37] karinesevilla commented on #1505
@tianliangma , @walterkozlowski After the review of requirements, I think the issue is already covered by:

req.sec.gen.007 : All servers part of Cloud Infrastructure must be Time synchronized with authenticated Time service

req.sec.sys.003 : The Platform must support Secure and encrypted communications, and confidentiality and integrity of network traffic

There is no need to add another require

[2020-07-27 12:52] walterkozlowski commented on #1075
@collivier, @hdamker, @pgoyal01, @sukhdevkapur, @scottsteinbrueck - Again, I back the move to remove these requirements form RA-1 until we have a more solid position in RM.  Since, this has been hanging around for some time, I propose @pgoyal01 to take an appropriate action in the RA-1 WS stream.

[2020-07-27 12:58] #1505 closed

[2020-07-27 12:58] walterkozlowski commented on #1505
I agree with @karinesevilla and I am closing this issue.  It does not stop us from raising in the future new more specific issues around the time sync area.

[2020-07-27 13:15] walterkozlowski commented on #1836
closed by PR #1837

[2020-07-27 13:56] karinesevilla commented on #1075
I also agree to remove these 3 requirements (imprecise) and wait for RM developments

[2020-07-27 14:25] pgoyal01 commented on #1156
Worked in two PRs already. will close and if needed we will open issues.

[2020-07-27 14:25] #1156 closed

[2020-07-27 14:29] pgoyal01 commented on #1019
As moved to RM, closing this issue as per Metering of July 27, 2020.

[2020-07-27 14:29] #1019 closed

[2020-07-27 14:31] pgoyal01 commented on #1017
As moved to RM, closing this issue as per Metering of July 27, 2020.

[2020-07-27 14:31] #1017 closed

[2020-07-27 14:32] pgoyal01 commented on #1015
As moved to RM, closing this issue as per Metering of July 27, 2020.

[2020-07-27 14:32] #1015 closed

[2020-07-27 16:11] sb1975 opened #1840 "[RM Ch9.2] 9.2 Configuration and Lifecycle Management"
I saw we wanted to ensure the target state described in a CNF manifest. This can be achieved by using Kubernetes Operators and the latest GitOps trend in community.

[2020-07-27 17:17] karinesevilla opened #1841 "[RM Ch07] Restructuring sections 7.3 to 7.10"
The sections 7.3 to 7.10 are difficult to read. The information is mixed.
My proposal is to structure as follow:
7.3 Security scope
7.4 Platform security requirements
7.5 Workload security requirements
7.6 Common standards
7.7 Testing
and remove security Certification requirements

Other ideas are welcomed!

[2020-07-27 22:06] #1824 closed

[2020-07-27 22:43] scottsteinbrueck opened #1842 "[TSC] Create common CI/CD for workloads"
Consider a common CI/CD for all workload as part of VNF Guidelines.

This issue is forked from issue #1821 (which now will only focus on primary issue "reference VNF").

[2020-07-27 22:44] scottsteinbrueck commented on #1821
Forked a new issue #1842 to handle "common CI/CD".  This issue (#1821) will only focus on primary issue "reference VNF").

[2020-07-28 05:54] ulikleber commented on #1019
Do we have an issue number in RM, that is used to follow up?

[2020-07-28 08:40] tomkivlin opened #1843 "[TSC] Fix vulnerability in pillow"
https://github.com/cntt-n/CNTT/blob/master/requirements.txt:

[code]

Vulnerabilities found, suggest updating requirements.txt to:

[code]

See: https://github.com/cntt-n/CNTT/network/alert/requirements.txt/Pillow/open

[2020-07-28 13:18] pgoyal01 commented on #1843
@tomkivlin Will you be creating a PR to fix?

[2020-07-28 14:33] pgoyal01 commented on #1582
@walterkozlowski for this to be "In Progress" it would need an associated PR but none exists

[2020-07-28 14:37] pgoyal01 commented on #308
@ASawwaf @walterkozlowski [4.2.3 Storage Extensions](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#423-storage-extensions) already defines storage extensions independent of the profiles/flavors. If nothing more is required, suggest we close.

[2020-07-28 14:55] pgoyal01 commented on #1582
@ASawwaf  asks we need to "figure out the purpose of this section."

Since the creator of this section was not clear in the intent, I can only hazard a guess. It would be to take the entries from Table 4-11 and create a table similar to Table 4-17 specifying acceptable values for each of the measures in Table 4-11 for the Basic and Network profiles. Not sure where we would get these values from.

[2020-07-28 15:35] pgoyal01 commented on #957
@ASawwaf @walterkozlowski can we close as this has been open for a very long time and since the Table 4-24 doesn't exist this issue is invalid

[2020-07-28 15:39] pgoyal01 commented on #678
@ASawwaf @walterkozlowski should this be closed as it is not clear as to what the issue is

[2020-07-28 16:58] pgoyal01 commented on #250
Do we need a storage profile or do we need to relook at our existing profiles and see how we can meet the needs for larger amount of storage and higher IOPS.

 For example, modify [4.2.3 Storage Extensions](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#423-storage-extensions) to remove storage size limitations and/or define other IOPS Tiers

[2020-07-28 18:01] pgoyal01 commented on #1501
@licayun Can you please list out the changes that you want made? This issue has been open for a while without any further prgress.

[2020-07-29 02:20] walterkozlowski commented on #308
I agree with @pgoyal01 and will close this issue.  We can create new issues/PRs if needed

[2020-07-29 02:20] #308 closed

[2020-07-29 02:21] walterkozlowski commented on #308
Closed as already addressed in RM  Sec 4.2.3

[2020-07-29 02:25] #957 closed

[2020-07-29 02:31] #678 closed

[2020-07-29 02:31] walterkozlowski commented on #678
Closing issue due to lack of description what the issue is about.

[2020-07-29 13:43] pgoyal01 commented on #1582
As per meeting of July 29, 2020, Section 4.2.6 will be deleted (kept but title changed). RA1 and RA2 will be notified by @walterkozlowski to include the above performance table in their specifications

[2020-07-29 13:44] #250 closed

[2020-07-29 13:44] walterkozlowski commented on #250
Decision from RM meeting on 29 July 2020 not to create such profile but use Table 4-15 in RM.

[2020-07-29 14:00] pgoyal01 opened #1848 "[RM Ch04] Table 4-15 Caption Correction"
Section [4.2.3](https://github.com/cntt-n/CNTT/blob/master/doc/ref_model/chapters/chapter04.md#423-storage-extensions) current caption Table 4-15: "Storage Performance Profiles" needs to be changed to "Storage Extensions"

[2020-07-29 14:03] walterkozlowski commented on #958
@walterkozlowski, @petorre, please review this issue

[2020-07-29 22:19] pgoyal01 opened #1850 "[RA-2 Ch03] 3.2.1.5 Container Runtime Services - change requested"
[3.2.1.5 Container Runtime Services](https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter03.md#3215-container-runtime-services)

The current description is "bare metal" centric whereas minor changes could enable support for both req.inf.vir.01 and req.inf.phy.01.

For example, changing the following by deleting the indented words:
"The Container Runtime is the compon

[2020-07-30 08:54] karinesevilla opened #1851 "[RM Ch03] Storage resource description 3.2.3"
Section3.2.3 Storage
The description of storage is too restrictive, addressing only block device. The description does not reflect the diversity of storage

[2020-07-30 13:34] petorre commented on #1821
https://github.com/cncf/cnf-conformance/blob/master/EXAMPLE-CNFS.md has list of CNFs mapped to OSI model layers.

[2020-07-30 15:18] CsatariGergely commented on #1555
All text with "multiplexer" were moved to comments and will be reworked, so this issue is not valid anymore.

Discusses in the RA2 meeting at 30.07.2020.

[2020-07-30 15:18] #1555 closed

[2020-07-30 16:12] taylor commented on #1616
There is no other RC chapters with an example structure.  The Openstack RC also has no structure.

We could start with something from RA-2 Chp4 https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter04.md

[2020-07-30 16:20] CsatariGergely opened #1853 "[RA2 Ch04]: Create 4.9 Kubernetes workloads in the new structure"

[2020-07-30 16:22] taylor commented on #1616
Example

|Ref|Specification|Details|Requirement Trace|
|---|---|---|---|
|`ra2.ch.001`||||
|`ra2.ch.002`||||
|`ra2.ch.003`||||

[2020-07-30 16:24] taylor commented on #1616
Suggestion use chapter 2 for requirements.  Example https://github.com/cntt-n/CNTT/blob/master/doc/ref_arch/kubernetes/chapters/chapter02.md#221-cloud-infrastructure-software-profile-capabilities

[2020-08-02 05:12] sukhdevkapur opened #1856 "Move Multi-Cloud gap from RA1 to RM"
Move Multi-Cloud gap from chapter 8 of RA1 to Chapter 10 of RM

[2020-08-02 10:41] #1075 closed

[2020-08-02 11:06] walterkozlowski opened #1859 "Common - Approach needed at all?"
Do we need Approach document at all? It is not keeping up to date and creating confusion.

[2020-08-02 11:07] walterkozlowski commented on #1859
https://github.com/cntt-n/CNTT/blob/4e496175e6f54f1b85d6f605bf07054690bca0e1/doc/common/approach.md

[2020-08-03 12:10] ulikleber commented on #1859
Agree. Is there anything we did not cover in RM by now?

[2020-08-03 13:12] pgoyal01 commented on #1859
@walterkozlowski No but only once all content moved to RM.

For example, the following moved under  [Chapter00.md](https://github.com/cntt-n/CNTT/blob/4e496175e6f54f1b85d6f605bf07054690bca0e1/doc/common/chapter00.md):

- [Networking Scope](https://github.com/cntt-n/CNTT/blob/4e496175e6f54f1b85d6f605bf07054690bca0e1/doc/common/approach.md#networking-scope) moved under [Functional Scope](https://git

[2020-08-03 13:25] pgoyal01 opened #1860 "[RM Ch10] 10.3.2 Load Balance"
RM 10.3.2 Support Load Balance of VNF/CNFs

What about the OSTK LBaaS - Octavia? If this is beyond Octavia then the description should include what Octavia can and cannot do.

[2020-08-03 13:29] pgoyal01 opened #1861 "[RM Ch10] 10.3.4 Packet Acceleration Request (e.g Hardware Acceleration)"
what is this sentence trying to say, in particular the bolded part, "The acceleration hardware is typically optimized for specific kinds of workloads and some form of disaggregation might be required to separate control and user plane responsibilities between generic server hardware and accelerators."

[2020-08-03 14:31] pgoyal01 commented on #1052
req.gen.scl.01 | Scalability | The Architecture should support policy driven auto-scaling.
-- | -- | --

[2020-08-03 14:33] pgoyal01 commented on #1501
Meeting of August 3, 2020, decided to close. If this concern is raised again a new issue shall be opened.

[2020-08-03 14:33] #1501 closed

[2020-08-03 21:38] sb1975 opened #1862 "[RA2 Ch02 Ch06] Including details about CNF Deployment Models"
I think it is important to call out a more broad heading like CNF Deployment Models to provide Multitenancy for the CNFs.
There could be at least 3 deployment Models :
1. Each CNF deployed in its own namespace within the same K8s Cluster
2. Each CNF deployed within its own K8s Cluster.
3. Combination of 1 & 2
4. CNFs isolated based on vendor (like CNFs of a Vendor within single k8s Cluster)

There

[2020-08-04 10:02] xmulligan opened #1863 "[RC02] Fix Test Integration Introduction"
From @pgoyal01 on #1738
In reference to # CNTT Reference Conformance (RC) Test Case Integration

" ... must fulfill the following test case integration requirements ..." -- what does "following refer to?
"... guarantee a smooth overall integration" -- can we delete "smooth" as not sure what it "would look like"
"The new RC2 stream asks to move them in this common place applicable to all CNTT confo

[2020-08-04 11:43] tomkivlin commented on #1052
@pgoyal01 "The Architecture" suggests that you're looking for OpenStack services to support that capability (given the scope of RA1) - i.e. you're not looking for e.g. an NFVO or VNFM to own that capability.  Is that right?

[2020-08-05 07:55] CsatariGergely commented on #1341
I suggest to conclude, that Kubernetes Load Balancing can not be used in case of multiple pod interfaces are required, but can be used for Pods with a single interface.

[2020-08-05 12:44] CsatariGergely commented on #1842
Do you consider something based on ETSI NFV TST006?

[2020-08-05 12:57] gkunz commented on #1842
I recommend considering cooperation here with the Continous Delivery Foundation (CDF) [1], in particular the interoperability SIG.

[1] https://cd.foundation/

[2020-08-05 13:20] pgoyal01 opened #1866 "[RA2 Ch02] Network interfaces"
Since RM Chapter 2 doesn't specify the support for multiple network interfaces, we need a set of requirements for the same,  for example:

Ref # | Category | Sub-category | Description
-- | -- | -- | --
req.inf.ntw.11 | Infrastructure | Network | The Architecture **must** support multiple network interfaces to be configured for a pod
req.inf.ntw.12 | Infrastructure | Network | The networking solut

[2020-08-05 13:36] pgoyal01 opened #1867 "[RM Ch07] Corrections to RM Chapter 7"
Please renumber Figures
Please delete "Image from https://www.networkworld.com/article/2840273/sdn-security-attack-vectors-and-sdn-hardening.html Will replace with a better image when I create it in the future" from [7.7 Application Vendors responsibility](https://github.com/cntt-n/CNTT/blob/karinesevilla-patch-6/doc/ref_model/chapters/chapter07.md#77-application-vendors-responsibility)

[2020-08-05 13:37] jayacha commented on #1842
Based on the discussion today:
Looking in to https://cd.foundation for guidance
Next steps:
setup wiki to request questions for survey
finalize the survey questionnaire
get input on the questionnaire and check the interests.

[2020-08-05 14:28] karinesevilla commented on #1867
@pgoyal01 Thanks! It is done within PR#1864

[2020-08-05 14:46] TFredberg commented on #183
Closed since resiliency methods are not in scope for the Reference Model as agreed on the RM meeting Aug 5th 2020.

[2020-08-05 14:46] #183 closed

[2020-08-05 14:47] TFredberg commented on #195
Closed since intra network usage are not in scope for the Reference Model or even CNTT as agreed on the RM meeting Aug 5th 2020.

[2020-08-05 14:47] #195 closed

[2020-08-05 14:55] pgoyal01 commented on #1867
@karinesevilla Thanks. I approved PR #1864

[2020-08-05 23:17] taylor commented on #1616
The structure of RC-1 ([chapter 3]( https://cntt-n.github.io/CNTT/doc/ref_cert/RC1/chapters/chapter03.html))is not a perfect fit by any means but it's a start.   The TOC can be worked out based on RA-2 sources like
- [RA-2 Chapter 2](https://cntt-n.github.io/CNTT/doc/ref_arch/kubernetes/chapters/chapter02.html)
- [RA-2 Chapter 3](https://cntt-n.github.io/CNTT/doc/ref_arch/kubernetes/chapters/chapt

[2020-08-06 13:53] walterkozlowski commented on #1822
@cntt-n/tsc, do we know what this issues is really about?  There is no description so this can be interpreted  in many different ways.  @scottsteinbrueck, I propose to put this on the TSC agenda and after discussion either amend or close this issue

[2020-08-06 14:05] CsatariGergely opened #1869 "[RA2 Ch4]: Soft definitions in Ch4"
RA2 Chapter 4 should define the components and to be aligned with the targets of CNTT Ch4 should select one component and one configuration parameter from the different options where the component or the parameter have affect on the software of a CNF or the deployment artefacts of a CNF.

Current Ch4 have lots of `may`-s in places where it should have `must`-s,

[2020-08-06 14:20] xmulligan commented on #1495
I would like to close this issue as performance is out of scope for CNTT and OVP for the initial MVP. We can revisit it in future releases. Any objections?

[2020-08-06 15:26] CsatariGergely commented on #1853
RA2 meeting 2020.08.06: Workload requirements are missing from Chapter 2. We should add them there first. @CsatariGergely to open a ticket about this.

[2020-08-06 15:28] taylor commented on #1615
RA-2 #1853 is also relevant and needs progress

[2020-08-06 15:49] taylor commented on #1496
There is a cross-community collaborative effort to gather the requirements for running Cloud native workloads which can be used by everyone (eg. RA-2, RC-2, OVP-2, CNF Conformance)
- Spreadsheet gathering requirement ideas, test tracing, etc https://docs.google.com/spreadsheets/d/1TxrrCDKQEzca_snuIXMAcz4GCHj9b99-Obnhs20rCB0/edit#gid=2002882762
- Intro slides: https://docs.google.com/presentation/d

[2020-08-06 17:25] taylor commented on #1853
See [RA2 Ch02] Specify Workload Requirements #1496

[2020-08-06 20:45] taylor commented on #1496
Cross-posting a comment from https://github.com/cntt-n/CNTT/pull/1793#pullrequestreview-448093640 here:

As far as RA-2 workload requirements are concerned, while a cloud native property/principle can be explicitly spelled out for a specific requirement, more importantly is to ensure all requirements can be implemented using cloud native principles.